<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" [class.draft-view]="_isDraftView">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">LÔ HÀNG
          <span *ngIf="_isDraftView" class="draft-badge"><i class="fa fa-edit"></i> NHÁP #{{_draftId}}</span>
          <a style="font-size: 14px;">{{entity?.jobStaff}}</a></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <tabset>
              <tab heading="Thông tin chung">
                <div class="form-group">
                <div class="col-md-8">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Chi nhánh
                      <span class="error">*</span>
                    </label>
                    <div class="col-sm-9">
                      <ng-select name="donvi" [items]="listBranch" bindLabel="branchName" bindValue="id"
                        [(ngModel)]="entity.branchId" required placeholder="Chọn chi nhánh" [readonly]="true">
                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Khách hàng
                      <span class="error">*</span>
                    </label>
                    <div class="col-sm-9">
                      <!-- <ng-select name="khachhang" [items]="listCustomer" bindLabel="customerName" bindValue="id"
                        [(ngModel)]="entity.customerId" placeholder="Chọn khách hàng"  [clearable]="false" required [readonly]="flagXem || !flagNew"
                        (change)="changedCustomer($event)">
                      </ng-select> -->
                      <ng-select name="khachhang" appendTo="body" [items]="listCustomer" bindLabel="customerName" bindValue="id"
                      [(ngModel)]="entity.customerId" placeholder="Chọn khách hàng..." [readonly]="flagXem ||  !flagNew"
                      (change)="changedCustomer($event)" [clearable]="false">
                      <ng-template ng-option-tmp let-item="item">
                        <span [ngClass]='!item.status?"locked-fee":""'>
                          {{ item.customerName }}
                        </span>
                      </ng-template>
                    </ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Chi nhánh tham gia
                      <span class="error">*</span>
                    </label>
                    <div class="col-sm-9">
                      <ng-select name="chinhanhs" [items]="listBranch" bindLabel="branchCode" bindValue="id"
                        [(ngModel)]="listChinhanhthamgia" required placeholder="Chọn chi nhánh tham gia"
                        [multiple]="true" [clearable]="false">
                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label"> Loại Job
                      <span class="error">*</span>
                    </label>
                    <div class="col-sm-4">
                      <ng-select name="jobtype" [items]="listJobTypes" bindLabel="text" bindValue="id"
                        [(ngModel)]="entity.jobType" placeholder="Loại Job..."  [clearable]="false"  [readonly]="flagXem" required>
                      </ng-select>
                    </div>
                    <div *ngIf="entity?.jobType==0" class="col-sm-5">
                      <ng-select name="jobprice" [items]="listJobPrices" bindLabel="text" bindValue="id"
                        [(ngModel)]="_typePrice" required placeholder="Tham chiếu giá theo..."  [clearable]="false" [readonly]="flagXem"
                        required>
                      </ng-select>
                    </div>
                  </div>
                  <!-- Bổ sung đoạn này, chuyển từ tab2 qua -->
                  <div class="form-group" *ngIf="entity.jobType==0">
                    <label class="col-sm-3 control-label"> Loại dịch vụ
                      <span class="error">*</span>
                    </label>
                    <div class="col-sm-9">
                      <ng-select name="shipmentType" [items]="listShipmentType" bindLabel="categoryName" bindValue="id"
                        [(ngModel)]="entity.shipmentType" placeholder="Loại hình" [required]="entity.jobType==0">
                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group" *ngIf=" entity.shipmentType == 1174 || entity.shipmentType==1175">
                    <label class="col-sm-3 control-label"> Loại hàng:
                      <span class="error">*</span>
                    </label>
                    <div class="col-sm-3">
                      <ng-select name="shippingType" [items]="listShippingType" bindLabel="text" bindValue="id"
                        [(ngModel)]="entity.shippingType" placeholder="Loại hàng" [required]="entity.jobType==0 && (entity.shipmentType == 1174 || entity.shipmentType==1175)">
                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Ghi chú</label>
                    <div class="col-sm-9">
                      <textarea class="form-control textrea-size" [(ngModel)]="entity.notes" name="ghichu" rows="3"
                        placeholder="Nhập ghi chú" [readonly]="flagXem"></textarea>
                    </div>
                  </div>
                  <div *ngIf="!entity.isFinish" class="form-group">
                    <label class="col-sm-3 control-label"></label>
                    <div class="col-sm-3">
                      <label class="custom-checkbox">
                        <input type="checkbox" [(ngModel)]="entity.status" name="status" />
                        <span class="helping-el"></span>
                        Kích hoạt
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group" *ngIf="entity.id">
                    <label class="col-sm-5 control-label">JobId</label>
                    <div class="col-sm-7">
                      <input class="form-control refno-sm" [(ngModel)]="entity.jobId" type="text" name="jobid"
                        placeholder="JobId" [readonly]="true" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 control-label">Ngày tạo</label>
                    <div class="col-sm-7 date">
                      <input name="ngayjob" type="text" daterangepicker [options]="ngayJobOptions"
                        [(ngModel)]="_jobDate" class="form-control" (selected)="selectedNgayJob($event)"
                        (hideDaterangepicker)="closedNgayJob($event)" autocomplete="off" [readonly]="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-5 control-label">Số lô hàng</label>
                    <div class="col-sm-7">
                      <input class="form-control" [(ngModel)]="entity.shipmentNo" type="text" name="shipmentno"
                        placeholder="Số lô hàng" [readonly]="flagXem" />
                    </div>
                  </div>
                  <div *ngIf="entity?.jobType==0 && _typePrice==0" class="form-group">
                    <label class="col-sm-5 control-label">Hợp đồng
                      <span class="error">*</span>
                    </label>
                    <div class="col-sm-7">
                      <div class="input-group">
                      <ng-select name="contractId" [items]="listContract" bindLabel="contractNo" bindValue="id"
                        [(ngModel)]="entity.contractId" required placeholder="Chọn hợp đồng" [clearable]="false" required [readonly]="flagXem">
                      </ng-select>

                      <span *ngIf="entity.contractId" class="input-group-addon {{!_hasPermissionContract?'clicks-disabled':''}}" (click)="showContract()">
                        <i class="fa fa-eye" title="Xem hợp đồng"></i>
                      </span>
                    </div>
                    </div>
                  </div>
                  <div *ngIf="entity?.jobType==0 && _typePrice==1" class="form-group">
                    <label class="col-sm-5 control-label">Báo giá
                      <span class="error">*</span>
                    </label>
                    <div class="col-sm-7">
                      <div class="input-group">
                      <ng-select name="quotationId" [items]="listQuotation" bindLabel="quotationNo" bindValue="id"
                        [(ngModel)]="entity.quotationId" required placeholder="Chọn báo giá"  [clearable]="false" required [readonly]="flagXem" (change)="changedBaoGia($event)">
                      </ng-select>

                      <span *ngIf="entity.quotationId" class="input-group-addon {{!_hasPermissionContract?'clicks-disabled':''}}" (click)="showQuotation()">
                        <i class="fa fa-eye" title="Xem báo giá"></i>
                      </span>
                    </div>
                  </div>
                  </div>
                </div>                  
                </div>
              </tab>
              <tab heading="Chi tiết">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Dịch vụ</label>
                  <div class="col-sm-10">
                    <input class="form-control" [(ngModel)]="entity.services" type="text" name="service"
                      placeholder="Dịch vụ" [readonly]="flagXem" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">HAWB_HBL</label>
                  <div class="col-sm-4">
                    <input class="form-control" [(ngModel)]="entity.hawB_HBL" type="text" name="hawB_HBL"
                      placeholder="HAWB_HBL" [readonly]="flagXem" />
                  </div>
                  <label class="col-sm-2 control-label">MAWB_MBL</label>
                  <div class="col-sm-4">
                    <input class="form-control" [(ngModel)]="entity.mawB_MBL" type="text" name="mawB_MBL"
                      placeholder="MAWB_MBL" [readonly]="flagXem" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Số tờ khai</label>
                  <div class="col-sm-10">
                    <input class="form-control" [(ngModel)]="entity.cdsNumber" type="text" name="cdsnumber"
                      placeholder="Số tờ khai" [readonly]="flagXem" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Ngày tờ khai</label>
                  <div class="col-sm-4 date">
                    <input name="ngaytk" type="text" daterangepicker [options]="ngayToKhaiOptions"
                      [(ngModel)]="_cdsDate" class="form-control" (selected)="selectedNgayToKhai($event)"
                      (hideDaterangepicker)="closedNgayToKhai($event)" autocomplete="off" [readonly]="flagXem">
                  </div>
                  <label class="col-sm-2 control-label">SalesContract_PO</label>
                  <div class="col-sm-4">
                    <input class="form-control" [(ngModel)]="entity.salesContract_PO" type="text" name="salesContractPO"
                      placeholder="SalesContract_PO" [readonly]="flagXem" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Số Invoice</label>
                  <div class="col-sm-4">
                    <input class="form-control" [(ngModel)]="entity.invoiceNo" type="text" name="invoiceno"
                      placeholder="Số hóa đơn" [readonly]="flagXem" />
                  </div>
                  <label class="col-sm-2 control-label">Số Booking</label>
                  <div class="col-sm-4">
                    <input class="form-control" [(ngModel)]="entity.bookingNo" type="text" name="bookingNo"
                      placeholder="Số Booking" [readonly]="flagXem" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label"> Hàng xuất/nhập
                  </label>
                  <div class="col-sm-4">
                    <ng-select name="exim" [items]="listImportExports" bindLabel="categoryName" bindValue="id"
                      [(ngModel)]="entity.importExport" placeholder="Hàng xuất/nhập">
                    </ng-select>
                  </div>
                  <!-- Đoạn này đưa loại hình bắt buộc và để lên tab 1 -->
                  <!-- <label class="col-sm-2 control-label"> Loại hình
                  </label>
                  <div class="col-sm-4">
                    <ng-select name="currency" [items]="listShipmentType" bindLabel="categoryName" bindValue="id"
                      [(ngModel)]="entity.shipmentType" placeholder="Loại hình">
                    </ng-select>
                  </div> -->
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label"> Lượng hàng (GW/kg)
                  </label>
                  <div class="col-sm-4">
                    <input class="form-control so-luong" [(ngModel)]="entity.weight" type="number" name="weight"
                      placeholder="Trọng lượng hàng hóa(kg)" [readonly]="flagXem"/>
                  </div>
                  <label class="col-sm-2 control-label"> Số khối(cbm)
                  </label>
                  <div class="col-sm-4">
                    <input class="form-control so-luong" [(ngModel)]="entity.volume" type="number" name="volume"
                      placeholder="Khối lượng hàng hóa (cbm)" [readonly]="flagXem" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label"> Số lượng cont
                  </label>
                  <div class="col-sm-2">
                    <input class="form-control so-luong" [(ngModel)]="entity.containers" type="number" name="containers"
                      placeholder="SL containers" [readonly]="flagXem" />
                  </div>
                  <label class="col-sm-2 control-label"> Số Pallets
                  </label>
                  <div class="col-sm-2">
                    <input class="form-control so-luong" [(ngModel)]="entity.pallets" type="number" name="pallets"
                      placeholder="SL pallets" [readonly]="flagXem" />
                  </div>
                  <label class="col-sm-2 control-label"> Số kiện hàng
                  </label>
                  <div class="col-sm-2">
                    <input class="form-control so-luong" [(ngModel)]="entity.cartons" type="number" name="cartons"
                      placeholder="Số kiện" [readonly]="flagXem" />
                  </div>
                </div>
                <button type="button" class="btn btn-link" (click)="showContSealDetail()">Chi tiết Cont/Seal/Pakage</button>
                  <div *ngIf="_flagContSeal" class="form-group">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                      <div class="col-md-7">
                        <!-- <p>Thông tin chi tiết container/seal</p> -->
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="column-tt">TT</th>
                              <th class="column-ten">Loại</th>
                              <th class="column-ten">Số cont</th>
                              <th class="column-ten">Số seal</th>
                              <th class="column-so-tien">GW</th>
                              <!-- <th class="column-ghi-chu">Ghi chú</th> -->
                              <th class="column-chucnang"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of listConts; let i = index">
                              <td class="column-so-thu-tu">{{i+1}}</td>
                              <td class="column-ten">
                                <ng-select [appendTo]="'body'"  name="tkno{{item.tempId}}" [items]="listContTypes" bindLabel="categoryName" bindValue="categoryCode"
                                  [(ngModel)]="item.contType" placeholder="Loại cont" [readonly]="flagXem" (blur)="inputTen()" [readonly]="flagXem"
                                  >
                                </ng-select>
                              </td>
                              <td class="column-ten">
                                <input type="text" class="form-control" name="conno{{item.tempId}}" [(ngModel)]="item.contNo"
                                  placeholder="Số cont..." [readonly]="flagXem"/>
                              </td>
                              <td class="column-ten">
                                <input type="text" class="form-control" name="sealno{{item.tempId}}" [(ngModel)]="item.sealNo"
                                  placeholder="Số seal..." [readonly]="flagXem"/>
                              </td>
                              <td class="column-so-tien">
                                <input type="text" class="form-control" name="contgw{{item.tempId}}" [(ngModel)]="item.gw"
                                  placeholder="GW..." [mask]="maskNumber" [readonly]="flagXem"/>
                              </td>
                              <!-- <td class="column-ghi-chu">
                                <input type="text" class="form-control" name="ghichuno{{item.tempId}}" [(ngModel)]="item.notes"
                                  placeholder="Diễn giải" />
                              </td> -->
                              <td class="column-chuc-nang">
                                <i class="fa fa-trash-o" *ngIf="item.tempId!= null && !flagXem" (click)="removeItem(i)"></i>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="col-md-5">
                        <!-- <p>Thông tin chi tiết kiện hàng</p> -->
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="column-tt">TT</th>
                              <th class="column-ten">Pakage/KT</th>
                              <th class="column-so-tien">SL</th>
                              <th class="column-so-tien">GW</th>
                              <th class="column-so-tien">Cmb</th>
                              <!-- <th class="column-ghi-chu">Ghi chú</th> -->
                              <th class="column-chucnang"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of listPakages; let i = index">
                              <td class="column-so-thu-tu">{{i+1}}</td>
                              <td class="column-ten">
                                <input type="text" class="form-control" name="pkkt{{item.tempId}}" [(ngModel)]="item.packageCode"
                                  placeholder="Mã/kích thước" (blur)="inputTen2()" [readonly]="flagXem"/>
                              </td>
                              <td class="column-so-tien">
                                <input type="text" class="form-control" name="pksl{{item.tempId}}" [(ngModel)]="item.packageNum"
                                  placeholder="số lượng" [mask]="maskNumber" [readonly]="flagXem"/>
                              </td>
                              <td class="column-so-tien">
                                <input type="text" class="form-control" name="pkgw{{item.tempId}}" [(ngModel)]="item.gW"
                                  placeholder="GW..." [mask]="maskNumber" [readonly]="flagXem"/>
                              </td>
                              <td class="column-so-tien">
                                <input type="text" class="form-control" name="pkcbm{{item.tempId}}" [(ngModel)]="item.cBM"
                                  placeholder="cbm..." [mask]="maskNumber" [readonly]="flagXem"/>
                              </td>
                              <!-- <td class="column-ghi-chu">
                                <input type="text" class="form-control" name="ghichuno{{item.tempId}}" [(ngModel)]="item.notes"
                                  placeholder="Diễn giải" />
                              </td> -->
                              <td class="column-chuc-nang">
                                <i class="fa fa-trash-o" *ngIf="item.tempId!= null && !flagXem" (click)="removeItem2(i)"></i>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
              </tab>
              <tab heading="Thông tin khác">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Nơi lấy hàng</label>
                  <div class="col-sm-4">
                    <input class="form-control" [(ngModel)]="entity.pickupPlace" type="text" name="pickupPlace"
                      placeholder="pickupPlace" [readonly]="flagXem" />
                  </div>
                  <label class="col-sm-2 control-label">Nơi giao hàng</label>
                  <div class="col-sm-4">
                    <input class="form-control" [(ngModel)]="entity.deliveryPlace" type="text" name="deliveryPlace"
                      placeholder="DeliveryPlace" [readonly]="flagXem" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Thời gian lấy hàng</label>
                  <div class="col-sm-4 date">
                    <input name="tglayhang" type="text" daterangepicker [options]="ngayLayHangOptions"
                      [(ngModel)]="_ngayLayHang" class="form-control" (selected)="selectedLayHang($event)"
                      (hideDaterangepicker)="closedLayHang($event)" autocomplete="off" [readonly]="flagXem">
                  </div>
                  <label class="col-sm-2 control-label">Thời gian giao hàng</label>
                  <div class="col-sm-4 date">
                    <input name="tggiaohang" type="text" daterangepicker [options]="ngayGiaoHangOptions"
                      [(ngModel)]="_ngayGiaoHang" class="form-control" (selected)="selectedGiaoHang($event)"
                      (hideDaterangepicker)="closedGiaoHang($event)" autocomplete="off" [readonly]="flagXem">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Liên hệ lấy hàng</label>
                  <div class="col-sm-4">
                    <input class="form-control" [(ngModel)]="entity.pickupContact" type="text" name="PickupContact"
                      placeholder="PickupContact" [readonly]="flagXem" />
                  </div>
                  <label class="col-sm-2 control-label">Liên hệ giao hàng</label>
                  <div class="col-sm-4">
                    <input class="form-control" [(ngModel)]="entity.deliveryContact" type="text" name="deliveryContact"
                      placeholder="Delivery Contact" [readonly]="flagXem" />
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Nơi lấy/trả rỗng</label>
                  <div class="col-sm-4">
                    <input class="form-control" [(ngModel)]="entity.emptyContReturn" type="text" name="emptyContReturn"
                      placeholder="Empty Cont Return" [readonly]="flagXem" />
                  </div>
                  <label class="col-sm-2 control-label">Hạn lấy/trả rỗng</label>
                  <div class="col-sm-4 date">
                    <input name="hantrarong" type="text" daterangepicker [options]="ngayTraRongOptions"
                      [(ngModel)]="_ngayTraRong" class="form-control" (selected)="selectedTraRong($event)"
                      (hideDaterangepicker)="closedTraRong($event)" autocomplete="off" [readonly]="flagXem">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Thời gian cut off/ hạn lệnh</label>
                  <div class="col-sm-4 date">
                    <input name="cutoff" type="text" daterangepicker [options]="ngayCutOffOptions"
                      [(ngModel)]="_ngayCutOff" class="form-control" (selected)="selectedCutOff($event)"
                      (hideDaterangepicker)="closedCutOff($event)" autocomplete="off" [readonly]="flagXem">
                  </div>
                  <label class="col-sm-2 control-label"></label>
                  <div class="col-sm-4">
                    <label class="custom-checkbox">
                      <input type="checkbox" [(ngModel)]="entity.customsInspectionReposition" name="CustomsInspectionReposition" />
                      <span class="helping-el"></span>
                      Di lí kiểm hàng hóa
                    </label>
                  </div>

                </div>

              </tab>
              <tab *ngIf="_isBaoGiaSoHoa" heading="Số hóa báo giá">
                <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 450px;">
                  <table class="table table-bordered" id="style-scroll-1">
                  <thead>
                    <tr>
                      <th style="color: red;">Chọn</th>
                      <th >Loại dịch vụ</th>
                      <!-- <th >Khu vực</th> -->
                      <!-- <th >Phí</th> -->
                      <th >Tên dịch vụ</th>
                      <th >Mô tả</th>
                      <th >Đơn vị tính</th>
                      <th >Đơn giá</th>
                      <!-- <th >Loại tiền</th> -->
                      <th style="color: red;">Số lượng</th>
                      <th>Ghi chú</th>
                      <!-- <th *ngIf="!flagXem" class="column-chucnang"></th> -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listDichVuSoHoa; let i = index">
                      <!-- <td class="column-so-thu-tu">{{i+1}}</td> -->
                      <td class="table-checkbox">
                        <label class="custom-checkbox">
                          <input type="checkbox" value="{{item.id}}" [checked]="item.isOk"
                            (click)="clickRow(item)" />
                          <span class="helping-el"></span>
                        </label>
                      </td>
                      <td  class="column-ten">
                        <ng-select name="loaidv{{item.tempId}}" [items]="listLoaiDichVus" bindLabel="categoryName" bindValue="id"
                          [(ngModel)]="item.serviceId" placeholder="Chọn loại dịch vụ..." [readonly]="true" [clearable]="false">
                        </ng-select>
                      </td>

                      <!-- <td  class="column-ten">
                        <ng-select name="chinhanh{{item.tempId}}" [items]="listBranch" bindLabel="branchName" bindValue="id"
                          [(ngModel)]="item.branchId" placeholder="Chọn chi nhánh..." [readonly]="flagXem">
                        </ng-select>
                      </td> -->

                      <!-- <td  class="column-ten">
                        <ng-select name="feeid{{item.tempId}}" [items]="listFees" bindLabel="feeName" bindValue="id"
                          [(ngModel)]="item.feeId" placeholder="Chọn phí..." [readonly]="flagXem" (blur)="inputTen(i)">
                        </ng-select>
                      </td> -->

                      <td class="column-ten">
                        <input type="text" class="form-control" name="tendv{{item.tempId}}" [(ngModel)]="item.serviceName"
                          placeholder="Tên dịch vụ" [readonly]="true" />
                      </td>

                      <td class="column-ten">
                        <input type="text" class="form-control" name="noidung{{item.tempId}}" [(ngModel)]="item.contents"
                          placeholder="Nội dung" [readonly]="true" />
                      </td>

                      <td >
                        <ng-select name="dvt{{item.tempId}}" [items]="listDVTs" bindLabel="categoryName" bindValue="categoryCode"
                          [(ngModel)]="item.unit" placeholder="Chọn đơn vị tính..." [readonly]="true" [clearable]="false">
                        </ng-select>
                      </td>
                      <td class="column-gia-tri">
                        <input type="text" class="form-control" name="sotien{{item.tempId}}"
                          [(ngModel)]="item.amount" placeholder="Số tiền" [readonly]="true"
                          [mask]="maskNumber" />
                      </td>
                      <!-- <td >
                        <ng-select name="loaitiente{{item.tempId}}" [items]="listTienTes" bindLabel="categoryName" bindValue="categoryCode"
                          [(ngModel)]="item.currency" placeholder="Chọn loại tiền tệ..." [readonly]="flagXem">
                        </ng-select>
                      </td> -->
                      <td class="column-gia-tri">
                        <input type="text" class="form-control" name="soluong{{item.tempId}}"
                          [(ngModel)]="item.num" placeholder="Số lượng" [readonly]="flagXem || !item.isOk"
                          [mask]="maskNumber" />
                      </td>
                      <td class="column-ten">
                        <input type="text" class="form-control" name="ghichu{{item.tempId}}" [(ngModel)]="item.notes"
                          placeholder="Ghi chú..." [readonly]="flagXem"/>
                      <!-- </td>
                        <td *ngIf="!flagXem" class="column-chuc-nang">
                        <i class="fa fa-trash-o" (click)="removeItem(i)"></i>
                      </td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
              </tab>

            </tabset>

          </div>
          <!-- /.box-body -->
          <div class="row box-footer">
            <div class="col-md-6 text-left">
              <button *ngIf="entity.id" type="button" class="btn btn-info btn-sm" title="Chứng từ đính kèm" (click)="showFiles()">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Chứng từ ...
            </button>
            <button *ngIf="entity.id" type="button" class="btn btn-warning btn-sm" title="Documents" (click)="showAllFiles()">
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Documents ...
          </button>
            </div>
            <div class="col-md-6 text-right">
              <!-- Bổ sung thêm nút lưu và thêm mới ở đây -->
              <button *ngIf="!flagXem && !_isDraftView" type="button" (click)="addAndNew(addEditForm)" class="btn btn-primary btn-sm"
                [disabled]="!addEditForm.form.valid || flagSave">
              <i class="fa fa-save"></i> Lưu & Thêm mới</button>
              <button *ngIf="!flagXem && !_isDraftView" type="submit" class="btn btn-primary btn-sm"
                [disabled]="!addEditForm.form.valid || flagSave">
                <i class="fa fa-save"></i> Lưu</button>
              <button *ngIf="_isDraftView && !_isDraftEdit && _canEditDraft" type="button" class="btn btn-warning btn-sm"
                (click)="editDraft()" [disabled]="flagSave" title="Sửa thông tin nháp trước khi chuyển sang ERP">
                <i class="fa fa-edit"></i> Sửa nháp</button>
              <button *ngIf="_isDraftView && _isDraftEdit" type="button" class="btn btn-primary btn-sm"
                (click)="saveDraft()" [disabled]="flagSave" title="Lưu thay đổi vào nháp (chưa chuyển sang ERP)">
                <i class="fa fa-save"></i> Lưu nháp</button>
              <button *ngIf="_isDraftView" type="button" class="btn btn-success btn-sm"
                (click)="approveDraft()" [disabled]="flagSave"
                title="Duyệt nháp này thành Lô hàng thật">
                <i class="fa fa-check"></i> Duyệt</button>
              <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
                <i class="fa fa-close"></i> {{_isDraftView ? 'Hủy' : 'Thoát'}}</button>
            </div>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
<modal-attachfile *ngIf="viewAttachFiles" (SaveSuccess)="saveSuccessFile($event)" (CloseModal)="closeModalFile()">
</modal-attachfile>
<modal-contract-customer *ngIf="viewModalContract" (CloseModal)="closeModalContract()"></modal-contract-customer>
<modal-quotation-customer *ngIf="viewModalContract" (CloseModal)="closeModalContract()"></modal-quotation-customer>
<modal-all-documents *ngIf="viewAllAttachFiles" (CloseModal)="closeModalAllFile()">
</modal-all-documents>
