<div class="box box-primary box-chieu-cao">
    <div class="row">
        <div class="box-header with-border">
            <div class="col-md-2">
                <h3 class="box-title">Dầu mua ngoài tiền mặt</h3>
            </div>
            <div class="col-md-2">
                <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
                    class="form-control">
            </div>
            <div class="col-md-2" hidden>
                <ng-select name="driver" [items]="listDriver" bindLabel="employeeFullName" bindValue="id"
                    [(ngModel)]="driverId" placeholder="Chọn người nhận...">
                </ng-select>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()"
                        [(ngModel)]="keyword" placeholder="Từ khóa" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-4 text-right">
                <button class="btn btn-success btn-sm" (click)="add()" appPermission appFunction="EXTERNALOILPURCHASED"
                    appAction="CREATE">
                    <i class="fa fa-plus"></i> Thêm
                </button>
                <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit" appPermission
                    appFunction="EXTERNALOILPURCHASED" appAction="UPDATE">
                    <i class="fa fa-edit"></i> Sửa
                </button>
                <button class="btn btn-danger btn-sm" (click)="deleteConfirm()" [disabled]="!flagDelete" appPermission
                    appFunction="EXTERNALOILPURCHASED" appAction="DELETE">
                    <i class="fa fa-trash"></i> Xóa
                </button>
                <button class="btn btn-success btn-sm" (click)="export()" appPermission
                    appFunction="EXTERNALOILPURCHASED" appAction="EXPORT">
                    <i class="fa fa-file-excel-o"></i> Export
                </button>
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="table-checkbox">
                    </th>
                    <th>Sô phiếu</th>
                    <th>Ngày tạo</th>
                    <th>Biển số xe</th>
                    <th>Lái xe</th>
                    <th>Số lượng</th>
                    <th>Tổng tiền</th>
                    <th>Số hóa đơn</th>
                    <th>Ngày hóa đơn</th>
                    <th>Mã hóa đơn</th>
                    <th>Link tra cứu</th>
                    <th>Ghi chú/Phản hồi</th>
                    <th>Nhà cung cấp</th>
                    <th style="min-width: 100px;">Tình trạng</th>
                </tr>
                <tr>
                    <th></th>
                    <th><input class="form-control" #refNoSearchInput [(ngModel)]="sophieuSearch" (input)="filter()"
                            type="text" name="sophieuSearch" /></th>
                    <th><input class="form-control" #refNoSearchInput1 [(ngModel)]="ngaySearch" (input)="filter()"
                            type="text" name="ngaySearch" /></th>
                    <th><input class="form-control" #refNoSearchInput2 [(ngModel)]="bksSearch" (input)="filter()"
                            type="text" name="bksSearch" /></th>
                    <th><input class="form-control" #refNoSearchInput3 [(ngModel)]="laixeSearch" (input)="filter()"
                            type="text" name="laixeSearch" /></th>
                    <th><input class="form-control" #refNoSearchInput4 [(ngModel)]="soluongSearch" (input)="filter()"
                            type="text" name="soluongSearch" /></th>
                    <th><input class="form-control" #refNoSearchInput5 [(ngModel)]="tongtienSearch" (input)="filter()"
                            type="text" name="tongtienSearch" /></th>
                    <th><input class="form-control" #refNoSearchInput6 [(ngModel)]="invoicenoSearch" (input)="filter()"
                            type="text" name="invoicenoSearch" /></th>
                    <th><input class="form-control" #refNoSearchInput7 [(ngModel)]="invoicedateSearch"
                            (input)="filter()" type="text" name="invoicedateSearch" /></th>
                    <th><input class="form-control" #refNoSearchInput9 [(ngModel)]="codeSearch" (input)="filter()"
                            type="text" name="codeSearch" /></th>
                    <th><input class="form-control" #refNoSearchInput8 [(ngModel)]="linkSearch" (input)="filter()"
                            type="text" name="linkSearch" /></th>
                    <th><input class="form-control" #refNoSearchInput10 [(ngModel)]="noteSearch" (input)="filter()"
                            type="text" name="noteSearch" /></th>
                    <th><input class="form-control" #refNoSearchInput11 [(ngModel)]="nhaccSearch" (input)="filter()"
                            type="text" name="nhaccSearch" /></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listFilter">
                    <td class="table-checkbox">
                        <label class="custom-checkbox">
                            <input type="checkbox" value="{{ item.id }}" [checked]="item.checked"
                                (click)="clickRow(item)" />
                            <span class="helping-el"></span>
                        </label>
                    </td>
                    <td>
                        <span>
                            <a style="color: blueviolet;" [routerLink]="[]"
                                (click)="showModal(item)"><b>{{item.refNo}}</b></a>
                        </span>
                    </td>
                    <td>
                        <span>
                            {{item.refDate | date:'dd/MM/yyyy'}}
                        </span>
                    </td>
                    <td>
                        <span>{{item.licensePlates}}</span>
                    </td>
                    <td>
                        <span>{{item.employeeFullName}}</span>
                    </td>
                    <td style="text-align: end;">{{item.quantity}}
                    </td>
                    <td style="text-align: end;">{{item.amountAfterVat|currency:'VND':''}}</td>
                    <td>
                        <span>{{item.invoiceNo}}</span>
                    </td>
                    <td>
                        <span>{{item.invoiceDate}}</span>
                    </td>
                    <td>
                        <span>{{item.code}}</span>
                    </td>
                    <td>
                        <span>{{item.web}}</span>
                    </td>
                    <td><span>
                            GC: {{item.notes}}
                        </span>
                        <br>
                        <Span>
                            PH: {{item.feedback}}
                        </Span>
                    </td>
                    <td>
                        <span>{{item.supplierName}}</span>
                    </td>
                    <td>
                        <span
                            [ngClass]="(item.status==-1 || item.status==-2) ? 'label label-danger' : item.status==1? 'label label-primary': item.status==2? 'label label-info':'label label-success'">
                            {{item.rStatus}}
                        </span>
                        <span *ngIf="item.isCompleted" class="label label-primary" style="margin-left: 5px;">
                            {{ item.amountAfterVat < 0 ? 'Đã thu' : 'Đã chi' }} </span>
                                <button *ngIf="checkShowPayment(item)" class="btn btn-sm"
                                    [ngClass]="item.amountAfterVat < 0 ? 'btn-info' : 'btn-warning'"
                                    (click)="openPayment(item)"
                                    [title]="item.amountAfterVat < 0 ? 'Viết phiếu thu' : 'Viết phiếu chi'"
                                    style="margin-left: 5px;">
                                    <i class="fa" [ngClass]="item.amountAfterVat < 0 ? 'fa-money' : 'fa-usd'"></i>
                                    {{ item.amountAfterVat < 0 ? 'Thu tiền' : 'Chi tiền' }} </button>
                    </td>
                </tr>
                <tr *ngIf="totalRows == 0">
                    <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer no-padding">
        <div *ngIf="totalRows> 0" class="col-md-12 footer-phantrang">
            <div class="row">
                <div class="col-md-5">
                    <div class="dataTables_info">
                        <span>Tổng số bản ghi: {{ totalRows }}</span>
                    </div>
                </div>
                <div class="col-md-7 text-right">
                    <!-- <div class="page">
                        <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
                            (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;"
                            nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                        </pagination>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- /.box -->
</div>

<modal-external-oil-purchased *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
</modal-external-oil-purchased>
<modal-phieu-chi *ngIf="viewModalPayment" #modalPhieuChi (SaveSuccess)="onPaymentSuccess($event)"
    (CloseModal)="closePaymentModal()"></modal-phieu-chi>
<modal-phieu-thu *ngIf="viewModalReceipt" #modalPhieuThu (SaveSuccess)="onPaymentSuccess($event)"
    (CloseModal)="closePaymentModal()"></modal-phieu-thu>
<!-- <div [ngBusy]="busy"></div> -->