<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Công việc</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">Khách hàng
                  <span class="error">*</span>
                </label>
                <div class="col-sm-2">
                  <input class="form-control" type="text" name="makh" [(ngModel)]="customerCode" required [readonly]="flagXem" (keydown.enter)="searchCustomer()">
                </div>
                <div class="col-sm-7">
                    <ng-select [items]="listCustomer"  name="customercode" required
                    bindLabel="customerName"
                    bindValue="id"
                    [disabled]="flagXem"
                    (change)="changedCustomer($event)"
                    [(ngModel)]="entity.customerId">
                    </ng-select>
                </div>
                <div class="col-sm-1" style="justify-content: flex-end; display: flex;">
                  <button *ngIf="entity.id!=undefined" type="button" class="btn btn-primary btn-sm" (click)="attack()">
                    <i class="fa fa-file"></i></button>
                </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">JobId
                <span class="error">*</span>
              </label>
              <div class="col-sm-4">
                <div class="input-group">
                  <span class="form-control" style="color: red;"><b>{{entity.jobId}}</b></span>
                  <span class="input-group-btn">
                   <button style="height: 28px;" *ngIf=" entity.status<1" type="button" class="btn btn-primary btn-sm " (click)="getJobId()">
                    <i class="fa fa-search"></i></button>
                </span>                  
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Nhóm thực hiện
                <span class="error">*</span>
              </label>
              <div class="col-sm-4" *ngIf="!flagNew">
                  <ng-select [items]="listHandlingGroup"  #handlinggroupId ="ngModel" name="hadlinggroupid" required
                  bindLabel="handlingGroupName"
                  bindValue="id"
                  [disabled]="flagXem"
                  [(ngModel)]="entity.handlingGroupId">
                  </ng-select>
                <small [hidden]="handlinggroupId.valid || (handlinggroupId.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Nhóm thực hiện công việc không được để trống
                </small>
              </div>
              <div class="col-sm-4" *ngIf="flagNew">
                  <ng-select [items]="listHandlingGroup"  #handlinggroupId ="ngModel" name="hadlinggroupid" required
                  bindLabel="handlingGroupName"
                  bindValue="id"
                  [disabled]="flagXem"
                  [(ngModel)]="listGroup" [multiple]="true" >
                  </ng-select>
                <small [hidden]="handlinggroupId.valid || (handlinggroupId.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Nhóm thực hiện công việc không được để trống
                </small>
              </div>
              <label class="col-sm-2 control-label">Mức độ phức tạp
                <span class="error">*</span>
              </label>
              <div class="col-sm-4">
                  <ng-select [items]="listToughness"  #tougnessId ="ngModel" name="tougnessId" required
                  bindLabel="categoryName"
                  bindValue="id"
                  [disabled]="flagXem"
                  (change)="toughessChanged($event)"
                  [(ngModel)]="entity.jobToughness">
                  </ng-select>
                <small [hidden]="tougnessId.valid || (tougnessId.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Mức độ phức tạp công việc không được để trống
                </small>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Thời gian dự kiến
                <span class="error">*</span>
              </label>
              <div class="col-sm-4">
                <input name="ngaybd" type="text" daterangepicker [options]="ngaybatdauOption"
                  [(ngModel)]="entity.estimatedStartTime" class="form-control" (selected)="selectedNgaybatdau($event)"
                  (hideDaterangepicker)="closedNgaybatdau($event)" autocomplete="off" [disabled]="flagXem">
              </div>
              <label class="col-sm-2 control-label">Hoàn thành trước
                <span class="error">*</span>
              </label>
              <div class="col-sm-4">
                <input name="ngayht" type="text" daterangepicker [options]="ngayhoanthanhOption"
                  [(ngModel)]="entity.estimatedFinishTime" class="form-control" (selected)="selectedNgayhoanthanh($event)"
                  (hideDaterangepicker)="closedNgayhoanthanh($event)" autocomplete="off" [disabled]="flagXem">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Nhóm công việc
                <span class="error">*</span>
              </label>
              <div class="col-sm-6">
                  <ng-select [items]="listJobGroup"  #nhomcongviec ="ngModel" name="nhomcongviec" required
                  bindLabel="jobGroupName"
                  bindValue="id"
                  [disabled]="flagXem"
                  (change)="listJobGroupChanged($event)"
                  [(ngModel)]="entity.jobGroupId">
                  </ng-select>
              </div>
            <div></div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Tên công việc
                <span class="error">*</span>
              </label>
              <div class="col-sm-10">
                <div *ngFor="let item of listJobGroupOption" (click)="clickRow(item)">
                    <label class="custom-checkbox">
                      <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
                      <span class="helping-el"></span>
                       {{item.optionName}}
                    </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Nội dung công việc</label>
              <div class="col-sm-10">
                <textarea class="form-control textrea-size" [(ngModel)]="entity.jobDescription" name="jobdescription" rows="5"
                  placeholder="Nhập nội dung công việc" [readonly]="flagXem"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Mã tham chiếu <span class="error">*</span></label>
              <div class="col-sm-6">
                <input class="form-control" [(ngModel)]="entity.referCode" type="text" name="refCode" required
                [disabled]="flagXem" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Thời gian đóng/trả hàng</label>
              <div class="col-sm-4">
                <input name="pickupTime" type="text" daterangepicker [options]="ngaybatdauOption"
                  [(ngModel)]="entity.pickupTime" class="form-control" (selected)="selectedpickupTime($event)"
                  (hideDaterangepicker)="closedpickupTime($event)" autocomplete="off" [disabled]="flagXem">
              </div>
              <!-- <label class="col-sm-2 control-label">Thời gian giao hàng</label>
              <div class="col-sm-4">
                <input name="deliveryTime" type="text" daterangepicker [options]="ngayhoanthanhOption" 
                  [(ngModel)]="entity.deliveryTime" class="form-control" (selected)="selecteddeliveryTime($event)"
                  (hideDaterangepicker)="closeddeliveryTime($event)" autocomplete="off" [disabled]="flagXem">
              </div> -->
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Địa điểm đóng/trả hàng</label>
              <div class="col-sm-10">
                <textarea class="form-control" [(ngModel)]="entity.pickupLocation" type="text" name="pickupLocation"
                [disabled]="flagXem"  rows="1"></textarea>
              </div>
            </div>
            <!-- <div class="form-group">
              <label class="col-sm-2 control-label">Địa điểm giao hàng</label>

              <div class="col-sm-10">
                <textarea class="form-control" [(ngModel)]="entity.deliveryLocation" type="text" name="deliveryLocation"
                [disabled]="flagXem" rows="1"></textarea>
              </div>
            </div> -->

            <div class="form-group" style="margin-top: 10px" *ngIf="entity.item!=null">
              <tabset>
                <tab heading="Chi tiết">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">HAWB_HBL</label>
                    <div class="col-sm-4">
                      <input class="form-control" [(ngModel)]="entity.item.hawB_HBL" type="text" name="hawB_HBL"
                        placeholder="HAWB_HBL" readonly />
                    </div>
                    <label class="col-sm-2 control-label">MAWB_MBL</label>
                    <div class="col-sm-4">
                      <input class="form-control" [(ngModel)]="entity.item.mawB_MBL" type="text" name="mawB_MBL"
                        placeholder="MAWB_MBL" readonly />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Số tờ khai</label>
                    <div class="col-sm-10">
                      <input class="form-control" [(ngModel)]="entity.item.cdsNumber" type="text" name="cdsnumber"
                        placeholder="Số tờ khai" readonly />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Ngày tờ khai</label>
                    <div class="col-sm-4 date">
                      <span class="form-control">{{entity.item.cdsDate | date:'dd/MM/yyyy'}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Số Invoice</label>
                    <div class="col-sm-4">
                      <input class="form-control" [(ngModel)]="entity.item.invoiceNo" type="text" name="invoiceno"
                        placeholder="Số hóa đơn" readonly/>
                    </div>
                    <label class="col-sm-2 control-label">Số Booking</label>
                    <div class="col-sm-4">
                      <input class="form-control" [(ngModel)]="entity.item.bookingNo" type="text" name="bookingNo"
                        placeholder="Số Booking" readonly/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"> Hàng xuất/nhập
                    </label>
                    <div class="col-sm-4">
                      <ng-select name="exim" [items]="listImportExports" bindLabel="categoryName" bindValue="id"
                        [(ngModel)]="entity.item.importExport" placeholder="Hàng xuất/nhập" disabled>
                      </ng-select>
                    </div>
                    <label class="col-sm-2 control-label"> Loại hình
                    </label>
                    <div class="col-sm-4">
                      <ng-select name="currency" [items]="listShipmentType" bindLabel="categoryName" bindValue="id"
                        [(ngModel)]="entity.item.shipmentType" placeholder="Loại hình" disabled>
                      </ng-select>
                    </div>
                  </div>
                </tab>
                <tab heading="Thông tin hàng hóa">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Số kiện</label>
                    <div class="col-sm-3">
                      <input type="number" class="form-control" [ngModel]="entity.item.cartons"
                        name="numberOfPackage" readonly />
                    </div>
                    <label class="col-sm-3 control-label">Số pallet</label>
                    <div class="col-sm-3">
                      <input type="number" class="form-control" [ngModel]="entity.item.pallets"
                        name="numberOfPallet" readonly />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Trọng lượng (kg)</label>
                    <div class="col-sm-3">
                      <input type="number" class="form-control" [ngModel]="entity.item.weight"
                        name="weight" readonly/>
                    </div>
                    <label class="col-sm-3 control-label">Số khối (cbm)</label>
                    <div class="col-sm-3">
                      <input type="number" class="form-control" [ngModel]="entity.item.volume"
                        name="volume" readonly/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Số cont</label>
                    <div class="col-sm-3">
                      <input type="number" class="form-control" [ngModel]="entity.item.containers"
                        name="numberOfCont" readonly/>
                    </div>
                  </div>
                  <button type="button" class="btn btn-link" (click)="showContSealDetail()">Chi tiết Cont/Seal/Pakage</button>
                  <div *ngIf="_flagContSeal" class="form-group" style="padding-left: 10px;padding-right: 10px;">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <!-- <p>Thông tin chi tiết container/seal</p> -->
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="column-ten">Loại</th>
                              <th class="column-ten">Số cont</th>
                              <th class="column-ten">Số seal</th>
                              <th class="column-so-tien">GW</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of entity.item.shipmentContSeals; let i = index">
                              <td class="column-ten">
                                <ng-select name="tkno{{item.id}}" [items]="listContTypes" bindLabel="categoryName" bindValue="categoryCode"
                                  [(ngModel)]="item.contType" placeholder="Loại cont" disabled                                    >
                                </ng-select>
                              </td>
                              <td class="column-ten">
                                {{item.contNo}}
                              </td>
                              <td class="column-ten">
                                {{item.sealNo}}
                              </td>
                              <td class="column-so-tien">
                                {{item.gw}}
                              </td>
                              <!-- <td class="column-chuc-nang">
                                <i class="fa fa-trash-o" (click)="removeItem(i)"></i>
                              </td> -->
                            </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>
                  <!-- etc -->
                </fieldset>
                </tab>
                <tab heading="Thông tin giao nhận" >
                  <fieldset>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Nơi Nhận hàng
                      </label>
                      <div class="col-sm-9">
                        <textarea  class="form-control textrea-size" [(ngModel)]="entity.item.pickupPlace"
                        name="placeOfLoading" [readonly]="flagXem" rows="2"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Nơi Giao hàng
                      </label>
                      <div class="col-sm-9">
                        <textarea  class="form-control textrea-size" [(ngModel)]="entity.item.deliveryPlace"
                        name="placeOfDelivery" [readonly]="flagXem" rows="2"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Thời gian cut off/ hạn lệnh
                      </label>
                      <div class="col-sm-6">
                        <label class="form-control">{{entity.item.cutoffTime | date:'dd/MM/yyyy HH:mm'}}</label>
                      </div>
                    </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Thời gian giao hàng
                    </label>
                    <div class="col-sm-6">
                      <label class="form-control">{{entity.item.deliveryTime | date:'dd/MM/yyyy HH:mm'}}</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Thời gian lấy hàng
                    </label>
                    <div class="col-sm-6">
                      <label class="form-control">{{entity.item.pickupTime | date:'dd/MM/yyyy HH:mm'}}</label>
                    </div>
                  </div>
                  <!-- etc -->
                </fieldset>
                </tab>
              </tabset>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="!flagXem" type="button" class="btn btn-primary btn-sm" (click)="saveAndNew(addEditForm)"
            [disabled]="!flagOption|| !addEditForm.form.valid || flagSave || entity!.status>0">
            <i class="fa fa-save"></i> Lưu & Nhập tiếp</button>
            <button *ngIf="!flagXem" type="submit" class="btn btn-primary btn-sm"
              [disabled]="!flagOption|| !addEditForm.form.valid || flagSave || entity!.status>0">
              <i class="fa fa-save"></i> Lưu</button>
              <button *ngIf="isOpMan && entity.status==1 && !entity.jobLocked"  type="button" class="btn btn-primary btn-sm" (click)="viewMultiply()">
                <i class="fa fa-edit"></i> Nhân việc</button>
              <button *ngIf="isOpMan && isRemovable"  type="button" class="btn btn-warning btn-sm" (click)="remove()">
                  <i class="fa fa-eraser"></i> Xóa việc</button>
            <button *ngIf="isOpMan && entity.status<1"  type="button" class="btn btn-warning btn-sm" (click)="nhanviec()">
              <i class="fa fa-edit"></i> Nhận việc</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
<!-- <modal-workflow-attack-files *ngIf="viewAttackFiles" (CloseModal)="closeAttackModal()">
</modal-workflow-attack-files> -->
<modal-attachfile *ngIf="viewAttackFiles" (CloseModal)="closeAttackModal()">
</modal-attachfile>
<modal-multiply-workflow *ngIf="viewModalMultiply"  (SaveSuccess)="saveSuccessMultiply($event)" (CloseModal)="closeMultiplyModal()">
</modal-multiply-workflow>
<modal-shipment-view-search *ngIf="viewSearchJobId"  (SaveSuccess)="saveSuccessJobId($event)">
</modal-shipment-view-search>
