<div class="box box-primary box-chieu-cao">

  <div class="box-header with-border">
    <div class="row">
      <div class="col-md-2">
        <h3 class="box-title">Chốt dầu phương tiện</h3>
      </div>

      <div class="col-md-2">
        <ng-select name="chinhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id" [(ngModel)]="branchId"
          (change)="changedBranch($event)" title="Chọn chi nhánh..." [clearable]="false" [readonly]="!adminPermission">
        </ng-select>
      </div>

      <div class="col-md-2">
        <ng-select name="vihicleId" [items]="listVihicle" bindLabel="licensePlates" bindValue="id"
          [(ngModel)]="vihicleId" (change)="changedVihicle($event)" placeholder="Lọc theo xe">
        </ng-select>
      </div>

      <div class="col-md-2">
        <ng-select name="status" [items]="statuses" bindLabel="text" bindValue="value" [(ngModel)]="status"
          (change)="changedStatus()" [clearable]="false">
        </ng-select>
      </div>

      <div class="col-md-4 text-right">
        <button class="btn btn-success btn-sm" (click)="add()">
          <i class="fa fa-plus"></i> Thêm
        </button>
        <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit"
          title="Chỉ người tạo sửa được phiếu còn nháp">
          <i class="fa fa-edit"></i> Sửa
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteConfirm()" [disabled]="!flagDelete">
          <i class="fa fa-trash"></i> Xóa
        </button>
        <button class="btn btn-info btn-sm" (click)="edit(true)" [disabled]="!flagView">
          <i class="fa fa-eye"></i> Xem
        </button>
      </div>
    </div>

    <div class="row" style="padding-top: 3px;">
      <div class="col-md-2">
        <input type="text" class="form-control" daterangepicker [options]="dateOptions"
          (selected)="selectedDate($event)" name="dateRange" />
      </div>

      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
            placeholder="Từ khóa" title="Tìm kiếm theo: Số phiếu, Biển số, Lái xe" />
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" style="height: 28px;" type="button" (click)="timKiem()">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-header -->

  <div class="box-body table-responsive no-padding table-wrapper-scroll-y table_wrapper" style="position: relative;">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="table-checkbox"></th>
          <th>Số phiếu</th>
          <th>Biển số</th>
          <th>Lái xe</th>
          <th style="min-width: 90px;">Từ ngày</th>
          <th style="min-width: 90px;">Đến ngày</th>
          <th>Lý do chốt</th>
          <th class="text-right">Cấp VH (A)</th>
          <th class="text-right">Định mức VH (C)</th>
          <th class="text-right">Cấp MP (A)</th>
          <th class="text-right">Định mức MP (C)</th>
          <th class="text-right">Net (lít)</th>
          <th class="text-right">Net Amount</th>
          <th style="min-width: 90px;">Trạng thái</th>
          <th style="min-width: 120px;">Người tạo/Ngày tạo</th>
        </tr>
        <!-- Hàng lọc theo cột (client-side, trên dữ liệu trang đang tải) -->
        <tr>
          <th></th>
          <th><input class="form-control" [(ngModel)]="fRefNo" (input)="filter()" type="text" name="fRefNo" /></th>
          <th><input class="form-control" [(ngModel)]="fPlate" (input)="filter()" type="text" name="fPlate" /></th>
          <th><input class="form-control" [(ngModel)]="fDriver" (input)="filter()" type="text" name="fDriver" /></th>
          <th></th>
          <th></th>
          <th><input class="form-control" [(ngModel)]="fReason" (input)="filter()" type="text" name="fReason" /></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th><input class="form-control" [(ngModel)]="fStatus" (input)="filter()" type="text" name="fStatus" /></th>
          <th><input class="form-control" [(ngModel)]="fCreator" (input)="filter()" type="text" name="fCreator" /></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let h of listFilter" (click)="clickRow(h)">
          <td class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" value="{{ h.id }}" [checked]="h.checked" disabled />
              <span class="helping-el"></span>
            </label>
          </td>
          <td>{{h.refNo}}</td>
          <td>{{h.vihicleLicensePlate}}</td>
          <td>{{h.driverName}}</td>
          <td>{{h.fromDate | date:'dd/MM/yyyy'}}</td>
          <td>{{h.toDate | date:'dd/MM/yyyy'}}</td>
          <td>{{closeReasonText(h)}}</td>
          <td class="text-right">{{h.supplyOperQty | number:'1.0-3'}}</td>
          <td class="text-right">{{h.demandOperQty | number:'1.0-3'}}</td>
          <td class="text-right">{{h.supplyGenQty | number:'1.0-3'}}</td>
          <td class="text-right">{{h.demandGenQty | number:'1.0-3'}}</td>
          <td class="text-right" [class.text-danger]="h.netLiters < 0" [class.text-success]="h.netLiters > 0">
            <strong>{{h.netLiters | number:'1.0-3'}}</strong>
          </td>
          <td class="text-right" [class.text-danger]="h.netAmount < 0" [class.text-success]="h.netAmount > 0">
            <strong>{{h.netAmount | number:'1.0-0'}}</strong>
          </td>
          <td class="trang-thai">
            <span [ngClass]="h.status === 1 ? 'label label-success' : 'label label-warning'">
              {{ h.status === 1 ? 'Đã duyệt' : 'Nháp' }}
            </span>
          </td>
          <td>
            <span>{{h.createdByName}}</span>
            <br>
            <span>{{h.createdDate | date:'dd/MM/yyyy'}}</span>
          </td>
        </tr>
        <tr *ngIf="listFilter?.length == 0">
          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->

  <div class="box-footer no-padding">
    <div *ngIf="listFilter?.length > 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-5">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ totalRows }}</span>
          </div>
        </div>
        <div class="col-md-7 text-right">
          <div class="page">
            <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="9"
              (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;"
              nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>

<modal-vehicle-fuel-closing *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
</modal-vehicle-fuel-closing>
