<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="onHidden()" (onShown)="onShow()">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Danh mục phí</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity" #aForm>
          <div class="box-body">
            <div class="form-group">
              <label class="col-sm-3 control-label">Tên
                <span class="error">*</span>
              </label>
              <div class="col-sm-9">
                <input type="text" #feename="ngModel" [(ngModel)]="entity.feeName" required maxlength="255" name="feename"
                  class="form-control" placeholder="Nhập tên" focus [readonly]="flagXem" />
                <small [hidden]="feename.valid || (feename.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Tên không được để trống và không vượt quá 255 kí tự
                </small>
              </div>
            </div>
            <div *ngIf="entity.status" class="form-group">
              <label class="col-sm-3 control-label">Kí hiệu</label>
              <div class="col-sm-3">
                <input class="form-control" [(ngModel)]="entity.feeCode" type="text" name="feecode"
                placeholder="Kí hiệu" [readonly]="true" required/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Nhóm phí
                <span class="error">*</span>
              </label>
              <div class="col-sm-9">
                <ng-select name="groupfee" [items]="listGroupFee" bindLabel="groupName" bindValue="id"
                  [(ngModel)]="entity.groupFeeId" placeholder="Chọn nhóm phí" required>
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Nhóm thanh toán
                <!-- <span class="error">*</span> -->
              </label>
              <div class="col-sm-9">
                <ng-select name="grouppayment" [items]="listGroupPayment" bindLabel="paymentGroupName" bindValue="id"
                  [(ngModel)]="entity.paymentFeeGroupId" placeholder="Chọn nhóm phí thanh toán">
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Nhóm doanh thu
                <!-- <span class="error">*</span> -->
              </label>
              <div class="col-sm-9">
                <ng-select name="grouprevenue" [items]="listGroupRevenue" bindLabel="revenueGroupName" bindValue="id"
                  [(ngModel)]="entity.revenueFeeGroupId" placeholder="Chọn nhóm phí doanh thu">
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Tài khoản nợ</label>
              <div class="col-sm-3">
                <input class="form-control" [(ngModel)]="entity.debitAccount" type="text" name="debitacc"
                placeholder="Tài khoản nợ" [readonly]="flagXem" />
              </div>
              <label class="col-sm-3 control-label">Tài khoản có</label>
              <div class="col-sm-3">
                <input class="form-control" [(ngModel)]="entity.creditAccount" type="text" name="creditacc"
                placeholder="Tài khoản có" [readonly]="flagXem" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Ghi chú</label>
              <div class="col-sm-9">
                <textarea class="form-control textrea-size" [(ngModel)]="entity.notes" name="feenotes" rows="3"
                  placeholder="Nhập ghi chú" [readonly]="flagXem"></textarea>
              </div>
            </div>
            <div *ngIf="entity.status" class="form-group">
              <label class="col-sm-3 control-label"></label>
              <div class="col-sm-4">
                <label class="custom-checkbox">
                  <input type="checkbox" [(ngModel)]="entity.status" name="status" />
                  <span class="helping-el"></span>
                  Kích hoạt
                </label>
              </div>

              <div class="col-sm-5">
                <label class="custom-checkbox">
                  <input type="checkbox" [(ngModel)]="entity.isDef" name="macdinh" />
                  <span class="helping-el"></span>
                  Là phí mặc định
                </label>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="!flagXem" type="submit" class="btn btn-primary btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave">
              <i class="fa fa-save"></i> Lưu</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
