<div class="box box-primary box-chieu-cao">
  <div class="box-header with-border">
    <div class="row">
      <div class="col-md-2">
        <h3 class="box-title">Cập nhât thông tin hóa đơn</h3>
      </div>
      <div class="col-md-2">
        <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
          class="form-control">
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
            placeholder="Từ khóa" />
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit" appPermission
          appFunction="F002" appAction="UPDATE">
          <i class="fa fa-edit"></i> Sửa
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteConfirm()" [disabled]="!flagDelete" appPermission
          appFunction="F002" appAction="DELETE">
          <i class="fa fa-trash"></i> Xóa
        </button>
        <button class="btn btn-success btn-sm ml-1" (click)="exportExcel()" title="Xuất Excel">
          <i class="fa fa-file-excel-o"></i> Xuất Excel
        </button>
        <!-- <button class="btn btn-info btn-sm" (click)="edit(true)" [disabled]="!flagView">
              <i class="fa fa-eye"></i> Xem
            </button> -->
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="table-checkbox"></th>
          <th>Người lập phiếu</th>
          <th>Số phiếu</th>
          <th>Số phiếu thanh toán</th>
          <th>Ngày lập</th>
          <th>Nội dung</th>
          <th>Số hóa đơn</th>
          <th>Ngày hóa đơn</th>
          <th>MST</th>
          <th>Web</th>
          <th>Code</th>
          <th>Ghi chú</th>
          <th>Trạng thái</th>
        </tr>
        <tr>
          <th></th>
          <th><input class="form-control" #nguoiSearchInput [(ngModel)]="nguoiSearch" (input)="filter()" type="text"
              name="nguoiSearch" /></th>
          <th><input class="form-control" #soSearchInput [(ngModel)]="soSearch" (input)="filter()" type="text"
              name="soSearch" /></th>
          <th><input class="form-control" #soPhieuThanhToanSearchInput [(ngModel)]="soPhieuThanhToanSearch"
              (input)="filter()" type="text" name="soPhieuThanhToanSearch" /></th>
          <th><input class="form-control" #ngaySearchInput [(ngModel)]="ngaySearch" (input)="filter()" type="text"
              name="ngaySearch" /></th>
          <th><input class="form-control" #noiDungSearchInput [(ngModel)]="noidungSearch" (input)="filter()" type="text"
              name="noidungSearch" /></th>
          <th><input class="form-control" #sohoadonSearchInput [(ngModel)]="sohoadonSearch" (input)="filter()"
              type="text" name="sohoadonSearch" /></th>
          <th><input class="form-control" #ngayhoadonSearchInput [(ngModel)]="ngayhoadonSearch" (input)="filter()"
              type="text" name="ngayhoadonSearch" /></th>
          <th><input class="form-control" #mstSearchInput [(ngModel)]="mstSearch" (input)="filter()" type="text"
              name="mstSearch" /></th>
          <th><input class="form-control" #webSearchInput [(ngModel)]="webSearch" (input)="filter()" type="text"
              name="webSearch" /></th>
          <th><input class="form-control" #codeSearchInput [(ngModel)]="codeSearch" (input)="filter()" type="text"
              name="codeSearch" /></th>
          <th><input class="form-control" #ghiChuSearchInput [(ngModel)]="ghichuSearch" (input)="filter()" type="text"
              name="ghichuSearch" /></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listShow" (click)="clickRow(item)">
          <td class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
              <span class="helping-el"></span>
            </label>
          </td>
          <td>{{item.createdByName}}</td>
          <td>
            <a [routerLink]="[]" (click)="showModal(item)">{{item.refNo}}</a>
          </td>
          <td>
            <div *ngIf="item.detailRefNos">
              <span *ngFor="let link of getPaymentLinks(item); let last = last">
                <a [routerLink]="[]" class="text-green"
                  (click)="openPaymentModal(link.refNo); $event.stopPropagation()">{{link.refNo}}</a>{{!last ? ', ' :
                ''}}
              </span>
            </div>
          </td>
          <td>{{item.createdDate|date: "dd/MM/yyyy"}}</td>
          <td>{{item.contents }}</td>
          <td>{{item.invoiceNo }}</td>
          <td>{{item.invoiceDate }}</td>
          <td>{{item.taxNumber}}</td>
          <td>{{item.web }}</td>
          <td>{{item.code }}</td>
          <td>{{item.note }}</td>
          <td class="trang-thai">
            <span
              [ngClass]="
                item.status==-1 ? 'label label-danger' : item.status==1? 'label label-primary': item.status==2? 'label label-success' : 'label label-info'">
              {{item.status==-1?'Từ chối': item.status==0?'Khởi tạo':item.status==1?'Chuyển duyệt':'Duyệt'}}
            </span>
          </td>
        </tr>
        <tr *ngIf="listFilter?.length == 0">
          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer no-padding">
    <div *ngIf="listFilter?.length > 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-6">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ totalRows }}</span>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <div class="dataTables_info">
            <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [itemsPerPage]="pageSize"
              (pageChanged)="pageChanged($event)" [boundaryLinks]="true" previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- /.box -->
</div>

<modal-additional-invoice-information *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
</modal-additional-invoice-information>
<modal-payment-detail #modalPaymentDetail (SaveSuccess)="saveSuccess()"
  (CloseModal)="closeModalPayment()"></modal-payment-detail>
<!-- <div [ngBusy]="busy"></div> -->