<div class="box box-primary box-chieu-cao">
  <ngx-spinner [fullScreen]="false" bdOpacity=0.9 bdColor="#f4f4f9" size="medium" color="#1010ee"
    type="ball-clip-rotate" size="medium">
    <p class="loading">Tải dữ liệu ...</p>
  </ngx-spinner>
  <div class="row">
    <div class="box-header with-border">
      <div class="col-md-1">
        <h3 class="box-title">Lệnh vận chuyển FCL</h3>
      </div>
      <div class="col-md-2">
        <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
          class="form-control">
      </div>
      <div class="col-md-1">
        <ng-select name="chi nhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id" [(ngModel)]="branchId"
          (change)="changedBranch($event)" placeholder="Chọn chi nhánh..." [disabled]="!adminPermission">
        </ng-select>
      </div>
      <div class="col-md-2">
        <ng-select name="supplier" [items]="listDriver" bindLabel="employeeFullName" bindValue="id"
          [(ngModel)]="driverId" (change)="changeDriver()" placeholder="Chọn lái xe...">
        </ng-select>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
            placeholder="Từ khóa" />
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <div class="dropdown btn-group">
          <button class="btn btn-success btn-sm" type="button" appPermission appFunction="FCL" appAction="EXPORT">
            <i class="fa fa-file-excel-o"></i> Export <span class="caret"></span></button>
          <div class="dropdown-content">
            <li (click)="export(0)">Tổng hợp</li>
            <div class="dropdown-divider"></div>
            <li (click)="export(1)">Chi tiết</li>
          </div>
        </div>
        <button class="btn btn-primary btn-sm" (click)="chotlenhMulti()" [disabled]="!flagChecked" appPermission
          appFunction="FCL" appAction="CLOSING">
          <i class="fa fa-edit"></i> Chốt lệnh SLL
        </button>
        <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit" appPermission
          appFunction="FCL" appAction="UPDATE">
          <i class="fa fa-edit"></i> Sửa
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteConfirm()" [disabled]="!flagDelete" appPermission
          appFunction="FCL" appAction="DELETE">
          <i class="fa fa-trash"></i> Xóa
        </button>
        <button class="btn btn-warning btn-sm" (click)="payment()">
          <i class="fa fa-money"></i> Thanh toán
        </button>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding table-wrapper-scroll-y" id="div#style-scroll-1">
    <table class="table table-bordered table-hover ">
      <thead>
        <tr>
          <th></th>
          <th>Tình trạng</th>
          <th class="column-ten-sm">RefNo</th>
          <th class="column-ten-sm">Mã tham chiếu</th>
          <th class="column-ten-sm">Ngày</th>
          <th class="column-ten-sm">Người lập</th>
          <th>Tên đơn vị vận chuyển</th>
          <th class="column-ten-sm">Tên lái xe</th>
          <th class="column-ten-sm">Biển số xe</th>
          <th>Mooc</th>
          <th class="column-ten-sm">Số Cont</th>
          <th class="column-ten-lg">Điểm giao nhận hàng</th>
          <th>Tổng Km</th>
          <th>Tổng dầu</th>
          <th>Ghi chú</th>
          <th class="column-ten-sm">Tác vụ</th>
        </tr>
        <tr>
          <th></th>
          <th>
            <ng-select name="filterType" (change)="filterData()" [(ngModel)]="statusSelected" [clearable]="false"
              [items]="array" bindLabel="text" bindValue="value">
            </ng-select>
          </th>
          <th><input class="form-control" [(ngModel)]="filterColumns.refNo" (input)="filterData()" type="text" /></th>
          <th><input class="form-control" [(ngModel)]="filterColumns.referCode" (input)="filterData()" type="text" />
          </th>
          <th><input class="form-control" [(ngModel)]="filterColumns.createdDate" (input)="filterData()" type="text" />
          </th>
          <th><input class="form-control" [(ngModel)]="filterColumns.createdByName" (input)="filterData()"
              type="text" /></th>
          <th><input class="form-control" [(ngModel)]="filterColumns.shippingUnitName" (input)="filterData()"
              type="text" /></th>
          <th><input class="form-control" [(ngModel)]="filterColumns.driverName" (input)="filterData()" type="text" />
          </th>
          <th><input class="form-control" [(ngModel)]="filterColumns.vehiclelLicensePlates" (input)="filterData()"
              type="text" /></th>
          <th><input class="form-control" [(ngModel)]="filterColumns.moocLicensePlates" (input)="filterData()"
              type="text" /></th>
          <th><input class="form-control" [(ngModel)]="filterColumns.containerList" (input)="filterData()"
              type="text" /></th>
          <th><input class="form-control" [(ngModel)]="filterColumns.locationList" (input)="filterData()" type="text" />
          </th>
          <th><input class="form-control" [(ngModel)]="filterColumns.tongKm" (input)="filterData()" type="text" /></th>
          <th><input class="form-control" [(ngModel)]="filterColumns.tongdau" (input)="filterData()" type="text" /></th>
          <th><input class="form-control" [(ngModel)]="filterColumns.note" (input)="filterData()" type="text" /></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of visibleData" [style.background-color]="item.isSubcontractors ? '#DFF6FF' : 'white'"
          (click)="clickRow(item)" [ngClass]="{'bgColorSkyblue': item.checked}" style="cursor: pointer;">
          <td class="table-checkbox">
            <label class="custom-checkbox" (click)="$event.preventDefault()">
              <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" />
              <span class="helping-el"></span>
            </label>
          </td>
          <td>
            <span [ngClass]="item.isDeny? 'label label-danger': item.status == 6? ' label label-info': item.status==1 ?
                'label label-success': item.status==2? 'label label-primary': item.status==3?
                'label label-duyetB1':  (item.status===4)?'label label-duyetB2' :item.status==5 ?
                'label label-warning': 'label label-khoitao'">
              {{item.rStatus}}
            </span>
          </td>
          <td><a (click)="edit(true, item.refNo); $event.stopPropagation()"
              style="cursor: pointer;"><b>{{item.refNo}}</b></a></td>
          <td><b>{{item.referCode}}</b></td>
          <td>
            <span>
              {{item.createdDate | date:'dd/MM/yyyy'}}
            </span>
          </td>
          <td class="column-ten-sm">
            <span>{{item.createdByName}}</span>
          </td>
          <td class="column-ten-lg">
            <span><b>{{item.shippingUnitName}}</b></span>
          </td>
          <td>
            <span><b>{{item.driverName}}</b></span>
          </td>
          <td class="column-ten-sm">
            <span>
              {{item.vehiclelLicensePlates}}
            </span>
          </td>
          <td>{{item.moocLicensePlates}}</td>
          <td class="column-ten-lg">
            <div *ngIf="item.containerList?.length > 0">
              <div *ngFor="let container of item.containerList">{{ '- '+ container }}</div>
            </div>
          </td>
          <td class="column-ten-lg">
            <div *ngIf="item.locationList?.length > 0">
              <div *ngFor="let location of item.locationList">{{'- '+ location }}</div>
            </div>
          </td>
          <td>{{item.tongKm}}</td>
          <td>{{item.tongdau}}</td>
          <td>{{item.note}}</td>
          <td>
            <button *ngIf="closing_permission && item.status==5 " type="button" class="btn btn-duyet btn-sm action"
              (click)="chotlenh(item)">
              <i class="fa backward"></i>CHỐT LỆNH</button>
          </td>
        </tr>
        <tr *ngIf="listFilter?.length == 0">
          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer no-padding">
    <div *ngIf="listFilter?.length > 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-5">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ listFilter?.length }}</span>
          </div>
        </div>
        <div class="col-md-7 text-right">
          <div class="page">
            <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="9"
              (pageChanged)="pageChanged($event)" [itemsPerPage]="50" previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>

<modal-dispatch-order-fcl *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
</modal-dispatch-order-fcl>
<!-- TO refactor (2026-05-15): modal v2 cho lệnh mới (isLegacy=0) -->
<modal-dispatch-order-fcl-v2 *ngIf="viewModalV2" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModalV2()">
</modal-dispatch-order-fcl-v2>
<modal-closing-fcl-process *ngIf="viewModalProgress" (CloseModal)="closeModalProgress()">
</modal-closing-fcl-process>
<modal-phieu-chi-lenh *ngIf="viewModalPayment" (CloseModal)="closePayment()" (SaveSuccess)="saveSuccess()">
</modal-phieu-chi-lenh>



<!-- <div [ngBusy]="busy"></div> -->