<div class="box box-primary box-chieu-cao">
    <div class="row">
      <div class="box-header with-border">
        <div class="col-md-4">
          <h3 class="box-title">Danh mục Cung đường thành phần</h3>
        </div>
        <div class="col-md-1">
          <ng-select name="chi nhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id" [(ngModel)]="branchId" (change)="changedBranch($event)"
          placeholder="Chọn chi nhánh..." [readonly]="!adminPermission">
        </ng-select>         
        </div>
        <div class="col-md-3">
          <div class="input-group"> 
            <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
              placeholder="Từ khóa" />
            <span class="input-group-btn">
              <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
                <i class="fa fa-search"></i>
              </button>
            </span>
            <span class="input-group-btn">
              <button class="btn btn-success btn-flat btn-sm" type="button" (click)="export()">
                <i class="fa fa-file-excel-o"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="col-md-4 text-right">
          <button class="btn btn-success btn-sm" (click)="add()" appPermission appFunction="ROUTES"
            appAction="CREATE">
            <i class="fa fa-plus"></i> Thêm
          </button>
          <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit" appPermission
            appFunction="ROUTES" appAction="UPDATE">
            <i class="fa fa-edit"></i> Sửa
          </button>
          <button class="btn btn-danger btn-sm" (click)="deleteConfirm()" [disabled]="!flagDelete" appPermission
            appFunction="ROUTES" appAction="DELETE">
            <i class="fa fa-trash"></i> Xóa
          </button>
          <button class="btn btn-info btn-sm" (click)="edit(true)" [disabled]="!flagEdit">
            <i class="fa fa-eye"></i> Xem
          </button>
        </div>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th class="table-checkbox">
              <label class="custom-checkbox">
                <input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)" />
                <span class="helping-el"></span>
              </label>
            </th>
            <th style="width: auto;">Chi nhánh</th>
            <th>Mã cung đường</th>
            <th>Tên cung đường</th>
            <th>Mô tả</th>
            <th>Mã điểm bắt đầu</th>
            <th>Tên điểm bắt đầu</th>
            <th>Mã điểm kết thúc</th>
            <th>Tên điểm kết thúc</th>
            <th>Khoảng cách</th>
            <th>Số trạm vé</th>
            <th>Người lập</th>
            <th>Tình trạng</th>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th>
              <input type="text" class="form-control" [(ngModel)]="filterColumns.routeCode" (input)="filterData()"
                name="routeCode">
            </th>
            <th>
              <input type="text" class="form-control" [(ngModel)]="filterColumns.routeName" (input)="filterData()"
                name="routeName">
            </th>
            <th>
              <input type="text" class="form-control" [(ngModel)]="filterColumns.description" (input)="filterData()"
                name="description">
            </th>
            <th>
              <input type="text" class="form-control" [(ngModel)]="filterColumns.startLocationCode" (input)="filterData()"
                name="startLocationCode">
            </th>
            <th>
              <input type="text" class="form-control" [(ngModel)]="filterColumns.startLocationName" (input)="filterData()"
                name="startLocationName">
            </th>
            <th>
              <input type="text" class="form-control" [(ngModel)]="filterColumns.endLocationCode" (input)="filterData()"
                name="endLocationCode">
            </th>
            <th>
              <input type="text" class="form-control" [(ngModel)]="filterColumns.endLocationName" (input)="filterData()"
                name="endLocationName">
            </th>
            <th>
              <input type="text" class="form-control" [(ngModel)]="filterColumns.distance" (input)="filterData()"
                name="distance">
            </th>
            <th></th>
            <th></th>
            <th style="text-align: left; font-weight: 300;">
              <ng-select name="filterType" (change)="filterData()" [(ngModel)]="selectedType" [clearable]="false" [items]="array" bindLabel="text" bindValue="value"></ng-select>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredData" (click)="clickRow(item)">
            <td class="table-checkbox">
              <label class="custom-checkbox">
                <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
                <span class="helping-el"></span>
              </label>
            </td>
            <td>{{item.branchCode}}</td>
            <td>{{item.routeCode}}</td>
            <td>{{item.routeName}}</td>
            <td>{{item.description}}</td>
            <td>{{item.startLocationCode}}</td>
            <td>{{item.startLocationName}}</td>
            <td>{{item.endLocationCode}}</td>
            <td>{{item.endLocationName}}</td>
            <td>{{item.distance}}</td>
            <td>{{item.ticketStations}}</td>
            <td>{{item.createdByName}}</td>
            <td class="trang-thai">
              <span [ngClass]="
                  item.locked  ? 'label label-danger' : item.status==0? 'label label-primary' : item.status ==1? 'label label-warning':'label label-success'
                ">{{ item.locked ? 'Khóa' : item.status==0?'Khởi tạo' : item.status==1? 'Chuyển duyệt':'Duyệt' }}</span>
            </td>
          </tr>
          <tr *ngIf="totalRows == 0 ">
            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer no-padding">
      <div *ngIf="listRoute?.length > 0" class="col-md-12 footer-phantrang">
        <div class="row">
          <div class="col-md-5">
            <div class="dataTables_info">
              <span>Tổng số bản ghi: {{ totalRows }}</span>
            </div>
          </div>
          <div class="col-md-7 text-right">
            <div class="page">
              <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
                (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
                firstText="&laquo;" lastText="&raquo;">
              </pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box -->
  </div>
  
  <modal-route *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
  </modal-route>
  
  <!-- <div [ngBusy]="busy"></div> -->
  