
<div class="box box-primary box-chieu-cao">
    <div class="row">
      <div class="box-header with-border">
        <div class="col-md-2">
          <h3 class="box-title">Chốt dầu lái xe</h3>
        </div>
        <div class="col-md-2">
            <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
              class="form-control">
          </div>
        <div class="col-md-2">
          <ng-select name="gassite" [items]="listEmployee" bindLabel="employeeFullName" bindValue="id" [(ngModel)]="driverId"
          placeholder="Chọn nhân viên..."  >
          </ng-select>
        </div>
        <div class="col-md-2">
          <div class="input-group">
            <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
              placeholder="Từ khóa" />
            <span class="input-group-btn">
              <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="col-md-4 text-right">
          <button class="btn btn-success btn-sm" (click)="add()" appPermission appFunction="DRIVERFUELAPPROVAL"
            appAction="CREATE">
            <i class="fa fa-plus"></i> Thêm
          </button>
          <button class="btn btn-info btn-sm" (click)="edit(true)" [disabled]="!flagEdit">
            <i class="fa fa-eye"></i> Xem
          </button>
        </div>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Chi nhánh</th>
            <th>Sô phiếu/Nhân viên</th>
            <th>Ngày chốt/Người chốt</th>
            <th>Tồn đầu/Tồn cuối</th>
            <th>Ghi chú</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listDriverFuelClosing" (click)="clickRow(item)">
            <td class="table-checkbox">
              <label class="custom-checkbox">
                <input type="checkbox" value="{{ item.refNo }}" [checked]="item.checked" disabled /> 
                <span class="helping-el"></span>
              </label>
            </td>
            <td>{{item.branchName}}</td>
            <td>
                <span>
                  RefNo: {{item.refNo}}
                </span>
                <br>
                <span><b>Kho dầu:  {{item.driverName}</b></span>
            </td>   
            <td>
                <span>
                  Ngày tạo: {{item.createdDate | date:'dd/MM/yyyy'}}
                </span>
                <br>
                <span><b>Người tạo:  {{item.createdByName}}</b></span>
            </td>       
            <td>
                <span><b>
                  Tồn đầu:  {{item.oldInventory}}</b>
                </span>
                <br>
                <span>Tồn cuối: {{item.newInventory}}</span>
            </td>
            <td>{{item.note}}</td>
          </tr>
          <tr *ngIf="totalRows == 0">
            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer no-padding">
      <div *ngIf="totalRows > 0" class="col-md-12 footer-phantrang">
        <div class="row">
          <div class="col-md-5">
            <div class="dataTables_info">
              <span>Tổng số bản ghi: {{ totalRows }}</span>
            </div>
          </div>
          <div class="col-md-7 text-right">
            <div class="page">
              <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
                (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
                firstText="&laquo;" lastText="&raquo;">
              </pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box -->
</div>
  
  <modal-driver-fuel-closing *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
  </modal-driver-fuel-closing>
  <!-- <div [ngBusy]="busy"></div> -->
  