<div class="box box-primary box-chieu-cao">
  <div class="row">
    <div class="box-header with-border">
      <div class="col-md-2">
        <h3 class="box-title">Danh mục Sales Marketing</h3>
      </div>
      <div class="col-md-2">
        <ng-select name="listType" [items]="listType" bindLabel="text" bindValue="id" [(ngModel)]="_type"
          (change)="changedType($event)" placeholder="Chọn loại hình...">
        </ng-select>
      </div>
      <div class="col-md-2">
        <ng-select name="listLanguages" [items]="listLanguages" bindLabel="text" bindValue="id" [(ngModel)]="_languages"
          (change)="changedLanguages($event)" placeholder="Chọn ngôn ngữ...">
        </ng-select>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="search()" [(ngModel)]="keyword"
            placeholder="Từ khóa" />
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="search()">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-success btn-sm" (click)="add()">
          <i class="fa fa-plus"></i> Thêm
        </button>
        <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit">
          <i class="fa fa-edit"></i> Sửa
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteConfirm()" [disabled]="!flagDelete">
          <i class="fa fa-trash"></i> Xóa
        </button>
        <button class="btn btn-info btn-sm" (click)="edit(true)" [disabled]="!flagEdit">
          <i class="fa fa-eye"></i> Xem
        </button>
      </div>
    </div>
  </div>

  <!-- Table Section -->
  <div class="box-body table-responsive no-padding table-wrapper-scroll-y table_wrapper">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="table-checkbox"></th>
          <th>Tên</th>
          <!-- <th>Loại</th>
            <th>Ngôn ngữ</th> -->
        </tr>
        <tr>
          <th></th>
          <th>
            <input type="text" class="form-control" [(ngModel)]="filterColumns.name" (input)="filterData()"
              placeholder="Lọc theo tên" />
          </th>
          <!-- <th>
              <input type="text" class="form-control" [(ngModel)]="filterColumns.type" (input)="filterData()"
                placeholder="Lọc theo loại" />
            </th>
            <th>
              <input type="text" class="form-control" [(ngModel)]="filterColumns.languages" (input)="filterData()"
                placeholder="Lọc theo ngôn ngữ" />
            </th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listFilter" (click)="clickRow(item)">
          <td class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
              <span class="helping-el"></span>
            </label>
          </td>
          <td>{{ item.name }}</td>
          <!-- <td>{{ item.type }}</td>
            <td>{{ item.languages }}</td> -->
        </tr>
        <tr *ngIf="listFilter?.length === 0">
          <td colspan="4">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination Section -->
  <div class="box-footer no-padding">
    <div *ngIf="listFilter?.length > 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-5">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ totalRows }}</span>
          </div>
        </div>
        <div class="col-md-7 text-right">
          <!-- <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
            (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
            firstText="&laquo;" lastText="&raquo;">
          </pagination> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Component -->
<modal-sublist-category *ngIf="viewModal" (SaveSuccess)="saveSuccess()"
  (CloseModal)="closeModal()"></modal-sublist-category>