<div class="box box-primary box-chieu-cao">
  <div class="box-header with-border">
    <div class="row">
      <div class="col-md-4">
        <h3 class="box-title">Phân quyền</h3>
      </div>
      <div class="col-md-4">
        <ng-select name="role" [items]="listRoles" bindLabel="name" bindValue="id" [(ngModel)]="roleId"
          (change)="onChangeRole($event)" [clearable]="false">
        </ng-select>
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-primary btn-sm" (click)="saveData()" [disabled]="roleId == null">
          <i class="fa fa-save"></i> Cập nhật
        </button>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <div class="col-md-4" *ngFor="let item of listFunctions">
      <span class="menu-cha">{{item.name}}</span>
      <ul *ngIf="item.children?.length == 0">
        <li>
          <label class="custom-checkbox" (click)="clickFunction(item)">
            <input type="checkbox" value="{{item?.id}}" [checked]="item.checked" disabled />
            <span class="helping-el"></span> {{item.name}}
          </label>
          <ul>
            <li *ngFor="let action of item.actions" (click)="clickAction(action)">
              <label class="custom-checkbox">
                <input type="checkbox" value="{{item?.id + action?.id}}" [checked]="action.checked" disabled />
                <span class="helping-el"></span> {{action?.name}}
              </label>
            </li>
          </ul>
        </li>
      </ul>
      <ul *ngIf="item.children?.length > 0">
        <li *ngFor="let child of item.children">
          <label class="custom-checkbox" (click)="clickFunction(child)">
            <input type="checkbox" value="{{child?.id}}" [checked]="child.checked" disabled />
            <span class="helping-el"></span> {{child.name}}
          </label>
          <ul *ngIf="child.children?.length == 0">
            <li *ngFor="let action of child.actions" (click)="clickAction(action)">
              <label class="custom-checkbox">
                <input type="checkbox" value="{{child?.id + action?.id}}" [checked]="action.checked" disabled />
                <span class="helping-el"></span> {{action?.name}}
              </label>
            </li>
          </ul>
          <ul *ngIf="child.children?.length > 0">
            <li *ngFor="let sub of child.children">
              <label class="custom-checkbox" (click)="clickFunction(sub)">
                <input type="checkbox" value="{{sub?.id}}" [checked]="sub.checked" disabled />
                <span class="helping-el"></span> {{sub.name}}
              </label>
              <ul>
                <li *ngFor="let action of sub.actions" (click)="clickAction(action)">
                  <label class="custom-checkbox">
                    <input type="checkbox" value="{{sub?.id + action?.id}}" [checked]="action.checked" disabled />
                    <span class="helping-el"></span> {{action?.name}}
                  </label>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /.box-body -->
</div>

<!-- Simple syntax -->
<div [ngBusy]="busy"></div>
