<div class="box box-primary box-chieu-cao">
    <div class="row">
      <div class="box-header with-border">
        <div class="col-md-4">
          <h3 class="box-title">Chi tiết dư nợ dầu lái e</h3>
        </div>
        <div class="col-md-4">
          <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
            class="form-control">
        </div>
        <div class="col-md-4">
          <div class="input-group">
          <ng-select name="nhanvien" [items]="listEmployee" bindLabel="employeeFullName" bindValue="id"
            [(ngModel)]="_employeeId" (change)="changedEmployee($event)" placeholder="Chọn nhân viên..."
            [readonly]="_quyen>=_viewAll">
          </ng-select>
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
              <i class="fa fa-search"></i>
            </button>
            <button class="btn btn-success btn-sm" appPermission appFunction="EMPLOYEEDEBIT" appAction="EXPORT" (click)="exportExcel()" title="Xuất dữ liệu">
              <i class="fa fa-file-excel-o"></i>
            </button>
          </span>
        </div>
        </div>
        <!-- <div class="col-md-3">
          <div class="input-group">
            <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
              placeholder="Từ khóa" />
            <span class="input-group-btn">
              <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div> -->
        <!-- <div class="col-md-3 text-right">
          <button class="btn btn-success btn-sm" appPermission appFunction="EMPLOYEEDEBIT" appAction="EXPORT">
            <i class="fa fa-file-excel-o"></i> Xuất dữ liệu
          </button>
        </div> -->
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Số phiếu cấp dầu/Lệnh vận chuyển</th>
            <th>Ngày</th>
            <th>Loại hình</th>
            <th>Biển kiểm soát</th>
            <th>Phát sinh nợ</th>
            <th>Phát sinh có</th>
            <th>Dư nợ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listDatas; let i = index" [style.background-color]="(i==0 || i==listDatas.length-1) ? '#DFF6FF' : 'white'"
          [style.font-weight]="(i==0 || i==listDatas.length-1) ? 'bold' : 'normal'">
            <td>
              {{item.refNo}}
            </td>
            <td>{{item.updatedDate| date: 'dd/MM/yyyy'}}</td>
            <td>{{item.type}}</td>
            <td>{{item.vihiclelLicensePlates}}</td>
            <td class="so-tien">{{item.debit|number:'1.2-2'}}</td>
            <td class="so-tien">{{item.credit|number:'1.2-2'}}</td>
            <td class="so-tien">{{item.debitBalance|number:'1.2-2'}}</td>
          </tr>
          <tr *ngIf="listDatas?.length == 0">
            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer no-padding">
      <div *ngIf="listDatas?.length > 0" class="col-md-12 footer-phantrang">
        <div class="row">
          <div class="col-md-5">
            <div class="dataTables_info">
              <span>Tổng số bản ghi: {{ totalRows }}</span>
            </div>
          </div>
          <!-- <div class="col-md-7 text-right">
            <div class="page">
              <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
                (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
                firstText="&laquo;" lastText="&raquo;">
              </pagination>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- /.box -->
  </div>
  <!-- <div [ngBusy]="busy"></div> -->
  