<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left"> {{entity?.type==1?'SỐ HÓA BÁO GIÁ':entity?.type==2? 'BÁO GIÁ DK04':'BÁO GIÁ DK05'}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <div class="form-group">
              <label class="col-sm-2 control-label">Tên báo giá
                <span class="error">*</span>
              </label>
              <div class="col-sm-10">
                <input type="text" #tennhomquyen="ngModel" [(ngModel)]="entity.quotationName" required maxlength="255"
                  name="tenbg" class="form-control" placeholder="Nhập tên báo giá..." focus [readonly]="flagXem" />
                <small [hidden]="tennhomquyen.valid || (tennhomquyen.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Tên không được để trống và không vượt quá 255 kí tự
                </small>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Ngày báo giá</label>
              <div class="col-sm-4 date">
                <input name="refdate" type="text" daterangepicker [options]="dateTimeOptions"
                  [(ngModel)]="_ngay" class="form-control" (selected)="selectedDate($event)"
                  (hideDaterangepicker)="closedDate($event)" autocomplete="off" [readonly]="flagXem"
                  [disabled]="false">
              </div>
              <label class="col-sm-2 control-label">Người lập</label>
              <div class="col-sm-4">
                <ng-select name="nguilap" [items]="listEmployees" bindLabel="employeeFullName" bindValue="id"
                  [(ngModel)]="entity.employeeId" [readonly]="true">
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Số tham chiếu</label>
              <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="entity.quotationId" type="text" name="sothamchieu"
                  placeholder="Số tham chiếu..." [readonly]="true"/>
              </div>
              <label class="col-sm-2 control-label">Người duyệt</label>
              <div class="col-sm-4 date">
                <ng-select name="nguoiduyet" [items]="listEmployees" bindLabel="employeeFullName" bindValue="id"
                  [(ngModel)]="entity.managerId" [readonly]="true">
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Số báo giá</label>
              <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="entity.quotationNo" type="text" name="sobg"
                  placeholder="Báo giá số..." [readonly]="true"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Khách hàng
                <span class="error">*</span>
              </label>
              <div class="col-sm-10" *ngIf="entity?.type==2">
                <ng-select name="salecustomer" [items]="listSalesCustomer" bindLabel="customerName" bindValue="customerId"
                  [(ngModel)]="entity.customerId" [required]="entity.type==2" placeholder="Chọn khách hàng..." [disabled]="entity.step>0">
                </ng-select>
              </div>
              <div class="col-sm-10" *ngIf="entity?.type<2">
                <ng-select name="customer" [items]="listCustomers" bindLabel="customerName" bindValue="id" [readonly]="flagXem"
                  [(ngModel)]="entity.customerId" [required]="entity.type<2" placeholder="Chọn khách hàng..."(change)="changedCustomer($event)">
                </ng-select>
              </div>
              <!-- <div *ngIf="entity.type==1" class="col-sm-10">
                <ng-select name="customer" [items]="listCustomers" bindLabel="customerName" bindValue="id" [readonly]="flagXem"
                  [(ngModel)]="entity.potentialCustomerId" required placeholder="Chọn khách hàng..." (change)="changedCustomer($event)">
                </ng-select>
              </div> -->
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Nội dung
                <span class="error">*</span>
              </label>
              <div class="col-sm-10">
                <textarea class="form-control textrea-size" [(ngModel)]="entity.contents" name="content" rows="3"
                  placeholder="Nhập nội dung" required [readonly]="flagXem"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Hiệu lực từ ngày <span class="error">*</span></label>
              <div class="col-sm-4 date">
                <input name="tungay" type="text" daterangepicker [options]="dateTimeOptions"
                  [(ngModel)]="_tuNgay" class="form-control" (selected)="selectedTuNgay($event)"
                  (hideDaterangepicker)="closedTuNgay($event)" autocomplete="off" [readonly]="flagXem" required
                  >
              </div>
              <label class="col-sm-2 control-label">Đến ngày <span class="error">*</span></label>
              <div class="col-sm-4 date">
                <input name="denngay" type="text" daterangepicker [options]="dateTimeOptions"
                  [(ngModel)]="_denNgay" class="form-control" (selected)="selectedDenNgay($event)"
                  (hideDaterangepicker)="closedDenNgay($event)" autocomplete="off" [readonly]="flagXem" required
                  >
              </div>
            </div>
            <div class="form-group" *ngIf="entity?.type<2">
              <label class="col-sm-2 control-label">Số hợp đồng
              </label>
              <div class="col-sm-4">
                <ng-select name="hopdonggoc" [items]="listContracts" bindLabel="contractNo" bindValue="id"
                  [(ngModel)]="entity.contractId" [readonly]="flagXem">
                </ng-select>
              </div>
              <label class="col-sm-2 control-label">Số báo giá ban đầu
              </label>
              <div class="col-sm-4">
                <ng-select name="baogiagoc" [items]="listBaoGias" bindLabel="quotationNo" bindValue="id"
                  [(ngModel)]="entity.parentId" [readonly]="flagXem">
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Ghi chú</label>
              <div class="col-sm-10">
                <textarea class="form-control textrea-size" [(ngModel)]="entity.notes" name="ghichubg" rows="1"
                  placeholder="Nhập ghi chú" [readonly]="flagXem"></textarea>
              </div>
            </div>
            <div class="form-group" *ngIf="entity.step<1">
              <label class="col-sm-2 control-label"></label>
              <div class="col-sm-10">
                <label class="custom-checkbox" style="color: blue;">
                    <input type="checkbox" [(ngModel)]="isCapso" name="status" />
                    <span class="helping-el"></span>
                    Xin cấp số báo giá
                </label>
              </div>
            </div>
          </div>
          <div class="box-body">
              <div class="form-group">
                <h5 class="col-sm-8" style="font-weight: bold;">CHI TIẾT BÁO GIÁ</h5>
              </div>
              <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 250px;">
                <table class="table table-bordered" id="style-scroll-1">
                <thead>
                  <tr>
                    <th>STT</th>
                    <th *ngIf="entity.type==1">Loại dịch vụ</th>
                    <th *ngIf="entity.type==1">Khu vực</th>
                    <th *ngIf="entity.type==1">Phí</th>
                    <th >Tên dịch vụ</th>
                    <th *ngIf="entity.type==1">Mô tả</th>
                    <th *ngIf="entity.type==1">Đơn vị tính</th>
                    <th >Đơn giá</th>
                    <th *ngIf="entity.type==1">Loại tiền</th>
                    <th>Ghi chú</th>
                    <th *ngIf="!flagXem" class="column-chucnang"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listDetails; let i = index">
                    <td class="column-so-thu-tu">{{i+1}}</td>
                    <td *ngIf="entity.type==1" class="column-ten">
                      <ng-select name="loaidv{{item.tempId}}" [items]="listLoaiDichVus" bindLabel="categoryName" bindValue="id"
                        [(ngModel)]="item.serviceId" placeholder="Chọn loại dịch vụ..." [readonly]="flagXem" (blur)="inputTen(i)" [clearable]="false">
                      </ng-select>
                    </td>

                    <td *ngIf="entity.type==1" class="column-ten">
                      <ng-select name="chinhanh{{item.tempId}}" [items]="listBranch" bindLabel="branchCode" bindValue="id"
                        [(ngModel)]="item.branchId" placeholder="Chọn chi nhánh..." [readonly]="flagXem" [clearable]="false">
                      </ng-select>
                    </td>

                    <td *ngIf="entity.type==1" class="column-ten">
                      <ng-select name="feeid{{item.tempId}}" [items]="listFees" bindLabel="feeName" bindValue="id"
                        [(ngModel)]="item.feeId" placeholder="Chọn phí..." [readonly]="flagXem" (blur)="inputTen(i)" [clearable]="false">
                      </ng-select>
                    </td>

                    <td class="column-ten">
                      <input type="text" class="form-control" name="tendv{{item.tempId}}" [(ngModel)]="item.serviceName"
                        placeholder="Tên dịch vụ" [readonly]="flagXem" (blur)="inputTen(i)" />
                    </td>

                    <td *ngIf="entity.type==1"class="column-ten">
                      <input type="text" class="form-control" name="noidung{{item.tempId}}" [(ngModel)]="item.contents"
                        placeholder="Nội dung" (blur)="inputTen(i)" [readonly]="flagXem" />
                    </td>

                    <td *ngIf="entity.type==1">
                      <ng-select name="dvt{{item.tempId}}" [items]="listDVTs" bindLabel="categoryName" bindValue="categoryCode"
                        [(ngModel)]="item.unit" placeholder="Chọn đơn vị tính..." [readonly]="flagXem" [clearable]="false">
                      </ng-select>
                    </td>
                    <td class="column-gia-tri">
                      <input type="text" class="form-control so-tien" name="sotien{{item.tempId}}"
                        [(ngModel)]="item.amount" placeholder="Số tiền" [readonly]="flagXem"
                        [mask]="maskNumber" />
                    </td>
                    <td *ngIf="entity.type==1">
                      <ng-select name="loaitiente{{item.tempId}}" [items]="listTienTes" bindLabel="categoryName" bindValue="categoryCode"
                        [(ngModel)]="item.currency" placeholder="Chọn loại tiền tệ..." [readonly]="flagXem" [clearable]="false">
                      </ng-select>
                    </td>
                    <td class="column-ten">
                      <input type="text" class="form-control" name="ghichu{{item.tempId}}" [(ngModel)]="item.notes"
                        placeholder="Ghi chú..." [readonly]="flagXem"/>
                    </td>
                      <td *ngIf="!flagXem" class="column-chuc-nang">
                      <i class="fa fa-trash-o" (click)="removeItem(i)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="row box-footer">
            <div class="col-md-6 text-left">
              <button *ngIf="entity.id" type="button" class="btn btn-info btn-sm" title="Chứng từ đính kèm" (click)="showFiles()">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> File đính kèm
            </button>
            </div>
            <div class="col-md-6 text-right">
              <button *ngIf="_accept && ((entity.step ==2) || (entity.status && entity.step==0)) " (click)="accept(true)" type="button" class="btn btn-success btn-sm">
                <i class="fa fa-check"></i> {{entity.step==0? 'Cấp số':'Duyệt'}}</button>
                <button *ngIf="_accept && ((entity.step ==2) || (entity.status && entity.step==0)) " (click)="accept(false)" type="button" class="btn btn-warning btn-sm">
                <i class="fa fa-ban"></i> Từ chối</button>
                <button *ngIf="!flagXem && (!entity.status || entity.step==1) && entity.id !=undefined" type="button" (click)="approve()" class="btn btn-chuyen_duyet btn-sm">
                  <i class="fa fa-share"></i>  {{entity.step==0? 'Xin số':'C. Duyệt '}}</button>
            <button *ngIf="!flagXem" type="submit" class="btn btn-primary btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave">
              <i class="fa fa-save"></i> Lưu</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
        </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
<modal-attachfile *ngIf="viewAttachFiles" (SaveSuccess)="saveSuccessFile($event)" (CloseModal)="closeModalFile()">
</modal-attachfile>
