<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Danh mục Kho dầu</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <div class="form-group">
              <label class="col-sm-3 control-label">Tên kho dầu
                <span class="error">*</span>
              </label>
              <div class="col-sm-9">
                <input type="text" #tennhom="ngModel" [(ngModel)]="entity.siteName" required maxlength="255" name="siteName"
                  class="form-control" placeholder="Nhập tên kho dầu" focus [readonly]="flagXem" />
                <small [hidden]="tennhom.valid || (tennhom.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Tên kho dầu không được để trống và không vượt quá 255 kí tự
                </small>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Dung tích (lít)
              </label>
              <div class="col-sm-3">
                <input class="form-control" [(ngModel)]="entity.capacity" type="number" name="capacity"
                      placeholder="Dung tích" [readonly]="flagXem"/>
              </div>
              <label class="col-sm-3 control-label">Tồn đầu (lít)
              </label>
              <div class="col-sm-3">
                <input class="form-control" [(ngModel)]="entity.startInventory" type="number" name="capacity"
                      placeholder="Tồn đầu" [readonly]="flagXem"/>
              </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Loại nhiên liệu
                  <span class="error">*</span>
                </label>
                <div class="col-sm-9">
                  <ng-select name="gasType" [items]="listGasType" bindLabel="categoryName" bindValue="id"
                    [(ngModel)]="entity.gasType" required placeholder="Chọn loại nhiên liệu" [readonly]="flagXem">
                  </ng-select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">StationId</label>
                <div class="col-sm-3">
                    <input class="form-control" [(ngModel)]="entity.stationId" type="number" name="stationId"
                     [readonly]="flagXem"/>
                </div>
                <label class="col-sm-3 control-label">NozzleCode</label>
                <div class="col-sm-3">
                    <input class="form-control" [(ngModel)]="entity.nozzleCode" type="text" name="nozzleCode"
                     [readonly]="flagXem"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">CustomerId</label>
                <div class="col-sm-3">
                    <input class="form-control" [(ngModel)]="entity.stationId" type="number" name="stationId"
                     [readonly]="flagXem"/>
                </div>
                <label class="col-sm-3 control-label">VihicleId</label>
                <div class="col-sm-3">
                    <input class="form-control" [(ngModel)]="entity.vehicleId" type="text" name="vehicleId"
                     [readonly]="flagXem"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">NextTime</label>
                <div class="col-sm-3">
                    <input class="form-control" [(ngModel)]="entity.nextTime" type="number" name="nextTime"
                   [readonly]="flagXem"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Chi nhánh
                  <span class="error">*</span>
                </label>
                <div class="col-sm-9">
                  <ng-select name="donvi" [items]="listBranch" bindLabel="branchName" bindValue="id"
                    [(ngModel)]="entity.branchId" required placeholder="Chọn chi nhánh" [readonly]="flagXem">
                  </ng-select>
                </div>
              </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="!flagXem" type="submit" class="btn btn-primary btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave">
              <i class="fa fa-edit"></i> Lưu</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
