<div class="box box-primary box-chieu-cao">
  <ngx-spinner
  [fullScreen]="false"
  bdOpacity = 0.9
  bdColor = "#f4f4f9"
  size = "medium"
  color = "#1010ee"
  type = "ball-clip-rotate"
  size="medium">
  <p class="loading">Tải dữ liệu ...</p>
</ngx-spinner>
  <div class="row">
    <div class="box-header with-border">
      <div class="col-md-4">
        <h3 class="box-title">Chi tiết dư nợ</h3>
      </div>
      <div class="col-md-4">
        <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
          class="form-control">
      </div>
      <div class="col-md-4">
        <div class="input-group">
        <ng-select name="nhanvien" [items]="listEmployee" bindLabel="employeeFullName" bindValue="id"
          [(ngModel)]="_employeeId" (change)="changedEmployee($event)" placeholder="Chọn nhân viên..."
          [readonly]="_quyen>=_viewAll">
        </ng-select>
        <span class="input-group-btn">
          <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
            <i class="fa fa-search"></i>
          </button>
          <button class="btn btn-success btn-sm" appPermission appFunction="EMPLOYEEDEBIT" appAction="EXPORT" (click)="exportExcel()" title="Xuất dữ liệu">
            <i class="fa fa-file-excel-o"></i>
          </button>
        </span>
      </div>
      </div>
      <!-- <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
            placeholder="Từ khóa" />
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div> -->
      <!-- <div class="col-md-3 text-right">
        <button class="btn btn-success btn-sm" appPermission appFunction="EMPLOYEEDEBIT" appAction="EXPORT">
          <i class="fa fa-file-excel-o"></i> Xuất dữ liệu
        </button>
      </div> -->
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Tên nhân viên</th>
          <th>Số chứng từ</th>
          <th>Ngày</th>
          <th>Phát sinh nợ</th>
          <th>Phát sinh có</th>
          <th>Dư nợ</th>
        </tr>
        <tr>
          <th><input class="form-control" #makhInput [(ngModel)]="search1" (input)="filter()" type="text" name="search1"/></th>
          <th><input class="form-control" #makhInput1 [(ngModel)]="search2" (input)="filter()" type="text" name="search2"/></th>
          <th><input class="form-control" #makhInput2 [(ngModel)]="search3" (input)="filter()" type="text" name="search3"/></th>
          <th><input class="form-control" #makhInput3 [(ngModel)]="search4" (input)="filter()" type="text" name="search4"/></th>
          <th><input class="form-control" #makhInput4 [(ngModel)]="search5" (input)="filter()" type="text" name="search5"/></th>
          <th><input class="form-control" #makhInput5 [(ngModel)]="search6" (input)="filter()" type="text" name="search6"/></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listFilter">
          <td>{{item.employeeName}}</td>
          <td>
            <a [routerLink]="[]" (click)="showModal(item)">{{item.refNo}}</a>
          </td>
          <td>{{item.updatedDate| date: 'dd/MM/yyyy'}}</td>
          <td class="so-tien">{{item.debit|VND}}</td>
          <td class="so-tien">{{item.credit|VND}}</td>
          <td class="so-tien">{{item.debitBalance|VND}}</td>
        </tr>
        <tr *ngIf="listDatas?.length == 0">
          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer no-padding">
    <div *ngIf="listFilter?.length > 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-5">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ totalRows }}</span>
          </div>
        </div>
        <!-- <div class="col-md-7 text-right">
          <div class="page">
            <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
              (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>
<modal-advance *ngIf="viewModal" (CloseModal)="closeModal()">
</modal-advance>
<!-- <div [ngBusy]="busy"></div> -->
