<div class="box box-primary box-chieu-cao">
  <div class="box-header with-border">
    <div class="row">
      <div class="col-md-3">
        <h3 class="box-title">Vay cá nhân</h3>
      </div>
      <div class="col-md-9 text-right">
        <button class="btn btn-success btn-sm" (click)="add()" appPermission appFunction="LOAN" appAction="CREATE">
          <i class="fa fa-plus"></i> Thêm
        </button>
        <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit" appPermission
          appFunction="LOAN" appAction="UPDATE">
          <i class="fa fa-edit"></i> Sửa
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteConfirm()" [disabled]="!flagDelete" appPermission
          appFunction="LOAN" appAction="DELETE">
          <i class="fa fa-trash"></i> Xóa
        </button>
        <button class="btn btn-success btn-sm" (click)="export()" appFunction="LOAN" appAction="EXPORT">
          <i class="fa fa-file-excel"></i> Export
        </button>
        <!-- <button class="btn btn-info btn-sm" (click)="edit(true)" [disabled]="!flagView">
          <i class="fa fa-eye"></i> Xem
        </button> -->
      </div>
    </div>

    <div class="row">

      <div class="col-md-2">
        <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
          class="form-control">
      </div>
      <div class="col-md-2">
        <ng-select name="chinhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id" [(ngModel)]="_branchId"
          (change)="changedChiNhanh()" title="Chọn chi nhánh..." [clearable]="false" [readonly]="_auth>0">
        </ng-select>
      </div>
      <div class="col-md-3">
        <ng-select name="khachhang" [items]="listEmployee" bindLabel="employeeFullName" bindValue="id"
          [(ngModel)]="_employeeId" (change)="changedEmployee($event)" placeholder="Chọn nhân viên..."
          [readonly]="_auth>_viewAll">
        </ng-select>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
            placeholder="Từ khóa" />
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>

    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)" />
              <span class="helping-el"></span>
            </label>
          </th>
          <th>Người tạn ứng</th>
          <th>Số tham chiếu</th>
          <th>Ngày</th>
          <th>Số tiền</th>
          <th>Lý do</th>
          <!-- <th>Đã trả</th> -->
          <th>Số tiền đã trả</th>
          <th>Trạng thái</th>
          <th style="width: 80px;">Tác vụ</th>
        </tr>
        <tr class="filter-row">
          <th></th>
          <th><input class="form-control input-sm" name="fEmployee" [(ngModel)]="fEmployee" (input)="applyFilter()" placeholder="Lọc..." /></th>
          <th><input class="form-control input-sm" name="fRefNo" [(ngModel)]="fRefNo" (input)="applyFilter()" placeholder="Lọc..." /></th>
          <th><input class="form-control input-sm" name="fDate" [(ngModel)]="fDate" (input)="applyFilter()" placeholder="dd/MM/yyyy" /></th>
          <th><input class="form-control input-sm" name="fAmount" [(ngModel)]="fAmount" (input)="applyFilter()" placeholder="Lọc..." /></th>
          <th><input class="form-control input-sm" name="fReason" [(ngModel)]="fReason" (input)="applyFilter()" placeholder="Lọc..." /></th>
          <th><input class="form-control input-sm" name="fRepayment" [(ngModel)]="fRepayment" (input)="applyFilter()" placeholder="Lọc..." /></th>
          <th><input class="form-control input-sm" name="fStatus" [(ngModel)]="fStatus" (input)="applyFilter()" placeholder="Lọc..." /></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pagedList" (click)="clickRow(item)">
          <td class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
              <span class="helping-el"></span>
            </label>
          </td>
          <td>{{item.employeeName}}</td>
          <td>
            <a [routerLink]="[]" (click)="showModal(item)">{{item.refNo}}</a>
          </td>
          <td>{{item.refDate|date: "dd/MM/yyyy"}}</td>
          <td class="so-tien">{{item.amount|VND}}</td>
          <td>{{item.reason }}</td>
          <!-- <td style="text-align: center;width: 125px;">
            <label class="custom-checkbox">
              <input type="checkbox" value="{{item.isPayment}}" [checked]="item.isPayment" disabled />
              <span class="helping-el"></span>
            </label>
          </td> -->
          <td class="so-tien">
            <a [routerLink]="[]" (click)="showRepayment(item)">{{item.amountRepayment|VND}}</a>
          </td>
          <td class="trang-thai">
            <span class="{{item.step | List: listLables}}">
              {{item.step| List: listStatus}}</span>
          </td>
          <td>
            <button type="button" class="btn btn-primary btn-sm action" title="Lịch sử duyệt"
              (click)="showPersonalLoanLog(item.id)">
              <i class="fa fa-history" aria-hidden="true"></i>
            </button>
            <button *ngIf="item.status && item.acceptStep > 0 && _levelPermissionAdvance==item.acceptStep+1" type="button"
              class="btn btn-success btn-sm action" title="Duyệt" (click)="accept(item,true)" appPermission
              appFunction="LOAN" appAction="ACCEPT">
              <i class="fa fa-meh-o" aria-hidden="true"></i> Duyệt
            </button>
            <button *ngIf="item.status && item.acceptStep > 0 && _levelPermissionAdvance==item.acceptStep+1" type="button"
              class="btn btn-danger btn-sm action" title="Từ chối" (click)="accept(item,false)" appPermission
              appFunction="LOAN" appAction="ACCEPT">
              <i class="fa fa-frown-o" aria-hidden="true"></i> Từ chối
            </button>
            <button *ngIf="item.acceptStep>=2 && !item.isComplete" type="button" class="btn btn-warning btn-sm action"
              title="Phiếu chi" (click)="showAccounts(item)" appPermission appFunction="LOAN" appAction="ACCOUNT">
              <i class="fa fa-usd" aria-hidden="true"></i> Phiếu chi
            </button>
            <!-- <button class="btn btn-info btn-sm action" (click)="edit(true)">
          <i class="fa fa-eye"></i> Xem
        </button> -->
          </td>
        </tr>
        <tr *ngIf="listFilter?.length == 0">
          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer no-padding">
    <div *ngIf="listFilter?.length > 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-5">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ totalRows }}</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="dataTables_info">
            <span style="font-weight: bold; color: rgba(255, 77, 0, 0.926);">Tổng tiền: {{ totalMoney|VND }}</span>
          </div>
        </div>
        <div class="col-md-3 text-right">
          <div class="page">
            <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
              (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>
<modal-personal-loan *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
</modal-personal-loan>
<modal-phieu-chi *ngIf="viewAccounts" (SaveSuccess)="saveSuccessAccounts($event)" (CloseModal)="closeAccounts()">
</modal-phieu-chi>
<modal-repayment-history *ngIf="viewRepaymentHistory" (CloseModal)="closeRepayment()">
</modal-repayment-history>
<modal-list-personal-loan-log *ngIf="viewListLog" (CloseModal)="closeModalLog()">
</modal-list-personal-loan-log>
<!-- <div [ngBusy]="busy"></div> -->