<div class="box box-primary box-chieu-cao">
  <div class="box-header with-border">
  <div class="row">
    <div class="col-md-2">
      <h3 class="box-title">Báo giá DK04</h3>
    </div>
    <div class="col-md-1">
      <ng-select name="chinhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id"
        [(ngModel)]="_branchId" (change)="changedChiNhanh()" title="Chọn chi nhánh..." [clearable]="true" [readonly]="_auth>_viewAll">
      </ng-select>
    </div>
    <div class="col-md-3">
      <ng-select name="khachhang" [items]="listCustomer" bindLabel="customerName" bindValue="id"
        [(ngModel)]="_customerId" (change)="changedCustomer($event)" placeholder="Chọn khách hàng..." title="Chọn khách hàng"
        [readonly]="_auth>=5">
      </ng-select>
    </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
            placeholder="Từ khóa" />
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
    <div class="col-md-3 text-right">
        <button class="btn btn-success btn-sm dropbtn" type="button" (click)="add(2)" appPermission appFunction="QUOTATIONCUSTOMER"
          appAction="CREATE">
          <i class="fa fa-plus"></i> Thêm</button>
      <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit" appPermission
        appFunction="QUOTATIONCUSTOMER" appAction="UPDATE">
        <i class="fa fa-edit"></i> Sửa
      </button>
      <button class="btn btn-danger btn-sm" (click)="deleteConfirm()" [disabled]="!flagDelete" appPermission
        appFunction="QUOTATIONCUSTOMER" appAction="DELETE">
        <i class="fa fa-trash"></i> Xóa
      </button>
      <!-- <button class="btn btn-info btn-sm" (click)="edit(true)" [disabled]="!flagView">
        <i class="fa fa-eye"></i> Xem
      </button> -->
    </div>
  </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th></th>
          <th>Nhân viên Sales</th>
          <th>Tên khách hàng</th>
          <th>Mã báo giá</th>
          <th>Số báo giá</th>
          <th>Tên báo giá</th>
          <th>Nội dung</th>
          <th>Ngày hiệu lực</th>
          <th>Ngày kết thúc</th>
          <th>Ghi chú</th>
          <th>Trạng thái</th>
          <th style="width: 80px;">Tác vụ</th>
        </tr>
        <tr>
          <th></th>
          <th><input class="form-control" #input [(ngModel)]="saleSearch" (input)="filter()" type="text" name="saleSearch" /></th>
          <th><input class="form-control" #input1 [(ngModel)]="tenkhSearch" (input)="filter()" type="text" name="tenkhSearch" /></th>
          <th><input class="form-control" #input2 [(ngModel)]="mabgSearch" (input)="filter()" type="text" name="mabgSearch" /></th>
          <th><input class="form-control" #input3 [(ngModel)]="sobgSearch" (input)="filter()" type="text" name="sobgSearch" /></th>
          <th><input class="form-control" #input4 [(ngModel)]="tenbgSearch" (input)="filter()" type="text" name="tenbgSearch" /></th>
          <th><input class="form-control" #input5 [(ngModel)]="noidungSearch" (input)="filter()" type="text" name="noidungSearch" /></th>
          <th><input class="form-control" #input6 [(ngModel)]="ngay1Search" (input)="filter()" type="text" name="ngay1Search" /></th>
          <th><input class="form-control" #input7 [(ngModel)]="ngay2Search" (input)="filter()" type="text" name="ngay2Search" /></th>
          <th><input class="form-control" #input8 [(ngModel)]="ghichuSearch" (input)="filter()" type="text" name="ghichuSearch" /></th>
          <th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listFilter" (click)="clickRow(item)">
          <td class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
              <span class="helping-el"></span>
            </label>
          </td>
          <td>{{item.employeeFullName}}</td>
          <td>{{item.customerName}}</td>
          <td>
             <a [routerLink]="[]" (click)="showModal(item)">{{item.quotationId}}</a>
          </td>
          <td>
            <a [routerLink]="[]" (click)="showModal(item)">{{item.quotationNo}}</a>
          </td>
          <td>{{item.quotationName}}</td>
          <td>{{item.contents}}</td>
          <td>{{item.sDate|date:'dd/MM/yyyy'}}</td>
          <td>{{item.fDate|date:'dd/MM/yyyy'}}</td>
          <td>{{item.notes }}</td>
          <td class="trang-thai">
            <span [ngClass]="
                item.isFinish ? 'label label-primary':(item.isDeny?'label label-danger' : !item.status?'label label-info':(item.status && item.step==0)?'label label-secondary':item.step==1?'label label-primary':item.step==2?'label label-warning':'label label-success')
              ">{{ item.isFinish? 'Kết thúc!' : item.isDeny?'Từ chối': (!item.status?'Khởi tạo': (item.status && item.step==0)? 'Xin cấp số': item.step==1?'Đã cấp số': item.step==2?'Chuyển duyệt':'Đã duyệt') }}</span>
          </td>
          <td>
           <!-- <button *ngIf="_accept && !item.status && !item.isDeny" type="button" class="btn btn-primary btn-sm action"
            title="Duyệt" (click)="accept(item,'Ok')">
            <i class="fa fa-meh-o" aria-hidden="true"></i> Duyệt
          </button>
          <button *ngIf="_accept && !item.status && !item.isDeny" type="button" class="btn btn-warning btn-sm action"
            title="Từ chối" (click)="accept(item,'No')">
            <i class="fa fa-meh-o" aria-hidden="true"></i> Từ chối
          </button>
          <span *ngIf="item.isDeny" style="color: red;">{{item.reason}}</span> -->
            <button type="button" class="btn btn-info btn-sm action-file" title="Chứng từ đính kèm"
              (click)="showFiles(item)">
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i> File báo giá...
            </button>
          </td>
        </tr>
        <tr *ngIf="listFilter?.length == 0">
          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer no-padding">
    <div *ngIf="listFilter?.length > 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-5">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ totalRows }}</span>
          </div>
        </div>
        <div class="col-md-7 text-right">
          <div class="page">
            <!-- <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
              (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;">
            </pagination> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>
<modal-quotation-customer *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
</modal-quotation-customer>
<modal-attachfile *ngIf="viewAttachFiles" (SaveSuccess)="saveSuccessFile($event)" (CloseModal)="closeModalFile()">
</modal-attachfile>
<!-- <div [ngBusy]="busy"></div> -->
