
<div class="box box-primary box-chieu-cao">
  <div class="box-header with-border">
    <div class="row" style="padding-bottom: 3px;">
      <div class="col-md-4">
        <h3 class="box-title">Lô hàng chưa lên Debit</h3>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-6 text-right">
        <button [disabled]="!isSelected" class="btn btn-warning btn-sm" (click)="debitNote0()" appPermission appFunction="DEBITNOTES"
          appAction="ACCEPT">
          <i class="fa fa-file-text-o"></i> Lên Debit = 0
        </button>
      </div>
    </div>
    <div class="row" style="padding-bottom: 3px;">
      <div class="col-md-2">
        <ng-select name="chinhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id"
        [(ngModel)]="_branchId" (change)="timKiem()" placeholder="Chọn chi nhánh..." [clearable]="false" [readonly]="_quyen>0">
      </ng-select>
      </div>

      <div class="col-md-2">
        <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
        class="form-control" />
      </div>
      <div class="col-md-4">
        <ng-select name="khachhang" [items]="listCustomer" bindLabel="customerName" bindValue="id"
          [(ngModel)]="_customerId" (change)="timKiem()" placeholder="Chọn khách hàng..." title="Chọn khách hàng">
        </ng-select>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
          placeholder="Keyword: JobId, InvoiceNo..." title="Nhập số JobId, Vận đơn, Số hóa đơn..." />
        <span class="input-group-btn">
          <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()" title="">
            <i class="fa fa-search"></i>
          </button>
          <button class="btn btn-success btn-sm" appPermission appFunction="NOTDEBIT" appAction="EXPORT" (click)="exportExcel()" title="Xuất dữ liệu">
            <i class="fa fa-file-excel-o"></i>
          </button>
        </span>
        </div>
      </div>
    </div>
  </div>

  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding table-wrapper-scroll-y table_wrapper" id="div#style-scroll-1">
    <ngx-spinner
    [fullScreen]="false"
    type="ball-scale-multiple"
    size="medium"
  >
    <p class="loading">Loading Awesomeness...</p>
  </ngx-spinner>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <!-- <th rowspan="2">Mã khách hàng</th> -->
          <th></th>
          <th >Mã khách hàng</th>
          <th >Tên khách hàng</th>
          <th >Lô hàng</th>
          <th >Ngày tạo</th>
          <th >Tờ khai</th>
          <th class="column-ten-sm" >Ngày tờ khai</th>
          <th >Vận đơn</th>
          <th >Số Booking</th>
          <th >Số Invoice</th>
          <th>Loại hình</th>
          <th>Lượng hàng (Kg)</th>
          <th>Số khối (cbm)</th>
          <th>Kiện hàng</th>
          </tr>
          <tr>
            <th></th>
            <th><input class="form-control" #rmakhSearchInput [(ngModel)]="makhSearch" (input)="filter()" type="text" name="makhSearch"/></th>
            <th><input class="form-control" #tenkhSearchInput [(ngModel)]="tenkhSearch" (input)="filter()" type="text" name="tenkhSearch"/></th>
            <th><input class="form-control" #jobidSearchInput [(ngModel)]="jobidSearch" (input)="filter()" type="text" name="jobidSearch"/></th>
            <th><input class="form-control" #ngaytaoSearchInput [(ngModel)]="ngaytaoSearch" (input)="filter()" type="text" name="ngaytaoSearch"/></th>
            <th><input class="form-control" #tokhaiSearchInput [(ngModel)]="tokhaiSearch" (input)="filter()" type="text" name="tokhaiSearch"/></th>
            <th><input class="form-control" #ngaytkSearchInput [(ngModel)]="ngaytkSearch" (input)="filter()" type="text" name="ngaytkSearch"/></th>
            <th><input class="form-control" #vandonSearchInput [(ngModel)]="vandonSearch" (input)="filter()" type="text" name="vandonSearch"/></th>
            <th><input class="form-control" #bookingNoSearchInput [(ngModel)]="bookingNoSearch" (input)="filter()" type="text" name="bookingNoSearch"/></th>
            <th><input class="form-control" #invoiceNoSearchInput [(ngModel)]="invoiceNoSearch" (input)="filter()" type="text" name="invoiceNoSearch"/></th>
            <th><input class="form-control" #loaihinhSearchInput [(ngModel)]="loaihinhSearch" (input)="filter()" type="text" name="loaihinhSearch"/></th>
            <th><input class="form-control" #luonghangSearchInput [(ngModel)]="luonghangSearch" (input)="filter()" type="text" name="luonghangSearch"/></th>
            <th><input class="form-control" #cbmSearchInput [(ngModel)]="cbmSearch" (input)="filter()" type="text" name="cbmSearch"/></th>
            <th><input class="form-control" #kienhangSearchInput [(ngModel)]="kienhangSearch" (input)="filter()" type="text" name="kienhangSearch"/></th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listFilter " (click)="clickRow(item)">
          <td class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
              <span class="helping-el"></span>
            </label>
          </td>
          <td class="column-name">{{item.customerCode}}</td>
          <td class="column-name">{{item.customerName}}</td>
          <td>
            <a [routerLink]="[]" (click)="showJob(item)">{{item.jobId}}</a>
          </td>
          <td>{{item.jobDate| date:'dd/MM/yyyy'}}</td>
          <td>{{item.cdsNumber}}</td>
          <td>{{item.ngayToKhai| date:'dd/MM/yyyy'}}</td>
          <td>{{item.hawB_HBL}}</td>
          <td>{{item.bookingNo}}</td>
          <td>{{item.invoiceNo}}</td>
          <td>{{item.loaiHinh}}</td>
          <td>{{item.gw}}</td>
          <td>{{item.cbm}}</td>
          <td>{{item.package}}</td>
        </tr>
        <tr *ngIf="listFilter?.length == 0">
          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer no-padding">
    <div *ngIf="listData?.length > 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-5">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ listData?.length  }}</span>
          </div>
        </div>
        <!-- <div class="col-md-7 text-right">
          <div class="page">
            <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
              (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>
<modal-shipment *ngIf="viewModal" (CloseModal)="closeModal()">
</modal-shipment>
<!-- <div [ngBusy]="busy"></div> -->
