USE [DELTASOFT]
GO
/****** Object:  Table [dbo].[DispatchOrderFCL]    Script Date: 5/14/2026 5:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DispatchOrderFCL](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RefNo] [nvarchar](50) NOT NULL,
	[BranchId] [int] NULL,
	[ShippingUnitId] [nvarchar](20) NULL,
	[ShippingUnitCode] [nvarchar](20) NULL,
	[ShippingUnitName] [nvarchar](255) NULL,
	[IsSubcontractors] [bit] NOT NULL,
	[VehicleId] [int] NULL,
	[VehiclelLicensePlates] [nvarchar](50) NULL,
	[VehicleType] [nvarchar](50) NULL,
	[VehicleTypeCharge] [int] NULL,
	[MoocId] [int] NULL,
	[MoocLicensePlates] [nvarchar](50) NULL,
	[DriverId] [int] NULL,
	[DriverName] [nvarchar](100) NULL,
	[DriverTel] [nvarchar](50) NULL,
	[SecondDriverId] [int] NULL,
	[SecondDriverName] [nvarchar](255) NULL,
	[SecondDriverTel] [nvarchar](50) NULL,
	[FuelDriverId] [int] NULL,
	[Weight] [numeric](18, 2) NULL,
	[Volume] [numeric](18, 2) NULL,
	[OilCompensation] [numeric](10, 2) NULL,
	[ReasonOilCompensation] [nvarchar](500) NULL,
	[IsExport] [bit] NULL,
	[ContType] [nvarchar](50) NULL,
	[ReferCode] [nvarchar](255) NULL,
	[FullRoute] [nvarchar](max) NULL,
	[OilPrice] [numeric](10, 2) NULL,
	[SubcontractorsQuoteCode] [nvarchar](50) NULL,
	[SubcontractorsQuoteRouteCode] [nvarchar](50) NULL,
	[SubcontractorsPurchaseCost] [int] NULL,
	[SubcontractorsPurchaseVat] [int] NULL,
	[DispatchSummarize] [nvarchar](max) NULL,
	[InquiryTimeToTheFactory] [datetime] NULL,
	[InquiryTimeToThePorts] [datetime] NULL,
	[ContactInformation] [nvarchar](255) NULL,
	[Note] [nvarchar](max) NULL,
	[StartVehicleOdor] [numeric](18, 2) NULL,
	[StartEupOdor] [numeric](18, 2) NULL,
	[FinishVehicleOdor] [numeric](18, 2) NULL,
	[FinishEupOdor] [numeric](18, 2) NULL,
	[GradeSubcontractors] [int] NULL,
	[EvaluationSubcontractors] [nvarchar](255) NULL,
	[GradeDriver] [int] NULL,
	[EvaluationDriver] [nvarchar](255) NULL,
	[StartedDate] [datetime] NULL,
	[Finished] [bit] NULL,
	[NoteFinished] [nvarchar](255) NULL,
	[FinishedDate] [datetime] NULL,
	[Status] [int] NULL,
	[IsDeny] [bit] NULL,
	[Feedback] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ClosingBy] [uniqueidentifier] NULL,
	[ClosingDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedDate] [datetime] NULL,
	[Deleted] [bit] NULL,
	[IsFuelApproval] [bit] NULL,
	[IsRePaymentEtc] [bit] NULL,
	[IsEmployeeDebitClosing] [bit] NULL,
	[ShippingTaskId] [int] NULL,
	[Chang1IdLuotDi] [int] NULL,
	[Chang1KmLuotDi] [int] NULL,
	[Chang2IdLuotDi] [int] NULL,
	[Chang2KmLuotDi] [int] NULL,
	[LuotdiQuabai] [bit] NULL,
	[DieuchinhKmLuotDi] [int] NULL,
	[LydoDieuchinhLuotdi] [nvarchar](2000) NULL,
	[LuonghangIdLuotDi] [int] NULL,
	[DinhmucDauLuotDi] [decimal](10, 2) NULL,
	[TongdauLuotDi] [decimal](10, 2) NULL,
	[Chang1IdLuotVe] [int] NULL,
	[Chang1KmLuotVe] [int] NULL,
	[Chang2IdLuotVe] [int] NULL,
	[Chang2KmLuotVe] [int] NULL,
	[LuotveQuabai] [bit] NULL,
	[DieuchinhKmLuotVe] [int] NULL,
	[LydoDieuchinhLuotVe] [nvarchar](2000) NULL,
	[LuonghangIdLuotVe] [int] NULL,
	[DinhmucDauLuotVe] [decimal](10, 2) NULL,
	[TongdauLuotVe] [decimal](10, 2) NULL,
	[LuonghangTrungchuyenCang] [int] NULL,
	[Cang1Id] [int] NULL,
	[Cang2Id] [int] NULL,
	[DieuchinhKmTrungchuyenCang] [int] NULL,
	[LydoDieuchinhKmTrungchuyenCang] [nvarchar](500) NULL,
	[KmTrungchuyenCang] [int] NULL,
	[DinhmucDauTrungchuyenCang] [decimal](10, 2) NULL,
	[TongdauTrungchuyenCang] [decimal](10, 2) NULL,
	[LuonghangTrungchuyenNhamay] [int] NULL,
	[Nhamay1] [int] NULL,
	[Nhamay2] [int] NULL,
	[KmTrungchuyenNhamay] [int] NULL,
	[DinhmucDauTrungchuyenNhamay] [decimal](10, 2) NULL,
	[TongdauTrungchuyenNhamay] [decimal](10, 2) NULL,
	[GhichuTrungchuyenNhamay] [nvarchar](2000) NULL,
	[Tongdau] [decimal](10, 2) NULL,
	[Chiphidau] [int] NULL,
	[IsSummarized] [bit] NULL,
	[AccountingDate] [datetime] NULL,
	[LuonghangTrungchuyenCangVe] [int] NULL,
	[Cang1IdVe] [int] NULL,
	[Cang2IdVe] [int] NULL,
	[DieuchinhKmTrungchuyenCangVe] [int] NULL,
	[LydoDieuchinhKmTrungchuyenCangVe] [nvarchar](1000) NULL,
	[KmTrungchuyenCangVe] [int] NULL,
	[DinhmucDauTrungchuyenCangVe] [decimal](10, 2) NULL,
	[TongdauTrungchuyenCangVe] [decimal](10, 2) NULL,
	[LuonghangTrungchuyenNhamayVe] [int] NULL,
	[Nhamay1Ve] [int] NULL,
	[Nhamay2Ve] [int] NULL,
	[KmTrungchuyenNhamayVe] [int] NULL,
	[DinhmucDauTrungchuyenNhamayVe] [decimal](10, 2) NULL,
	[TongdauTrungchuyenNhamayVe] [decimal](10, 2) NULL,
	[GhichuTrungchuyenNhamayVe] [nvarchar](2000) NULL,
	[ShortWay] [bit] NULL,
	[Type] [int] NULL,
	[IsPaymented] [bit] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DispatchOrderFclDetailed]    Script Date: 5/14/2026 5:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DispatchOrderFclDetailed](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RefNo] [nvarchar](50) NOT NULL,
	[ShippingTaskId] [int] NOT NULL,
 CONSTRAINT [PK_DispatchOrderFclDetailed] PRIMARY KEY CLUSTERED 
(
	[RefNo] ASC,
	[ShippingTaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DispatchOrderFCLEtc]    Script Date: 5/14/2026 5:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DispatchOrderFCLEtc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RefNo] [varchar](50) NOT NULL,
	[TollStationId] [varchar](50) NOT NULL,
	[FeeId] [int] NULL,
	[FeeCode] [varchar](30) NULL,
	[FeeName] [nvarchar](255) NULL,
	[Cost] [numeric](18, 2) NULL,
	[Vat] [numeric](18, 2) NULL,
	[TotalCost] [numeric](18, 2) NULL,
	[IsPassed] [bit] NULL,
	[Note] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DispatchOrderFCLFee]    Script Date: 5/14/2026 5:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DispatchOrderFCLFee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RefNo] [nvarchar](50) NOT NULL,
	[FeeId] [int] NULL,
	[ContentsId] [int] NULL,
	[Contents] [nvarchar](500) NULL,
	[Quantity] [numeric](18, 2) NULL,
	[Cost] [numeric](18, 2) NULL,
	[Vat] [numeric](18, 2) NULL,
	[TotalCost] [numeric](18, 2) NULL,
	[Note] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DispatchOrderFCLHistory]    Script Date: 5/14/2026 5:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DispatchOrderFCLHistory](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RefNo] [nvarchar](50) NOT NULL,
	[Step] [nvarchar](255) NULL,
	[UserId] [uniqueidentifier] NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DispatchOrderFCL] ADD  CONSTRAINT [DF_DispatchOrderFCL_IsDeny]  DEFAULT ((0)) FOR [IsDeny]
GO
ALTER TABLE [dbo].[DispatchOrderFCL] ADD  CONSTRAINT [DF_DispatchOrderFCL_LuotdiQuabai]  DEFAULT ((0)) FOR [LuotdiQuabai]
GO
ALTER TABLE [dbo].[DispatchOrderFCL] ADD  CONSTRAINT [DF_DispatchOrderFCL_LuotveQuabai]  DEFAULT ((0)) FOR [LuotveQuabai]
GO
ALTER TABLE [dbo].[DispatchOrderFCL] ADD  CONSTRAINT [DF_DispatchOrderFCL_ShortWay]  DEFAULT ((0)) FOR [ShortWay]
GO
ALTER TABLE [dbo].[DispatchOrderFCL] ADD  CONSTRAINT [DF_DispatchOrderFCL_Type]  DEFAULT ((0)) FOR [Type]
GO
ALTER TABLE [dbo].[DispatchOrderFCL] ADD  CONSTRAINT [DF_DispatchOrderFCL_IsPaymented]  DEFAULT ((0)) FOR [IsPaymented]
GO
ALTER TABLE [dbo].[DispatchOrderFCLEtc] ADD  CONSTRAINT [DF_DispatchOrderFCLEtc_IsPassing]  DEFAULT ((0)) FOR [IsPassed]
GO
/****** Object:  StoredProcedure [dbo].[SP_DispatchOrderFCL_Chotdau]    Script Date: 5/14/2026 5:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--  SP_DispatchOrderFCL_Chotdau 'FCL-20250308154702530', '419F888E-59B4-4C79-8D49-E2ACD3597525'
CREATE PROCEDURE [dbo].[SP_DispatchOrderFCL_Chotdau]
    @RefNo VARCHAR(50),
    @UserId uniqueidentifier
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
	DECLARE @CurrentStatus INT;
	DECLARE @Step NVARCHAR(255);
    BEGIN TRANSACTION;
    BEGIN TRY
		 DECLARE @Fuel numeric(18,2),@DriverId INT, @FuelDuNo numeric(18,2),@BranchId INT,@Tongdau numeric(18,2)
		 SET @DriverId=(SELECT ISNULL(FuelDriverId,DriverId) FROM DispatchOrderFCL WHERE refNo=@RefNo)
		 SET @BranchId=(SELECT BranchId FROM DispatchOrderFCL WHERE refNo=@RefNo )
		 --Cập nhật người duyệt
		 UPDATE DispatchOrderFCL SET ClosingBy=@UserId,ClosingDate=GETDATE() WHERE RefNo=@RefNo
		 --1. Ghi nhận có dầu cho lái xe
			SET @Fuel=(SELECT SUM(Quantity) FROM DispatchOrderFCLFee WHERE RefNo=@RefNo AND FeeId=666)
			SET @Tongdau=(SELECT Tongdau + isnull(@Fuel,0) FROM DispatchOrderFCL WHERe RefNo=@RefNo)
			--Tim du no dầu hien tai cua nhan vien
					SELECT @FuelDuNo =DebitBalance
					FROM dbo.DriverFuelDebit
					WHERE Id =
					(
						SELECT MAX(Id) FROM dbo.DriverFuelDebit WHERE DriverId = @DriverId
					);
					--Nếu dầu >0 và lệnh chưa có chốt dầu
					IF @Tongdau>0 AND NOT EXISTS (SELECT  * FROM DriverFuelDebit WHERE DriverId=@DriverId AND RefNo=@RefNo AND Type='CHOT_LENH_FCL')
					INSERT INTO dbo.DriverFuelDebit
					(
						BranchId,
						DriverId,
						Debit,
						Credit,
						DebitBalance,
						UpdatedDate,
						RefNo,
						Notes,
						[UpdatedBy],
						[Type]
					)
					VALUES
					(   @BranchId,   -- BranchId - int
						@DriverId, -- EmployeeId - int
						0.0,        -- Debit - float
						@Tongdau,         -- Credit - float
						ISNULL(@FuelDuNo,0)-@Tongdau,       -- DebitBalance - float
						GETDATE(),   -- UpdatedDate - datetime
						@RefNo,      -- RefNo - nvarchar(128)
						N'Chốt lệnh FCL',
						@UserId,      -- Notes - nvarchar(256)
						'CHOT_LENH_FCL'
						);
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), 
               @ErrorSeverity = ERROR_SEVERITY(), 
               @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DispatchOrderFCL_Create]    Script Date: 5/14/2026 5:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DispatchOrderFCL_Create]
    @BranchId INT = NULL,
    @ShippingUnitId NVARCHAR(20) = NULL,
    @ShippingUnitCode NVARCHAR(20) = NULL,
    @ShippingUnitName NVARCHAR(255) = NULL,
	@ReferCode nvarchar(255)= NULL,
    @IsSubcontractors BIT = NULL,
    @VehicleId INT = NULL,
    @VehiclelLicensePlates NVARCHAR(50) = NULL,
    @VehicleType NVARCHAR(50) = NULL,
    @VehicleTypeCharge INT = NULL,
    @MoocId INT = NULL,
    @MoocLicensePlates NVARCHAR(50) = NULL,
    @DriverId INT = NULL,
    @DriverName NVARCHAR(100) = NULL,
    @DriverTel NVARCHAR(50) = NULL,
    @SecondDriverId INT = NULL,
    @SecondDriverName NVARCHAR(255) = NULL,
    @SecondDriverTel NVARCHAR(50) = NULL,
    @FuelDriverId INT = NULL,
    @Weight NUMERIC(18, 2) = NULL,
    @Volume NUMERIC(18, 2) = NULL,
    @IsExport BIT = NULL,
    @ContType NVARCHAR(50) = NULL,
    @FullRoute NVARCHAR(MAX) = NULL,
    @OilPrice NUMERIC(10, 2) = NULL,
	@OilCompensation NUMERIC (10,2) = 0,
	@ReasonOilCompensation nvarchar(500) = NULL,
    @SubcontractorsQuoteCode NVARCHAR(50) = NULL,
    @SubcontractorsQuoteRouteCode NVARCHAR(50) = NULL,
	@SubcontractorsPurchaseCost int = NULL,
	@SubcontractorsPurchaseVat INT = NULL,
    @DispatchSummarize NVARCHAR(MAX) = NULL,
    @InquiryTimeToTheFactory DATETIME = NULL,
    @InquiryTimeToThePorts DATETIME = NULL,
    @ContactInformation NVARCHAR(255) = NULL,
    @Note NVARCHAR(MAX) = NULL,
    @CreatedBy UNIQUEIDENTIFIER,
    @ShippingTaskId INT = NULL,
    @Chang1IdLuotDi INT = NULL,
    @Chang1KmLuotDi INT = NULL,
    @Chang2IdLuotDi INT = NULL,
    @Chang2KmLuotDi INT = NULL,
    @DieuchinhKmLuotDi INT = NULL,
    @LydoDieuchinhLuotdi NVARCHAR(2000) = NULL,
    @LuonghangIdLuotDi INT = NULL,
    @DinhmucDauLuotDi DECIMAL(10, 2) = NULL,
    @TongdauLuotDi DECIMAL(10, 2) = NULL,
    @Chang1IdLuotVe INT = NULL,
    @Chang1KmLuotVe INT = NULL,
    @Chang2IdLuotVe INT = NULL,
    @Chang2KmLuotVe INT = NULL,
    @DieuchinhKmLuotVe INT = NULL,
    @LydoDieuchinhLuotVe NVARCHAR(2000) = NULL,
    @LuonghangIdLuotVe INT = NULL,
    @DinhmucDauLuotVe DECIMAL(10, 2) = NULL,
    @TongdauLuotVe DECIMAL(10, 2) = NULL,
	@LuonghangTrungchuyenCang int = NULL,
    @Cang1Id int = NULL,
    @Cang2Id int = NULL,
    @KmTrungchuyenCang int = NULL,
    @DinhmucDauTrungchuyenCang decimal(10,2) = NULL,
    @TongdauTrungchuyenCang decimal(10,2) = NULL,
	@DieuchinhKmTrungchuyenCang int = NULL,
	@LydoDieuchinhKmTrungchuyenCang nvarchar(1000) = NULL,
    @LuonghangTrungchuyenNhamay int = NULL,
    @Nhamay1 int = NULL,
    @Nhamay2 int = NULL,
    @KmTrungchuyenNhamay int = NULL,
    @DinhmucDauTrungchuyenNhamay decimal(10,2) = NULL,
    @TongdauTrungchuyenNhamay decimal(10,2) = NULL,
    @GhichuTrungchuyenNhamay nvarchar(2000) = NULL,
	@LuonghangTrungchuyenCangVe int = NULL,
    @Cang1IdVe int = NULL,
    @Cang2IdVe int = NULL,
    @KmTrungchuyenCangVe int = NULL,
    @DinhmucDauTrungchuyenCangVe decimal(10,2) = NULL,
    @TongdauTrungchuyenCangVe decimal(10,2) = NULL,
	@DieuchinhKmTrungchuyenCangVe int = NULL,
	@LydoDieuchinhKmTrungchuyenCangVe nvarchar(1000) = NULL,
    @LuonghangTrungchuyenNhamayVe int = NULL,
    @Nhamay1Ve int = NULL,
    @Nhamay2Ve int = NULL,
    @KmTrungchuyenNhamayVe int = NULL,
    @DinhmucDauTrungchuyenNhamayVe decimal(10,2) = NULL,
    @TongdauTrungchuyenNhamayVe decimal(10,2) = NULL,
    @GhichuTrungchuyenNhamayVe nvarchar(2000) = NULL,
	@ShortWay bit = 0,
	@LuotdiQuabai bit =0,
	@LuotveQuabai bit = 0,
	@ListEtc TypeDispatchOrderFCLEtc READONLY,
	@ListDetailed TypeDispatchOrderFclDetailed READONLY,
	@ListFee TypeDispatchOrderFCLFee READONLY
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRAN;
    BEGIN TRY

		IF EXISTS (
			SELECT 1
			FROM DispatchOrderFCL fcl
			INNER JOIN DispatchOrderFclDetailed det ON fcl.RefNo = det.RefNo
			WHERE fcl.Deleted = 0
			AND det.ShippingTaskId IN (SELECT ShippingTaskId FROM @ListDetailed))
			BEGIN
				RAISERROR(N'Một hoặc nhiều ShippingTaskId đã được gán vào lệnh FCL chưa bị xóa.', 16, 1)
				RETURN
			END
		----------------------------------------------------------------------------------------------
		DECLARE @RefNo NVARCHAR(50),
        @cn NVARCHAR(10),
        @yyMM NVARCHAR(10) = FORMAT(GETDATE(), 'yyMMdd'),
        @prefix NVARCHAR(20),
        @nextNumber INT;

		-- Lấy mã chi nhánh theo BranchId
		SELECT @cn = BranchCode FROM Branch WHERE Id = @BranchId;

		-- Tạo tiền tố RefNo
		SET @prefix = 'FCL-' + @cn + @yyMM + '/';

		-- Tìm số lớn nhất trong tháng của chi nhánh này
		SELECT @nextNumber = ISNULL(
			MAX(CAST(RIGHT(RefNo, 4) AS INT)), 0
		) + 1
		FROM dbo.DispatchOrderFCL
		WHERE RefNo LIKE @prefix + '%';

		-- Ghép số RefNo cuối cùng
		SET @RefNo = @prefix + RIGHT('0000' + CAST(@nextNumber AS VARCHAR), 4);

		INSERT INTO [dbo].[DispatchOrderFCL] (
			[RefNo],
			[BranchId],
			[ShippingUnitId],
			[ShippingUnitCode],
			[ShippingUnitName],
			ReferCode,
			OilCompensation,
			ReasonOilCompensation,
			[IsSubcontractors],
			[VehicleId],
			[VehiclelLicensePlates],
			[VehicleType],
			[VehicleTypeCharge],
			[MoocId],
			[MoocLicensePlates],
			[DriverId],
			[DriverName],
			[DriverTel],
			[SecondDriverId],
			[SecondDriverName],
			[SecondDriverTel],
			[FuelDriverId],
			[Weight],
			[Volume],
			[IsExport],
			[ContType],
			[FullRoute],
			[OilPrice],
			[SubcontractorsQuoteCode],
			[SubcontractorsQuoteRouteCode],
			SubcontractorsPurchaseCost,
			SubcontractorsPurchaseVat,
			[DispatchSummarize],
			[InquiryTimeToTheFactory],
			[InquiryTimeToThePorts],
			[ContactInformation],
			[Note],
			[Status],
			[CreatedDate],
			[CreatedBy],
			[Deleted],
			[IsFuelApproval],
			[IsRePaymentEtc],
			[IsEmployeeDebitClosing],
			[ShippingTaskId],
			[Chang1IdLuotDi],
			[Chang1KmLuotDi],
			[Chang2IdLuotDi],
			[Chang2KmLuotDi],
			[DieuchinhKmLuotDi],
			[LydoDieuchinhLuotdi],
			[LuonghangIdLuotDi],
			[DinhmucDauLuotDi],
			[TongdauLuotDi],
			[Chang1IdLuotVe],
			[Chang1KmLuotVe],
			[Chang2IdLuotVe],
			[Chang2KmLuotVe],
			[DieuchinhKmLuotVe],
			[LydoDieuchinhLuotVe],
			[LuonghangIdLuotVe],
			[DinhmucDauLuotVe],
			[TongdauLuotVe],
			[LuonghangTrungchuyenCang],
			[Cang1Id],
			[Cang2Id],
			[KmTrungchuyenCang],
			[DinhmucDauTrungchuyenCang],
			[TongdauTrungchuyenCang],
			[DieuchinhKmTrungchuyenCang],
			[LydoDieuchinhKmTrungchuyenCang],
			[LuonghangTrungchuyenNhamay],
			[Nhamay1],
			[Nhamay2],
			[KmTrungchuyenNhamay],
			[DinhmucDauTrungchuyenNhamay],
			[TongdauTrungchuyenNhamay],
			[GhichuTrungchuyenNhamay],
			[LuonghangTrungchuyenCangVe],
			[Cang1IdVe],
			[Cang2IdVe],
			[KmTrungchuyenCangVe],
			[DinhmucDauTrungchuyenCangVe],
			[TongdauTrungchuyenCangVe],
			[DieuchinhKmTrungchuyenCangVe],
			[LydoDieuchinhKmTrungchuyenCangVe],
			[LuonghangTrungchuyenNhamayVe],
			[Nhamay1Ve],
			[Nhamay2Ve],
			[KmTrungchuyenNhamayVe],
			[DinhmucDauTrungchuyenNhamayVe],
			[TongdauTrungchuyenNhamayVe],
			[GhichuTrungchuyenNhamayVe],
			[IsSummarized],
			[AccountingDate],Tongdau,Chiphidau,ShortWay,LuotdiQuabai,LuotveQuabai
		)
		VALUES (
			@RefNo,
			@BranchId,
			@ShippingUnitId,
			@ShippingUnitCode,
			@ShippingUnitName,
			@ReferCode,
			@OilCompensation,
			@ReasonOilCompensation,
			@IsSubcontractors,
			@VehicleId,
			@VehiclelLicensePlates,
			@VehicleType,
			@VehicleTypeCharge,
			@MoocId,
			@MoocLicensePlates,
			@DriverId,
			@DriverName,
			@DriverTel,
			@SecondDriverId,
			@SecondDriverName,
			@SecondDriverTel,
			@FuelDriverId,
			@Weight,
			@Volume,
			@IsExport,
			@ContType,
			@FullRoute,
			@OilPrice,
			@SubcontractorsQuoteCode,
			@SubcontractorsQuoteRouteCode,
			@SubcontractorsPurchaseCost,
			@SubcontractorsPurchaseVat,
			@DispatchSummarize,
			@InquiryTimeToTheFactory,
			@InquiryTimeToThePorts,
			@ContactInformation,
			@Note,
			0,
			GETDATE(),
			@CreatedBy,
			0,
			0,
			0,
			0,
			@ShippingTaskId,
			@Chang1IdLuotDi,
			@Chang1KmLuotDi,
			@Chang2IdLuotDi,
			@Chang2KmLuotDi,
			@DieuchinhKmLuotDi,
			@LydoDieuchinhLuotdi,
			@LuonghangIdLuotDi,
			@DinhmucDauLuotDi,
			@TongdauLuotDi,
			@Chang1IdLuotVe,
			@Chang1KmLuotVe,
			@Chang2IdLuotVe,
			@Chang2KmLuotVe,
			@DieuchinhKmLuotVe,
			@LydoDieuchinhLuotVe,
			@LuonghangIdLuotVe,
			@DinhmucDauLuotVe,
			@TongdauLuotVe,
			@LuonghangTrungchuyenCang,
			@Cang1Id,
			@Cang2Id,
			@KmTrungchuyenCang,
			@DinhmucDauTrungchuyenCang,
			@TongdauTrungchuyenCang,
			@DieuchinhKmTrungchuyenCang,
			@LydoDieuchinhKmTrungchuyenCang,
			@LuonghangTrungchuyenNhamay,
			@Nhamay1,
			@Nhamay2,
			@KmTrungchuyenNhamay,
			@DinhmucDauTrungchuyenNhamay,
			@TongdauTrungchuyenNhamay,
			@GhichuTrungchuyenNhamay,
			@LuonghangTrungchuyenCangVe,
			@Cang1IdVe,
			@Cang2IdVe,
			@KmTrungchuyenCangVe,
			@DinhmucDauTrungchuyenCangVe,
			@TongdauTrungchuyenCangVe,
			@DieuchinhKmTrungchuyenCangVe,
			@LydoDieuchinhKmTrungchuyenCangVe,
			@LuonghangTrungchuyenNhamayVe,
			@Nhamay1Ve,
			@Nhamay2Ve,
			@KmTrungchuyenNhamayVe,
			@DinhmucDauTrungchuyenNhamayVe,
			@TongdauTrungchuyenNhamayVe,
			@GhichuTrungchuyenNhamayVe,
			0,
			GETDATE(), --Tong dau
				ISNULL(@TongdauLuotDi, 0) + ISNULL(@OilCompensation,0)+
				ISNULL(@TongdauLuotVe, 0) + 
				ISNULL(@TongdauTrungchuyenCang, 0) + 
				ISNULL(@TongdauTrungchuyenNhamay, 0) + 
				ISNULL(@TongdauTrungchuyenCangVe, 0) + 
				ISNULL(@TongdauTrungchuyenNhamayVe, 0)
			,
			ROUND(
				(ISNULL(@TongdauLuotDi, 0) + ISNULL(@OilCompensation,0)+
					ISNULL(@TongdauLuotVe, 0) + 
					ISNULL(@TongdauTrungchuyenCang, 0) + 
					ISNULL(@TongdauTrungchuyenNhamay, 0) + 
					ISNULL(@TongdauTrungchuyenCangVe, 0) + 
					ISNULL(@TongdauTrungchuyenNhamayVe, 0)
				) * ISNULL(@oilPrice, 0), 0),@ShortWay,@LuotdiQuabai,@LuotveQuabai
		);
		--Thêm vé ETC
		INSERT INTO DispatchOrderFCLEtc (RefNo,TollStationId,FeeId,FeeCode,FeeName,Cost,Vat,TotalCost,Note)
		SELECT @RefNo,TollStationId,FeeId,'','',Cost,Vat,TotalCost,Note FROM @ListEtc
		--Thêm công việc
		INSERT INTO DispatchOrderFclDetailed (RefNo,ShippingTaskId)
		SELECT @RefNo,ShippingTaskId FROM @ListDetailed
		--Thêm chi phí
		INSERT INTO DispatchOrderFCLFee (RefNo, FeeId, Quantity, Cost, Vat, TotalCost, Note)
		SELECT @RefNo, FeeId, Quantity, Cost, Vat, TotalCost, Note
		FROM @ListFee;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_DispatchOrderFCL_Delete]    Script Date: 5/14/2026 5:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DispatchOrderFCL_Delete]
    @RefNo nvarchar(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE [dbo].[DispatchOrderFCL]
        SET
            Deleted=1
        WHERE RefNo = @RefNo
		
    END TRY
    BEGIN CATCH
        ROLLBACK;
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DispatchOrderFCL_DriverUpdate]    Script Date: 5/14/2026 5:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SP_DispatchOrder_UpdateOdor 'FCL-20250502153209750',125,190
CREATE PROCEDURE [dbo].[SP_DispatchOrderFCL_DriverUpdate]
	 @RefNo nvarchar(50) 
	,@StartVehicleOdor int=NULL
    ,@FinishVehicleOdor int=NULL
	,@Notes nvarchar(2000)
	,@Finished bit = 0
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    BEGIN TRAN;
    BEGIN TRY
		UPDATE [dbo].[DispatchOrderFCL]
		   SET 
			  StartVehicleOdor = @StartVehicleOdor 
			  ,FinishVehicleOdor = @FinishVehicleOdor 
			  ,NoteFinished=@Notes
			  ,Finished=@Finished
		 WHERE RefNo=@RefNo
		COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        DECLARE @ErrorMessage VARCHAR(2000);
        SELECT @ErrorMessage = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage,16,1);
    END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DispatchOrderFCL_GetAll]    Script Date: 5/14/2026 5:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DispatchOrderFCL_GetAll]
    @BranchId INT = NULL,
    @FromDate varchar(10),
    @ToDate varchar(10),
    @UserId UNIQUEIDENTIFIER = NULL,
    @DriverId INT = NULL,
    @Keyword NVARCHAR(128) = NULL
WITH RECOMPILE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @FromD date = TRY_CONVERT(date, @FromDate, 112);
    DECLARE @ToD   date = TRY_CONVERT(date, @ToDate, 112);

    IF (@FromD IS NULL OR @ToD IS NULL)
    BEGIN
        RAISERROR(N'FromDate/ToDate phải theo định dạng yyyymmdd (style 112).', 16, 1);
        RETURN;
    END

    DECLARE @Kw NVARCHAR(128) = NULL;
    IF (@Keyword IS NOT NULL)
    BEGIN
        SET @Kw = LTRIM(RTRIM(@Keyword));
        IF (@Kw = N'') SET @Kw = NULL;
    END

    --------------------------------------------------------------------
    -- 1) LỌC DispatchOrderFCL trước (tập nhỏ) => #M
    --------------------------------------------------------------------
    IF OBJECT_ID('tempdb..#M') IS NOT NULL DROP TABLE #M;

    SELECT m.*
    INTO #M
    FROM dbo.DispatchOrderFCL m
    WHERE m.Deleted = 0
      AND m.CreatedDate >= @FromD
      AND m.CreatedDate <  DATEADD(day, 1, @ToD)
      AND (@DriverId IS NULL OR @DriverId = 0 OR m.DriverId = @DriverId)
      AND (@BranchId IS NULL OR @BranchId = 0 OR m.BranchId = @BranchId);

    -- Index tạm để join/lookup nhanh
    CREATE INDEX IX__M_RefNo ON #M(RefNo);
    CREATE INDEX IX__M_IdDesc ON #M(Id DESC);

    --------------------------------------------------------------------
    -- 2) Lấy detail theo tập RefNo trong #M => #D
    --------------------------------------------------------------------
    IF OBJECT_ID('tempdb..#D') IS NOT NULL DROP TABLE #D;

    SELECT dfd.RefNo,
           st.ContainerNumber,
           st.PickupLocation,
           st.DeliveryLocation
    INTO #D
    FROM dbo.DispatchOrderFclDetailed dfd
    INNER JOIN dbo.ShippingTask st ON st.Id = dfd.ShippingTaskId
    INNER JOIN (SELECT DISTINCT RefNo FROM #M) r ON r.RefNo = dfd.RefNo;

    CREATE INDEX IX__D_RefNo ON #D(RefNo);

    --------------------------------------------------------------------
    -- 3) Aggregate container + locations => #Agg
    --------------------------------------------------------------------
    IF OBJECT_ID('tempdb..#Agg') IS NOT NULL DROP TABLE #Agg;

    SELECT r.RefNo,
        ContainerNumbers =
            ISNULL(
                STUFF((
                    SELECT DISTINCT CHAR(13)+CHAR(10) + d2.ContainerNumber
                    FROM #D d2
                    WHERE d2.RefNo = r.RefNo
                      AND d2.ContainerNumber IS NOT NULL AND d2.ContainerNumber <> N''
                    FOR XML PATH(''), TYPE
                ).value('.', 'nvarchar(max)'), 1, 2, N''), N''),
        Locations =
            ISNULL(
                STUFF((
                    SELECT DISTINCT CHAR(13)+CHAR(10) + N'*- ' + x.Location
                    FROM
                    (
                        SELECT PickupLocation  AS Location FROM #D d3 WHERE d3.RefNo = r.RefNo
                        UNION
                        SELECT DeliveryLocation AS Location FROM #D d4 WHERE d4.RefNo = r.RefNo
                    ) x
                    WHERE x.Location IS NOT NULL AND x.Location <> N''
                    FOR XML PATH(''), TYPE
                ).value('.', 'nvarchar(max)'), 1, 2, N''), N'')
    INTO #Agg
    FROM (SELECT DISTINCT RefNo FROM #M) r;

    CREATE INDEX IX__Agg_RefNo ON #Agg(RefNo);

    --------------------------------------------------------------------
    -- 4) Query chung (JOIN các bảng liên quan)
    --------------------------------------------------------------------
    -- NHÁNH 1: không keyword => tránh OR/LIKE/EXISTS
    IF (@Kw IS NULL)
    BEGIN
        SELECT
            m.Id, m.RefNo, m.BranchId, m.ShippingUnitId,
            k.SupplierCode AS ShippingUnitCode,
            k.SupplierName AS ShippingUnitName,
            m.IsSubcontractors,
            m.VehicleId, m.VehiclelLicensePlates, m.VehicleType, m.VehicleTypeCharge,
            m.MoocId, m.MoocLicensePlates,
            m.DriverId, m.DriverName, m.DriverTel,
            m.SecondDriverId, m.SecondDriverName, m.SecondDriverTel,
            m.FuelDriverId,
            m.IsDeny, m.Feedback,
            m.Note, m.Status, m.CreatedDate, m.CreatedBy, m.Deleted,
            m.Tongdau, m.Chiphidau, m.IsSummarized,
            ISNULL(m.Chang1KmLuotDi,0) + ISNULL(m.Chang1KmLuotVe,0)+ ISNULL(m.Chang2KmLuotDi,0) + ISNULL(m.Chang2KmLuotVe,0) +
            ISNULL(m.DieuchinhKmLuotDi,0) + ISNULL(m.DieuchinhKmLuotVe,0) +
            ISNULL(m.KmTrungchuyenCang,0)+ ISNULL(m.KmTrungchuyenCangVe,0) + ISNULL(m.DieuchinhKmTrungchuyencang,0)+ ISNULL(m.DieuchinhKmTrungchuyenCangVe,0)+
            ISNULL(m.KmTrungchuyenNhamay,0) + ISNULL(m.KmTrungchuyenNhamayVe,0) AS TongKm,
            m.AccountingDate,
            b.BranchCode,
            o.EmployeeFullName as CreatedByName,
            x.TollRouteName AS subcontractorsQuoteCode,
            ISNULL(a.ContainerNumbers, N'') AS ContainerNumbers,
            ISNULL(a.Locations, N'') AS Locations,
            CASE
                WHEN m.IsDeny =1 AND m.Status=0 THEN N'Từ chối nhận lệnh'
                WHEN m.IsDeny =1 AND m.Status=2 THEN N'Từ chối B1'
                WHEN m.IsDeny =1 AND m.Status=3 THEN N'Từ chối B2'
                WHEN (m.IsDeny =0 AND m.status=0) THEN N'Khởi tạo'
                WHEN (m.IsDeny =0 AND m.status=1) THEN N'Gửi lệnh'
                WHEN (m.IsDeny =0 AND m.status=2) THEN N'Đã nhận'
                WHEN (m.IsDeny =0 AND m.status=3) THEN N'Duyệt B1'
                WHEN (m.IsDeny =0 AND m.status=4) THEN N'Duyệt B2'
                WHEN m.status=5 THEN N'Chờ chốt lệnh'
                WHEN m.status=6 THEN N'ĐÃ CHỐT'
            END AS rStatus
        FROM #M m
        INNER JOIN dbo.Branch b ON m.BranchId=b.Id
        INNER JOIN dbo.V_Users o on m.CreatedBy=o.Id
        LEFT JOIN dbo.Supplier k on m.ShippingUnitId=k.Id
        LEFT JOIN dbo.TollRoute x on m.SubcontractorsQuoteRouteCode=x.TollRouteCode
        LEFT JOIN #Agg a ON a.RefNo = m.RefNo
        ORDER BY m.Id DESC;

        RETURN;
    END

    -- NHÁNH 2: có keyword
    SELECT
        m.Id, m.RefNo, m.BranchId, m.ShippingUnitId,
        k.SupplierCode AS ShippingUnitCode,
        k.SupplierName AS ShippingUnitName,
        m.IsSubcontractors,
        m.VehicleId, m.VehiclelLicensePlates, m.VehicleType, m.VehicleTypeCharge,
        m.MoocId, m.MoocLicensePlates,
        m.DriverId, m.DriverName, m.DriverTel,
        m.SecondDriverId, m.SecondDriverName, m.SecondDriverTel,
        m.FuelDriverId,
        m.IsDeny, m.Feedback,
        m.Note, m.Status, m.CreatedDate, m.CreatedBy, m.Deleted,
        m.Tongdau, m.Chiphidau, m.IsSummarized,
        ISNULL(m.Chang1KmLuotDi,0) + ISNULL(m.Chang1KmLuotVe,0)+ ISNULL(m.Chang2KmLuotDi,0) + ISNULL(m.Chang2KmLuotVe,0) +
        ISNULL(m.DieuchinhKmLuotDi,0) + ISNULL(m.DieuchinhKmLuotVe,0) +
        ISNULL(m.KmTrungchuyenCang,0)+ ISNULL(m.KmTrungchuyenCangVe,0) + ISNULL(m.DieuchinhKmTrungchuyencang,0)+ ISNULL(m.DieuchinhKmTrungchuyenCangVe,0)+
        ISNULL(m.KmTrungchuyenNhamay,0) + ISNULL(m.KmTrungchuyenNhamayVe,0) AS TongKm,
        m.AccountingDate,
        b.BranchCode,
        o.EmployeeFullName as CreatedByName,
        x.TollRouteName AS subcontractorsQuoteCode,
        ISNULL(a.ContainerNumbers, N'') AS ContainerNumbers,
        ISNULL(a.Locations, N'') AS Locations,
        CASE
            WHEN m.IsDeny =1 AND m.Status=0 THEN N'Từ chối nhận lệnh'
            WHEN m.IsDeny =1 AND m.Status=2 THEN N'Từ chối B1'
            WHEN m.IsDeny =1 AND m.Status=3 THEN N'Từ chối B2'
            WHEN (m.IsDeny =0 AND m.status=0) THEN N'Khởi tạo'
            WHEN (m.IsDeny =0 AND m.status=1) THEN N'Gửi lệnh'
            WHEN (m.IsDeny =0 AND m.status=2) THEN N'Đã nhận'
            WHEN (m.IsDeny =0 AND m.status=3) THEN N'Duyệt B1'
            WHEN (m.IsDeny =0 AND m.status=4) THEN N'Duyệt B2'
            WHEN m.status=5 THEN N'Chờ chốt lệnh'
            WHEN m.status=6 THEN N'ĐÃ CHỐT'
        END AS rStatus
    FROM #M m
    INNER JOIN dbo.Branch b ON m.BranchId=b.Id
    INNER JOIN dbo.V_Users o on m.CreatedBy=o.Id
    LEFT JOIN dbo.Supplier k on m.ShippingUnitId=k.Id
    LEFT JOIN dbo.TollRoute x on m.SubcontractorsQuoteRouteCode=x.TollRouteCode
    LEFT JOIN #Agg a ON a.RefNo = m.RefNo
    WHERE
        m.RefNo LIKE N'%' + @Kw + N'%'
        OR m.DispatchSummarize LIKE N'%' + @Kw + N'%'
        OR o.EmployeeFullName LIKE N'%' + @Kw + N'%'
        OR m.VehiclelLicensePlates LIKE N'%' + @Kw + N'%'
        OR m.MoocLicensePlates LIKE N'%' + @Kw + N'%'
        OR m.fullRoute LIKE N'%' + @Kw + N'%'
        OR m.Note LIKE N'%' + @Kw + N'%'
        OR m.DriverName LIKE N'%' + @Kw + N'%'
        OR EXISTS (
            SELECT 1
            FROM #D d
            WHERE d.RefNo = m.RefNo
              AND d.ContainerNumber LIKE N'%' + @Kw + N'%'
        )
    ORDER BY m.Id DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DispatchOrderFCL_GetAll_Old]    Script Date: 5/14/2026 5:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_DispatchOrderFCL_GetAll 6,'20250105','20250130',NULL,NULL,NULL
CREATE PROCEDURE [dbo].[SP_DispatchOrderFCL_GetAll_Old]
    @BranchId INT = NULL,
	@FromDate varchar(10),
	@ToDate varchar(10),
    @UserId UNIQUEIDENTIFIER = NULL,
	@DriverId	INT = NULL,
    @Keyword NVARCHAR(128) = NULL
with Recompile
	
AS
BEGIN
	DECLARE     
		@_BranchId INT = NULL,
		@_FromDate varchar(10),
		@_ToDate varchar(10),
		@_UserId UNIQUEIDENTIFIER = NULL,
		@_DriverId	INT = NULL,
		@_Keyword NVARCHAR(128) = NULL
	SET @_BranchId=@BranchId
	SET @_FromDate=@FromDate
	SET @_ToDate=@ToDate
	SET @_UserId=@UserId
	SET @_DriverId=@DriverId
	SET @_Keyword=@Keyword

    SET NOCOUNT ON;

    BEGIN TRY
		
		SELECT m.[Id]
		  ,[RefNo]
		  ,m.[BranchId]
		  ,[ShippingUnitId]
		  ,k.SupplierCode AS [ShippingUnitCode]
		  ,k.SupplierName AS [ShippingUnitName]
		  ,[IsSubcontractors]
		  ,[VehicleId]
		  ,[VehiclelLicensePlates]
		  ,[VehicleType]
		  ,[VehicleTypeCharge]
		  ,[MoocId]
		  ,[MoocLicensePlates]
		  ,[DriverId]
		  ,[DriverName]
		  ,[DriverTel]
		  ,[SecondDriverId]
		  ,[SecondDriverName]
		  ,[SecondDriverTel]
		  ,[FuelDriverId]
		  ,IsDeny,Feedback
		  ,m.[Note]
		  ,m.[Status]
		  ,m.[CreatedDate]
		  ,m.[CreatedBy]
		  ,m.[Deleted]
		  ,[Tongdau]
		  ,[Chiphidau]
		  ,[IsSummarized]
		  ,ISNULL(Chang1KmLuotDi,0) + ISNULL(Chang1KmLuotVe,0)+ ISNULL(Chang2KmLuotDi,0) + ISNULL(Chang2KmLuotVe,0) +
			ISNULL( DieuchinhKmLuotDi,0) + ISNULL(DieuchinhKmLuotVe,0) +
			ISNULL(KmTrungchuyenCang,0)+ ISNULL(KmTrungchuyenCangVe,0) + ISNULL(m.DieuchinhKmTrungchuyencang,0)+ ISNULL(m.DieuchinhKmTrungchuyenCangVe,0)+
			ISNULL (KmTrungchuyenNhamay,0) + ISNULL (KmTrungchuyenNhamayVe,0) AS TongKm
		  ,[AccountingDate],b.BranchCode,o.EmployeeFullName as CreatedByName,x.TollRouteName AS subcontractorsQuoteCode
		  ,-- Gộp các ContainerNumber, loại bỏ trùng lặp
			ISNULL((
                SELECT DISTINCT  st.ContainerNumber + CHAR(13) + CHAR(10)
                FROM DispatchOrderFclDetailed dfd
                INNER JOIN ShippingTask st ON dfd.ShippingTaskId = st.Id
                WHERE dfd.RefNo = m.RefNo
                FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), '')  AS ContainerNumbers,
				-- Gộp cả PickupLocation và DeliveryLocation vào chung một danh sách, loại bỏ trùng lặp
            ISNULL((
					SELECT DISTINCT  '*- ' + Location + CHAR(13) + CHAR(10) 
                         FROM (
                             SELECT DISTINCT st.PickupLocation AS Location
                             FROM DispatchOrderFclDetailed dfd
                             INNER JOIN ShippingTask st ON dfd.ShippingTaskId = st.Id
                             WHERE dfd.RefNo = m.RefNo
                             
                             UNION

                             SELECT DISTINCT st.DeliveryLocation AS Location
                             FROM DispatchOrderFclDetailed dfd
                             INNER JOIN ShippingTask st ON dfd.ShippingTaskId = st.Id
                             WHERE dfd.RefNo = m.RefNo
                         ) AS CombinedLocations
                         FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'),'') AS Locations
		   ,CASE
					WHEN m.IsDeny =1 AND m.Status=0 THEN N'Từ chối nhận lệnh'
					WHEN m.IsDeny =1 AND m.Status=2 THEN N'Từ chối B1'
					WHEN m.IsDeny =1 AND m.Status=3 THEN N'Từ chối B2'
					WHEN (m.IsDeny =0 AND m.status=0) THEN N'Khởi tạo'
					WHEN (m.IsDeny =0 AND m.status=1) THEN N'Gửi lệnh'
					WHEN (m.IsDeny =0 AND m.status=2) THEN N'Đã nhận'
					WHEN (m.IsDeny =0 AND m.status=3) THEN N'Duyệt B1'
					WHEN (m.IsDeny =0 AND m.status=4) THEN N'Duyệt B2'
					WHEN m.status=5 THEN N'Chờ chốt lệnh'
					WHEN m.status=6 THEN N'ĐÃ CHỐT'
				END AS rStatus
	FROM DispatchOrderFCL m 
				INNER JOIN dbo.Branch b ON m.BranchId=b.Id
				INNER JOIN V_Users o on m.CreatedBy=o.Id
				LEFT JOIN Supplier k on m.ShippingUnitId=k.Id
				LEFT JOIN TollRoute x on m.SubcontractorsQuoteRouteCode=x.TollRouteCode
	WHERE m.Deleted=0 
	--AND CONVERT(varchar(10), m.CreatedDate,112) BETWEEN @_FromDate AND @_ToDate
	AND CAST(m.CreatedDate AS DATE) BETWEEN @_FromDate AND @_ToDate
	AND (@_DriverId IS NULL OR @_DriverId=0 OR DriverId=@_DriverId)
	AND (@_BranchId IS NULL OR @_BranchId=0 OR m.BranchId=@_BranchId)
	 AND (@_Keyword IS NULL 
		OR m.RefNo LIKE N'%' + LTRIM(RTRIM(@_Keyword)) +'%'
		OR m.DispatchSummarize LIKE N'%' + LTRIM(RTRIM(@_Keyword)) +'%'
		OR o.EmployeeFullName LIKE N'%' + LTRIM(RTRIM(@_Keyword)) +'%'
		OR m.VehiclelLicensePlates LIKE N'%' + LTRIM(RTRIM(@_Keyword)) +'%'
		OR m.MoocLicensePlates LIKE N'%' + LTRIM(RTRIM(@_Keyword)) +'%'
		OR m.fullRoute LIKE N'%' + LTRIM(RTRIM(@_Keyword)) +'%'
		OR m.Note LIKE N'%' + LTRIM(RTRIM(@_Keyword)) +'%'
		OR m.DriverName  LIKE N'%' + LTRIM(RTRIM(@_Keyword)) +'%'
		OR EXISTS (
			SELECT 1
			FROM DispatchOrderFclDetailed dfd
			INNER JOIN ShippingTask st ON dfd.ShippingTaskId = st.Id
			WHERE dfd.RefNo = m.RefNo
			AND st.ContainerNumber LIKE N'%' + LTRIM(RTRIM(@_Keyword)) + '%'
    )
	) ORDER BY m.Id DESC
    END TRY
    BEGIN CATCH
        ROLLBACK;
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DispatchOrderFCL_GetByDriver]    Script Date: 5/14/2026 5:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DispatchOrderFCL_GetByDriver]
    @BranchId INT = NULL,
	@FromDate varchar(10),
	@ToDate varchar(10),
    @UserId UNIQUEIDENTIFIER = NULL,
	@DriverId	INT = NULL,
    @Keyword NVARCHAR(128) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
		
		SELECT m.[Id]
		  ,[RefNo]
		  ,m.[BranchId]
		  ,[ShippingUnitId]
		  ,k.SupplierCode AS [ShippingUnitCode]
		  ,k.SupplierName AS [ShippingUnitName]
		  ,[IsSubcontractors]
		  ,[VehicleId]
		  ,[VehiclelLicensePlates]
		  ,[VehicleType]
		  ,[VehicleTypeCharge]
		  ,[MoocId]
		  ,[MoocLicensePlates]
		  ,[DriverId]
		  ,[DriverName]
		  ,[DriverTel]
		  ,[SecondDriverId]
		  ,[SecondDriverName]
		  ,[SecondDriverTel]
		  ,[FuelDriverId]
		  ,IsDeny,Feedback
		  ,m.[Note]
		  ,m.[Status]
		  ,m.[CreatedDate]
		  ,m.[CreatedBy]
		  ,m.[Deleted]
		  ,[Tongdau]
		  ,[Chiphidau]
		  ,[IsSummarized]
		  ,ISNULL(Chang1KmLuotDi,0) + ISNULL(Chang1KmLuotVe,0)+ ISNULL(Chang2KmLuotDi,0) + ISNULL(Chang2KmLuotVe,0) +
			ISNULL( DieuchinhKmLuotDi,0) + ISNULL(DieuchinhKmLuotVe,0) +
			ISNULL(KmTrungchuyenCang,0)+ ISNULL(KmTrungchuyenCangVe,0) + ISNULL(m.DieuchinhKmTrungchuyencang,0)+ ISNULL(m.DieuchinhKmTrungchuyenCangVe,0)+
			ISNULL (KmTrungchuyenNhamay,0) + ISNULL (KmTrungchuyenNhamayVe,0) AS TongKm
		  ,[AccountingDate],b.BranchCode,o.EmployeeFullName as CreatedByName,x.TollRouteName AS subcontractorsQuoteCode
		  ,-- Gộp các ContainerNumber, loại bỏ trùng lặp
			ISNULL((
                SELECT DISTINCT  st.ContainerNumber + CHAR(13) + CHAR(10)
                FROM DispatchOrderFclDetailed dfd
                INNER JOIN ShippingTask st ON dfd.ShippingTaskId = st.Id
                WHERE dfd.RefNo = m.RefNo
                FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'), '')  AS ContainerNumbers,
				-- Gộp cả PickupLocation và DeliveryLocation vào chung một danh sách, loại bỏ trùng lặp
            ISNULL((
					SELECT DISTINCT  '*- ' + Location + CHAR(13) + CHAR(10) 
                         FROM (
                             SELECT DISTINCT st.PickupLocation AS Location
                             FROM DispatchOrderFclDetailed dfd
                             INNER JOIN ShippingTask st ON dfd.ShippingTaskId = st.Id
                             WHERE dfd.RefNo = m.RefNo
                             
                             UNION

                             SELECT DISTINCT st.DeliveryLocation AS Location
                             FROM DispatchOrderFclDetailed dfd
                             INNER JOIN ShippingTask st ON dfd.ShippingTaskId = st.Id
                             WHERE dfd.RefNo = m.RefNo
                         ) AS CombinedLocations
                         FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'),'') AS Locations
		   ,CASE
					WHEN m.IsDeny =1 AND m.Status=2 THEN N'Từ chối B1'
					WHEN m.IsDeny =1 AND m.Status=3 THEN N'Từ chối B2'
					WHEN (m.IsDeny =0 AND m.status=1) THEN N'Gửi lệnh'
					WHEN (m.IsDeny =0 AND m.status=2) THEN N'Đã nhận'
					WHEN (m.IsDeny =0 AND m.status=3) THEN N'Duyệt B1'
					WHEN (m.IsDeny =0 AND m.status=4) THEN N'Duyệt B2'
					WHEN m.status=5 THEN N'Chờ chốt lệnh'
					WHEN m.status=6 THEN N'ĐÃ CHỐT'
				END AS rStatus
	FROM DispatchOrderFCL m 
				INNER JOIN dbo.Branch b ON m.BranchId=b.Id
				INNER JOIN V_Users o on m.CreatedBy=o.Id
				LEFT JOIN Supplier k on m.ShippingUnitId=k.Id
				LEFT JOIN TollRoute x on m.SubcontractorsQuoteRouteCode=x.TollRouteCode
	WHERE m.Deleted=0 
	AND CONVERT(varchar(10), m.CreatedDate,112) BETWEEN @FromDate AND @ToDate
	AND (@DriverId IS NULL OR @DriverId=0 OR DriverId=@DriverId)
	AND (@BranchId IS NULL OR @BranchId=0 OR m.BranchId=@BranchId)
	 AND (@Keyword IS NULL 
		OR m.RefNo LIKE N'%' + LTRIM(RTRIM(@Keyword)) +'%'
		OR m.DispatchSummarize LIKE N'%' + LTRIM(RTRIM(@Keyword)) +'%'
		OR o.EmployeeFullName LIKE N'%' + LTRIM(RTRIM(@Keyword)) +'%'
		OR m.VehiclelLicensePlates LIKE N'%' + LTRIM(RTRIM(@Keyword)) +'%'
		OR m.MoocLicensePlates LIKE N'%' + LTRIM(RTRIM(@Keyword)) +'%'
		OR m.fullRoute LIKE N'%' + LTRIM(RTRIM(@Keyword)) +'%'
		OR m.Note LIKE N'%' + LTRIM(RTRIM(@Keyword)) +'%'
		OR m.DriverName  LIKE N'%' + LTRIM(RTRIM(@Keyword)) +'%'
	) ORDER BY m.Id DESC
    END TRY
    BEGIN CATCH
        ROLLBACK;
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DispatchOrderFCL_GetByJobId]    Script Date: 5/14/2026 5:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Cuongnv
-- Create date: 2021-12-07 10:57
-- Description:	DELTA
-- Lấy thông tin toàn bộ lệnh FCL theo job
-- =============================================
CREATE PROCEDURE [dbo].[SP_DispatchOrderFCL_GetByJobId]
    @JobId int
	
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    BEGIN TRAN;
    BEGIN TRY
        SELECT  s.*,b.BranchCode	,
		CASE 
					WHEN s.status=0 THEN N'Khởi tạo'
					WHEN s.status=1 THEN N'Chưa nhận'
					WHEN s.status=2 THEN N'Đã nhận'
					WHEN s.status=3 THEN N'Duyệt B1'
					WHEN s.status=4 THEN N'Duyệt B2'
					WHEN s.status=5 THEN N'ĐÃ CHỐT'
				END AS rStatus
        FROM DispatchOrderFCL s INNER JOIN dbo.Branch b ON s.BranchId=b.Id
        WHERE RefNo IN (
			SELECT RefNo FROM DispatchOrderFCLDetailed 
				WHERE ShippingTaskId IN (
					SELECT Id FROM ShippingTask
						WHERE ShipmentId=@JobId
				)
		)

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        DECLARE @ErrorMessage VARCHAR(2000);
        SELECT @ErrorMessage = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DispatchOrderFCL_GetByRefNo]    Script Date: 5/14/2026 5:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_DispatchOrderFCL_GetByRefNo 'FCL-20250224114607540'
CREATE PROCEDURE [dbo].[SP_DispatchOrderFCL_GetByRefNo]
    @RefNo NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        SELECT m.[Id], m.[RefNo], m.[BranchId], m.[ShippingUnitId], m.[ShippingUnitCode],m.ReferCode,
               m.[ShippingUnitName], m.[IsSubcontractors], m.[VehicleId], m.[VehiclelLicensePlates],
               m.[VehicleType], m.[VehicleTypeCharge], m.[MoocId], m.[MoocLicensePlates], m.[DriverId],
               m.[DriverName], m.[DriverTel], m.[SecondDriverId], m.[SecondDriverName], m.[SecondDriverTel],
               m.[FuelDriverId], m.[Weight], m.[Volume], m.[IsExport], m.[ContType], m.[FullRoute],
               m.[OilPrice], m.[SubcontractorsQuoteCode], m.[SubcontractorsQuoteRouteCode],m.SubcontractorsPurchaseCost,m.SubcontractorsPurchaseVat,
			   m.[DispatchSummarize],m.LydoDieuchinhKmTrungchuyenCang,m.LydoDieuchinhKmTrungchuyenCangVe, m.GhichuTrungchuyenNhamay, m.GhichuTrungchuyenNhamayVe,
               m.[InquiryTimeToTheFactory], m.[InquiryTimeToThePorts], m.[ContactInformation], m.[Note],
               m.[StartVehicleOdor], m.[StartEupOdor], m.[FinishVehicleOdor], m.[FinishEupOdor],m.OilCompensation,m.ReasonOilCompensation,
               m.[GradeSubcontractors], m.[EvaluationSubcontractors], m.[GradeDriver], m.[EvaluationDriver],
               m.[StartedDate], m.[Finished], m.[NoteFinished], m.[FinishedDate], m.[Status], m.[CreatedDate],
               m.[CreatedBy], m.[ClosingBy], m.[ClosingDate], m.[UpdatedBy], m.[UpdatedDate], m.[Deleted],
               m.[IsFuelApproval], m.[IsRePaymentEtc], m.[IsEmployeeDebitClosing], m.[ShippingTaskId],
               m.[Chang1IdLuotDi], m.[Chang1KmLuotDi], m.[Chang2IdLuotDi], m.[Chang2KmLuotDi], m.[DieuchinhKmLuotDi],
               m.[LydoDieuchinhLuotdi], m.[LuonghangIdLuotDi], m.[DinhmucDauLuotDi], m.[TongdauLuotDi],
               m.[Chang1IdLuotVe], m.[Chang1KmLuotVe], m.[Chang2IdLuotVe], m.[Chang2KmLuotVe], m.[DieuchinhKmLuotVe],
               m.[LydoDieuchinhLuotVe], m.[LuonghangIdLuotVe], m.[DinhmucDauLuotVe], m.[TongdauLuotVe],
               m.[KmTrungchuyenCang], m.[LuonghangTrungchuyenCang], m.[LuonghangTrungchuyenNhamay],
               m.[DinhmucDauTrungchuyenCang], m.[TongdauTrungchuyenCang], m.[Cang1Id], m.[Cang2Id],
               m.[Cang1IdVe], m.[Cang2IdVe], m.[KmTrungchuyenCangVe], m.[DinhmucDauTrungchuyenCangVe],
               m.[TongdauTrungchuyenCangVe], m.[KmTrungchuyenNhamay], m.[DinhmucDauTrungchuyenNhamay],
               m.[TongdauTrungchuyenNhamay], m.[KmTrungchuyenNhamayVe], m.[DinhmucDauTrungchuyenNhamayVe],
               m.[TongdauTrungchuyenNhamayVe], m.[LuonghangTrungchuyenCangVe], m.[LuonghangTrungchuyenNhamayVe],
               m.[Nhamay1], m.[Nhamay2], m.[Nhamay1Ve], m.[Nhamay2Ve], m.[Tongdau], m.[Chiphidau],m.DieuchinhKmTrungchuyenCang,m.DieuchinhKmTrungchuyenCangVe,
               m.[IsSummarized], m.[AccountingDate], m.[IsDeny], m.[Feedback],m.ShortWay,m.NoteFinished,m.StartVehicleOdor,m.FinishVehicleOdor,
			   ISNULL(m.KmTrungchuyenCang, 0) +  ISNULL(m.DieuchinhKmTrungchuyencang,0) AS KmTrungchuyenCangSauDieuchinh,
			   ISNULL(m.KmTrungchuyenCangVe, 0) +  ISNULL(m.DieuchinhKmTrungchuyencangVe,0) AS KmTrungchuyenCangVeSauDieuchinh,
			   ISNULL(m.Chang1KmLuotDi, 0) + ISNULL(m.Chang2KmLuotDi, 0)+ISNULL(m.DieuchinhKmLuotDi, 0) AS KmLuotdi,
			   ISNULL(m.Chang1KmLuotVe, 0) + ISNULL(m.Chang2KmLuotVe, 0)+ISNULL(m.DieuchinhKmLuotVe, 0) AS KmLuotve,
               -- Tính tổng Km
               ISNULL(m.Chang1KmLuotDi, 0) + ISNULL(m.Chang1KmLuotVe, 0) + ISNULL(m.Chang2KmLuotDi, 0) + 
               ISNULL(m.Chang2KmLuotVe, 0) + ISNULL(m.DieuchinhKmLuotDi, 0) + ISNULL(m.DieuchinhKmLuotVe, 0) + 
               ISNULL(m.KmTrungchuyenCang, 0) + ISNULL(m.KmTrungchuyenCangVe, 0) + ISNULL(m.DieuchinhKmTrungchuyencang,0)+ ISNULL(m.DieuchinhKmTrungchuyenCangVe,0)+
               ISNULL(m.KmTrungchuyenNhamay, 0) + ISNULL(m.KmTrungchuyenNhamayVe, 0) AS TongKm,

               -- Xử lý điều kiện đảo ngược Chiều đi - Chiều về
			   p1.Name AS Chang1LuotdiName,
			   c2.Address AS Chang2LuotdiName,
			   c3.Address AS Chang1LuotveName,
	           p4.Name AS Chang2LuotveName,
			   o1.OilQuotaName As LuonghangLuotdiName,
			   o2.OilQuotaName As LuonghangTrungchuyenCangName,
			   o3.OilQuotaName As LuonghangTrungchuyenNhamayName,
			   o4.OilQuotaName As LuonghangLuotVeName,
			   o5.OilQuotaName As LuonghangTrungchuyenCangVeName,
			   o6.OilQuotaName As LuonghangTrungchuyenNhamayVeName,
			   o7.Address AS Nhamay1LuotdiName,
			   o8.Address AS Nhamay2LuotdiName,
			   o9.Address AS Nhamay1LuotveName,
			   o10.Address AS Nhamay2LuotveName,
			   k1.Name AS Cang1LuotdiName,
			   k2.Name AS Cang2LuotdiName,
			   k3.Name AS Cang1LuotveName,
			   k4.Name AS Cang2LuotveName,m.ReferCode
        FROM [dbo].[DispatchOrderFCL] m
        LEFT JOIN V_VehicleOilQuota o1 ON m.LuonghangIdLuotDi = o1.Id
        LEFT JOIN V_VehicleOilQuota o2 ON m.LuonghangTrungchuyenCang = o2.Id
        LEFT JOIN V_VehicleOilQuota o3 ON m.LuonghangTrungchuyenNhamay = o3.Id
        LEFT JOIN V_VehicleOilQuota o4 ON m.LuonghangIdLuotVe = o4.Id
        LEFT JOIN V_VehicleOilQuota o5 ON m.LuonghangTrungchuyenCangVe = o5.Id
        LEFT JOIN V_VehicleOilQuota o6 ON m.LuonghangTrungchuyenNhamayVe = o6.Id
		LEFT JOIN CustomerLocations o7 ON m.Nhamay1=o7.Id
		LEFT JOIN CustomerLocations o8 ON m.Nhamay2=o8.Id
		LEFT JOIN CustomerLocations o9 ON m.Nhamay1Ve=o9.Id
		LEFT JOIN CustomerLocations o10 ON m.Nhamay2Ve=o10.Id
		LEFT JOIN Ports k1 ON m.Cang1Id=k1.Id
		LEFT JOIN Ports k2 ON m.Cang2Id=k2.Id
		LEFT JOIN Ports k3 ON m.Cang1IdVe=k3.Id
		LEFT JOIN Ports k4 ON m.Cang2IdVe=k4.Id
        -- Chiều đi (LuotDi)
        LEFT JOIN Ports p1 ON m.Chang1IdLuotDi = p1.Id
        LEFT JOIN CustomerLocations c2 ON m.Chang2IdLuotDi = c2.Id

        -- Chiều về (LuotVe) - Ngược lại với chiều đi
        LEFT JOIN CustomerLocations c3 ON m.Chang1IdLuotVe = c3.Id
        LEFT JOIN Ports p4 ON m.Chang2IdLuotVe = p4.Id
        WHERE m.Deleted = 0 AND m.RefNo = @RefNo;
    
        -- Các bảng liên quan
        SELECT m.*,n.TollStationName FROM DispatchOrderFCLEtc m INNER JOIN TollStation n on m.TollStationId=n.Id WHERE RefNo = @RefNo;
        SELECT m.*,n.FeeName,n.FeeCode FROM DispatchOrderFCLFee m INNER JOIN Fee n on m.FeeId=n.Id WHERE RefNo = @RefNo;
        SELECT * FROM DispatchOrderFclDetailed WHERE RefNo = @RefNo;
        SELECT * FROM DispatchOrderFCLHistory WHERE RefNo = @RefNo ORDER BY CreatedDate;

    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DispatchOrderFCL_GetExport]    Script Date: 5/14/2026 5:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Cuongnv
-- Create date: 2021-12-07 10:57
-- Description:	DELTA SP_DispatchOrderFCL_GetExport 6,'20250301','20250331',1
-- =============================================
CREATE PROCEDURE [dbo].[SP_DispatchOrderFCL_GetExport]
    @BranchId INT = NULL,
	@FromDate varchar(10),
	@ToDate varchar(10),
	@Type INT=0
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    BEGIN TRAN;
    BEGIN TRY
	IF @Type=0 --Nếu là báo cáo tổng hợp
		SELECT  
			s.RefNo,
			ot.CategoryName AS Loaixetinhphi,
			b.BranchCode AS MaChinhanh,
			s.IsSubcontractors AS Xethue,
			y.SupplierCode AS Mathauphu,
			y.SupplierName AS Nhathauphu,
			format(s.CreatedDate,'dd/MM/yyyy') AS Ngaytao,
			o.EmployeeFullName as Nguoitao,
			k.CategoryName AS Loaixe,
			s.VehiclelLicensePlates As Bks,
			s.FullRoute AS Cungduongtoantuyen,
			ISNULL(Chang1KmLuotDi,0) + ISNULL(Chang1KmLuotVe,0)+ ISNULL(Chang2KmLuotDi,0) + ISNULL(Chang2KmLuotVe,0) +
			ISNULL( DieuchinhKmLuotDi,0) + ISNULL(DieuchinhKmLuotVe,0) +
			ISNULL(KmTrungchuyenCang,0)+ ISNULL(KmTrungchuyenCangVe,0) + 
			ISNULL (KmTrungchuyenNhamay,0) + ISNULL (KmTrungchuyenNhamayVe,0) + ISNULL(DieuchinhKmTrungchuyenCang,0) + ISNULL(DieuchinhKmTrungchuyenCangVe,0) AS TongKm,
			s.DriverName AS Laixe,
			em.EmployeeFullName AS LxGhinhandau,
			x.TollRouteName AS Cungduongtinhphi,
			x.TollRouteCode AS Macungduongtinhphi,
			s.OilPrice As Giadau,
			s.Tongdau AS Dinhmucdau,s.Weights AS Luonghang, s.ShipmentTypeCodes AS Loaihinh,
			s.DinhmucDauLuotDi,s.DinhmucDauLuotVe,s.DinhmucDauTrungchuyenCang,s.DinhmucDauTrungchuyenCangVe,s.DinhmucDauTrungchuyenNhamay,s.DinhmucDauTrungchuyenNhamayVe,
			ISNULL(Chang1KmLuotDi,0) AS Chang1KmLuotDi,
			ISNULL(Chang2KmLuotDi,0) AS Chang2KmLuotDi,
			ISNULL(Chang1KmLuotVe,0) AS Chang1KmLuotVe,
			ISNULL(Chang2KmLuotVe,0) AS Chang2KmLuotVe,
			DieuchinhKmLuotDi,DieuchinhKmLuotVe,KmTrungchuyenCang,KmTrungchuyenCangVe,KmTrungchuyenNhamay,KmTrungchuyenNhamayVe,
			s.Note AS Ghichu,s.MoocLicensePlates,s.ContTypes AS LoaiCont,
			s.DispatchSummarize AS tomtatlenh,s.JobId,s.Locations AS Noigiaonhan,s.ContainerNumbers AS ContainerNumber,s.ContType , PickupTimes,
			CASE 
					WHEN s.status=0 THEN N'Khởi tạo'
					WHEN s.status=1 THEN N'Gửi lệnh'
					WHEN s.status=2 THEN N'Nhận lệnh'
					WHEN s.status=3 THEN N'Duyệt B1'
					WHEN s.status=4 THEN N'Duyệt B2'
					WHEN s.status=5 THEN N'Chờ chốt lệnh'
					WHEN s.status=6 THEN N'ĐÃ CHỐT'
				END AS rStatus,
			CASE 
				WHEN s.ShortWay=1 THEN N'Đường ngắn'
				ELSE ''
				END AS LoaiCungduong,
			p1.Name AS Chang1LuotdiName,
			c2.Address AS Chang2LuotdiName,
			c3.Address AS Chang1LuotveName,
	        p4.Name AS Chang2LuotveName,
			o1.OilQuotaName As LuonghangLuotdiName,
			o2.OilQuotaName As LuonghangTrungchuyenCangName,
			o3.OilQuotaName As LuonghangTrungchuyenNhamayName,
			o4.OilQuotaName As LuonghangLuotVeName,
			o5.OilQuotaName As LuonghangTrungchuyenCangVeName,
			o6.OilQuotaName As LuonghangTrungchuyenNhamayVeName,
			o7.Address AS Nhamay1LuotdiName,
			o7.Address AS Nhamay2LuotdiName,
			o7.Address AS Nhamay1LuotveName,
			o7.Address AS Nhamay2LuotveName,
			k1.Name AS Cang1LuotdiName,
			k2.Name AS Cang2LuotdiName,
			k3.Name AS Cang1LuotveName,
			k4.Name AS Cang2LuotveName,s.ReferCode

				FROM V_DispatchOrderFCL s 
					 JOIN dbo.Branch b ON s.BranchId=b.Id
					 JOIN V_Users o on s.CreatedBy=o.Id
					LEFT JOIN TollRoute x on s.SubcontractorsQuoteRouteCode=x.TollRouteCode
					LEFT JOIN OtherCategories k on s.VehicleType=k.Id
					LEFT JOIN Supplier y on s.ShippingUnitId=y.Id
					LEFT JOIN OtherCategories ot ON s.VehicleTypeCharge=ot.Id
					LEFT JOIN V_Users em on s.FuelDriverId=em.EmployeeId
					LEFT JOIN V_VehicleOilQuota o1 ON s.LuonghangIdLuotDi = o1.Id
					LEFT JOIN V_VehicleOilQuota o2 ON s.LuonghangTrungchuyenCang = o2.Id
					LEFT JOIN V_VehicleOilQuota o3 ON s.LuonghangTrungchuyenNhamay = o3.Id
					LEFT JOIN V_VehicleOilQuota o4 ON s.LuonghangIdLuotVe = o4.Id
					LEFT JOIN V_VehicleOilQuota o5 ON s.LuonghangTrungchuyenCangVe = o5.Id
					LEFT JOIN V_VehicleOilQuota o6 ON s.LuonghangTrungchuyenNhamayVe = o6.Id
					LEFT JOIN CustomerLocations o7 ON s.Nhamay1=o7.Id
					LEFT JOIN CustomerLocations o8 ON s.Nhamay2=o8.Id
					LEFT JOIN CustomerLocations o9 ON s.Nhamay1Ve=o9.Id
					LEFT JOIN CustomerLocations o10 ON s.Nhamay2Ve=o10.Id
					LEFT JOIN Ports k1 ON s.Cang1Id=k1.Id
					LEFT JOIN Ports k2 ON s.Cang2Id=k2.Id
					LEFT JOIN Ports k3 ON s.Cang1IdVe=k3.Id
					LEFT JOIN Ports k4 ON s.Cang2IdVe=k4.Id
					-- Chiều đi (LuotDi)
					LEFT JOIN Ports p1 ON s.Chang1IdLuotDi = p1.Id
					LEFT JOIN CustomerLocations c2 ON s.Chang2IdLuotDi = c2.Id

					-- Chiều về (LuotVe) - Ngược lại với chiều đi
					LEFT JOIN CustomerLocations c3 ON s.Chang1IdLuotVe = c3.Id
					LEFT JOIN Ports p4 ON s.Chang2IdLuotVe = p4.Id
				WHERE s.[Deleted] = 0
					  AND CONVERT(varchar(10),s.CreatedDate,112) BETWEEN @FromDate AND @ToDate
					  AND (@BranchId IS NULL OR @BranchId=0 OR s.BranchId=@BranchId)  AND s.Deleted=0
				ORDER BY RefNo
	ELSE
		SELECT  
			b.BranchCode AS Chinhanh,
			y.ShippingTaskId As IdCv,
			sh.JobId AS JobId,
			d.CustomerCode AS MaKh,
			d.CustomerName AS TenKh,
			s.RefNo,
			Format(s.CreatedDate,'dd/MM/yyyy') AS Ngaytao,
			o.EmployeeFullName as Nguoitao,
			s.IsSubcontractors AS XeThue,
			aa.SupplierName AS NhaThauphu,
			a.CategoryName AS LoaiXe,
			s.VehiclelLicensePlates AS BKS,
			s.DriverName AS Laixe,
			s.FullRoute AS Cungduongtoantuyen,
			s.DispatchSummarize AS TomtatLenh,
			x.TollRouteName AS CungduongTinhphi,x.TollRouteCode,
			s.Note AS Ghichu,c.ContType,
			c.ContainerNumber ,
			c.SealNumber,c.PickupLocation +' - '+c.DeliveryLocation AS Noigiaonhan,
			FORMAT(c.PickupTime, 'dd/MM/yyyy HH:mm') AS PickupTimes,
			ISNULL(Chang1KmLuotDi,0) + ISNULL(Chang1KmLuotVe,0)+ ISNULL(Chang2KmLuotDi,0) + ISNULL(Chang2KmLuotVe,0) +
			ISNULL( DieuchinhKmLuotDi,0) + ISNULL(DieuchinhKmLuotVe,0) +
			ISNULL(KmTrungchuyenCang,0)+ ISNULL(KmTrungchuyenCangVe,0) +
			ISNULL (KmTrungchuyenNhamay,0) + ISNULL (KmTrungchuyenNhamayVe,0) + ISNULL(DieuchinhKmTrungchuyenCang,0) + ISNULL(DieuchinhKmTrungchuyenCangVe,0)  AS TongKm,
			s.OilPrice As Giadau,
			s.Tongdau AS Dinhmucdau,
				CASE 
					WHEN s.status=0 THEN N'Khởi tạo'
					WHEN s.status=1 THEN N'Gửi lệnh'
					WHEN s.status=2 THEN N'Nhận lệnh'
					WHEN s.status=3 THEN N'Duyệt B1'
					WHEN s.status=4 THEN N'Duyệt B2'
					WHEN s.status=5 THEN N'Chờ chốt lệnh'
					WHEN s.status=6 THEN N'ĐÃ CHỐT'
				END AS rStatus, CONCAT( s.ReferCode,c.ReferCode ) AS ReferCode
			FROM DispatchOrderFCL s 
				JOIN DispatchOrderFclDetailed y on s.RefNo=y.RefNo
				INNER JOIN ShippingTask c on y.ShippingTaskId=c.Id
				INNER JOIN Shipment sh on c.ShipmentId=sh.Id
				INNER JOIN dbo.Branch b ON s.BranchId=b.Id
				INNER JOIN V_Users o on s.CreatedBy=o.Id
				INNER JOIN Customer d on c.CustomerId=d.Id
				LEFT JOIN TollRoute x on s.SubcontractorsQuoteRouteCode=x.TollRouteCode
				LEFT JOIN OtherCategories a ON s.VehicleType =a.Id 
				LEFT JOIN Supplier aa on s.ShippingUnitId=aa.id
			WHERE s.[Deleted] = 0
				  AND CONVERT(varchar(10),s.CreatedDate,112) BETWEEN @FromDate AND @ToDate
				  AND (@BranchId IS NULL OR @BranchId=0 OR s.BranchId=@BranchId)  AND s.Deleted=0

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        DECLARE @ErrorMessage VARCHAR(2000);
        SELECT @ErrorMessage = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DispatchOrderFCL_GetPerformance]    Script Date: 5/14/2026 5:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP_DispatchOrderFCL_GetPerformance 6,'20250501','20250521',602,null
CREATE PROCEDURE [dbo].[SP_DispatchOrderFCL_GetPerformance]
    @BranchId INT = NULL,
	@FromDate varchar(10),
	@ToDate varchar(10),
	@DriverId	INT = 0,
	@Keyword nvarchar(500) = NULL
	with Recompile
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE  @_BranchId INT = NULL,
	@_FromDate varchar(10),
	@_ToDate varchar(10),
    @_Keyword NVARCHAR(128) = NULL,
	@_DriverId int =NULL

	SET  @_BranchId =@BranchId
	SET @_FromDate=@FromDate
	SET @_ToDate =@ToDate
    SET @_Keyword =@Keyword
	SET @_DriverId =@DriverId
    BEGIN TRY
		
		SELECT m.[Id]
		  ,[RefNo]
		  ,m.[BranchId]
		  ,[VehicleId]
		  ,m.ShippingUnitId
		  ,k.SupplierName AS ShippingUnitName
		  ,[VehiclelLicensePlates]
		  ,[VehicleType]
		  ,[VehicleTypeCharge]
		  ,[MoocId]
		  ,[MoocLicensePlates]
		  ,[DriverId]
		  ,[DriverName]
		  ,[DriverTel]
		  ,[SecondDriverId]
		  ,[SecondDriverName]
		  ,[SecondDriverTel]
		  ,[FuelDriverId]
		  ,IsDeny,Feedback
		  ,CASE 
				WHEN m.ContType IS NOT NULL AND m.Note IS NOT NULL THEN m.ContType + ' - ' + m.Note
				WHEN m.ContType IS NULL THEN m.Note
				WHEN m.Note IS NULL THEN m.ContType
				ELSE NULL
			  END AS Note
		  ,m.[Status]
		  ,m.[CreatedDate]
		  ,m.[CreatedBy]
		  ,m.[Deleted]
		  ,[Tongdau]
		  ,[Chiphidau]
		  ,[IsSummarized]
		  ,ISNULL(m.Chang1KmLuotDi, 0) + ISNULL(m.Chang1KmLuotVe, 0) + ISNULL(m.Chang2KmLuotDi, 0) + 
               ISNULL(m.Chang2KmLuotVe, 0) + ISNULL(m.DieuchinhKmLuotDi, 0) + ISNULL(m.DieuchinhKmLuotVe, 0) + 
               ISNULL(m.KmTrungchuyenCang, 0) + ISNULL(m.KmTrungchuyenCangVe, 0) + ISNULL(m.DieuchinhKmTrungchuyencang,0)+ ISNULL(m.DieuchinhKmTrungchuyenCangVe,0)+
               ISNULL(m.KmTrungchuyenNhamay, 0) + ISNULL(m.KmTrungchuyenNhamayVe, 0) AS TongKm
		  ,[AccountingDate]
		,	ISNULL((
					SELECT DISTINCT  '*- ' + Location + CHAR(13) + CHAR(10) 
                         FROM (
                             SELECT DISTINCT st.CustomerName AS Location
                             FROM DispatchOrderFclDetailed dfd
                             INNER JOIN V_DispatchOrderFCLCustomerName st ON dfd.RefNo = st.RefNo
                             WHERE dfd.RefNo = m.RefNo
                             
                         ) AS CombinedLocations
                         FOR XML PATH(''), TYPE).value('.', 'NVARCHAR(MAX)'),'') AS Locations
		   ,CASE
					WHEN m.IsDeny =1 AND m.Status=2 THEN N'Từ chối B1'
					WHEN m.IsDeny =1 AND m.Status=3 THEN N'Từ chối B2'
					WHEN (m.IsDeny =0 AND m.status=1) THEN N'Gửi lệnh'
					WHEN (m.IsDeny =0 AND m.status=2) THEN N'Đã nhận'
					WHEN (m.IsDeny =0 AND m.status=3) THEN N'Duyệt B1'
					WHEN (m.IsDeny =0 AND m.status=4) THEN N'Duyệt B2'
					WHEN m.status=5 THEN N'Chờ chốt lệnh'
					WHEN m.status=6 THEN N'ĐÃ CHỐT'
				END AS rStatus
	FROM DispatchOrderFCL m 
	LEFT JOIN Supplier k on m.ShippingUnitId=k.Id
	WHERE m.Deleted=0 AND m.Status>0 -- AND IsSubcontractors=0
		AND CONVERT(varchar(10), m.CreatedDate,112) BETWEEN @_FromDate AND @_ToDate
		AND (@_DriverId=602 OR m.DriverId=@_DriverId)
		AND (@_BranchId IS NULL OR @_BranchId=0 OR m.BranchId=@_BranchId)
		AND (@_Keyword IS NULL 
			OR m.RefNo LIKE N'%' + LTRIM(RTRIM(@_Keyword)) +'%'
			OR m.DispatchSummarize LIKE N'%' + LTRIM(RTRIM(@_Keyword)) +'%'
			OR m.VehiclelLicensePlates LIKE N'%' + LTRIM(RTRIM(@_Keyword)) +'%'
			OR m.MoocLicensePlates LIKE N'%' + LTRIM(RTRIM(@_Keyword)) +'%'
			OR m.fullRoute LIKE N'%' + LTRIM(RTRIM(@_Keyword)) +'%'
			OR m.Note LIKE N'%' + LTRIM(RTRIM(@_Keyword)) +'%'
			OR m.DriverName  LIKE N'%' + LTRIM(RTRIM(@_Keyword)) +'%'
			)
	ORDER BY m.Id DESC
    END TRY
    BEGIN CATCH
        ROLLBACK;
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DispatchOrderFCL_Report03]    Script Date: 5/14/2026 5:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Cuongnv 
-- Create date: 2021-12-07 10:57   SP_DispatchOrderFCL_Report03 6,'20250301','20250331'
-- Description:	DELTA
-- =============================================
CREATE PROCEDURE [dbo].[SP_DispatchOrderFCL_Report03]
    @BranchId INT = NULL,
	@FromDate varchar(10)= NULL,
	@ToDate varchar(10)= NULL
with Recompile
AS
BEGIN
	DECLARE 
	    @_BranchId INT = NULL,
	@_FromDate varchar(10)= NULL,
	@_ToDate varchar(10)= NULL

	SET @_BranchId=@BranchId
	SET @_FromDate=@FromDate
	SET @_ToDate=@ToDate
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
		--Lấy toàn bộ chi phí
WITH CombinedFees AS (
		SELECT  s.RefNo,b.ShippingUnitId,b.IsSubcontractors,b.DispatchSummarize,k.TollRouteName, b.CreatedDate,o.EmployeeFullName as CreatedByName,b.BranchId,c.BranchCode,s.FeeId,t.FeeCode,t.FeeName,s.Quantity,s.Cost, s.Vat,s.TotalCost,s.Note,b.TotalDetails,0 AS Tronve
		FROM DispatchOrderFCLFee s 
			INNER JOIN V_DispatchOrderFCL b ON s.RefNo=b.RefNo
			LEFT JOIN Branch c on b.BranchId=c.Id
			LEFT JOIN V_Users o on b.CreatedBy=o.Id
			LEFT JOIN Fee t on s.FeeId=t.Id
			LEFt JOIN TollRoute k on b.SubcontractorsQuoteCode=k.TollRouteCode
		WHERE b.Deleted=0 AND  CONVERT(varchar(10),b.CreatedDate,112) BETWEEN @_FromDate AND @_ToDate AND b.Status<>7
				AND (@_BranchId IS NULL OR b.BranchId=@_BranchId)
		--Lấy toàn bộ chi phí thuê ngoài
		UNION ALL
		SELECT  s.RefNo,s.ShippingUnitId,s.IsSubcontractors,s.DispatchSummarize,k.TollRouteName, s.CreatedDate,o.EmployeeFullName as CreatedByName,s.BranchId,c.BranchCode,677,t.FeeCode,t.FeeName,1,s.SubcontractorsPurchaseCost AS Cost, s.SubcontractorsPurchaseVat AS Vat,(s.SubcontractorsPurchaseCost+s.SubcontractorsPurchaseVat) AS TotalCost,s.Note,s.TotalDetails,0 AS Tronve
		FROM V_DispatchOrderFcl s
			LEFT JOIN Branch c on s.BranchId=c.Id
			LEFT JOIN V_Users o on s.CreatedBy=o.Id
			LEFT JOIN Fee t on t.Id=677
			LEFt JOIN TollRoute k on s.SubcontractorsQuoteCode=k.TollRouteCode
		WHERE s.Deleted=0 AND  CONVERT(varchar(10),s.CreatedDate,112) BETWEEN @_FromDate AND @_ToDate AND IsSubcontractors=1
				AND (@_BranchId IS NULL OR s.BranchId=@_BranchId)
		--Lấy toàn bộ chi phí dầu
		UNION ALL
		SELECT  s.RefNo,s.ShippingUnitId,s.IsSubcontractors,s.DispatchSummarize,k.TollRouteName, s.CreatedDate,o.EmployeeFullName as CreatedByName,s.BranchId,c.BranchCode,666,t.FeeCode,t.FeeName,s.Tongdau,ROUND(ROUND(s.OilPrice*s.Tongdau,0)-ROUND((OilPrice*Tongdau)/11,0),0) AS Cost, ROUND((OilPrice*Tongdau)/11,0) AS Vat,ROUND(s.OilPrice*s.Tongdau,0) AS TotalCost,s.Note,s.TotalDetails,0 AS Tronve
		FROM V_DispatchOrderFcl s
			LEFT JOIN Branch c on s.BranchId=c.Id
			LEFT JOIN V_Users o on s.CreatedBy=o.Id
			LEFT JOIN Fee t on t.Id=666
			LEFt JOIN TollRoute k on s.SubcontractorsQuoteCode=k.TollRouteCode
		WHERE s.Deleted=0 AND  CONVERT(varchar(10),s.CreatedDate,112) BETWEEN @_FromDate AND @_ToDate  AND IsSubcontractors=0
				AND (@_BranchId IS NULL OR s.BranchId=@_BranchId)
		--Lấy vé ETC
		UNION ALL
		SELECT  s.RefNo,b.ShippingUnitId,b.IsSubcontractors,b.DispatchSummarize,k.TollRouteName,b.CreatedDate,o.EmployeeFullName as CreatedByName,b.BranchId,c.BranchCode,s.FeeId,t.FeeCode,t.FeeName,1,s.Cost, s.Vat,s.TotalCost,CONCAT(st.TollStationName, s.Note) AS Note,b.TotalDetails,s.IsPassed AS Tronve
		FROM DispatchOrderFCLETC s 
			LEFT JOIN V_DispatchOrderFCL b ON s.RefNo=b.RefNo
			LEFT JOIN Branch c on b.BranchId=c.Id
			LEFT JOIN V_Users o on b.CreatedBy=o.Id
			LEFT JOIN Fee t on s.FeeId=t.Id
			LEFt JOIN TollRoute k on b.SubcontractorsQuoteCode=k.TollRouteCode
			LEFT JOIN TollStation st on s.TollStationId=st.Id
		WHERE b.Deleted=0 AND  CONVERT(varchar(10),b.CreatedDate,112) BETWEEN @_FromDate AND @_ToDate AND b.Status<>7
				AND (@_BranchId IS NULL OR b.BranchId=@_BranchId)
		)
		SELECT m.RefNo,p.JobId,p.Locations,p.ContainerNumbers, n.SupplierName AS NhaThauphu,m.IsSubcontractors AS Xethue,m.DispatchSummarize As Tomtatlenh,p.DriverName AS Laixe,
			Format(m.CreatedDate,'dd/MM/yyyy')  AS Ngaytao,CreatedByName AS Nguoitao,BranchCode AS Chinhanh,FeeCode AS Maphi,FeeName AS TenMaphi,
			Quantity AS Soluong, CAST(Cost AS float) AS Tien,CAST(Vat AS float) AS Vat,CAST(TotalCost AS float) AS Tongtien,m.Note AS Ghichu
			,x.TollRouteCode AS RouteCode, x.TollRouteName AS RouteName,p.VehiclelLicensePlates As Bks, 
			p.StartVehicleOdor AS Kmdau,
			p.FinishVehicleOdor As kmcuoi,p.TongKm,p.ReferCode,
			v.LicensePlates as MoocLicensePlates,ot.CategoryName AS Loaixetinhphi,Tronve,p.CustomerCodes as makh,p.CustomerNames as tenkh
		FROM CombinedFees m 
			JOIN V_DispatchOrderFCL p on m.RefNo=p.RefNo
			LEFT JOIN Supplier n ON m.ShippingUnitId=n.Id
			LEFT JOIN TollRoute x on p.SubcontractorsQuoteRouteCode=x.TollRouteCode
			LEFT JOIN Vihicle v on p.MoocId=v.Id
			LEFT JOIN OtherCategories ot ON p.VehicleTypeCharge=ot.Id
		WHERE p.Deleted=0 AND p.IsDeny=0
		ORDER BY RefNo DESC

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_DispatchOrderFCL_Update]    Script Date: 5/14/2026 5:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DispatchOrderFCL_Update]
    @RefNo nvarchar(50),
    @ShippingUnitId NVARCHAR(20) = NULL,
    @ShippingUnitCode NVARCHAR(20) = NULL,
    @ShippingUnitName NVARCHAR(255) = NULL,
	@ReferCode nvarchar(255)= NULL,
    @IsSubcontractors BIT = NULL,
    @VehicleId INT = NULL,
    @VehiclelLicensePlates NVARCHAR(50) = NULL,
    @VehicleType NVARCHAR(50) = NULL,
    @VehicleTypeCharge INT = NULL,
    @MoocId INT = NULL,
    @MoocLicensePlates NVARCHAR(50) = NULL,
    @DriverId INT = NULL,
    @DriverName NVARCHAR(100) = NULL,
    @DriverTel NVARCHAR(50) = NULL,
    @SecondDriverId INT = NULL,
    @SecondDriverName NVARCHAR(255) = NULL,
    @SecondDriverTel NVARCHAR(50) = NULL,
    @FuelDriverId INT = NULL,
    @Weight NUMERIC(18, 2) = NULL,
    @Volume NUMERIC(18, 2) = NULL,
    @IsExport BIT = NULL,
    @ContType NVARCHAR(50) = NULL,
    @FullRoute NVARCHAR(MAX) = NULL,
    @OilPrice NUMERIC(10, 2) = NULL,
	@OilCompensation NUMERIC (10,2) = 0,
	@ReasonOilCompensation nvarchar(500) = NULL,
    @SubcontractorsQuoteCode NVARCHAR(50) = NULL,
    @SubcontractorsQuoteRouteCode NVARCHAR(50) = NULL,
	@SubcontractorsPurchaseCost int = NULL,
	@SubcontractorsPurchaseVat INT = NULL,
    @DispatchSummarize NVARCHAR(MAX) = NULL,
    @InquiryTimeToTheFactory DATETIME = NULL,
    @InquiryTimeToThePorts DATETIME = NULL,
    @ContactInformation NVARCHAR(255) = NULL,
    @Note NVARCHAR(MAX) = NULL,
    @ShippingTaskId INT = NULL,
    @UpdatedBy UNIQUEIDENTIFIER,
	@Chang1IdLuotDi INT = NULL,
    @Chang1KmLuotDi INT = NULL,
    @Chang2IdLuotDi INT = NULL,
    @Chang2KmLuotDi INT = NULL,
    @DieuchinhKmLuotDi INT = NULL,
    @LydoDieuchinhLuotdi NVARCHAR(2000) = NULL,
    @LuonghangIdLuotDi INT = NULL,
    @DinhmucDauLuotDi DECIMAL(10, 2) = NULL,
    @TongdauLuotDi DECIMAL(10, 2) = NULL,
    @Chang1IdLuotVe INT = NULL,
    @Chang1KmLuotVe INT = NULL,
    @Chang2IdLuotVe INT = NULL,
    @Chang2KmLuotVe INT = NULL,
    @DieuchinhKmLuotVe INT = NULL,
    @LydoDieuchinhLuotVe NVARCHAR(2000) = NULL,
    @LuonghangIdLuotVe INT = NULL,
    @DinhmucDauLuotVe DECIMAL(10, 2) = NULL,
    @TongdauLuotVe DECIMAL(10, 2) = NULL,
	@LuonghangTrungchuyenCang int = NULL,
    @Cang1Id int = NULL,
    @Cang2Id int = NULL,
    @KmTrungchuyenCang int = NULL,
    @DinhmucDauTrungchuyenCang decimal(10,2) = NULL,
    @TongdauTrungchuyenCang decimal(10,2) = NULL,
	@DieuchinhKmTrungchuyenCang int = NULL,
	@LydoDieuchinhKmTrungchuyenCang nvarchar(1000) = NULL,
    @LuonghangTrungchuyenNhamay int = NULL,
    @Nhamay1 int = NULL,
    @Nhamay2 int = NULL,
    @KmTrungchuyenNhamay int = NULL,
    @DinhmucDauTrungchuyenNhamay decimal(10,2) = NULL,
    @TongdauTrungchuyenNhamay decimal(10,2) = NULL,
    @GhichuTrungchuyenNhamay nvarchar(2000) = NULL,
	@LuonghangTrungchuyenCangVe int = NULL,
    @Cang1IdVe int = NULL,
    @Cang2IdVe int = NULL,
    @KmTrungchuyenCangVe int = NULL,
    @DinhmucDauTrungchuyenCangVe decimal(10,2) = NULL,
    @TongdauTrungchuyenCangVe decimal(10,2) = NULL,
	@DieuchinhKmTrungchuyenCangVe int = NULL,
	@LydoDieuchinhKmTrungchuyenCangVe nvarchar(1000) = NULL,
    @LuonghangTrungchuyenNhamayVe int = NULL,
    @Nhamay1Ve int = NULL,
    @Nhamay2Ve int = NULL,
    @KmTrungchuyenNhamayVe int = NULL,
    @DinhmucDauTrungchuyenNhamayVe decimal(10,2) = NULL,
    @TongdauTrungchuyenNhamayVe decimal(10,2) = NULL,
    @GhichuTrungchuyenNhamayVe nvarchar(2000) = NULL,
	@ShortWay bit = 0,
	@ListEtc TypeDispatchOrderFCLEtc READONLY,
	@ListDetailed TypeDispatchOrderFclDetailed READONLY,
	@ListFee TypeDispatchOrderFCLFee READONLY
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE [dbo].[DispatchOrderFCL]
        SET
            [ShippingUnitId] = @ShippingUnitId,
            [ShippingUnitCode] = @ShippingUnitCode,
            [ShippingUnitName] = @ShippingUnitName,
			ReferCode=@ReferCode,
			OilCompensation=@OilCompensation,
			ReasonOilCompensation=@ReasonOilCompensation,
            [IsSubcontractors] = @IsSubcontractors,
            [VehicleId] = @VehicleId,
            [VehiclelLicensePlates] = @VehiclelLicensePlates,
            [VehicleType] = @VehicleType,
            [VehicleTypeCharge] = @VehicleTypeCharge,
            [MoocId] = @MoocId,
            [MoocLicensePlates] = @MoocLicensePlates,
            [DriverId] = @DriverId,
            [DriverName] = @DriverName,
            [DriverTel] = @DriverTel,
            [SecondDriverId] = @SecondDriverId,
            [SecondDriverName] = @SecondDriverName,
            [SecondDriverTel] = @SecondDriverTel,
            [FuelDriverId] = @FuelDriverId,
            [Weight] = @Weight,
            [Volume] = @Volume,
            [IsExport] = @IsExport,
            [ContType] = @ContType,
            [FullRoute] = @FullRoute,
            [OilPrice] = @OilPrice,
            [SubcontractorsQuoteCode] = @SubcontractorsQuoteCode,
            [SubcontractorsQuoteRouteCode] = @SubcontractorsQuoteRouteCode,
			SubcontractorsPurchaseCost=@SubcontractorsPurchaseCost,
			SubcontractorsPurchaseVat=@SubcontractorsPurchaseVat,
            [DispatchSummarize] = @DispatchSummarize,
            [InquiryTimeToTheFactory] = @InquiryTimeToTheFactory,
            [InquiryTimeToThePorts] = @InquiryTimeToThePorts,
            [ContactInformation] = @ContactInformation,
            [Note] = @Note,
            [ShippingTaskId] = @ShippingTaskId,
            [Chang1IdLuotDi] = @Chang1IdLuotDi,
            [Chang1KmLuotDi] = @Chang1KmLuotDi,
            [Chang2IdLuotDi] = @Chang2IdLuotDi,
            [Chang2KmLuotDi] = @Chang2KmLuotDi,
            [DieuchinhKmLuotDi] = @DieuchinhKmLuotDi,
            [LydoDieuchinhLuotdi] = @LydoDieuchinhLuotdi,
            [LuonghangIdLuotDi] = @LuonghangIdLuotDi,
            [DinhmucDauLuotDi] = @DinhmucDauLuotDi,
            [TongdauLuotDi] = @TongdauLuotDi,
            [Chang1IdLuotVe] = @Chang1IdLuotVe,
            [Chang1KmLuotVe] = @Chang1KmLuotVe,
            [Chang2IdLuotVe] = @Chang2IdLuotVe,
            [Chang2KmLuotVe] = @Chang2KmLuotVe,
            [DieuchinhKmLuotVe] = @DieuchinhKmLuotVe,
            [LydoDieuchinhLuotVe] = @LydoDieuchinhLuotVe,
            [LuonghangIdLuotVe] = @LuonghangIdLuotVe,
            [DinhmucDauLuotVe] = @DinhmucDauLuotVe,
            [TongdauLuotVe] = @TongdauLuotVe,
			[LuonghangTrungchuyenCang] = @LuonghangTrungchuyenCang,
			[Cang1Id] = @Cang1Id,
			[Cang2Id] = @Cang2Id,
			[KmTrungchuyenCang] = @KmTrungchuyenCang,
			[DinhmucDauTrungchuyenCang] = @DinhmucDauTrungchuyenCang,
			[TongdauTrungchuyenCang] = @TongdauTrungchuyenCang,
			[DieuchinhKmTrungchuyenCang]=@DieuchinhKmTrungchuyenCang,
			[LydoDieuchinhKmTrungchuyenCang]=@LydoDieuchinhKmTrungchuyenCang,
			[LuonghangTrungchuyenNhamay] = @LuonghangTrungchuyenNhamay,
			[Nhamay1] = @Nhamay1,
			[Nhamay2] = @Nhamay2,
			[KmTrungchuyenNhamay] = @KmTrungchuyenNhamay,
			[DinhmucDauTrungchuyenNhamay] = @DinhmucDauTrungchuyenNhamay,
			[TongdauTrungchuyenNhamay] = @TongdauTrungchuyenNhamay,
			[GhichuTrungchuyenNhamay] = @GhichuTrungchuyenNhamay,
			[LuonghangTrungchuyenCangVe] = @LuonghangTrungchuyenCangVe,
			[Cang1IdVe] = @Cang1IdVe,
			[Cang2IdVe] = @Cang2IdVe,
			[KmTrungchuyenCangVe] = @KmTrungchuyenCangVe,
			[DinhmucDauTrungchuyenCangVe] = @DinhmucDauTrungchuyenCangVe,
			[TongdauTrungchuyenCangVe] = @TongdauTrungchuyenCangVe,
			[DieuchinhKmTrungchuyenCangVe]=@DieuchinhKmTrungchuyenCangVe,
			[LydoDieuchinhKmTrungchuyenCangVe]=@LydoDieuchinhKmTrungchuyenCangVe,
			[LuonghangTrungchuyenNhamayVe] = @LuonghangTrungchuyenNhamayVe,
			[Nhamay1Ve] = @Nhamay1Ve,
			[Nhamay2Ve] = @Nhamay2Ve,
			[KmTrungchuyenNhamayVe] = @KmTrungchuyenNhamayVe,
			[DinhmucDauTrungchuyenNhamayVe] = @DinhmucDauTrungchuyenNhamayVe,
			[TongdauTrungchuyenNhamayVe] = @TongdauTrungchuyenNhamayVe,
			[GhichuTrungchuyenNhamayVe] = @GhichuTrungchuyenNhamayVe,
            [UpdatedBy] = @UpdatedBy,
            [UpdatedDate] = GETDATE(),
			[ShortWay]=@ShortWay,
			[Tongdau]=ISNULL(@TongdauLuotDi, 0) + ISNULL(@OilCompensation,0)+
				ISNULL(@TongdauLuotVe, 0) + 
				ISNULL(@TongdauTrungchuyenCang, 0) + 
				ISNULL(@TongdauTrungchuyenNhamay, 0) + 
				ISNULL(@TongdauTrungchuyenCangVe, 0) + 
				ISNULL(@TongdauTrungchuyenNhamayVe, 0),
			Chiphidau=ROUND(
				(ISNULL(@TongdauLuotDi, 0) + ISNULL(@OilCompensation,0)+
				 ISNULL(@TongdauLuotVe, 0) + 
				 ISNULL(@TongdauTrungchuyenCang, 0) + 
				 ISNULL(@TongdauTrungchuyenNhamay, 0) + 
				 ISNULL(@TongdauTrungchuyenCangVe, 0) + 
				 ISNULL(@TongdauTrungchuyenNhamayVe, 0)
				) * ISNULL(@oilPrice, 0), 0)
        WHERE RefNo = @RefNo
		--Cập nhật ETC
		DELETE FROM DispatchOrderFCLEtc WHERE RefNo=@RefNo
		INSERT INTO DispatchOrderFCLEtc (RefNo,TollStationId,FeeId,FeeCode,FeeName,Cost,Vat,TotalCost,Note,IsPassed)
		SELECT @RefNo,TollStationId,FeeId,'','',Cost,Vat,TotalCost,Note,IsPassed FROM @ListEtc
		--Cập nhật công việc
        DELETE FROM DispatchOrderFclDetailed WHERE RefNo = @RefNo;
		INSERT INTO DispatchOrderFclDetailed (RefNo,ShippingTaskId)
		SELECT @RefNo,ShippingTaskId FROM @ListDetailed
		--Cập nhật chi phí sử dụng MERGE để cập nhật hoặc chèn dữ liệu từ @ListFee
		
		MERGE INTO DispatchOrderFCLFee AS Target
		USING @ListFee AS Source
		ON Target.RefNo = @RefNo AND Target.Id = Source.Id
		WHEN MATCHED THEN
			UPDATE SET
				Target.Quantity = Source.Quantity,
				Target.Cost = Source.Cost,
				Target.Vat = Source.Vat,
				Target.TotalCost = Source.TotalCost,
				Target.Note = Source.Note
		WHEN NOT MATCHED BY TARGET THEN
			INSERT (RefNo, FeeId, Quantity, Cost, Vat, TotalCost, Note)
			VALUES (@RefNo, Source.FeeId, Source.Quantity, Source.Cost, Source.Vat, Source.TotalCost, Source.Note)
		WHEN NOT MATCHED BY SOURCE AND Target.RefNo = @RefNo THEN
			DELETE;

    -- Hoàn thành MERGE

    END TRY
    BEGIN CATCH
        ROLLBACK;
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DispatchOrderFCL_UpdateEtcFee]    Script Date: 5/14/2026 5:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DispatchOrderFCL_UpdateEtcFee]
    @RefNo nvarchar(50),
	@ListEtc TypeDispatchOrderFCLEtc READONLY,
	@ListFee TypeDispatchOrderFCLFee READONLY
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
		--Cập nhật ETC
		MERGE INTO DispatchOrderFCLEtc AS Target
		USING @ListEtc AS Source
		ON Target.RefNo = @RefNo AND Target.Id = Source.Id AND Source.Id>0
		WHEN MATCHED THEN
			UPDATE SET
				Target.TollStationId=Source.TollStationId,
				Target.Cost = Source.Cost,
				Target.Vat = Source.Vat,
				Target.TotalCost = Source.TotalCost,
				Target.Note = Source.Note,
				Target.IsPassed=Source.IsPassed
		WHEN NOT MATCHED BY TARGET THEN
			INSERT (RefNo, TollStationId, FeeId, FeeCode, FeeName, Cost, Vat, TotalCost,IsPassed, Note)
			VALUES (@RefNo, Source.TollStationId, Source.FeeId, '', '', Source.Cost, Source.Vat, Source.TotalCost,Source.IsPassed, Source.Note)
		WHEN NOT MATCHED BY SOURCE AND Target.RefNo = @RefNo THEN
			DELETE;

		--Cập nhật chi phí sử dụng MERGE để cập nhật hoặc chèn dữ liệu từ @ListFee
		MERGE INTO DispatchOrderFCLFee AS Target
		USING @ListFee AS Source
		ON Target.RefNo = @RefNo AND Target.Id = Source.Id AND Source.Id>0
		WHEN MATCHED THEN
			UPDATE SET
				Target.FeeId=Source.FeeId,
				Target.Quantity = Source.Quantity,
				Target.ContentsId=Source.ContentsId,
				Target.Contents=Source.Contents,
				Target.Cost = Source.Cost,
				Target.Vat = Source.Vat,
				Target.TotalCost = Source.TotalCost,
				Target.Note = Source.Note
		WHEN NOT MATCHED BY TARGET THEN
			INSERT (RefNo, FeeId,ContentsId,Contents, Quantity, Cost, Vat, TotalCost, Note)
			VALUES (@RefNo, Source.FeeId,Source.ContentsId,Source.Contents, Source.Quantity, Source.Cost, Source.Vat, Source.TotalCost, Source.Note)
		WHEN NOT MATCHED BY SOURCE AND Target.RefNo = @RefNo THEN
			DELETE;

    END TRY
    BEGIN CATCH
        ROLLBACK;
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DispatchOrderFCL_UpdateFee]    Script Date: 5/14/2026 5:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DispatchOrderFCL_UpdateFee]
    @RefNo nvarchar(50),
    @ShippingUnitId NVARCHAR(20) = NULL,
    @ShippingUnitCode NVARCHAR(20) = NULL,
    @ShippingUnitName NVARCHAR(255) = NULL,
    @IsSubcontractors BIT = NULL,
    @VehicleId INT = NULL,
    @VehiclelLicensePlates NVARCHAR(50) = NULL,
    @VehicleType NVARCHAR(50) = NULL,
    @MoocId INT = NULL,
    @MoocLicensePlates NVARCHAR(50) = NULL,
    @DriverId INT = NULL,
    @DriverName NVARCHAR(100) = NULL,
    @DriverTel NVARCHAR(50) = NULL,
    @SubcontractorsQuoteCode NVARCHAR(50) = NULL,
    @SubcontractorsQuoteRouteCode NVARCHAR(50) = NULL,
	@SubcontractorsPurchaseCost int = NULL,
	@SubcontractorsPurchaseVat INT = NULL,
    @DispatchSummarize NVARCHAR(MAX) = NULL,
    @UpdatedBy UNIQUEIDENTIFIER,
	@ListFee TypeDispatchOrderFCLFee READONLY
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE [dbo].[DispatchOrderFCL]
        SET
            [ShippingUnitId] = @ShippingUnitId,
            [ShippingUnitCode] = @ShippingUnitCode,
            [ShippingUnitName] = @ShippingUnitName,
            [IsSubcontractors] = @IsSubcontractors,
            [VehicleId] = @VehicleId,
            [VehiclelLicensePlates] = @VehiclelLicensePlates,
            [VehicleType] = @VehicleType,
            [MoocId] = @MoocId,
            [MoocLicensePlates] = @MoocLicensePlates,
            [DriverId] = @DriverId,
            [DriverName] = @DriverName,
            [DriverTel] = @DriverTel,
            [SubcontractorsQuoteCode] = @SubcontractorsQuoteCode,
            [SubcontractorsQuoteRouteCode] = @SubcontractorsQuoteRouteCode,
			SubcontractorsPurchaseCost=@SubcontractorsPurchaseCost,
			SubcontractorsPurchaseVat=@SubcontractorsPurchaseVat,
            [DispatchSummarize] = @DispatchSummarize
        
        WHERE RefNo = @RefNo
		--Cập nhật chi phí sử dụng MERGE để cập nhật hoặc chèn dữ liệu từ @ListFee
		MERGE INTO DispatchOrderFCLFee AS Target
		USING @ListFee AS Source
		ON Target.RefNo = @RefNo AND Target.FeeId = Source.FeeId
		WHEN MATCHED THEN
			UPDATE SET
				Target.Quantity = Source.Quantity,
				Target.Cost = Source.Cost,
				Target.Vat = Source.Vat,
				Target.TotalCost = Source.TotalCost,
				Target.Note = Source.Note
		WHEN NOT MATCHED BY TARGET THEN
			INSERT (RefNo, FeeId, Quantity, Cost, Vat, TotalCost, Note)
			VALUES (@RefNo, Source.FeeId, Source.Quantity, Source.Cost, Source.Vat, Source.TotalCost, Source.Note)
		WHEN NOT MATCHED BY SOURCE AND Target.RefNo = @RefNo THEN
			DELETE;


    END TRY
    BEGIN CATCH
        ROLLBACK;
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DispatchOrderFCL_UpdateState]    Script Date: 5/14/2026 5:25:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SP_DispatchOrderFCL_UpdateState 'FCL-20250308154702530',6,'419F888E-59B4-4C79-8D49-E2ACD3597525'
CREATE PROCEDURE [dbo].[SP_DispatchOrderFCL_UpdateState]
    @RefNo VARCHAR(50), 
    @Status INT,
    @UserId UNIQUEIDENTIFIER = NULL,
    @Feedback NVARCHAR(500) = NULL,
    @IsRejection BIT = NULL, -- Xác định có phải trạng thái từ chối không (do ứng dụng truyền vào)
	@TypeRejection INT =0 --Xác định kiểu từ chối của lái xe -0: về điều vận ; 1 về kế toán
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
	--Trạng thái của lệnh vận chuyển FCL
	-- Status=0: Khởi tạo lệnh
	-- Status=1: Gửi lệnh cho lái xe
	-- Nếu lái xe từ chối -- @Isinjection=1 -- trạng thái chuyển về khởi tạo;
	-- Status=2: Lái xe nhận lệnh và thực hiện
	-- Status=3: Điều vận duyệt B1 --> chuyển cho kế toán thực hiện các bước tiếp theo
	-- Status=4: Kế toán duyệt B2 --> chuyển cho lái xe xác nhận chi phí
	--Nếu lái xe từ chối : @typeInjection = 0 : Sai từ phần cung đường --> chuyển về Status =2 để điều vận sửa,
	--	@typeInjection=1: Sai từ phần chi phí --Chuyển status=3 để kế toán sửa
	--Nếu OK thì duyệt, hệ thống kiểm tra: nếu có phát sinh về chi phí, hoặc sai tiền etc, hoặc có etc trốn vé --> chuyển cho quản lý duyệt
	-- Status=5:Lái xe xác nhận và có sự thay đổi --> lãnh đạo duyệt
	-- Status = 6: Lệnh đã được chốt --> sẵn sàng tính chi phí, lương ....., dầu....

	DECLARE @CurrentStatus INT, @IsSub BIT;
	DECLARE @Step NVARCHAR(255);
    BEGIN TRANSACTION;
    BEGIN TRY
        -- Lấy trạng thái hiện tại của đơn hàng
        SELECT @CurrentStatus = Status, @IsSub=IsSubcontractors 
        FROM [dbo].[DispatchOrderFCL] 
        WHERE RefNo = @RefNo AND Deleted = 0;
        -- Xử lý nếu là trạng thái từ chối khi trạng thái đang ở chờ nhận lệnh và đã duyệt B2 (từ chối duyệt B2)
        IF @IsRejection = 1 AND @CurrentStatus IN (1,3,4)
			BEGIN
				SET @Step=IIF(@CurrentStatus=0,N'Từ chối nhận lệnh', IIF(@CurrentStatus=3,N'Từ chối duyệt B1',IIF(@TypeRejection=0,N'Từ chối xác nhận cung đường',N'Từ chối xác nhận chi phí')))
				SET @Status = IIF(@CurrentStatus=1,0,IIF(@CurrentStatus=3,2,IIF(@TypeRejection=0,2,3)))
				UPDATE [dbo].[DispatchOrderFCL]
				SET Status = @Status,IsDeny=1,Feedback=@Feedback
				WHERE RefNo = @RefNo AND Deleted = 0;
			END
		ELSE
			BEGIN
				-- Trạng thái cập nhật bình thường
				IF @CurrentStatus <> @Status
				BEGIN
					UPDATE [dbo].[DispatchOrderFCL]
					SET Status = @Status,IsDeny=0,Feedback=N''
					WHERE RefNo = @RefNo AND Deleted = 0;
					--Cập nhật trạng thái
					SET @Step=IIF(@Status=1,N'Gửi lệnh',IIF(@Status=2,N'Lái xe nhận lệnh',IIF(@Status=3,N'Điều vận duyệt B1',IIF(@Status=4,N'Kế toán duyệt B2',IIF(@Status=5,N'Chuyển quản lý duyệt lệnh',N'Chốt lệnh')))))
					--NẾu là duyệt
					print @status
					print @isSub

					IF @Status=6 AND @IsSub=0
					 EXEC SP_DispatchOrderFCL_Chotdau @RefNo, @UserId
				END
			END
		--Lưu và History của lệnh
		INSERT INTO DispatchOrderFCLHistory
		VALUES (@RefNo,@Step,@UserId,@Feedback,GETDATE())
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(), 
               @ErrorSeverity = ERROR_SEVERITY(), 
               @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END
GO
