USE [DELTASOFT]
GO
/****** Object:  Table [dbo].[Tbl_RouteSegmentDefault_Stations]    Script Date: 5/15/2026 11:03:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_RouteSegmentDefault_Stations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DefaultId] [int] NOT NULL,
	[VietmapId] [int] NULL,
	[StationName] [nvarchar](250) NULL,
	[Price] [float] NULL,
	[AllPrices] [nvarchar](200) NULL,
	[IsAvoided] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_RouteSegmentDefaults]    Script Date: 5/15/2026 11:03:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_RouteSegmentDefaults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartLocationId] [int] NOT NULL,
	[StartLocationType] [tinyint] NOT NULL,
	[EndLocationId] [int] NOT NULL,
	[EndLocationType] [tinyint] NOT NULL,
	[DistanceKm] [float] NULL,
	[FuelNorm] [float] NULL,
	[FuelAmountCalculated] [float] NULL,
	[ETCCost] [float] NULL,
	[RoutePolyline] [nvarchar](max) NULL,
	[WaypointsJson] [nvarchar](max) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ_RouteSegmentDefaults_AB] UNIQUE NONCLUSTERED 
(
	[StartLocationId] ASC,
	[StartLocationType] ASC,
	[EndLocationId] ASC,
	[EndLocationType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_TransportOrder_Segment_Stations]    Script Date: 5/15/2026 11:03:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_TransportOrder_Segment_Stations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SegmentId] [int] NOT NULL,
	[VietmapId] [int] NULL,
	[StationName] [nvarchar](250) NULL,
	[Price] [float] NULL,
	[AllPrices] [nvarchar](200) NULL,
	[IsAvoided] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_TransportOrder_Segment_Waypoints]    Script Date: 5/15/2026 11:03:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_TransportOrder_Segment_Waypoints](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SegmentId] [int] NOT NULL,
	[OrderIndex] [int] NOT NULL,
	[Lat] [float] NOT NULL,
	[Lng] [float] NOT NULL,
	[Name] [nvarchar](2550) NULL,
	[DistanceM] [float] NULL,
 CONSTRAINT [PK__Tbl_Tran__3214EC0773F6D671] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_TransportOrder_Segments]    Script Date: 5/15/2026 11:03:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_TransportOrder_Segments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransportOrderId] [int] NOT NULL,
	[OrderIndex] [int] NULL,
	[StartLocationId] [int] NULL,
	[StartLocationName] [nvarchar](250) NULL,
	[StartLat] [float] NULL,
	[StartLng] [float] NULL,
	[EndLocationId] [int] NULL,
	[EndLocationName] [nvarchar](250) NULL,
	[EndLat] [float] NULL,
	[EndLng] [float] NULL,
	[DistanceKm] [float] NULL,
	[PayloadWeight] [float] NULL,
	[FuelNorm] [float] NULL,
	[FuelAmountCalculated] [float] NULL,
	[ETCCost] [float] NULL,
	[StartLocationType] [int] NULL,
	[EndLocationType] [int] NULL,
	[RoutePolyline] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_TransportOrders]    Script Date: 5/15/2026 11:03:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_TransportOrders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RefNo] [nvarchar](50) NULL,
	[BranchId] [int] NULL,
	[ShortWay] [bit] NULL,
	[FullRoute] [nvarchar](1000) NULL,
	[Status] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[CreatedByName] [nvarchar](250) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedDate] [datetime] NULL,
	[Deleted] [bit] NULL,
	[TongKm] [float] NULL,
	[FclRefNo] [nvarchar](50) NULL,
 CONSTRAINT [PK__Tbl_Tran__3214EC0760F10A87] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_RouteSegmentDefault_Stations] ADD  DEFAULT ((0)) FOR [IsAvoided]
GO
ALTER TABLE [dbo].[Tbl_RouteSegmentDefaults] ADD  DEFAULT ((1)) FOR [StartLocationType]
GO
ALTER TABLE [dbo].[Tbl_RouteSegmentDefaults] ADD  DEFAULT ((1)) FOR [EndLocationType]
GO
ALTER TABLE [dbo].[Tbl_RouteSegmentDefaults] ADD  DEFAULT (getdate()) FOR [UpdatedDate]
GO
ALTER TABLE [dbo].[Tbl_TransportOrder_Segment_Stations] ADD  DEFAULT ((0)) FOR [IsAvoided]
GO
ALTER TABLE [dbo].[Tbl_TransportOrder_Segment_Waypoints] ADD  CONSTRAINT [DF__Tbl_Trans__Order__102D1D56]  DEFAULT ((0)) FOR [OrderIndex]
GO
ALTER TABLE [dbo].[Tbl_TransportOrder_Segments] ADD  DEFAULT ((1)) FOR [StartLocationType]
GO
ALTER TABLE [dbo].[Tbl_TransportOrder_Segments] ADD  DEFAULT ((1)) FOR [EndLocationType]
GO
ALTER TABLE [dbo].[Tbl_RouteSegmentDefault_Stations]  WITH CHECK ADD  CONSTRAINT [FK_DefaultStations_Default] FOREIGN KEY([DefaultId])
REFERENCES [dbo].[Tbl_RouteSegmentDefaults] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tbl_RouteSegmentDefault_Stations] CHECK CONSTRAINT [FK_DefaultStations_Default]
GO
ALTER TABLE [dbo].[Tbl_TransportOrder_Segment_Stations]  WITH CHECK ADD  CONSTRAINT [FK_SegStations_Segment] FOREIGN KEY([SegmentId])
REFERENCES [dbo].[Tbl_TransportOrder_Segments] ([Id])
GO
ALTER TABLE [dbo].[Tbl_TransportOrder_Segment_Stations] CHECK CONSTRAINT [FK_SegStations_Segment]
GO
ALTER TABLE [dbo].[Tbl_TransportOrder_Segment_Waypoints]  WITH CHECK ADD  CONSTRAINT [FK_SegWaypoints_Segment] FOREIGN KEY([SegmentId])
REFERENCES [dbo].[Tbl_TransportOrder_Segments] ([Id])
GO
ALTER TABLE [dbo].[Tbl_TransportOrder_Segment_Waypoints] CHECK CONSTRAINT [FK_SegWaypoints_Segment]
GO
ALTER TABLE [dbo].[Tbl_TransportOrder_Segments]  WITH CHECK ADD  CONSTRAINT [FK__Tbl_Trans__Trans__6AFB98A7] FOREIGN KEY([TransportOrderId])
REFERENCES [dbo].[Tbl_TransportOrders] ([Id])
GO
ALTER TABLE [dbo].[Tbl_TransportOrder_Segments] CHECK CONSTRAINT [FK__Tbl_Trans__Trans__6AFB98A7]
GO
/****** Object:  StoredProcedure [dbo].[SP_TransportOrder_Create]    Script Date: 5/15/2026 11:03:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- STEP 7: SP_TransportOrder_Create
-- ============================================================
CREATE PROCEDURE [dbo].[SP_TransportOrder_Create]
    @BranchId                       INT             = NULL,
    @ShortWay                       BIT             = 0,
    @ShippingUnitId                 INT             = NULL,
    @ShippingUnitCode               NVARCHAR(50)    = NULL,
    @ShippingUnitName               NVARCHAR(250)   = NULL,
    @ReferCode                      NVARCHAR(50)    = NULL,
    @IsSubcontractors               BIT             = NULL,
    @VehicleId                      INT             = NULL,
    @VehicleLicensePlates           NVARCHAR(50)    = NULL,
    @VehicleType                    INT             = NULL,
    @VehicleTypeCharge              FLOAT           = NULL,
    @MoocId                         INT             = NULL,
    @MoocLicensePlates              NVARCHAR(50)    = NULL,
    @DriverId                       INT             = NULL,
    @DriverName                     NVARCHAR(200)   = NULL,
    @DriverTel                      NVARCHAR(50)    = NULL,
    @SecondDriverId                 INT             = NULL,
    @SecondDriverName               NVARCHAR(200)   = NULL,
    @SecondDriverTel                NVARCHAR(50)    = NULL,
    @FuelDriverId                   INT             = NULL,
    @Weight                         FLOAT           = NULL,
    @Volume                         FLOAT           = NULL,
    @ContType                       NVARCHAR(50)    = NULL,
    @FullRoute                      NVARCHAR(1000)  = NULL,
    @OilPrice                       FLOAT           = NULL,
    @OilCompensation                FLOAT           = 0,
    @ReasonOilCompensation          NVARCHAR(500)   = NULL,
    @SubcontractorsQuoteCode        NVARCHAR(50)    = NULL,
    @SubcontractorsQuoteRouteCode   NVARCHAR(50)    = NULL,
    @SubcontractorsPurchaseCost     FLOAT           = NULL,
    @SubcontractorsPurchaseVat      FLOAT           = NULL,
    @DispatchSummarize              NVARCHAR(1000)  = NULL,
    @InquiryTimeToTheFactory        DATETIME        = NULL,
    @InquiryTimeToThePorts          DATETIME        = NULL,
    @ContactInformation             NVARCHAR(500)   = NULL,
    @Note                           NVARCHAR(MAX)   = NULL,
    @TongKm                         FLOAT           = NULL,
    @Tongdau                        FLOAT           = NULL,
    @Chiphidau                      FLOAT           = NULL,
    @IsFuelApproval                 BIT             = 0,
    @IsRePaymentEtc                 BIT             = 0,
    @IsEmployeeDebitClosing         BIT             = 0,
    @StartedDate                    DATETIME        = NULL,
    @Finished                       BIT             = 0,
    @NoteFinished                   NVARCHAR(255)   = NULL,
    @FinishedDate                   DATETIME        = NULL,
    @StartVehicleOdor               FLOAT           = NULL,
    @StartEupOdor                   FLOAT           = NULL,
    @FinishVehicleOdor              FLOAT           = NULL,
    @FinishEupOdor                  FLOAT           = NULL,
    @CreatedBy                      UNIQUEIDENTIFIER,
    @ListSegments           TypeTransportOrderSegment           READONLY,
    @ListSegmentStations    TypeTransportOrderSegmentStation    READONLY,
    @ListSegmentWaypoints   TypeTransportOrderSegmentWaypoint   READONLY,
    @ListDetails            TypeTransportOrderDetail            READONLY,
    @ListFees               TypeTransportOrderFee               READONLY
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    BEGIN TRAN;
    BEGIN TRY

        IF EXISTS (
            SELECT 1
            FROM Tbl_TransportOrders t
            INNER JOIN Tbl_TransportOrder_Details d ON t.Id = d.TransportOrderId
            WHERE t.Deleted = 0
              AND d.ShippingTaskId IN (SELECT ShippingTaskId FROM @ListDetails)
        )
        BEGIN
            RAISERROR(N'Một hoặc nhiều ShippingTask đã được gắn vào lệnh vận chuyển chưa bị xóa.', 16, 1);
            RETURN;
        END

        DECLARE @RefNo      NVARCHAR(50),
                @cn         NVARCHAR(10),
                @yyMMdd     NVARCHAR(10) = FORMAT(GETDATE(), 'yyMMdd'),
                @prefix     NVARCHAR(30),
                @nextNum    INT;

        SELECT @cn = BranchCode FROM Branch WHERE Id = @BranchId;
        SET @prefix = 'TO-' + @cn + @yyMMdd + '/';
        SELECT @nextNum = ISNULL(MAX(CAST(RIGHT(RefNo, 4) AS INT)), 0) + 1
        FROM dbo.Tbl_TransportOrders WHERE RefNo LIKE @prefix + '%';
        SET @RefNo = @prefix + RIGHT('0000' + CAST(@nextNum AS VARCHAR), 4);

        DECLARE @NewId INT;
        INSERT INTO [dbo].[Tbl_TransportOrders] (
            [RefNo], [BranchId], [ShortWay],
            [ShippingUnitId], [ShippingUnitCode], [ShippingUnitName],
            [ReferCode], [IsSubcontractors],
            [VehicleId], [VehicleLicensePlates], [VehicleType], [VehicleTypeCharge],
            [MoocId], [MoocLicensePlates],
            [DriverId], [DriverName], [DriverTel],
            [SecondDriverId], [SecondDriverName], [SecondDriverTel], [FuelDriverId],
            [Weight], [Volume], [ContType], [FullRoute],
            [OilPrice], [OilCompensation], [ReasonOilCompensation],
            [SubcontractorsQuoteCode], [SubcontractorsQuoteRouteCode],
            [SubcontractorsPurchaseCost], [SubcontractorsPurchaseVat],
            [DispatchSummarize], [InquiryTimeToTheFactory], [InquiryTimeToThePorts],
            [ContactInformation], [Note], [TongKm], [Tongdau], [Chiphidau],
            [IsFuelApproval], [IsRePaymentEtc], [IsEmployeeDebitClosing],
            [StartedDate], [Finished], [NoteFinished], [FinishedDate],
            [StartVehicleOdor], [StartEupOdor], [FinishVehicleOdor], [FinishEupOdor],
            [Status], [Deleted], [IsSummarized],
            [CreatedDate], [CreatedBy]
        )
        VALUES (
            @RefNo, @BranchId, @ShortWay,
            @ShippingUnitId, @ShippingUnitCode, @ShippingUnitName,
            @ReferCode, @IsSubcontractors,
            @VehicleId, @VehicleLicensePlates, @VehicleType, @VehicleTypeCharge,
            @MoocId, @MoocLicensePlates,
            @DriverId, @DriverName, @DriverTel,
            @SecondDriverId, @SecondDriverName, @SecondDriverTel, @FuelDriverId,
            @Weight, @Volume, @ContType, @FullRoute,
            @OilPrice, @OilCompensation, @ReasonOilCompensation,
            @SubcontractorsQuoteCode, @SubcontractorsQuoteRouteCode,
            @SubcontractorsPurchaseCost, @SubcontractorsPurchaseVat,
            @DispatchSummarize, @InquiryTimeToTheFactory, @InquiryTimeToThePorts,
            @ContactInformation, @Note, @TongKm, @Tongdau, @Chiphidau,
            @IsFuelApproval, @IsRePaymentEtc, @IsEmployeeDebitClosing,
            @StartedDate, @Finished, @NoteFinished, @FinishedDate,
            @StartVehicleOdor, @StartEupOdor, @FinishVehicleOdor, @FinishEupOdor,
            0, 0, 0,
            GETDATE(), @CreatedBy
        );
        SET @NewId = SCOPE_IDENTITY();

        DECLARE @SegMap TABLE (OrderIndex INT, SegmentId INT);

        INSERT INTO [dbo].[Tbl_TransportOrder_Segments] (
            [TransportOrderId], [OrderIndex],
            [StartLocationId], [StartLocationType], [StartLocationName], [StartLat], [StartLng],
            [EndLocationId], [EndLocationType], [EndLocationName], [EndLat], [EndLng],
            [DistanceKm], [PayloadWeight], [FuelNorm], [FuelAmountCalculated], [ETCCost],
            [RoutePolyline]
        )
        OUTPUT inserted.OrderIndex, inserted.Id INTO @SegMap(OrderIndex, SegmentId)
        SELECT
            @NewId, s.OrderIndex,
            s.StartLocationId, s.StartLocationType, s.StartLocationName, s.StartLat, s.StartLng,
            s.EndLocationId,   s.EndLocationType,   s.EndLocationName,   s.EndLat,   s.EndLng,
            s.DistanceKm, s.PayloadWeight, s.FuelNorm, s.FuelAmountCalculated, s.ETCCost,
            s.RoutePolyline
        FROM @ListSegments s;

        INSERT INTO [dbo].[Tbl_TransportOrder_Segment_Stations] (
            [SegmentId], [VietmapId], [StationName], [Price], [AllPrices], [IsAvoided]
        )
        SELECT sm.SegmentId, st.VietmapId, st.StationName, st.Price, st.AllPrices, ISNULL(st.IsAvoided, 0)
        FROM @ListSegmentStations st
        INNER JOIN @SegMap sm ON sm.OrderIndex = st.SegmentIndex;

        INSERT INTO [dbo].[Tbl_TransportOrder_Segment_Waypoints] (
            [SegmentId], [OrderIndex], [Lat], [Lng], [Name], [DistanceM]
        )
        SELECT sm.SegmentId, w.OrderIndex, w.Lat, w.Lng, w.Name, w.DistanceM
        FROM @ListSegmentWaypoints w
        INNER JOIN @SegMap sm ON sm.OrderIndex = w.SegmentIndex;

        INSERT INTO [dbo].[Tbl_TransportOrder_Details] ([TransportOrderId], [ShippingTaskId])
        SELECT @NewId, ShippingTaskId FROM @ListDetails;

        INSERT INTO [dbo].[Tbl_TransportOrder_Fees] (
            [TransportOrderId], [FeeId], [FeeCode], [FeeName],
            [Quantity], [ContentsId], [Contents], [Cost], [Vat], [TotalCost], [Note], [Type]
        )
        SELECT @NewId, FeeId, FeeCode, FeeName, Quantity, ContentsId, Contents,
               Cost, Vat, TotalCost, Note, Type
        FROM @ListFees;

        SELECT @NewId AS NewId;
        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_TransportOrder_Delete]    Script Date: 5/15/2026 11:03:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TransportOrder_Delete]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE [dbo].[Tbl_TransportOrders]
        SET Deleted = 1
        WHERE Id = @Id;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TransportOrder_GetAll]    Script Date: 5/15/2026 11:03:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TransportOrder_GetAll]
    @BranchId  INT              = NULL,
    @FromDate  VARCHAR(10),
    @ToDate    VARCHAR(10),
    @Keyword   NVARCHAR(128)   = NULL
WITH RECOMPILE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @FromD DATE = TRY_CONVERT(DATE, @FromDate, 112);
    DECLARE @ToD   DATE = TRY_CONVERT(DATE, @ToDate,   112);

    IF (@FromD IS NULL OR @ToD IS NULL)
    BEGIN
        RAISERROR(N'FromDate/ToDate phải theo định dạng yyyymmdd (style 112).', 16, 1);
        RETURN;
    END

    DECLARE @Kw NVARCHAR(128) = NULL;
    IF (@Keyword IS NOT NULL)
    BEGIN
        SET @Kw = LTRIM(RTRIM(@Keyword));
        IF (@Kw = N'') SET @Kw = NULL;
    END

    -- Lọc master trước
    IF OBJECT_ID('tempdb..#TO') IS NOT NULL DROP TABLE #TO;

    SELECT t.*
    INTO #TO
    FROM [dbo].[Tbl_TransportOrders] t
    WHERE t.Deleted = 0
      AND t.CreatedDate >= @FromD
      AND t.CreatedDate <  DATEADD(DAY, 1, @ToD)
      AND (@BranchId IS NULL OR @BranchId = 0 OR t.BranchId = @BranchId);

    CREATE INDEX IX__TO_Id ON #TO(Id DESC);

    -- Aggregate ShippingTask locations
    IF OBJECT_ID('tempdb..#Agg') IS NOT NULL DROP TABLE #Agg;

    SELECT
        d.TransportOrderId,
        Locations = ISNULL(
            STUFF((
                SELECT DISTINCT CHAR(13)+CHAR(10) + N'*- ' + x.Location
                FROM (
                    SELECT st.PickupLocation   AS Location FROM [dbo].[Tbl_TransportOrder_Details] d2
                        INNER JOIN [dbo].[ShippingTask] st ON st.Id = d2.ShippingTaskId
                        WHERE d2.TransportOrderId = d.TransportOrderId
                    UNION
                    SELECT st2.DeliveryLocation AS Location FROM [dbo].[Tbl_TransportOrder_Details] d3
                        INNER JOIN [dbo].[ShippingTask] st2 ON st2.Id = d3.ShippingTaskId
                        WHERE d3.TransportOrderId = d.TransportOrderId
                ) x
                WHERE x.Location IS NOT NULL AND x.Location <> N''
                FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)'), 1, 2, N''), N'')
    INTO #Agg
    FROM (SELECT DISTINCT TransportOrderId FROM [dbo].[Tbl_TransportOrder_Details]
          WHERE TransportOrderId IN (SELECT Id FROM #TO)) d
    GROUP BY d.TransportOrderId;

    CREATE INDEX IX__Agg_Id ON #Agg(TransportOrderId);

    -- Query không keyword
    IF (@Kw IS NULL)
    BEGIN
        SELECT
            t.Id, t.RefNo, t.BranchId,
            t.ShippingUnitId, t.ShippingUnitCode, t.ShippingUnitName,
            t.IsSubcontractors,
            t.VehicleId, t.VehicleLicensePlates, t.VehicleType, t.VehicleTypeCharge,
            t.MoocId, t.MoocLicensePlates,
            t.DriverId, t.DriverName, t.DriverTel,
            t.SecondDriverId, t.SecondDriverName, t.SecondDriverTel,
            t.FuelDriverId,
            t.Weight, t.Volume,  t.ContType, t.FullRoute,
            t.OilPrice, t.OilCompensation,
            t.TongKm, t.Tongdau, t.Chiphidau,
            t.Status, t.IsDeny, t.Feedback,
            t.Note, t.DispatchSummarize,
            t.CreatedDate, t.CreatedBy, t.UpdatedDate, t.UpdatedBy,
            t.Deleted, t.IsFuelApproval, t.IsRePaymentEtc,
            t.IsEmployeeDebitClosing, t.IsSummarized, t.AccountingDate,
            b.BranchCode,
            u.EmployeeFullName AS CreatedByName,
            ISNULL(a.Locations, N'') AS Locations,
            CASE
                WHEN t.IsDeny = 1 AND t.Status = 0 THEN N'Từ chối'
                WHEN t.Status = 0 THEN N'Khởi tạo'
                WHEN t.Status = 1 THEN N'Gửi lệnh'
                WHEN t.Status = 2 THEN N'Đã nhận'
                WHEN t.Status = 3 THEN N'Duyệt B1'
                WHEN t.Status = 4 THEN N'Duyệt B2'
                WHEN t.Status = 5 THEN N'Chờ chốt'
                WHEN t.Status = 6 THEN N'ĐÃ CHỐT'
                ELSE N''
            END AS RStatus
        FROM #TO t
        INNER JOIN [dbo].[Branch] b ON b.Id = t.BranchId
        INNER JOIN [dbo].[V_Users] u ON u.Id = t.CreatedBy
        LEFT  JOIN #Agg a ON a.TransportOrderId = t.Id
        ORDER BY t.Id DESC;

        RETURN;
    END

    -- Query có keyword
    SELECT
        t.Id, t.RefNo, t.BranchId,
        t.ShippingUnitId, t.ShippingUnitCode, t.ShippingUnitName,
        t.IsSubcontractors,
        t.VehicleId, t.VehicleLicensePlates, t.VehicleType, t.VehicleTypeCharge,
        t.MoocId, t.MoocLicensePlates,
        t.DriverId, t.DriverName, t.DriverTel,
        t.SecondDriverId, t.SecondDriverName, t.SecondDriverTel,
        t.FuelDriverId,
        t.Weight, t.Volume, t.IsExport, t.ContType, t.FullRoute,
        t.OilPrice, t.OilCompensation,
        t.TongKm, t.Tongdau, t.Chiphidau,
        t.Status, t.IsDeny, t.Feedback,
        t.Note, t.DispatchSummarize,
        t.CreatedDate, t.CreatedBy, t.UpdatedDate, t.UpdatedBy,
        t.Deleted, t.IsFuelApproval, t.IsRePaymentEtc,
        t.IsEmployeeDebitClosing, t.IsSummarized, t.AccountingDate,
        b.BranchCode,
        u.EmployeeFullName AS CreatedByName,
        ISNULL(a.Locations, N'') AS Locations,
        CASE
            WHEN t.IsDeny = 1 AND t.Status = 0 THEN N'Từ chối'
            WHEN t.Status = 0 THEN N'Khởi tạo'
            WHEN t.Status = 1 THEN N'Gửi lệnh'
            WHEN t.Status = 2 THEN N'Đã nhận'
            WHEN t.Status = 3 THEN N'Duyệt B1'
            WHEN t.Status = 4 THEN N'Duyệt B2'
            WHEN t.Status = 5 THEN N'Chờ chốt'
            WHEN t.Status = 6 THEN N'ĐÃ CHỐT'
            ELSE N''
        END AS RStatus
    FROM #TO t
    INNER JOIN [dbo].[Branch] b ON b.Id = t.BranchId
    INNER JOIN [dbo].[V_Users] u ON u.Id = t.CreatedBy
    LEFT  JOIN #Agg a ON a.TransportOrderId = t.Id
    WHERE (
        t.RefNo              LIKE N'%' + @Kw + '%'
     OR t.DriverName         LIKE N'%' + @Kw + '%'
     OR t.VehicleLicensePlates LIKE N'%' + @Kw + '%'
     OR t.DispatchSummarize  LIKE N'%' + @Kw + '%'
     OR t.Note               LIKE N'%' + @Kw + '%'
    )
    ORDER BY t.Id DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TransportOrder_GetById]    Script Date: 5/15/2026 11:03:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- ============================================================
-- STEP 6: SP_TransportOrder_GetById
-- ============================================================
CREATE PROCEDURE [dbo].[SP_TransportOrder_GetById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Result 1: Master
    SELECT t.*, b.BranchCode, u.EmployeeFullName AS CreatedByName,
           CASE
               WHEN t.IsDeny = 1 AND t.Status = 0 THEN N'Từ chối'
               WHEN t.Status = 0 THEN N'Khởi tạo'
               WHEN t.Status = 1 THEN N'Gửi lệnh'
               WHEN t.Status = 2 THEN N'Đã nhận'
               WHEN t.Status = 3 THEN N'Duyệt B1'
               WHEN t.Status = 4 THEN N'Duyệt B2'
               WHEN t.Status = 5 THEN N'Chờ chốt'
               WHEN t.Status = 6 THEN N'ĐÃ CHỐT'
               ELSE N''
           END AS RStatus
    FROM [dbo].[Tbl_TransportOrders] t
    INNER JOIN [dbo].[Branch] b ON b.Id = t.BranchId
    INNER JOIN [dbo].[V_Users] u ON u.Id = t.CreatedBy
    WHERE t.Id = @Id AND t.Deleted = 0;

    -- Result 2: Segments
    SELECT * FROM [dbo].[Tbl_TransportOrder_Segments]
    WHERE TransportOrderId = @Id ORDER BY OrderIndex;

    -- Result 3: Segment Stations (Vietmap toll)
    SELECT st.* FROM [dbo].[Tbl_TransportOrder_Segment_Stations] st
    INNER JOIN [dbo].[Tbl_TransportOrder_Segments] s ON s.Id = st.SegmentId
    WHERE s.TransportOrderId = @Id ORDER BY s.OrderIndex, st.Id;

    -- Result 4: Segment Waypoints
    SELECT w.* FROM [dbo].[Tbl_TransportOrder_Segment_Waypoints] w
    INNER JOIN [dbo].[Tbl_TransportOrder_Segments] s ON s.Id = w.SegmentId
    WHERE s.TransportOrderId = @Id ORDER BY s.OrderIndex, w.OrderIndex;

    -- Result 5: Fees
    SELECT * FROM [dbo].[Tbl_TransportOrder_Fees]
    WHERE TransportOrderId = @Id;

    -- Result 6: Details (ShippingTask)
        SELECT 
        d.Id, d.TransportOrderId, d.ShippingTaskId,
        -- Từ Customer (verify tên bảng + cột)
        c.CustomerCode,
        c.CustomerName,
        -- Từ Shipment (JobId)
        sm.JobId,
        -- Trực tiếp từ ShippingTask
        st.ContType,
        st.ContainerNumber,
        st.SealNumber,
        st.ReferCode,
        st.PickupLocation,
        st.DeliveryLocation,
        st.PickupTime,
        -- Từ Ports (verify tên bảng + cột)
        pLifting.Name  AS PortOfLiftingName,
        pLiftOff.Name  AS PortOfLiftOffName
    FROM [dbo].[Tbl_TransportOrder_Details] d
    INNER JOIN [dbo].[ShippingTask] st ON st.Id = d.ShippingTaskId
    LEFT JOIN  [dbo].Customer    c  ON c.Id  = st.CustomerId          -- verify tên bảng
    LEFT JOIN  [dbo].Shipment sm ON sm.Id = st.ShipmentId         -- verify tên bảng
    LEFT JOIN  [dbo].[Ports]    pLifting ON pLifting.Id = st.PortOfLiffting  -- verify
    LEFT JOIN  [dbo].[Ports]    pLiftOff ON pLiftOff.Id = st.PortOfLiftOff  -- verify
    WHERE d.TransportOrderId = @Id;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_TransportOrder_GetSegmentHistory]    Script Date: 5/15/2026 11:03:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_TransportOrder_GetSegmentHistory]
    @StartLocationId    INT,
    @StartLocationType  TINYINT = 1,
    @EndLocationId      INT,
    @EndLocationType    TINYINT = 1
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @DefaultId  INT = NULL;
    DECLARE @SegmentId  INT = NULL;

    -- Tìm bảng mặc định khớp đúng cả type
    SELECT @DefaultId = Id
    FROM [dbo].[Tbl_RouteSegmentDefaults]
    WHERE StartLocationId   = @StartLocationId
      AND StartLocationType = @StartLocationType
      AND EndLocationId     = @EndLocationId
      AND EndLocationType   = @EndLocationType;

    IF @DefaultId IS NOT NULL
    BEGIN
        -- Result 1: từ bảng mặc định
        SELECT
            0                       AS Id,
            0                       AS TransportOrderId,
            0                       AS OrderIndex,
            @StartLocationId        AS StartLocationId,
            d.StartLocationType,
            NULL                    AS StartLocationName,
            NULL                    AS StartLat,
            NULL                    AS StartLng,
            @EndLocationId          AS EndLocationId,
            d.EndLocationType,
            NULL                    AS EndLocationName,
            NULL                    AS EndLat,
            NULL                    AS EndLng,
            d.DistanceKm,
            NULL                    AS PayloadWeight,
            d.FuelNorm,
            d.FuelAmountCalculated,
            d.ETCCost,
            d.RoutePolyline,
            d.WaypointsJson,
            1                       AS IsDefault
        FROM [dbo].[Tbl_RouteSegmentDefaults] d
        WHERE d.Id = @DefaultId;

        -- Result 2: trạm phí mặc định
        SELECT
            Id, DefaultId AS SegmentId,
            VietmapId, StationName, Price, AllPrices, IsAvoided
        FROM [dbo].[Tbl_RouteSegmentDefault_Stations]
        WHERE DefaultId = @DefaultId;
    END
    ELSE
    BEGIN
        -- Fallback: lệnh gần nhất (không phân biệt type — history dùng chung)
        SELECT TOP 1 @SegmentId = s.Id
        FROM [dbo].[Tbl_TransportOrder_Segments] s
        WHERE s.StartLocationId = @StartLocationId
          AND s.EndLocationId   = @EndLocationId
          AND s.DistanceKm IS NOT NULL
        ORDER BY s.Id DESC;

        -- Result 1: từ lịch sử lệnh
        SELECT TOP 1
            s.*,
            NULL AS WaypointsJson,
            0    AS IsDefault
        FROM [dbo].[Tbl_TransportOrder_Segments] s
        WHERE s.StartLocationId = @StartLocationId
          AND s.EndLocationId   = @EndLocationId
          AND s.DistanceKm IS NOT NULL
        ORDER BY s.Id DESC;

        -- Result 2: trạm phí lịch sử (trống — không load stations từ history)
        SELECT
            Id, SegmentId,
            VietmapId, StationName, Price, AllPrices, IsAvoided
        FROM [dbo].[Tbl_TransportOrder_Segment_Stations]
        WHERE SegmentId = -1; -- không trả stations từ history
    END
END

GO
/****** Object:  StoredProcedure [dbo].[SP_TransportOrder_Update]    Script Date: 5/15/2026 11:03:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ============================================================
-- STEP 8: SP_TransportOrder_Update
-- ============================================================
CREATE PROCEDURE [dbo].[SP_TransportOrder_Update]
    @Id                             INT,
    @ShortWay                       BIT             = 0,
    @ShippingUnitId                 INT             = NULL,
    @ShippingUnitCode               NVARCHAR(50)    = NULL,
    @ShippingUnitName               NVARCHAR(250)   = NULL,
    @ReferCode                      NVARCHAR(50)    = NULL,
    @IsSubcontractors               BIT             = NULL,
    @VehicleId                      INT             = NULL,
    @VehicleLicensePlates           NVARCHAR(50)    = NULL,
    @VehicleType                    INT             = NULL,
    @VehicleTypeCharge              FLOAT           = NULL,
    @MoocId                         INT             = NULL,
    @MoocLicensePlates              NVARCHAR(50)    = NULL,
    @DriverId                       INT             = NULL,
    @DriverName                     NVARCHAR(200)   = NULL,
    @DriverTel                      NVARCHAR(50)    = NULL,
    @SecondDriverId                 INT             = NULL,
    @SecondDriverName               NVARCHAR(200)   = NULL,
    @SecondDriverTel                NVARCHAR(50)    = NULL,
    @FuelDriverId                   INT             = NULL,
    @Weight                         FLOAT           = NULL,
    @Volume                         FLOAT           = NULL,
    @ContType                       NVARCHAR(50)    = NULL,
    @FullRoute                      NVARCHAR(1000)  = NULL,
    @OilPrice                       FLOAT           = NULL,
    @OilCompensation                FLOAT           = 0,
    @ReasonOilCompensation          NVARCHAR(500)   = NULL,
    @SubcontractorsQuoteCode        NVARCHAR(50)    = NULL,
    @SubcontractorsQuoteRouteCode   NVARCHAR(50)    = NULL,
    @SubcontractorsPurchaseCost     FLOAT           = NULL,
    @SubcontractorsPurchaseVat      FLOAT           = NULL,
    @DispatchSummarize              NVARCHAR(1000)  = NULL,
    @InquiryTimeToTheFactory        DATETIME        = NULL,
    @InquiryTimeToThePorts          DATETIME        = NULL,
    @ContactInformation             NVARCHAR(500)   = NULL,
    @Note                           NVARCHAR(MAX)   = NULL,
    @TongKm                         FLOAT           = NULL,
    @Tongdau                        FLOAT           = NULL,
    @Chiphidau                      FLOAT           = NULL,
    @IsFuelApproval                 BIT             = 0,
    @IsRePaymentEtc                 BIT             = 0,
    @IsEmployeeDebitClosing         BIT             = 0,
    @StartedDate                    DATETIME        = NULL,
    @Finished                       BIT             = 0,
    @NoteFinished                   NVARCHAR(255)   = NULL,
    @FinishedDate                   DATETIME        = NULL,
    @StartVehicleOdor               FLOAT           = NULL,
    @StartEupOdor                   FLOAT           = NULL,
    @FinishVehicleOdor              FLOAT           = NULL,
    @FinishEupOdor                  FLOAT           = NULL,
    @UpdatedBy                      UNIQUEIDENTIFIER,
    @ListSegments           TypeTransportOrderSegment           READONLY,
    @ListSegmentStations    TypeTransportOrderSegmentStation    READONLY,
    @ListSegmentWaypoints   TypeTransportOrderSegmentWaypoint   READONLY,
    @ListDetails            TypeTransportOrderDetail            READONLY,
    @ListFees               TypeTransportOrderFee               READONLY
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;
    BEGIN TRAN;
    BEGIN TRY

        UPDATE [dbo].[Tbl_TransportOrders]
        SET
            [ShortWay]                      = @ShortWay,
            [ShippingUnitId]                = @ShippingUnitId,
            [ShippingUnitCode]              = @ShippingUnitCode,
            [ShippingUnitName]              = @ShippingUnitName,
            [ReferCode]                     = @ReferCode,
            [IsSubcontractors]              = @IsSubcontractors,
            [VehicleId]                     = @VehicleId,
            [VehicleLicensePlates]          = @VehicleLicensePlates,
            [VehicleType]                   = @VehicleType,
            [VehicleTypeCharge]             = @VehicleTypeCharge,
            [MoocId]                        = @MoocId,
            [MoocLicensePlates]             = @MoocLicensePlates,
            [DriverId]                      = @DriverId,
            [DriverName]                    = @DriverName,
            [DriverTel]                     = @DriverTel,
            [SecondDriverId]                = @SecondDriverId,
            [SecondDriverName]              = @SecondDriverName,
            [SecondDriverTel]               = @SecondDriverTel,
            [FuelDriverId]                  = @FuelDriverId,
            [Weight]                        = @Weight,
            [Volume]                        = @Volume,
            [ContType]                      = @ContType,
            [FullRoute]                     = @FullRoute,
            [OilPrice]                      = @OilPrice,
            [OilCompensation]               = @OilCompensation,
            [ReasonOilCompensation]         = @ReasonOilCompensation,
            [SubcontractorsQuoteCode]       = @SubcontractorsQuoteCode,
            [SubcontractorsQuoteRouteCode]  = @SubcontractorsQuoteRouteCode,
            [SubcontractorsPurchaseCost]    = @SubcontractorsPurchaseCost,
            [SubcontractorsPurchaseVat]     = @SubcontractorsPurchaseVat,
            [DispatchSummarize]             = @DispatchSummarize,
            [InquiryTimeToTheFactory]       = @InquiryTimeToTheFactory,
            [InquiryTimeToThePorts]         = @InquiryTimeToThePorts,
            [ContactInformation]            = @ContactInformation,
            [Note]                          = @Note,
            [TongKm]                        = @TongKm,
            [Tongdau]                       = @Tongdau,
            [Chiphidau]                     = @Chiphidau,
            [IsFuelApproval]                = @IsFuelApproval,
            [IsRePaymentEtc]                = @IsRePaymentEtc,
            [IsEmployeeDebitClosing]        = @IsEmployeeDebitClosing,
            [StartedDate]                   = @StartedDate,
            [Finished]                      = @Finished,
            [NoteFinished]                  = @NoteFinished,
            [FinishedDate]                  = @FinishedDate,
            [StartVehicleOdor]              = @StartVehicleOdor,
            [StartEupOdor]                  = @StartEupOdor,
            [FinishVehicleOdor]             = @FinishVehicleOdor,
            [FinishEupOdor]                 = @FinishEupOdor,
            [UpdatedBy]                     = @UpdatedBy,
            [UpdatedDate]                   = GETDATE()
        WHERE Id = @Id AND Deleted = 0;

        -- Delete in FK order: Waypoints → Stations → Segments
        DELETE w FROM [dbo].[Tbl_TransportOrder_Segment_Waypoints] w
        INNER JOIN [dbo].[Tbl_TransportOrder_Segments] s ON s.Id = w.SegmentId
        WHERE s.TransportOrderId = @Id;

        DELETE st FROM [dbo].[Tbl_TransportOrder_Segment_Stations] st
        INNER JOIN [dbo].[Tbl_TransportOrder_Segments] s ON s.Id = st.SegmentId
        WHERE s.TransportOrderId = @Id;

        DELETE FROM [dbo].[Tbl_TransportOrder_Segments] WHERE TransportOrderId = @Id;

        DECLARE @SegMap TABLE (OrderIndex INT, SegmentId INT);

        INSERT INTO [dbo].[Tbl_TransportOrder_Segments] (
            [TransportOrderId], [OrderIndex],
            [StartLocationId], [StartLocationType], [StartLocationName], [StartLat], [StartLng],
            [EndLocationId], [EndLocationType], [EndLocationName], [EndLat], [EndLng],
            [DistanceKm], [PayloadWeight], [FuelNorm], [FuelAmountCalculated], [ETCCost],
            [RoutePolyline]
        )
        OUTPUT inserted.OrderIndex, inserted.Id INTO @SegMap(OrderIndex, SegmentId)
        SELECT
            @Id, s.OrderIndex,
            s.StartLocationId, s.StartLocationType, s.StartLocationName, s.StartLat, s.StartLng,
            s.EndLocationId,   s.EndLocationType,   s.EndLocationName,   s.EndLat,   s.EndLng,
            s.DistanceKm, s.PayloadWeight, s.FuelNorm, s.FuelAmountCalculated, s.ETCCost,
            s.RoutePolyline
        FROM @ListSegments s;

        INSERT INTO [dbo].[Tbl_TransportOrder_Segment_Stations] (
            [SegmentId], [VietmapId], [StationName], [Price], [AllPrices], [IsAvoided]
        )
        SELECT sm.SegmentId, st.VietmapId, st.StationName, st.Price, st.AllPrices, ISNULL(st.IsAvoided, 0)
        FROM @ListSegmentStations st
        INNER JOIN @SegMap sm ON sm.OrderIndex = st.SegmentIndex;

        INSERT INTO [dbo].[Tbl_TransportOrder_Segment_Waypoints] (
            [SegmentId], [OrderIndex], [Lat], [Lng], [Name], [DistanceM]
        )
        SELECT sm.SegmentId, w.OrderIndex, w.Lat, w.Lng, w.Name, w.DistanceM
        FROM @ListSegmentWaypoints w
        INNER JOIN @SegMap sm ON sm.OrderIndex = w.SegmentIndex;

        DELETE FROM [dbo].[Tbl_TransportOrder_Details] WHERE TransportOrderId = @Id;
        INSERT INTO [dbo].[Tbl_TransportOrder_Details] ([TransportOrderId], [ShippingTaskId])
        SELECT @Id, ShippingTaskId FROM @ListDetails;

        MERGE INTO [dbo].[Tbl_TransportOrder_Fees] AS Target
        USING @ListFees AS Source
        ON Target.TransportOrderId = @Id AND Target.Id = Source.Id
        WHEN MATCHED THEN
            UPDATE SET
                Target.Quantity   = Source.Quantity,   Target.Cost      = Source.Cost,
                Target.Vat        = Source.Vat,        Target.TotalCost = Source.TotalCost,
                Target.Note       = Source.Note
        WHEN NOT MATCHED BY TARGET THEN
            INSERT ([TransportOrderId], [FeeId], [FeeCode], [FeeName], [Quantity], [ContentsId],
                    [Contents], [Cost], [Vat], [TotalCost], [Note], [Type])
            VALUES (@Id, Source.FeeId, Source.FeeCode, Source.FeeName, Source.Quantity,
                    Source.ContentsId, Source.Contents, Source.Cost, Source.Vat,
                    Source.TotalCost, Source.Note, Source.Type)
        WHEN NOT MATCHED BY SOURCE AND Target.TransportOrderId = @Id THEN DELETE;

        COMMIT;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        DECLARE @ErrorMessage NVARCHAR(4000);
        SELECT @ErrorMessage = ERROR_MESSAGE();
        RAISERROR(@ErrorMessage, 16, 1);
    END CATCH;
END

GO
/****** Object:  StoredProcedure [dbo].[SP_TransportOrder_UpdateStatus]    Script Date: 5/15/2026 11:03:25 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP_TransportOrder_UpdateStatus 1, 1, NULL, NULL, 0
CREATE PROCEDURE [dbo].[SP_TransportOrder_UpdateStatus]
    @Id          INT,
    @Status      INT,
    @UserId      UNIQUEIDENTIFIER = NULL,
    @Feedback    NVARCHAR(500)    = NULL,
    @IsRejection BIT              = 0
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @CurrentStatus INT;
    BEGIN TRANSACTION;
    BEGIN TRY
        SELECT @CurrentStatus = Status
        FROM [dbo].[Tbl_TransportOrders]
        WHERE Id = @Id AND Deleted = 0;

        IF @IsRejection = 1
        BEGIN
            UPDATE [dbo].[Tbl_TransportOrders]
            SET Status = 0, IsDeny = 1, Feedback = @Feedback
            WHERE Id = @Id AND Deleted = 0;
        END
        ELSE
        BEGIN
            IF @CurrentStatus <> @Status
            BEGIN
                UPDATE [dbo].[Tbl_TransportOrders]
                SET Status = @Status, IsDeny = 0, Feedback = N''
                WHERE Id = @Id AND Deleted = 0;
            END
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        DECLARE @ErrorMessage NVARCHAR(4000), @ErrorSeverity INT, @ErrorState INT;
        SELECT @ErrorMessage = ERROR_MESSAGE(),
               @ErrorSeverity = ERROR_SEVERITY(),
               @ErrorState = ERROR_STATE();
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END
GO
