USE [DELTASOFT]
GO
/****** Object:  Table [dbo].[Tbl_TransportOrder_Details]    Script Date: 4/17/2026 10:40:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_TransportOrder_Details](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransportOrderId] [int] NOT NULL,
	[ShippingTaskId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_TransportOrder_Fees]    Script Date: 4/17/2026 10:40:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_TransportOrder_Fees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RefNo] [nvarchar](50) NULL,
	[TransportOrderId] [int] NOT NULL,
	[FeeId] [int] NULL,
	[FeeCode] [nvarchar](50) NULL,
	[FeeName] [nvarchar](250) NULL,
	[Quantity] [float] NULL,
	[ContentsId] [int] NULL,
	[Contents] [nvarchar](500) NULL,
	[Cost] [float] NULL,
	[Vat] [float] NULL,
	[TotalCost] [float] NULL,
	[Note] [nvarchar](max) NULL,
	[Checked] [bit] NULL,
	[Type] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_TransportOrder_Segment_Etcs]    Script Date: 4/17/2026 10:40:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_TransportOrder_Segment_Etcs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SegmentId] [int] NOT NULL,
	[StationId] [nvarchar](100) NULL,
	[StationName] [nvarchar](250) NULL,
	[Price] [float] NULL,
	[Note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_TransportOrder_Segments]    Script Date: 4/17/2026 10:40:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_TransportOrder_Segments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransportOrderId] [int] NOT NULL,
	[OrderIndex] [int] NULL,
	[StartLocationId] [int] NULL,
	[StartLocationName] [nvarchar](250) NULL,
	[StartLat] [float] NULL,
	[StartLng] [float] NULL,
	[EndLocationId] [int] NULL,
	[EndLocationName] [nvarchar](250) NULL,
	[EndLat] [float] NULL,
	[EndLng] [float] NULL,
	[DistanceKm] [float] NULL,
	[PayloadWeight] [float] NULL,
	[FuelNorm] [float] NULL,
	[FuelAmountCalculated] [float] NULL,
	[ETCCost] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_TransportOrders]    Script Date: 4/17/2026 10:40:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_TransportOrders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RefNo] [nvarchar](50) NULL,
	[BranchId] [int] NULL,
	[ShortWay] [bit] NULL,
	[ShippingUnitId] [int] NULL,
	[ShippingUnitCode] [nvarchar](50) NULL,
	[ShippingUnitName] [nvarchar](250) NULL,
	[ReferCode] [nvarchar](50) NULL,
	[IsSubcontractors] [bit] NULL,
	[VehicleId] [int] NULL,
	[VehicleLicensePlates] [nvarchar](50) NULL,
	[VehicleType] [int] NULL,
	[VehicleTypeCharge] [float] NULL,
	[MoocId] [int] NULL,
	[MoocLicensePlates] [nvarchar](50) NULL,
	[DriverId] [int] NULL,
	[DriverName] [nvarchar](200) NULL,
	[DriverTel] [nvarchar](50) NULL,
	[SecondDriverId] [int] NULL,
	[SecondDriverName] [nvarchar](200) NULL,
	[SecondDriverTel] [nvarchar](50) NULL,
	[FuelDriverId] [int] NULL,
	[Weight] [float] NULL,
	[Volume] [float] NULL,
	[IsExport] [bit] NULL,
	[ContType] [nvarchar](50) NULL,
	[FullRoute] [nvarchar](1000) NULL,
	[OilPrice] [float] NULL,
	[OilCompensation] [float] NULL,
	[ReasonOilCompensation] [nvarchar](500) NULL,
	[LuotdiQuabai] [bit] NULL,
	[LuotveQuabai] [bit] NULL,
	[SubcontractorsQuoteCode] [nvarchar](50) NULL,
	[SubcontractorsQuoteRouteCode] [nvarchar](50) NULL,
	[SubcontractorsPurchaseCost] [float] NULL,
	[SubcontractorsPurchaseVat] [float] NULL,
	[DispatchSummarize] [nvarchar](1000) NULL,
	[InquiryTimeToTheFactory] [datetime] NULL,
	[InquiryTimeToThePorts] [datetime] NULL,
	[ContactInformation] [nvarchar](500) NULL,
	[Note] [nvarchar](max) NULL,
	[StartVehicleOdor] [int] NULL,
	[StartEupOdor] [int] NULL,
	[FinishVehicleOdor] [int] NULL,
	[FinishEupOdor] [int] NULL,
	[GradeSubcontractors] [int] NULL,
	[EvaluationSubcontractors] [nvarchar](500) NULL,
	[GradeDriver] [int] NULL,
	[EvaluationDriver] [nvarchar](500) NULL,
	[StartedDate] [datetime] NULL,
	[Finished] [bit] NULL,
	[NoteFinished] [nvarchar](max) NULL,
	[FinishedDate] [datetime] NULL,
	[Status] [int] NULL,
	[IsDeny] [bit] NULL,
	[Feedback] [nvarchar](500) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedByName] [nvarchar](250) NULL,
	[ClosingBy] [nvarchar](50) NULL,
	[ClosingDate] [datetime] NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[UpdatedDate] [datetime] NULL,
	[Deleted] [bit] NULL,
	[IsFuelApproval] [bit] NULL,
	[IsRePaymentEtc] [bit] NULL,
	[IsEmployeeDebitClosing] [bit] NULL,
	[TongKm] [float] NULL,
	[Tongdau] [float] NULL,
	[Chiphidau] [float] NULL,
	[IsSummarized] [bit] NULL,
	[AccountingDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbl_TransportOrder_Details]  WITH CHECK ADD FOREIGN KEY([TransportOrderId])
REFERENCES [dbo].[Tbl_TransportOrders] ([Id])
GO
ALTER TABLE [dbo].[Tbl_TransportOrder_Fees]  WITH CHECK ADD FOREIGN KEY([TransportOrderId])
REFERENCES [dbo].[Tbl_TransportOrders] ([Id])
GO
ALTER TABLE [dbo].[Tbl_TransportOrder_Segment_Etcs]  WITH CHECK ADD FOREIGN KEY([SegmentId])
REFERENCES [dbo].[Tbl_TransportOrder_Segments] ([Id])
GO
ALTER TABLE [dbo].[Tbl_TransportOrder_Segments]  WITH CHECK ADD FOREIGN KEY([TransportOrderId])
REFERENCES [dbo].[Tbl_TransportOrders] ([Id])
GO
