<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="onHidden()">
  <div class="modal-dialog modal-lg diaglog=debit">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Cập nhật thông tin NỢ hóa đơn</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <div class="form-group" *ngIf="!flagNew">
              <label class="col-sm-3 control-label">Số phiếu</label>
              <div class="col-sm-3">
                <span class="form-control">{{entity.refNo}}</span>
              </div>
              <label class="col-sm-3 control-label">Ngày lập</label>
              <div class="col-sm-3">
                <span class="form-control">{{entity.createdDate|date:'dd/MM/yyyy'}}</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Nội dung
                <span class="error">*</span>
              </label>
              <div class="col-sm-9">
                <textarea class="form-control textrea-size" [(ngModel)]="entity.contents" name="contents"
                  placeholder="Nhập nội dung" required [readonly]="flagXem" rows="2"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Số hóa đơn <span class="error">*</span>
              </label>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="invoiceno" [(ngModel)]="entity.invoiceNo" required
                  [readonly]="flagXem" />
              </div>
              <label class="col-sm-3 control-label">Ngày hóa đơn <span class="error">*</span>
              </label>
              <div class="col-sm-3">
                <input name="invoiceDate" type="text" daterangepicker [options]="dateTimeOptions" required
                  [(ngModel)]="entity.invoiceDate" class="form-control" (selected)="selectedNgaybatdau($event)"
                  (hideDaterangepicker)="closedNgaybatdau($event)" autocomplete="off" [disabled]="flagXem">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Mã số thuế</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="invoicemst" [(ngModel)]="entity.taxNumber"
                  [readonly]="flagXem" />
              </div>
              <label class="col-sm-3 control-label">Mẫu hóa đơn</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="invoicecode" [(ngModel)]="entity.code"
                  [readonly]="flagXem" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Web</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="invoiceweb" [(ngModel)]="entity.web"
                  [readonly]="flagXem" />
              </div>
              <label class="col-sm-3 control-label">Mã tra cứu</label>
              <div class="col-sm-3">
                <input type="text" class="form-control" name="invoicepattern" [(ngModel)]="entity.invoicePattern"
                  [readonly]="flagXem" />
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Ghi chú</label>
              <div class="col-sm-9">
                <textarea class="form-control textrea-size" [(ngModel)]="entity.note" name="ghichu" rows="1"
                  placeholder="Nhập ghi chú" ></textarea>
              </div>
            </div>
            <div class="form-group" *ngIf="entity.status<1">
              <label class="col-sm-3 control-label"></label>
              <div class="col-sm-9">
                <label class="custom-checkbox">
                  <input type="checkbox" [(ngModel)]="isChecked" name="status" [disabled]="flagXem" />
                  <span class="helping-el" style="color: blue;"></span>
                  Chuyển duyệt
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="table-wrapper-scroll-y tableFixHead">
                <table class="table table-bordered table-striped table-hover table_wrapper">
                  <thead>
                    <tr>
                      <th>Số phiếu</th>
                      <th>Id</th>
                      <th>Tên phí</th>
                      <th>Diễn giải</th>
                      <th>Số tiền</th>
                      <th>VAT</th>
                      <th>Tổng tiền</th>
                      <th>Ghi chú</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of entity.details">
                      <td>
                        <a (click)="showPayment(item)">{{item.paymentRefNo}}</a>
                      </td>
                      <td>{{item.paymentDetailId}}</td>
                      <td>{{item.feeCode +' - ' + item.feeName}}</td>
                      <td>{{item.contents}}</td>
                      <td>{{item.amount|VND}}</td>
                      <td>{{item.vat|VND}}</td>
                      <td>{{item.amountAfterVAT|VND }}</td>
                      <td>{{item.notes }}</td>

                    </tr>
                    <tr *ngIf="entity.details?.length == 0">
                      <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="hasPermissionApproved && entity.status ==1" type="button" (click)="approved(true)"
            class="btn btn-success btn-sm">
            <i class="fa fa-check"></i> Duyệt</button>
            <button *ngIf="hasPermissionApproved  && entity.status==1" type="button" (click)="approved(false)"
            class="btn btn-warning btn-sm" [disabled]="entity.note?.trim().length<1">
            <i class="fa fa-exclamation-triangle"></i> Từ chối</button>
            <button *ngIf="entity.status<1" [disabled]="!addEditForm.form.valid || flagXem" type="submit" class="btn btn-primary btn-sm">
              <i class="fa fa-edit"></i> Cập nhật</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
<modal-payment-detail *ngIf="viewModal"  (CloseModal)="closeModal()">
</modal-payment-detail>