

.table-wrapper-scroll-y {
    display: block;
  }

  .my-custom-scrollbar {
    position: relative;
    min-height: 150px;
    max-height: 150px;
    overflow: auto;
  }
  thead tr:nth-child(1) th{background: #dcefe5f6; position: sticky;top: 0px;z-index: 10;}
