<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left"> LỰA CHỌN SUBLIST</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
              <label class="col-sm-3 control-label">Loại danh mục</label>
              <div class="col-sm-3">
                <ng-select [items]="listType"  name="listType" 
                    bindLabel="text"
                    bindValue="id"
                    [(ngModel)]="_type" (change)="changeLanguage()">
                </ng-select>
              </div>
              <label class="col-sm-3 control-label">Ngôn ngữ</label>
                <div class="col-sm-3">
                  <ng-select [items]="listLanguages"  name="listLanguages" 
                      bindLabel="text"
                      bindValue="id"
                      [(ngModel)]="_languages" (change)="changeLanguage()">
                  </ng-select>
                </div>
            </div>
            <div class="form-group">
              <div style="padding-left:15px; padding-right:15px" class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th></th>
                      <th (click)="sortData('name')">Tên</th>
                    </tr>
                    <tr>
                      <th></th>
                      <th>
                        <input type="text" name="filterName" class="form-control" [(ngModel)]="filterColumns.name" (input)="filterData()" />
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of filteredData" (click)="clickRow(item)">
                      <td class="table-checkbox">
                        <label class="custom-checkbox">
                          <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
                          <span class="helping-el"></span>
                        </label>
                      </td>
                      <td>{{ item.name }}</td>
                    </tr>
                    <tr *ngIf="filteredData?.length === 0">
                      <td colspan="4">Không có bản ghi nào được tìm thấy!</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="confirmSelection()" [disabled]="!isChecked">Chấp nhận</button>
        <button type="button" class="btn btn-danger" (click)="modalAddEdit.hide()">Hủy bỏ</button>
      </div>
    </div>
  </div>
</div>


