<!-- Modal them va sua -->
<div ngDraggable [handle]="myHandle" bsModal #modalAddEdit="bs-modal" class="modal fade modal-mg-top-80" tabindex="-1"
  role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" (onShown)="onShow()"
  [config]="{backdrop: 'static'}" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Chi tiết trả nợ</h4>
        <button type="button" class="close pull-right" (click)="modalAddEdit.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height:450px;" id="tb-scroll">
        <div class="box-body table-responsive no-padding">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>Số phiếu</th>
                <th>Ngày</th>
                <th>Ghi chú</th>
                <th>Số tiền</th>
                <th style="width: 120px;">Thu tiền</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listRepaymnet">
                <td>
                  <a [routerLink]="[]" (click)="showRepayment(item)">{{item.refNo}}</a>
                </td>
                <td>{{item.refDate|date:'dd/MM/yyyy'}}</td>
                <td>{{item.notes}}</td>
                <td class="so-tien">{{item.amount|currency:'VND':''}}</td>
                <td class="table-checkbox">
                  <label class="custom-checkbox">
                    <input type="checkbox" value="{{item.id}}" [checked]="item.isComplete" disabled="true"/>
                    <span class="helping-el"></span>
                  </label>
                </td>
              </tr>
              <tr *ngIf="listRepaymnet?.length == 0">
                <td colspan="100%">
                  Không có bản ghi nào được tìm thấy!
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /.box-body -->
      <div class="box-footer text-right">
        <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
          <i class="fa fa-close"></i>Hủy</button>
      </div>
      <!-- /.box-footer -->
    </div>
  </div>
</div>
<!-- Simple syntax -->
<div [ngBusy]="busy"></div>
<modal-repayment *ngIf="viewModal" (CloseModal)="closeRepayment()">
</modal-repayment>
