<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Khách hàng mục tiêu</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <div class="form-group">
              <label class="col-sm-2 control-label">Tên khách hàng
                <span class="error">*</span>
              </label>
              <div class="{{ (entity.customerCode==null || entity.customerCode?.length==0)?'col-sm-10':'col-sm-8'}}">
                <input type="text" #tennhomquyen="ngModel" [(ngModel)]="entity.customerName" required maxlength="255"
                  name="tenpkh" class="form-control" placeholder="Nhập tên khách hàng..." focus [readonly]="flagXem" />
                <small [hidden]="tennhomquyen.valid || (tennhomquyen.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Tên không được để trống và không vượt quá 255 kí tự
                </small>
              </div>
              <div *ngIf="entity.customerCode" class="col-sm-2">
                <input class="form-control" [(ngModel)]="entity.customerCode" type="text" name="code"
                  placeholder="Nhập mã khách hàng" [readonly]="true" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Tên tiếng Anh
              </label>
              <div class="col-sm-10">
                <input type="text" #tennhomquyen="ngModel" [(ngModel)]="entity.nameEnglish" name="nameen"
                  class="form-control" placeholder="Nhập tên tiếng Anh" focus [readonly]="flagXem" />
              </div>
            </div>
            <div class="form-group">
              <!-- <label class="col-sm-2 control-label">Mã khách hàng</label>
              <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="entity.customerCode" type="text" name="code"
                  placeholder="Nhập mã khách hàng" [readonly]="flagXem" />
              </div> -->
              <label class="col-sm-2 control-label">Nhân viên
              </label>
              <div class="col-sm-4">
                <ng-select name="employee" [items]="listEmployees" bindLabel="employeeFullName" bindValue="id" [readonly]="flagXem"
                  [(ngModel)]="entity.employeeId" placeholder="Chọn nhân viên...">
                </ng-select>
              </div>
              <label class="col-sm-2 control-label">Mã số thuế
              </label>
              <div class="col-sm-4">
                <input type="text" #tennhomquyen="ngModel" [(ngModel)]="entity.taxCode" name="taxcode"
                  class="form-control" placeholder="Nhập mã số thuế" focus [readonly]="flagXem" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Điện thoại
              </label>
              <div class="col-sm-4">
                <input type="text" #tennhomquyen="ngModel" [(ngModel)]="entity.tel" name="tel" class="form-control"
                  placeholder="Điện thoại" focus [readonly]="flagXem" />
              </div>
              <label class="col-sm-2 control-label">Email</label>
              <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="entity.website" type="text" name="web" placeholder="Nhập email"
                  [readonly]="flagXem" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Địa chỉ</label>
              <div class="col-sm-10">
                <input class="form-control" [(ngModel)]="entity.address" type="text" name="add"
                  placeholder="Nhập địa chỉ" [readonly]="flagXem" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Người đại diện
              </label>
              <div class="col-sm-4">
                <input type="text" #tennhomquyen="ngModel" [(ngModel)]="entity.contact" name="contact"
                  class="form-control" placeholder="Người đại diện" focus [readonly]="flagXem" />
              </div>
              <label class="col-sm-2 control-label">Chức vụ</label>
              <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="entity.contactPosition" type="text" name="contactPosition"
                  placeholder="Chức vụ" [readonly]="flagXem" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Số điện thoại
              </label>
              <div class="col-sm-4">
                <input type="text" #tennhomquyen="ngModel" [(ngModel)]="entity.contactTel" name="contactTel"
                  class="form-control" placeholder="Số điện thoại người đại diện" focus [readonly]="flagXem" />
              </div>
              <label class="col-sm-2 control-label">Email</label>
              <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="entity.contactEmail" type="text" name="email"
                  placeholder="Email" [readonly]="flagXem" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Chi nhánh
                <span class="error">*</span>
              </label>
              <div class="col-sm-4">
                <ng-select name="chinhanh" [items]="listBranch" bindLabel="branchName" bindValue="id"
                  [(ngModel)]="entity.branchId" [readonly]="true">
                </ng-select>
              </div>
              <label class="col-sm-2 control-label">Nhóm khách hàng
              </label>
              <div class="col-sm-4">
                <ng-select name="typekh" [items]="listTypes" bindLabel="categoryName" bindValue="id"
                  [(ngModel)]="entity.customerType" [readonly]="flagXem">
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Quốc gia
                <!-- <span class="error">*</span> -->
              </label>
              <div class="col-sm-4">
                <ng-select name="quocgia" [items]="listCountrys" bindLabel="countryName" bindValue="countryCode"
                  [(ngModel)]="entity.countryCode" [readonly]="flagXem">
                </ng-select>
              </div>
              <label class="col-sm-2 control-label">Tỉnh
              </label>
              <div class="col-sm-4">
                <ng-select name="tinh" [items]="listProvinces" bindLabel="provinceName" bindValue="provinceCode"
                  [(ngModel)]="entity.provinceCode" [readonly]="flagXem">
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Ghi chú</label>
              <div class="col-sm-10">
                <textarea class="form-control textrea-size" [(ngModel)]="entity.notes" name="ghichu" rows="3"
                  placeholder="Nhập ghi chú" [readonly]="flagXem"></textarea>
              </div>
            </div>
            <!-- <div class="form-group">
              <label class="col-sm-2 control-label"></label>
              <div class="col-sm-4">
                <label class="custom-checkbox">
                  <input type="checkbox" [(ngModel)]="entity.status" name="status" />
                  <span class="helping-el"></span>
                  Trạng thái
                </label>
              </div>
            </div> -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="!flagXem" type="submit" class="btn btn-primary btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave">
              <i class="fa fa-save"></i> Lưu</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
