<div class="box box-primary box-chieu-cao">
  <div class="row">
    <div class="box-header with-border">
      <div class="col-md-2">
        <h3 class="box-title">Thực hiện giao nhận vận chuyển</h3>
      </div>
      <div class="col-md-2">
        <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
          class="form-control">
        <!-- <label class="input-group-text" style="padding-right: 20px;">Tháng: </label> -->
      </div>
      <div class="col-md-1">
        <ng-select class="auto-grow" name="chinhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id"
          [(ngModel)]="branchId" (change)="changedBranch($event)" [disabled]="!userLoged.isAdmin">
        </ng-select>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
            placeholder="Từ khóa" />
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
              <i class="fa fa-search"></i>
            </button>
          </span>
          <span class="input-group-btn">
            <button class="btn btn-success btn-flat btn-sm" style="height: 28px;" (click)="exportExcel()"
              title="Xuất dữ liệu">
              <i class="fa fa-file-excel-o"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-warning btn-sm" (click)="updateGroup()" appPermission appFunction="DISPATCHORDER"
          appAction="CREATE">
          <i class="fa fa-check"></i> Cập nhật Nhóm
        </button>
        <button class="btn btn-success btn-sm" (click)="createDispatchOrder()" [disabled]="!flagDelete" appPermission
          appFunction="DISPATCHORDER" appAction="CREATE">
          <i class="fa fa-check"></i> Lập lệnh vận chuyển
        </button>
        <button class="btn btn-primary btn-sm" (click)="createTransportOrder()"
          [disabled]="!flagDelete" appPermission appFunction="DISPATCHORDER" appAction="CREATE">
          <i class="fa fa-map-marker"></i> Lập lệnh (Location)
        </button>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding table-wrapper-scroll-y table_wrappe" style="position: relative;"
    id="div#style-scroll-1">
    <ngx-spinner [fullScreen]="false" bdOpacity=0.9 bdColor="#f4f4f9" size="medium" color="#1010ee" name="spinner1"
      type="ball-clip-rotate" size="medium">
      <p class="loading">Tải dữ liệu ...</p>
    </ngx-spinner>
    <table class="table table-bordered table-hover  table-striped ">
      <thead>
        <tr>
          <th class="table-checkbox" style="width: 30px;">
            <label class="custom-checkbox"> ID</label>
          </th>
          <th>Biên bản</th>
          <th>Lệnh</th>
          <th>Loại Cont</th>
          <th>Tên khách hàng/JobId</th>
          <th class="column-ten-md">T/g KH yêu cầu</th>
          <th class="column-ten-lg">Địa điểm lấy/giao hàng</th>
          <th class="column-ten-lg">Cảng nâng/hạ</th>
          <th class="column-ten-md">Cut-Off-Time/hạ hàng</th>
          <th class="column-ten-md">Thời hạn pick-up cont tại Cảng</th>
          <th class="column-ten-md">Thời hạn trả cont rỗng </th>
          <th class="column-ten-md">Số Bill/Booking</th>
          <th class="column-ten-md">Số Cont-Chì</th>
          <th style="min-width: 80px;">Nhóm</th>
          <th>Lái xe dự kiến</th>
          <th class="column-ten-sm">Tải trọng hàng</th>
          <th class="column-ten-lg">Ghi chú</th>
          <th class="column-ten-lg">T/t xuất HĐ nâng hạ Cont</th>
          <th class="column-ten-lg">Op Man ghi chú</th>
          <th class="column-ten-md">Số lệnh</th>
          <th class="column-ten-md">Số Xe</th>
          <th class="column-ten-lg">Lái xe/SĐT</th>
          <th class="column-ten-lg">CS tạo việc/SĐT</th>
        </tr>
        <!-- Dòng filter -->
        <tr>
          <th><input type="text" class="form-control" [(ngModel)]="filterColumns.id" (keyup)="filterData()"></th>
          <th colspan="2"></th>
          <th><input type="text" class="form-control" [(ngModel)]="filterColumns.contType" (keyup)="filterData()"></th>
          <th><input type="text" class="form-control" [(ngModel)]="filterColumns.customerName" (keyup)="filterData()">
          </th>
          <th><input type="text" class="form-control" [(ngModel)]="filterColumns.pickupTime" (keyup)="filterData()">
          </th>
          <th><input type="text" class="form-control" [(ngModel)]="filterColumns.pickupLocation" (keyup)="filterData()">
          </th>
          <th><input type="text" class="form-control" [(ngModel)]="filterColumns.portOfLiffting" (keyup)="filterData()">
          </th>
          <th><input type="text" class="form-control" [(ngModel)]="filterColumns.cutOffTime" (keyup)="filterData()">
          </th>
          <th><input type="text" class="form-control" [(ngModel)]="filterColumns.demurageTime" (keyup)="filterData()">
          </th>
          <th><input type="text" class="form-control" [(ngModel)]="filterColumns.detentionTime" (keyup)="filterData()">
          </th>
          <th><input type="text" class="form-control" [(ngModel)]="filterColumns.billBooking" (keyup)="filterData()">
          </th>
          <th><input type="text" class="form-control" [(ngModel)]="filterColumns.containerNumber"
              (keyup)="filterData()"></th>
          <th><input type="text" class="form-control" [(ngModel)]="filterColumns.planningGroup" (keyup)="filterData()">
          </th>
          <th><input type="text" class="form-control" [(ngModel)]="filterColumns.planningDriverName"
              (keyup)="filterData()"></th>
          <th><input type="text" class="form-control" [(ngModel)]="filterColumns.weight" (keyup)="filterData()"></th>
          <th><input type="text" class="form-control" [(ngModel)]="filterColumns.note" (keyup)="filterData()"></th>
          <th><input type="text" class="form-control" [(ngModel)]="filterColumns.informationOnContainerLiffInvoice"
              (keyup)="filterData()"></th>
          <th><input type="text" class="form-control" [(ngModel)]="filterColumns.opManNote" (keyup)="filterData()"></th>
          <th><input type="text" class="form-control" [(ngModel)]="filterColumns.refNo" (keyup)="filterData()"></th>
          <th><input type="text" class="form-control" [(ngModel)]="filterColumns.vehiclelLicensePlates"
              (keyup)="filterData()"></th>
          <th><input type="text" class="form-control" [(ngModel)]="filterColumns.driverName" (keyup)="filterData()">
          </th>
          <th><input type="text" class="form-control" [(ngModel)]="filterColumns.createdByName" (keyup)="filterData()">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredData; let i = index " (click)="clickRowCongviec(item)"
          [style.background-color]="item.status>0 ? item.refNo?.length<1?'white':'#E2AEF4' : '#9EF1D5'">
          <td class="table-checkbox" style="min-width: 100px;">
            <label class="custom-checkbox">
              <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
              <span class="helping-el"></span>
              <span style="padding-left: 5px;"><a (click)="showModal(item)">{{item.id}}</a></span>
            </label>
          </td>
          <td>
            <label class="custom-checkbox">
              <input type="checkbox" value="hasMinutes{{ item.id }}" [(ngModel)]="item.hasMinutes"
                (change)="updateMinutes(item)" />
              <span class="helping-el"></span>
            </label>
          </td>
          <td>
            <label class="custom-checkbox">
              <input type="checkbox" value="hasOrders{{ item.id }}" [(ngModel)]="item.hasOrders"
                (change)="updateOrders(item)" />
              <span class="helping-el"></span>
            </label>
          </td>
          <td>
            <span>
              {{item.contType}}
            </span>
          </td>
          <td>
            <span>
              {{item.customerName}}
            </span>
            <br>
            <span style="color:blue;"><b>{{item.jobId}}</b></span>
          </td>
          <td>
            <span style="color: blue;">{{item.pickupTime | date:'dd/MM/yyyy HH:mm'}}</span>
          </td>
          <td><span style="color: blue;">{{item.pickupLocation }}</span><br><span style="color: saddlebrown;">
              {{item.deliveryLocation}}</span></td>
          <td><span style="color: blue;">{{item.portOfLiftingName }}</span><br><span style="color: saddlebrown;">
              {{item.portOfLiftOffName}}</span></td>
          <td>
            <span>
              {{item.cutOffTime | date:'dd/MM/yyyy HH:mm'}}
            </span>
          </td>
          <td><span>
              {{item.demurageTime | date:'dd/MM/yyyy HH:mm'}}
            </span></td>
          <td><span>
              {{item.detentionTime | date:'dd/MM/yyyy HH:mm'}}
            </span></td>
          <td>{{item.billBooking}}</td>
          <td>
            <span *ngIf="item.shipmentType!=1174">
              {{ (item.containerNumber || '') + ((item.containerNumber?.length > 0 ? '-' : '') + (item.sealNumber ||
              ''))
              }}
            </span>
            <div class="input-group" *ngIf="item.shipmentType==1174">
              <input type="text" class="form-control" name="containerNumber{{item.id}}"
                [(ngModel)]="item.containerNumber">
              <span class="input-group-btn">
                <button style="height: 28px;" class="btn btn-warning btn-flat btn-sm" type="button"
                  (click)="updateContainer(item)">
                  <i class="fa fa-check"></i>
                </button>
              </span>
            </div>
          </td>
          <td>
            <ng-select name="planningGroup" [items]="listGroup" appendTo="body" [disabled]="item.refNo?.length>0"
              [(ngModel)]="item.planningGroup">
            </ng-select>
          </td>
          <td class="column-ten-md">
            <div class="input-group">
              <input type="text" class="form-control" name="planningDriverName{{item.id}}"
                [(ngModel)]="item.planningDriverName" [disabled]="item.refNo?.length>0">
              <span class="input-group-btn">
                <button style="height: 28px;" [disabled]="item.refNo?.length>0" class="btn btn-warning btn-flat btn-sm"
                  type="button" (click)="updatePlanning(item)">
                  <i class="fa fa-check"></i>
                </button>
              </span>
            </div>
          </td>
          <td>
            <span *ngIf="item.shipmentType!=1174">
              {{item.weight}}
            </span>
            <div class="input-group" *ngIf="item.shipmentType==1174">
              <input type="text" class="form-control" name="weight{{item.id}}" [(ngModel)]="item.weight"
                [mask]="maskNumber">
              <span class="input-group-btn">
                <button style="height: 28px;" class="btn btn-warning btn-flat btn-sm" type="button"
                  (click)="updateWeight(item)">
                  <i class="fa fa-check"></i>
                </button>
              </span>
            </div>
          </td>
          <td>{{item.note}}</td>
          <td>{{item.informationOnContainerLiffInvoice}}</td>
          <td class="column-ten-md">
            <div class="input-group">
              <input type="text" class="form-control" name="opManNote{{item.id}}" [(ngModel)]="item.opManNote"
                [disabled]="item.refNo?.length>0">
              <span class="input-group-btn">
                <button style="height: 28px;" class="btn btn-warning btn-flat btn-sm" type="button"
                  (click)="updateNote(item)">
                  <i class="fa fa-check"></i>
                </button>
              </span>
            </div>
          </td>

          <td>{{item.refNo}}</td>
          <td>{{item.vehiclelLicensePlates}}</td>
          <td>{{ (item.driverName || '') + (item.driverName?.length > 0 ? '/' : '') + (item.driverTel || '') }}</td>
          <td>{{item.createdByName +'/' + item.createdByTel}}</td>
        </tr>
        <tr *ngIf="filteredData?.length == 0">
          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer no-padding">
    <div class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-4">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ filteredData?.length }}</span>
          </div>
        </div>
        <div class="col-md-8 text-right">
          <div class="page">

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>
<modal-shipping-task-opman *ngIf="viewModalOpMan" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModalOpMan()">
</modal-shipping-task-opman>
<!-- <modal-grade-workflow *ngIf="viewGrade" (SaveSuccess)="gradeSuccess($event)" (CloseModal)="closeGradeModal()">
</modal-grade-workflow> -->
<modal-attachfile *ngIf="viewAttachFile" (CloseModal)="closeModalAttach()">
</modal-attachfile>
<modal-shipping-task-cs *ngIf="viewModal" (CloseModal)="closeModal()">
</modal-shipping-task-cs>
<modal-dispatch-order-fcl *ngIf="viewModalDispatchOrder" (SaveSuccess)="saveSuccess()"
  (CloseModal)="closeModalDispatchOrder()">
</modal-dispatch-order-fcl>
<!-- TO refactor (2026-05-15): modal FCL v2 cho lệnh mới (gắn TO segments + map Vietmap) -->
<modal-dispatch-order-fcl-v2 *ngIf="viewModalDispatchOrderV2" (SaveSuccess)="saveSuccess()"
  (CloseModal)="closeModalDispatchOrderV2()">
</modal-dispatch-order-fcl-v2>
<modal-transport-order *ngIf="viewModalTransportOrder" (SaveSuccess)="saveSuccess()"
  (CloseModal)="closeModalTransportOrder()">
</modal-transport-order>