<div class="box box-primary box-chieu-cao">
  <div class="row">
    <div class="box-header with-border">
      <div class="col-md-2">
        <h3 class="box-title">Nhà cung cấp dịch vụ</h3>
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
            placeholder="Từ khóa" />
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
              <i class="fa fa-search"></i>
            </button>
          </span>
          <span class="input-group-btn">
            <button class="btn btn-success btn-flat btn-sm" appPermission appFunction="SUPPLIERS" appAction="EXPORT"
              (click)="exportExcel()" title="Xuất dữ liệu">
              <i class="fa fa-file-excel-o"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-success btn-sm" (click)="add()" appPermission appFunction="SUPPLIERS" appAction="CREATE">
          <i class="fa fa-plus"></i> Thêm
        </button>
        <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit" appPermission
          appFunction="SUPPLIERS" appAction="UPDATE">
          <i class="fa fa-edit"></i> Sửa
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteConfirm()" [disabled]="!flagDelete" appPermission
          appFunction="SUPPLIERS" appAction="DELETE">
          <i class="fa fa-trash"></i> Xóa
        </button>
        <button class="btn btn-info btn-sm" (click)="edit(true)" [disabled]="!flagEdit">
           <i class="fa fa-eye"></i> Xem
         </button>
       </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)" />
              <span class="helping-el"></span>
            </label>
          </th>
          <th>Mã NCC</th>
          <th>Tên NCC</th>
          <th>Tên viết tắt</th>
          <th>Địa chỉ</th>
          <th>Tỉnh/TP-Quận/huyện</th>
          <th>Người liên hệ/SĐT</th>
          <th>Dịch vụ cung cấp</th>
          <th>Nhân viên</th>
          <th>Tình trạng</th>
          <th style="width: 80px;">Đính kèm</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listSupplier" (click)="clickRow(item)">
          <td class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
              <span class="helping-el"></span>
            </label>
          </td>
          <td>
            <a class="link-view" (click)="viewByCode(item, $event)">{{item.supplierCode}}</a>
          </td>
          <td>{{item.supplierName}}</td>
          <td>{{item.abbreviationName}}</td>
          <td>{{item.address}}</td>
          <td>
            <span>
              Tỉnh/TP: {{item.provinceName}}
            </span>
            <br>
            <span>
              Quận/huyện: {{item.districtName}}
            </span>
          </td>
          <td>
            <span>
              {{item.contact}}
            </span>
            <br>
            <span>
              SĐT: {{item.contactTel}}
            </span>
          </td>
          <td>{{item.supplierServiceName}}</td>
          <td>{{item.employeeFullName}}</td>
          <td>
            <span [ngClass]="item.lock ? 'label label-danger': 'label label-success'">{{item.lock ? 'Khóa' : 'Hoạt động'
              }}</span>
          </td>
          <td class="text-center">
            <button type="button" class="btn btn-info btn-xs" title="Đính kèm"
              (click)="showFiles(item); $event.stopPropagation()">
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Đính kèm
            </button>
          </td>
        </tr>
        <tr *ngIf="totalRows == 0 ">
          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer no-padding">
    <div *ngIf="listSupplier?.length > 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-5">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ totalRows }}</span>
          </div>
        </div>
        <div class="col-md-7 text-right">
          <div class="page">
            <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
              (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>
<modal-supplier *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
</modal-supplier>

<modal-attachfile *ngIf="viewAttachFiles" (SaveSuccess)="saveSuccessFile($event)" (CloseModal)="closeModalFile()">
</modal-attachfile>

<!-- <div [ngBusy]="busy"></div> -->