<div class="box box-primary box-chieu-cao">
    <div class="row">
      <div class="box-header with-border">
        <div class="col-md-2">
          <h3 class="box-title">Công việc vận chuyển</h3>
        </div>
        <div class="col-md-2">
            <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
            class="form-control">
            <!-- <label class="input-group-text" style="padding-right: 20px;">Tháng: </label> -->
        </div>
        <!-- <div class="col-md-1">
            <ng-select style="width: 100px;" name="month" [items]="listMoth" bindLabel="value" bindValue="value"
            [(ngModel)]="month">
            </ng-select>
        </div>
        <div class="col-md-1">
            <ng-select style="width: 100px;" name="year" [items]="listYear" bindLabel="value" bindValue="value"
            [(ngModel)]="year" (change)="loadData()">
            </ng-select>
        </div> -->
        <div class="col-md-1">
          <ng-select class="auto-grow" name="chinhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id"
            [(ngModel)]="branchId" (change)="changedBranch($event)" [readonly]="!userLoged.isAdmin">
          </ng-select>
        </div>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
              placeholder="Từ khóa" />
            <span class="input-group-btn">
              <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
                <i class="fa fa-search"></i>
              </button>
            </span>
            <span class="input-group-btn">
              <button class="btn btn-success btn-flat btn-sm" type="button" (click)="export()">
                <i class="fa fa-file-excel-o"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="col-md-3 text-right">
          <button class="btn btn-success btn-sm" (click)="add()" appPermission appFunction="WORKFLOW"
            appAction="CREATE">
            <i class="fa fa-plus"></i> Thêm
          </button>
          <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit" appPermission
            appFunction="WORKFLOW" appAction="UPDATE">
            <i class="fa fa-edit"></i> Sửa
          </button>
          <button class="btn btn-danger btn-sm" (click)="deleteConfirm()" [disabled]="!flagEdit" appPermission
            appFunction="WORKFLOW" appAction="DELETE">
            <i class="fa fa-trash"></i> Xóa
          </button>
          <button class="btn btn-info btn-sm" (click)="edit(true)" [disabled]="!flagEdit">
            <i class="fa fa-eye"></i> Xem
          </button>
        </div>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding table-wrapper-scroll-y table_wrappe" style="position: relative;" id="div#style-scroll-1">
      <ngx-spinner [fullScreen]="false" bdOpacity=0.9 bdColor="#f4f4f9" size="medium" color="#1010ee" name="spinner1"
      type="ball-clip-rotate" size="medium">
      <p class="loading">Tải dữ liệu ...</p>
    </ngx-spinner>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="table-checkbox">
              <label class="custom-checkbox"> ID</label>
            </th>
            <th>Tên khách hàng</th>
            <th class="column-ten-md">JobId</th>
            <th class="fixed-column">H/Bill</th>
            <th class="fixed-column">M/Bill</th>
            <th class="fixed-column">BookingNo</th>
            <th class="column-ten-hg">Nhóm thực hiện</th>
            <th>Mã tham chiếu</th>
            <th>Loại hình</th>
            <th>Loại hàng</th>
            <th>Loại Cont</th>
            <th>Số Cont-kế hoạch</th>
            <th class="column-ten-sm">Người tạo việc-SĐT</th>
            <th>T/g lấy hàng</th>
            <th>T/g giao hàng</th>
            <th>Địa điểm lấy hàng</th>
            <th>Địa điểm giao hàng</th>
            <th>Tải trọng hàng</th>
            <th>Thời gian CutOff</th>
            <th>Thời gian lưu vỏ</th>
            <th class="column-ten-md">Số lệnh</th>
            <th class="column-ten-lg">Lái xe/SĐT</th>
            <th class="column-ten-sm">Biển số xe</th>
            <th></th>
          </tr>
          <tr>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.id" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.customerName" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.jobId" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.hawB_HBL" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.mawB_MBL" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.bookingNo" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.handlingGroupName" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.referCode" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.shipmentType" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.taskType" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.contTypeName" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.containerNumber" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.createdByName" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.pickupTime" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.deliveryTime" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.pickupLocation" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.deliveryLocation" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.weight" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.cutOffTime" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.demurageTime" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.refNo" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.driverName" (keyup)="filterData()" /></th>
            <th><input type="text" class="form-control" [(ngModel)]="filterColumns.vehiclelLicensePlates" (keyup)="filterData()" /></th>
            <th></th> <!-- cột nút -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of filteredData" (click)="clickRow(item)" [style.background-color]="item.status==0 ? 'white': item.refNo?.length>0? '#E2AEF4':'#DFF6FF' ">
            <td class="table-checkbox">
              <label class="custom-checkbox">
                <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
                <span class="helping-el"></span>
                <span><b> {{ item.id }}</b></span>
              </label>
            </td>
            <td>
              <span>
                {{item.customerName}}
              </span>
            </td>
            <td>              
              <span style="color:blue;"><b>{{item.jobId}}</b></span></td>
            <td class="fixed-column">{{item.hawB_HBL}}</td>
            <td class="fixed-column"> {{item.mawB_MBL}}</td>
            <td class="fixed-column">{{item.bookingNo}}</td>
            <td>
              <span>{{item.handlingGroupName}}</span>
            </td>
            <td>
              <span>{{item.referCode}}</span>
            </td>
            <td>{{item.shipmentType?.toString()|List:listShipmentType}}</td>
            <td>{{item.taskType==0?'FCL':'LCL'}}</td>
            <td>{{item.contTypeName}}</td>
            <td>{{item.containerNumber}}</td>
            <td>{{item.createdByName +' - '+ item.createdByTel}}</td>
            <td>
              <span>
                {{item.pickupTime | date:'dd/MM/yyyy HH:mm'}}
              </span>

            </td>
            <td>
              <span>
                {{item.deliveryTime | date:'dd/MM/yyyy HH:mm'}}
              </span>
            </td>
            <td>{{item.pickupLocation }}</td>
            <td>{{item.deliveryLocation}}</td>
            <td>{{item.weight}}</td>
            <td>{{item.cutOffTime}}</td>
            <td>{{item.demurageTime}}</td>
            <td>{{item.refNo}}</td>
            <td>{{ (item.driverName || '') + (item.driverName?.length > 0 ? '/' : '') + (item.driverTel || '') }}</td>
            <td>{{item.vehiclelLicensePlates}}</td>
            <td>
              <button class="btn btn-success btn-sm"
              (click)="copy(item)">Copy
            </button>
              <button class="btn btn-warning btn-sm" *ngIf="(!item.refNo || item.refNo?.length==0) && item.status==1 &&(item.createdBy==userLoged.id || userLoged.isAdmin)"
              (click)="huyviec(item)">Hủy việc
              </button>

              <button class="btn btn-primary btn-sm" (click)="viewModalAttachFile(item)">
                <i class="fas fa-image"></i> Đính kèm
              </button>
            </td>
          </tr>
          <tr *ngIf="filteredData?.length == 0">
            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer no-padding">
      <div class="col-md-12 footer-phantrang">
        <div class="row">
          <div class="col-md-4">
            <div class="dataTables_info">
              <span>Tổng số bản ghi: {{ filteredData?.length }}</span>
            </div>
          </div>
          <div class="col-md-8 text-right">
            <div class="page">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box -->
  </div>
  <modal-shipping-task-cs *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
  </modal-shipping-task-cs>
  <!-- <modal-grade-workflow *ngIf="viewGrade" (SaveSuccess)="gradeSuccess($event)" (CloseModal)="closeGradeModal()">
  </modal-grade-workflow> -->
  <modal-attachfile *ngIf="viewAttachFile" (CloseModal)="closeModal()">
  </modal-attachfile>
  <!-- <div [ngBusy]="busy"></div> -->
  
