<div>
  <tabset>
    <tab heading="Lệnh vận chuyển">
      <div class="box box-primary box-chieu-cao">
        <div class="row">
          <div class="box-header with-border">
            <div class="col-md-2">
              <h3 class="box-title">B/c Chi phí lệnh</h3>
            </div>
            <div class="col-md-2">
              <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
                class="form-control">
            </div>
            <div class="col-md-2">
              <ng-select name="chinhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id"
                [disabled]="!adminPermission" [(ngModel)]="branchId" (change)="changedBranch($event)"
                placeholder="Chọn chi nhánh...">
              </ng-select>
            </div>
            <div class="col-md-2">
              <ng-select name="listType" [items]="listType" bindLabel="value" bindValue="id" [(ngModel)]="typeSelectd"
                (change)="changedType()" [clearable]="false">
              </ng-select>
            </div>
            <div class="col-md-4 text-right">
              <button class="btn btn-success btn-sm" (click)="export()" appPermission appFunction="DISPATCHORDER"
                appAction="EXPORT">
                <i class="fa fa-file-excel-o"></i> Export
              </button>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding table_wrapper" style="position: relative;">
          <ngx-spinner [fullScreen]="false" bdOpacity=0.9 bdColor="#f4f4f9" size="medium" color="#1010ee" name="spinner1"
          type="ball-clip-rotate" size="medium">
          <p class="loading">Tải dữ liệu ...</p>
        </ngx-spinner>
          <table class="table table-bordered table-hover">
            <thead>
              <tr class="table-header-color">
                <th class="column-ten-md">RefNo</th>
                <th>JobId</th>
                <th>Mã KH</th>
                <th>Tên KH</th>
                <th style="min-width: 120px;">Mã tham chiếu</th>
                <th class="column-ten-md">Ngày lập lênh</th>
                <th style="min-width: 120px;">Người lập lệnh</th>
                <th class="column-ten-lg">Nhà thầu phụ</th>
                <th class="column-ten-sm">Pallets</th>
                <th class="column-ten-lg">Tóm tắt lênh</th>
                <th class="column-ten-lg">Cung đường tính phí</th>
                <th class="column-ten-sm">Mã phí</th>
                <th class="column-ten-lg">Tên mã phí</th>
                <th class="column-ten-sm">Số lượng</th>
                <th class="column-ten-sm">Số tiền</th>
                <th class="column-ten-sm">VAT</th>
                <th class="column-ten-sm">Tổng tiền</th>
                <th class="column-ten-sm">Ghi chú</th>
              </tr>
              <tr>
                <th><input class="form-control" [(ngModel)]="filterColumns.refNo" (input)="filterData()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumns.jobId" (input)="filterData()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumns.makh" (input)="filterData()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumns.tenkh" (input)="filterData()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumns.referCode" (input)="filterData()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumns.ngaytao" (input)="filterData()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumns.nguoitao" (input)="filterData()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumns.nhathauphu" (input)="filterData()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumns.pallets" (input)="filterData()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumns.tomtatlenh" (input)="filterData()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumns.cungduongtinhphi" (input)="filterData()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumns.maphi" (input)="filterData()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumns.tenmaphi" (input)="filterData()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumns.soluong" (input)="filterData()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumns.tien" (input)="filterData()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumns.vat" (input)="filterData()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumns.tongtien" (input)="filterData()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumns.ghichu" (input)="filterData()" /></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listFilter">
                <td style="font-weight: 800; color: blueviolet;">
                  <a [routerLink]="[]" (click)="viewDispatchOrder(item.refNo)">{{item.refNo}}</a>
                </td>
                <td>
                  {{item.jobId}}
                </td>
                <td>
                  {{item.makh}}
                </td>
                <td>
                  {{item.tenkh}}
                </td>
                <td>
                  {{item.referCode}}
                </td>
                <td>
                  {{item.ngaytao}}
                </td>
                <td>
                  {{item.nguoitao}}
                </td>
                <td>
                  {{item.nhathauphu}}
                </td>
                <td>
                  {{item.pallets}}
                </td>
                <td>
                  {{item.tomtatlenh}}
                </td>
                <td>
                  {{item.cungduongtinhphi}}
                </td>
                <td>
                  {{item.maphi}}
                </td>
                <td>
                  {{item.tenmaphi}}
                </td>
                <td>
                  {{item.soluong | number:'1.2-2'}}
                </td>
                <td>
                  {{item.tien | number:'1.0-0'}}
                </td>
                <td>{{item.vat | number:'1.0-0'}}</td>
                <td>{{item.tongtien | number:'1.0-0'}}</td>
                <td>
                  {{item.ghichu}}
                </td>
              </tr>
              <tr *ngIf="listFilter?.length == 0">
                <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
          <div *ngIf="listFilter?.length > 0" class="col-md-12 footer-phantrang">
            <div class="row">
              <div class="col-md-5">
                <div class="dataTables_info">
                  <span>Tổng số bản ghi: {{ listFilter?.length }}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="dataTables_info">
                  <span style="color: rgba(0, 68, 255, 0.926);" title="Tổng tiền">Tổng tiền: {{ sotien|VND }}</span>
                  <span style="color: rgb(7, 156, 47);"> - VAT: {{ vat|VND }}</span>
                  <span style="color: rgba(255, 77, 0, 0.926);" title="Tổng tiền bao gồm VAT"> - Tổng tiền(+VAT): {{ tongtien|VND }}</span>
                </div>
              </div>
              <!-- <div class="col-md-7 text-right">
                <div class="page">
                  <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
                    (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
                    firstText="&laquo;" lastText="&raquo;">
                  </pagination>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <!-- /.box -->
      </div>      
    </tab>
    <tab heading="Lệnh vận chuyển FCL"> 
      <div class="box box-primary box-chieu-cao">
        <div class="row">
          <div class="box-header with-border">
            <div class="col-md-2">
              <h3 class="box-title">Chi tiết thanh toán lệnh FCL</h3>
            </div>
            <div class="col-md-2">
              <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDateFcl($event)"
                class="form-control">
            </div>
            <div class="col-md-2">
              <ng-select name="chinhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id"
                [disabled]="!adminPermission" [(ngModel)]="branchId" (change)="changedBranchFCL($event)"
                placeholder="Chọn chi nhánh...">
              </ng-select>
            </div>
            <div class="col-md-2">
              <ng-select name="chinhanh" [readonly]="true" [items]="listType" bindLabel="value" bindValue="id" [(ngModel)]="typeSelectdFCL" (change)="changedTypeFcl()" [clearable]="false">
              </ng-select>
            </div>
            <div class="col-md-4 text-right">
              <button class="btn btn-success btn-sm" (click)="exportFCL()" appPermission appFunction="DISPATCHORDER"
                appAction="EXPORT">
                <i class="fa fa-file-excel-o"></i> Export
              </button>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding table_wrapper" style="position: relative;">
          <ngx-spinner [fullScreen]="false" bdOpacity=0.9 bdColor="#f4f4f9" size="medium" color="#1010ee" name="spinner2"
          type="ball-clip-rotate" size="medium">
          <p class="loading">Tải dữ liệu ...</p>
        </ngx-spinner>
          <table class="table table-bordered table-hover">
            <thead>
              <tr class="table-header-color">
                <th class="column-ten-md">RefNo</th>
                <th>JobId</th>
                <th>Mã KH</th>
                <th>Tên KH</th>
                <th style="min-width: 120px;">Mã tham chiếu</th>
                <th class="column-ten-md">Ngày lập lênh</th>
                <th class="column-ten-md">Người lập lệnh</th>
                <th class="column-ten-lg">Nhà thầu phụ</th>
                <th class="column-ten-sm">Pallets</th>
                <th class="column-ten-lg">Tóm tắt lênh</th>
                <th class="column-ten-lg">Cung đường tính phí</th>
                <th class="column-ten-sm">Mã phí</th>
                <th class="column-ten-lg">Tên mã phí</th>
                <th class="column-ten-sm">Số lượng</th>
                <th class="column-ten-sm">Số tiền</th>
                <th class="column-ten-sm">VAT</th>
                <th class="column-ten-sm">Tổng tiền</th>
                <th class="column-ten-sm">Ghi chú</th>
              </tr>
              <tr>
                <th><input class="form-control" [(ngModel)]="filterColumnsFCL.refNo" (input)="filterDataFCL()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumnsFCL.jobId" (input)="filterDataFCL()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumnsFCL.makh" (input)="filterDataFCL()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumnsFCL.tenkh" (input)="filterDataFCL()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumnsFCL.referCode" (input)="filterDataFCL()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumnsFCL.ngaytao" (input)="filterDataFCL()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumnsFCL.nguoitao" (input)="filterDataFCL()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumnsFCL.nhathauphu" (input)="filterDataFCL()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumnsFCL.pallets" (input)="filterDataFCL()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumnsFCL.tomtatlenh" (input)="filterDataFCL()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumnsFCL.cungduongtinhphi" (input)="filterDataFCL()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumnsFCL.maphi" (input)="filterDataFCL()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumnsFCL.tenmaphi" (input)="filterDataFCL()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumnsFCL.soluong" (input)="filterDataFCL()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumnsFCL.tien" (input)="filterDataFCL()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumnsFCL.vat" (input)="filterDataFCL()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumnsFCL.tongtien" (input)="filterDataFCL()" /></th>
                <th><input class="form-control" [(ngModel)]="filterColumnsFCL.ghichu" (input)="filterDataFCL()" /></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listFilterFCL">
                <td style="font-weight: 800; color: blueviolet;">
                  <a [routerLink]="[]" (click)="viewDispatchOrderFcl(item.refNo)">{{item.refNo}}</a>
                </td>
                <td>
                  {{item.jobId}}
                </td>
                <td>
                  {{item.makh}}
                </td>
                <td>
                  {{item.tenkh}}
                </td>
                <td>
                  {{item.referCode}}
                </td>
                <td>
                  {{item.ngaytao}}
                </td>
                <td>
                  {{item.nguoitao}}
                </td>
                <td>
                  {{item.nhathauphu}}
                </td>
                <td>
                  {{item.pallets}}
                </td>
                <td>
                  {{item.tomtatlenh}}
                </td>
                <td>
                  {{item.cungduongtinhphi}}
                </td>
                <td>
                  {{item.maphi}}
                </td>
                <td>
                  {{item.tenmaphi}}
                </td>
                <td>
                  {{item.soluong | number:'1.2-2'}}
                </td>
                <td>
                  {{item.tien | number:'1.0-0'}}
                </td>
                <td>{{item.vat | number:'1.0-0'}}</td>
                <td>{{item.tongtien | number:'1.0-0'}}</td>
                <td>
                  {{item.ghichu}}
                </td>
              </tr>
              <tr *ngIf="listItemFCL?.length == 0">
                <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
          <div *ngIf="listFilterFCL?.length > 0" class="col-md-12 footer-phantrang">
            <div class="row">
              <div class="col-md-5">
                <div class="dataTables_info">
                  <span>Tổng số bản ghi: {{ listFilterFCL?.length }}</span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="dataTables_info">
                  <span style="color: rgba(0, 68, 255, 0.926);" title="Tổng tiền">Tổng tiền: {{ sotienFcl|VND }}</span>
                  <span style="color: rgb(7, 156, 47);"> - VAT: {{ vatFcl|VND }}</span>
                  <span style="color: rgba(255, 77, 0, 0.926);" title="Tổng tiền bao gồm VAT"> - Tổng tiền(+VAT): {{ tongtienFcl|VND }}</span>
                </div>
              </div>
              <!-- <div class="col-md-7 text-right">
                <div class="page">
                  <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
                    (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
                    firstText="&laquo;" lastText="&raquo;">
                  </pagination>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        <!-- /.box -->
      </div>
    </tab>
    </tabset>
</div>
<modal-dispatchorder *ngIf="viewDispatchModal"  (CloseModal)="closeDispatchModal()">
</modal-dispatchorder>
<modal-dispatch-order-fcl *ngIf="viewDispatchFclModal"  (CloseModal)="closeDispatchFclModal()">
</modal-dispatch-order-fcl>
