<div class="box box-primary box-chieu-cao">
  <div class="row">
    <div class="box-header with-border">
      <div class="col-md-2">
        <h3 class="box-title">Hồ sơ nhân viên</h3>
      </div>
      <div class="col-md-3">
        <ng-select name="branchId" [items]="listBranch" bindLabel="branchName" bindValue="id"
          [(ngModel)]="_branchId" (change)="changedBranch($event)" placeholder="Chọn chi nhánh...">
        </ng-select>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
            placeholder="Từ khóa" />
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-success btn-sm" (click)="add()" appPermission appFunction="EMPLOYEE" appAction="CREATE">
          <i class="fa fa-plus"></i> Thêm
        </button>
        <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit" appPermission appFunction="EMPLOYEE" appAction="UPDATE">
          <i class="fa fa-edit"></i> Sửa
        </button>
        <button class="btn btn-info btn-sm" (click)="edit(true)" [disabled]="!flagEdit">
          <i class="fa fa-eye"></i> Xem
        </button>
      </div>
    </div>
  </div>

  <div class="box-body table-responsive no-padding table_wrapper">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="table-checkbox"></th>
          <th>Mã NV</th>
          <th>Tên nhân viên</th>
          <th>Điện thoại / Email</th>
          <th>Bộ phận / Chức danh</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listEmployee" (click)="clickRow(item)">
          <td class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" [checked]="item.checked" disabled />
              <span class="helping-el"></span>
            </label>
          </td>
          <td>{{item.employeeCode}}</td>
          <td>{{item.employeeFullName}}</td>
          <td>
            <span>SĐT: {{item.telephone}}</span><br>
            <span>Email: {{item.email}}</span>
          </td>
          <td>
            <span>Bộ phận: {{item.departmentName}}</span><br>
            <span>Chức danh: {{item.titleName}}</span>
          </td>
          <td class="trang-thai">
            <span [ngClass]="item.status ? 'label label-success' : 'label label-danger'">{{ item.status | Status }}</span>
          </td>
        </tr>
        <tr *ngIf="listEmployee?.length == 0">
          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="box-footer no-padding">
    <div *ngIf="listEmployee?.length > 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-5">
          <div class="dataTables_info"><span>Tổng số bản ghi: {{ totalRows }}</span></div>
        </div>
        <div class="col-md-7 text-right">
          <div class="page">
            <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
              (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<modal-employee-hr *ngIf="viewModalHr" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModalHr()">
</modal-employee-hr>
