<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Trả vay cá nhân</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <div class="col-md-8">
              <div class="form-group">
                <label class="col-sm-3 control-label">Chi nhánh
                  <span class="error">*</span>
                </label>
                <div class="col-sm-9">
                  <ng-select name="donvi" [items]="listBranch" bindLabel="branchName" bindValue="id" [readonly]="true"
                    [(ngModel)]="entity.branchId" required placeholder="Chọn chi nhánh">
                  </ng-select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Người tạm ứng
                  <span class="error">*</span>
                </label>
                <div class="col-sm-9">
                  <ng-select name="employee" [items]="listEmployee" bindLabel="employeeFullName" bindValue="id"
                    [(ngModel)]="entity.employeeId" required placeholder="Chọn nhân viên"
                    [readonly]="true" [clearable]="false" (change)="changedEmployee($event)">
                  </ng-select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Khoản vay
                  <span class="error">*</span>
                </label>
                <div class="col-sm-9">
                  <ng-select name="khoanvay" [items]="listPersonalLoan" bindLabel="refNo" bindValue="id"
                    [(ngModel)]="entity.personalLoanId" required placeholder="Chọn khoản vay..." (change)="changedPersonalLoan($event)">
                  </ng-select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Hình thức trả
                  <span class="error">*</span>
                </label>
                <div class="col-sm-9">
                  <ng-select name="type" [items]="listType" bindLabel="name" bindValue="id"
                    [(ngModel)]="entity.type" required placeholder="Chọn hình thức trả..."
                    [readonly]="true" [clearable]="false">
                  </ng-select>
                </div>
              </div>
              <!-- <div class="form-group">
                <label class="col-sm-3 control-label">Lý do</label>
                <div class="col-sm-9">
                  <input class="form-control" [(ngModel)]="entity.reason" type="text" name="reason" placeholder="Lý do"
                    [readonly]="flagXem" />
                </div>
              </div> -->
              <div class="form-group">
                <label class="col-sm-3 control-label">Ghi chú</label>
                <div class="col-sm-9">
                  <textarea class="form-control textrea-size" [(ngModel)]="entity.notes" name="ghichu" rows="3"
                    placeholder="Nhập ghi chú" [readonly]="flagXem"></textarea>
                </div>
              </div>
              <div *ngIf="_accept || entity.step==-1" class="form-group">
                <label class="col-sm-3 control-label">Phản hổi</label>
                <div class="col-sm-9">
                  <textarea style="color: red;" class="form-control textrea-size feed-back" [(ngModel)]="entity.feedback" name="feedback" rows="3"
                    placeholder="Nhập phản hổi" [readonly]="!_accept"></textarea>
                </div>
              </div>
              <!-- <div *ngIf="entity.step<=0"  class="form-group">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-4">
                  <label class="custom-checkbox">
                    <input type="checkbox" [(ngModel)]="entity.status" name="status" />
                    <span class="helping-el"></span>
                    Trạng thái
                  </label>
                </div>
              </div> -->
            </div>
            <div class="col-md-4">
              <div *ngIf="entity.id" class="form-group">
                <label class="col-sm-5 control-label">Số tham chiếu</label>
                <div class="col-sm-7">
                  <input class="form-control" [(ngModel)]="entity.refNo" type="text" name="refno" placeholder="Số phiếu"
                    [readonly]="true" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-5 control-label">Ngày lập</label>
                <div class="col-sm-7 date">
                  <input name="refdate" type="text" daterangepicker [options]="dateTimeOptions"
                    [(ngModel)]="entity.refDate" class="form-control" (selected)="selectedDate($event)"
                    (hideDaterangepicker)="closedDate($event)" autocomplete="off" [readonly]="flagXem" [disabled]="true">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-5 control-label">Số tiền
                <span class="error">*</span>
              </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control so-tien"  #sotien="ngModel" name="sotien" [(ngModel)]="entity.amount"
                    placeholder="Số tiền vay" [mask]="maskNumber" required minLength="6" maxlength="12"  [readonly]="flagXem"/>
                    <small [hidden]="sotien.valid || (sotien.pristine && !addEditForm.submitted)"
                    class="text-danger">
                    Nhập số tiền
                  </small>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12 text-right">
                  <label class="custom-checkbox">
                    <input type="checkbox" [(ngModel)]="entity.status" name="status" />
                    <span class="helping-el"></span>
                    Chuyển duyệt
                  </label>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="row box-footer">
            <div class="col-md-6 text-left">
              <!-- <button *ngIf="entity.id" type="button" class="btn btn-info btn-sm" title="Chứng từ đính kèm" (click)="showFiles()">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Chứng từ đính kèm
            </button> -->
            </div>
            <!-- <button *ngIf="flagXem && !entity.isComplete && _acc" type="button"  class="btn btn-success btn-sm" (click)="showAccounts()">
            <i class="fa fa-usd"></i> Phiếu thu
          </button> -->
          <div class="col-md-6 text-right">
            <button *ngIf="_accept" type="button"  class="btn btn-success btn-sm" (click)="accept(true)">
              <i class="fa fa-check"></i> Duyệt</button>
          <button *ngIf="_accept" type="button"  class="btn btn-warning btn-sm" (click)="accept(false)">
            <i class="fa fa-exclamation-triangle"></i> Từ chối</button>
            <button *ngIf="!flagXem" type="submit" class="btn btn-primary btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave">
              <i class="fa fa-save"></i> Lưu</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
<!-- <modal-phieu-thu *ngIf="viewAccounts" (SaveSuccess)="saveSuccessAccounts($event)" (CloseModal)="closeAccounts()">
</modal-phieu-thu> -->
