<div class="box box-primary box-chieu-cao">
  <div class="box-header with-border">
    <div class="row">
      <div class="col-md-2">
        <h3 class="box-title">Đề nghị xuất hóa đơn</h3>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <ng-select name="chinhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id" [(ngModel)]="_branchId"
          (change)="changedBranch()" placeholder="Chọn chi nhánh..." [clearable]="false" [readonly]="_auth>0">
        </ng-select>
      </div>
      <div class="col-md-6 text-right">
        <button class="btn btn-success btn-sm" (click)="add()" appPermission appFunction="INVOICE" appAction="CREATE">
          <i class="fa fa-plus"></i> Thêm
        </button>
        <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit" appPermission
          appFunction="INVOICE" appAction="UPDATE">
          <i class="fa fa-edit"></i> Sửa
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteConfirm()" [disabled]="!flagDelete" appPermission
          appFunction="INVOICE" appAction="DELETE">
          <i class="fa fa-trash"></i> Xóa
        </button>
        <!-- <button class="btn btn-info btn-sm" (click)="edit(true)" [disabled]="!flagEdit">
          <i class="fa fa-eye"></i> Xem
        </button> -->
      </div>
    </div>
    <div class="row" style="margin-top: 3px;">
      <div class="col-md-2">
        <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
          class="form-control">
      </div>
      <div class="col-md-4">
        <ng-select name="khachhang" [items]="listCustomer" bindLabel="customerName" bindValue="id"
          [(ngModel)]="_customerId" (change)="changedCustomer($event)" placeholder="Chọn khách hàng...">
        </ng-select>
      </div>
      <div class="col-md-2">
        <ng-select name="loai" [items]="listPayment" bindLabel="text" bindValue="id" [(ngModel)]="_payment"
          (change)="changedType($event)" placeholder="Chọn hình thức..." [clearable]="false">
        </ng-select>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
            placeholder="Chứng từ/Hóa đơn..." />
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
              <i class="fa fa-search"></i>
            </button>
          </span>
          <span class="input-group-btn">
            <button class="btn btn-success btn-sm" (click)="export()">
              <i class="fa fa-file-excel-o"></i>
            </button>
          </span>
          <span class="input-group-btn">
            <button class="btn btn-warning btn-sm" (click)="export1()">
              <i class="fa fa-file-excel-o"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)" />
              <span class="helping-el"></span>
            </label>
          </th>
          <th style="min-width: 200px;">Khách hàng</th>
          <th>Mã số thuế</th>
          <th style="min-width: 100px;">Số hóa đơn</th>
          <th>Ngày</th>
          <th>Số chứng từ</th>
          <th>Tổng tiền</th>
          <th style="min-width: 250px;">Ghi chú</th>
          <th style="min-width: 300px;">Nội dung</th>
          <th>Trạng thái</th>
        </tr>
        <tr>
          <th></th>
          <th><input class="form-control" #khSearchInput [(ngModel)]="khSearch" (input)="filter()" type="text" name="khSearch"/></th>
          <th><input class="form-control" #mstSearchInput [(ngModel)]="mstSearch" (input)="filter()" type="text" name="mstSearch"/></th>
          <th><input class="form-control" #invoicenoSearchInput [(ngModel)]="invoicenoSearch" (input)="filter()" type="text" name="invoicenoSearch"/></th>
          <th><input class="form-control" #ngaySearchInput [(ngModel)]="ngaySearch" (input)="filter()" type="text" name="ngaySearch"/></th>
          <th><input class="form-control" #soctSearchInput [(ngModel)]="soctSearch" (input)="filter()" type="text" name="soctSearch"/></th>
          <th><input class="form-control" #tienSearchInput [(ngModel)]="tienSearch" (input)="filter()" type="text" name="tienSearch"/></th>
          <th><input class="form-control" #ghichuSearchInput [(ngModel)]="ghichuSearch" (input)="filter()" type="text" name="ghichuSearch"/></th>
          <th><input class="form-control" #noidungSearchInput [(ngModel)]="noidungSearch" (input)="filter()" type="text" name="noidungSearch"/></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listFilter" (click)="clickRow(item)">
          <td class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
              <span class="helping-el"></span>
            </label>
          </td>
          <td>{{item.customerName}}</td>
          <td>{{item.customerTaxcode}}</td>
          <td>
            <a [routerLink]="[]" (click)="showModal(item)">{{item.invoiceNo}}</a>
          </td>

          <td>{{item.invoiceDate|date: "dd/MM/yyyy"}}</td>
          <td>{{item.documentNo}}</td>
          <td class="so-tien">{{item.grandTotal|VND}}</td>
          <td>{{item.notes }}</td>
          <td>{{item.content}}</td>
          <td class="trang-thai">
            <button class="btn btn-warning btn-sm"
              (click)="copy(item.id)">Copy
            </button>
            <br>
            <span [ngClass]="
            item.locked?  'label label-warning' : item.canceled ? 'label label-danger' :
                item.status  ? 'label label-success' : 'label label-primary'
              ">{{ item.locked ? 'Khóa' : item.canceled ? 'Hủy': item.status ? 'Kích hoạt' : 'Khởi tạo'}}</span>
          </td>
        </tr>
        <tr *ngIf="listExportInvoice?.length == 0">
          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer no-padding">
    <div *ngIf="listExportInvoice?.length > 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-3">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ totalRows }}</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="dataTables_info">
            <span style="font-weight: bold; color: rgba(255, 77, 0, 0.926);">Tổng tiền: {{ tongtien|VND }}</span>
          </div>
        </div>
        <!-- <div class="col-md-5 text-right">
          <div class="page">
            <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
              (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>

<modal-export-invoice *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
</modal-export-invoice>
<!-- <div [ngBusy]="busy"></div> -->
