<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalDispatchOrderFcl="bs-modal"
  [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name"
  (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Thực hiện lệnh FCL <a style="font-size: 14px;">{{entity?.createdByName}}</a>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalDispatchOrderFcl.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <div class="form-group">
              <label class="col-sm-2 control-label">RefNo</label>
              <div class="col-sm-3 control-label-text-left">
                <span style="font-weight: bold; color: blue;"> {{entity.refNo}}</span>
              </div>
              <label class="col-sm-2 control-label">Ngày</label>
              <div class="col-sm-3 control-label-text-left">
                <span style="font-weight: bold; color: blue;"> {{entity.createdDate | date:'dd/MM/yyyy'}}</span>
              </div>
              <div class="col-sm-2" *ngIf="!flagNew">
                <button type="button" class="btn btn-sm btn-primary" (click)="attachFile()">
                  <i class="fa fa-upload" aria-hidden="true"></i> Đính kèm
                </button>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Biến số xe</label>
              <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="entity.vehiclelLicensePlates" type="text"
                  name="vehiclelLicensePlates" [readonly]="true" />
              </div>
              <label class="col-sm-2 control-label">Biến Mooc</label>
              <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="entity.moocLicensePlates" type="text" [mask]="mask0"
                  name="moocLicensePlates" [readonly]="true" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Tổng số Km</label>
              <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="entity.tongKm" type="text" name="tongKm" [readonly]="true" />
              </div>
              <label class="col-sm-2 control-label">Tổng dầu định mức</label>
              <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="entity.tongdau" type="text" name="tongdau" [readonly]="true" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Km đầu</label>
              <div class="col-sm-2">
                <input class="form-control" [(ngModel)]="entity.startVehicleOdor" type="text" [mask]="maskNumber"
                  name="startVehicleOdor" [readonly]="entity.status>2" />
              </div>
              <label class="col-sm-2 control-label">Km cuối</label>
              <div class="col-sm-2">
                <input class="form-control" [(ngModel)]="entity.finishVehicleOdor" type="text" [mask]="maskNumber"
                  name="finishVehicleOdor" [readonly]="entity.status>2" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Tài xế ghi chú</label>
              <div class="col-sm-10">
                <textarea class="form-control" [(ngModel)]="entity.noteFinished" name="noteFinished" rows="2"
                  [readonly]="entity.status>2"></textarea>
              </div>
            </div>
            <div class="form-group">
              <fieldset>
                <legend>Chi tiết công việc</legend>
                <div class="panel-body">
                  <div class="form-group">
                    <div class="table-responsive" style="padding-left:15px; padding-right:15px">
                      <table class="table table-bordered table-striped table-hover ">
                        <thead>
                          <tr>
                            <th>Id công việc</th>
                            <th>Nơi nhận hàng</th>
                            <th>Nơi giao hàng</th>
                            <th>T/g KH yêu cầu</th>
                            <th *ngIf="!isExport">T/g trả cont rỗng</th>
                            <th *ngIf="isExport">T/g Cut-off</th>
                            <th>T/g pick-up cont tại Cảng</th>
                            <th>Số Cont-Seal</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.listDetailed">
                            <td>
                              <a style="color: blue;" (click)="viewCongviec(item.shippingTaskItem.id)">
                                <b>{{item.shippingTaskId}}</b></a>
                            </td>
                            <td><span style="color: blue;">{{item.shippingTaskItem.pickupLocation }}</span>
                            </td>
                            <td> <span style="color: salmon;">{{item.shippingTaskItem.deliveryLocation}}</span>
                            </td>
                            <td><span style="color: blue;">{{item.shippingTaskItem?.pickupTime | date:'dd/MM/yyyy
                                HH:mm'}}</span> </td>
                            <td *ngIf="!isExport"><span style="color: blue;">{{item.shippingTaskItem?.detentionTime |
                                date:'dd/MM/yyyy HH:mm'}}</span></td>
                            <td *ngIf="isExport"><span style="color: salmon;">{{item.shippingTaskItem?.cutOffTime |
                                date:'dd/MM/yyyy HH:mm'}}</span></td>
                            <td><span>{{item.shippingTaskItem?.demurageTime | date:'dd/MM/yyyy HH:mm'}}</span></td>
                            <td><span>{{item.shippingTaskItem.containerNumber}}</span>
                              <br><span>{{item.shippingTaskItem.sealNumber}}</span>
                            </td>
                            <td>
                              <button type="button" class="btn btn-primary btn-sm"
                                (click)="attack(item.shippingTaskItem.id)">
                                <i class="fa fa-upload"></i>
                              </button>
                            </td>
                          </tr>
                          <tr *ngIf="entity.listDetailed?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="form-group" *ngIf="entity.luonghangIdLuotDi != null && entity.luonghangIdLuotDi>0">
              <fieldset>
                <legend>Lượt đi</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Tải trọng</label>
                  <div class="col-sm-7">
                    <span class="form-control">{{entity.luonghangLuotdiName}}</span>
                  </div>
                  <label class="col-sm-2 control-label">Định mức</label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.dinhmucDauLuotDi}}</span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Chặng 1</label>
                  <div class="col-sm-7">
                    <span class="form-control auto-height">{{entity.chang1LuotdiName}}</span>
                  </div>
                  <div class="col-sm-1">Km:</div>
                  <div class="col-sm-2">
                    <span class="form-control text-right ">{{entity.chang1KmLuotDi}}</span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Chặng 2</label>
                  <div class="col-sm-7">
                    <span class="form-control auto-height">{{entity.chang2LuotdiName}}</span>
                  </div>
                  <div class="col-sm-1">Km:</div>
                  <div class="col-sm-2">
                    <span class="form-control text-right">{{entity.chang2KmLuotDi}}</span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Điều chỉnh tăng giảm (+/-) km</label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.dieuchinhKmLuotDi}}</span>
                  </div>
                  <label class="col-sm-3 control-label">Km sau điều chỉnh </label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.kmLuotdi}}</span>
                  </div>
                  <label class="col-sm-2 control-label">Dầu Lượt đi</label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.tongdauLuotDi}}</span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Lý do điều chỉnh</label>
                  <div class="col-sm-10">
                    <span class="form-control">{{entity.lydoDieuchinhLuotdi}}</span>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="form-group"
              *ngIf="entity.luonghangTrungchuyenCang != null && entity.luonghangTrungchuyenCang>0">
              <fieldset>
                <legend>Trung chuyển giữa các Cảng/Bãi</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Tải trọng</label>
                  <div class="col-sm-5">
                    <span class="form-control">{{entity.luonghangTrungchuyenCangName}}</span>
                  </div>
                  <label class="col-sm-2 control-label">Định mức</label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.dinhmucDauTrungchuyenCang}}</span>
                  </div>
                  <label class="col-sm-1 control-label">Km</label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.kmTrungchuyenCang}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Nhóm cảng 1</label>
                  <div class="col-sm-4">
                    <span class="form-control">{{entity.cang1LuotdiName}}</span>
                  </div>
                  <label class="col-sm-2 control-label">Nhóm cảng 2</label>
                  <div class="col-sm-4">
                    <span class="form-control">{{entity.cang2LuotdiName}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Điều chỉnh tăng giảm (+/-) km</label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.dieuchinhKmTrungchuyenCang}}</span>
                  </div>
                  <label class="col-sm-3 control-label">Km sau điều chỉnh </label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.kmTrungchuyenCangSauDieuchinh}}</span>
                  </div>
                  <label class="col-sm-2 control-label">Dầu trung chuyển cảng</label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.tongdauTrungchuyenCang}}</span>
                  </div>
                </div>
                <div class="form-group" *ngIf="!entity.isSubcontractors">
                  <label class="col-sm-2 control-label">Lý do điều chỉnh</label>
                  <div class="col-sm-10">
                    <span class="form-control text-right">{{entity.lydoDieuchinhKmTrungchuyenCang}}</span>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="form-group"
              *ngIf="entity.luonghangTrungchuyenNhamay != null && entity.luonghangTrungchuyenNhamay>0">
              <fieldset>
                <legend>Trung chuyển giữa các Nhà máy</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Tải trọng</label>
                  <div class="col-sm-5">
                    <span class="form-control">{{entity.luonghangTrungchuyenNhamayName}}</span>
                  </div>
                  <label class="col-sm-2 control-label">Định mức</label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.dinhmucDauTrungchuyenNhamay}}</span>
                  </div>
                  <label class="col-sm-1 control-label">Km</label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.kmTrungchuyenNhamay}}</span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Nhà máy 1</label>
                  <div class="col-sm-6">
                    <div class="form-control auto-height" style="white-space: pre-wrap; background-color: white;">
                      {{ entity.nhamay1LuotdiName }}
                    </div>
                  </div>
                  <label class="col-sm-3 control-label">Dầu trung chuyển nhà máy</label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.tongdauTrungchuyenNhamay}}</span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Nhà máy 2</label>
                  <div class="col-sm-6">
                    <div class="form-control auto-height" style="white-space: pre-wrap; background-color: white;">
                      {{ entity.nhamay2LuotdiName }}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Ghi chú lý do</label>
                  <div class="col-sm-10">
                    <span class="form-control">{{entity.ghichuTrungchuyenNhamay}}</span>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="form-group" *ngIf="entity.luonghangIdLuotVe != null && entity.luonghangIdLuotVe>0">
              <fieldset>
                <legend class="legend2">Lượt về</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Tải trọng</label>
                  <div class="col-sm-7">
                    <span class="form-control ">{{entity.luonghangLuotveName}}</span>
                  </div>
                  <label class="col-sm-2 control-label">Định mức</label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.dinhmucDauLuotVe}}</span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Chặng 1</label>
                  <div class="col-sm-7">
                    <span class="form-control auto-height">{{entity.chang1LuotveName}}</span>
                  </div>
                  <div class="col-sm-1">Km:</div>
                  <div class="col-sm-2">
                    <span class="form-control text-right">{{entity.chang1KmLuotVe}}</span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Chặng 2</label>
                  <div class="col-sm-7">
                    <span class="form-control auto-height">{{entity.chang2LuotveName}}</span>
                  </div>
                  <div class="col-sm-1">Km:</div>
                  <div class="col-sm-2">
                    <span class="form-control text-right">{{entity.chang2KmLuotVe}}</span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-3 control-label">Điều chỉnh tăng giảm (+/-) km</label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.dieuchinhKmLuotVe}}</span>
                  </div>
                  <label class="col-sm-3 control-label">Km sau điều chỉnh </label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.kmLuotve}}</span>
                  </div>
                  <label class="col-sm-2 control-label">Dầu Lượt về</label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.tongdauLuotVe}}</span>
                  </div>
                </div>

                <div class="form-group" *ngIf="!entity.isSubcontractors">
                  <label class="col-sm-2 control-label">Lý do điều chỉnh</label>
                  <div class="col-sm-10">
                    <span class="form-control">{{entity.lydoDieuchinhLuotVe}}</span>
                  </div>
                </div>

              </fieldset>
            </div>
            <div class="form-group"
              *ngIf="entity.luonghangTrungchuyenCangVe != null && entity.luonghangTrungchuyenCangVe>0">
              <fieldset>
                <legend class="legend2">Trung chuyển giữa các Cảng/Bãi</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Tải trọng</label>
                  <div class="col-sm-5">
                    <span class="form-control">{{entity.luonghangTrungchuyenCangveName}}</span>
                  </div>
                  <label class="col-sm-2 control-label">Định mức</label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.dinhmucDauTrungchuyenCangVe}}</span>
                  </div>
                  <label class="col-sm-1 control-label">Km</label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.kmTrungchuyenCangVe}}</span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Nhóm cảng 1</label>
                  <div class="col-sm-4">
                    <span class="form-control auto-height">{{entity.cang1LuotveName}}</span>
                  </div>
                  <label class="col-sm-2 control-label">Nhóm cảng 2</label>
                  <div class="col-sm-4">
                    <span class="form-control auto-height">{{entity.cang2LuotveName}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Điều chỉnh tăng giảm (+/-) km</label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.dieuchinhKmTrungchuyenCangVe}}</span>
                  </div>
                  <label class="col-sm-3 control-label">Km sau điều chỉnh </label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.kmTrungchuyenCangVeSauDieuchinh}}</span>
                  </div>
                  <label class="col-sm-2 control-label">Dầu trung chuyển cảng</label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.tongdauTrungchuyenCangVe}}</span>
                  </div>
                </div>
                <div class="form-group" *ngIf="!entity.isSubcontractors">
                  <label class="col-sm-2 control-label">Lý do điều chỉnh</label>
                  <div class="col-sm-10">
                    <span class="form-control text-right">{{entity.lydoDieuchinhKmTrungchuyenCangVe}}</span>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="form-group"
              *ngIf="entity.luonghangTrungchuyenNhamayVe != null && entity.luonghangTrungchuyenNhamayVe>0">
              <fieldset>
                <legend class="legend2">Trung chuyển giữa các Nhà máy</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Tải trọng</label>
                  <div class="col-sm-5">
                    <span class="form-control">{{entity.luonghangTrungchuyenNhamayveName}}</span>
                  </div>
                  <label class="col-sm-2 control-label">Định mức</label>
                  <div class="col-sm-1">
                    <span class="form-control">{{entity.dinhmucDauTrungchuyenNhamayVe}}</span>
                  </div>
                  <label class="col-sm-1 control-label">Km</label>
                  <div class="col-sm-1">
                    <span class="form-control text-right">{{entity.kmTrungchuyenNhamayVe}}</span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Nhà máy 1</label>
                  <div class="col-sm-6">
                    <textarea class="form-control auto-height" readonly style="resize: none; overflow: hidden;">
                {{ entity.nhamay1LuotveName }}
                    </textarea>
                  </div>
                  <label class="col-sm-3 control-label">Dầu trung chuyển nhà máy</label>
                  <div class="col-sm-1">
                    <span class="form-control">{{entity.tongdauTrungchuyenNhamayVe}}</span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Nhà máy 2</label>
                  <div class="col-sm-6">
                    <textarea class="form-control auto-height" readonly style="resize: none; overflow: hidden;">
                {{ entity.nhamay2LuotveName }}
                    </textarea>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label">Ghi chú lý do</label>
                  <div class="col-sm-10">
                    <span class="form-control">{{entity.ghichuTrungchuyenNhamayVe}}</span>
                  </div>
                </div>

              </fieldset>


            </div>
            <div class="form-group">
              <fieldset *ngIf="listEtcPassed?.length > 0">
                <legend class="legend2">Vé cầu đường</legend>
                <div class="form-group">
                  <div class="table-responsive  fixed-height" style="padding-left:15px; padding-right:15px">
                    <table class="table table-bordered table-striped table-hover">
                      <thead>
                        <tr>
                          <th>Tên trạm</th>
                          <th>Tổng tiền</th>
                          <th>Ghi chú</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of listEtcPassed;let indexOfelement=index;">
                          <td>
                            <span>{{item.tollStationName}}</span>
                          </td>
                          <td style="width: 100px;">
                            <input type="text" class="form-control" name="totalCostEtc{{indexOfelement}}"
                              style="text-align: right;" [(ngModel)]="item.totalCost" placeholder="Tổng tiền"
                              [readonly]="true" [mask]="maskNumber" />
                          </td>
                          <td style="width:20%">
                            <input class="form-control" [(ngModel)]="item.note" type="text"
                              name="note{{indexOfelement}}" [readonly]="true" />
                            <!-- {{item.note}} -->
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="form-group">
              <fieldset *ngIf="entity.listFee?.length > 0">
                <legend class="legend2">Chi phí</legend>
                <div class="form-group">
                  <div class="table-responsive  fixed-height" style="padding-left:15px; padding-right:15px">
                    <table class="table table-bordered table-striped table-hover">
                      <thead>
                        <tr>
                          <th>Nội dung</th>
                          <th>Tổng tiền</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of entity.listFee; let i=index;">
                          <td>
                            <input class="form-control" [(ngModel)]="item.contents" type="text" name="noteFee{{i}}"
                              [readonly]="flagXem" />
                            <!-- {{item.note}} -->
                          </td>
                          <td style="width: 100px;">
                            <input type="text" class="form-control" name="totlaFeeCost{{i}}" style="text-align: right;"
                              [(ngModel)]="item.totalCost" placeholder="Tổng tiền" [allowNegativeNumbers]="true"
                              [readonly]="flagXem" readonly [mask]="maskNumber" required />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="entity.status==1" type="button" class="btn btn-success btn-sm" (click)="nhanlenh()">
              <i class="fa fa-share-square-o"></i> Nhận lệnh</button>
            <button *ngIf="entity.status==1" type="button" class="btn btn-success btn-sm" (click)="tuchoinhanlenh()">
              <i class="fa fa-ban"></i> Từ chối nhận lệnh</button>
            <button *ngIf="entity.status==4" type="button" class="btn btn-success btn-sm" (click)="chotdulieu()">
              <i class="fa fa-share-square-o"></i> Chốt dữ liệu</button>
            <button *ngIf="entity.status==4" type="button" class="btn btn-warning btn-sm" (click)="tuchoichotdulieu()">
              <i class="fa fa-ban"></i> Từ chối chốt </button>
            <button *ngIf="entity.status==2" type="button" class="btn btn-primary btn-sm" (click)="update(false)">
              <i class="fa fa-ban"></i> Lưu thông tin </button>
            <button *ngIf="entity.status==2" type="button" class="btn btn-danger btn-sm" (click)="update(true)">
              <i class="fa fa-ban"></i> Kết thúc </button>
            <button type="button" (click)="modalDispatchOrderFcl.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
<modal-attachfile *ngIf="viewAttachFiles" (CloseModal)="closeModalAttachFiles()">
</modal-attachfile>
<modal-confirm-deny-closing-fcl *ngIf="viewConfirm" (CloseModal)="closeModalConfirm()"
  (SaveSuccess)="saveSuccess($event)">
</modal-confirm-deny-closing-fcl>
<modal-view-shipping-task *ngIf="viewModalShippingTask" (CloseModal)="closeModalShippingTask()">
</modal-view-shipping-task>