<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalRoute="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Lựa chọn cung đường</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRoute.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <div class="table-responsive" style="padding-left:15px; padding-right:15px">
              <table class="table table-bordered table-striped table-hover">
                <thead>
                  <tr>
                    <th style="text-align: center;">
                      <button type="button" [class]="allChecked ? 'btn btn-xs btn-warning' : 'btn btn-xs btn-success'"
                        (click)="toggleAll()" [title]="allChecked ? 'Bỏ chọn tất cả' : 'Chọn tất cả'">
                        <i [class]="allChecked ? 'fa fa-square-o' : 'fa fa-check-square-o'"></i>
                      </button>
                    </th>
                    <th>Mã</th>
                    <th>Tên cung đường</th>
                    <th>km</th>
                    <th>Số trạm thu phí</th>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                      <input class="form-control" #codeInput [(ngModel)]="codeSearch"
                        (input)="filterCode(codeInput.value)" type="text" name="codesearch" />
                    </td>
                    <td>
                      <input class="form-control" #nameInput [(ngModel)]="nameSearch"
                        (input)="filterName(nameInput.value)" type="text" name="namesearch" />
                    </td>
                    <td></td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of paginatedItems" (click)="clickRow(item)">
                    <td class="table-checkbox">
                      <label class="custom-checkbox">
                        <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
                        <span class="helping-el"></span>
                      </label>
                    </td>
                    <td>{{item.routeCode}}</td>
                    <td>{{item.routeName}}</td>
                    <td style="text-align: right;">{{item.distance | number}}</td>
                    <td style="text-align: right;">{{item.ticketStations | number}}</td>
                  </tr>
                  <tr *ngIf="filteredItems?.length == 0">
                    <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                  </tr>
                </tbody>
              </table>

              <!-- Pagination Controls -->
              <div class="row" *ngIf="filteredItems?.length > 0">
                <div class="col-sm-6">
                  <div class="form-inline">
                    <label style="margin-right: 10px;">Hiển thị:</label>
                    <select class="form-control input-sm" [(ngModel)]="pageSize" (change)="onPageSizeChange()"
                      name="pageSize">
                      <option *ngFor="let size of pageSizeOptions" [value]="size">{{size}}</option>
                    </select>
                    <span style="margin-left: 10px;">
                      Hiển thị {{(currentPage - 1) * pageSize + 1}} - {{getEndIndex()}}
                      trong tổng số {{filteredItems.length}} bản ghi
                    </span>
                  </div>
                </div>
                <div class="col-sm-6 text-right">
                  <ul class="pagination pagination-sm" style="margin: 0;">
                    <li [class.disabled]="currentPage === 1">
                      <a (click)="goToPage(1)" style="cursor: pointer;">«</a>
                    </li>
                    <li [class.disabled]="currentPage === 1">
                      <a (click)="goToPage(currentPage - 1)" style="cursor: pointer;">‹</a>
                    </li>
                    <li *ngFor="let page of getVisiblePages()" [class.active]="currentPage === page">
                      <a (click)="goToPage(page)" style="cursor: pointer;">{{page}}</a>
                    </li>
                    <li [class.disabled]="currentPage === totalPages">
                      <a (click)="goToPage(currentPage + 1)" style="cursor: pointer;">›</a>
                    </li>
                    <li [class.disabled]="currentPage === totalPages">
                      <a (click)="goToPage(totalPages)" style="cursor: pointer;">»</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button type="button" class="btn btn-primary btn-sm" [disabled]="!flagOk" (click)="saveChange()">
              <i class="fa fa-save"></i> Lưu</button>
            <button type="button" (click)="modalRoute.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>