<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalWorkflow="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-md">
    <div class="modal-content content-congviec">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Chi tiết công việc</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalWorkflow.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body body-congviec">
        <form class="form-horizontal" novalidate #addDetailedForm="ngForm"
          *ngIf="entity">
          <div class="form-group">
            <label class="col-sm-3 control-label">Id Công việc</label>
            <div class="col-sm-9">
              <div class="input-group">
                <input class="form-control" #idpccv [(ngModel)]="entity.workflowId" type="text" name="workflowId" (keyup.enter)="loadWorkflow(idpccv.value)"
              placeholder="Id Công việc" [readonly]="flagXem" required />
              <span class="input-group-addon" (click)="findWorkflow()">
                <i class="fa fa-search" title="Tìm công việc"></i>
              </span>
              </div>
              
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">JobId</label>
            <div class="col-sm-9">
              <input class="form-control" [(ngModel)]="entity.jobId" type="text" name="jobId"
              disabled />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Cont/Seal</label>
            <div class="col-sm-9">
              <input class="form-control" [(ngModel)]="entity.contSeal" type="text" name="contSeal"
              [readonly]="flagXem" />
            </div>
          </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" >Ghi chú</label>
          <div class="col-sm-9">
            <textarea class="form-control" [(ngModel)]="entity.note" name="note" rows="3"
            placeholder="Nhập ghi chú" [readonly]="flagXem" ></textarea>
          </div>
        </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="!flagXem" type="button" class="btn btn-primary btn-sm"
            [disabled]="!flagOk || flagSave" (click)="saveChange(addDetailedForm)">
              <i class="fa fa-save"></i> Lưu</button>
            <button type="button" (click)="modalWorkflow.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
<modal-search-workflow *ngIf="viewSearchJobId" [branchId]="branchId" (SaveSuccess)="saveSuccessSearchJob($event)" (CloseModal)="closeSearchJob()">
</modal-search-workflow>



