<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal"
    [config]="{ backdrop: 'static' }" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name"
    (onHidden)="OnHidden()">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div #myHandle class="modal-header">
                <h4 class="modal-title pull-left">Phiếu chi lệnh vận chuyển</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
                    *ngIf="entity">
                    <div class="box-body">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Chi nhánh
                                    <span class="error">*</span>
                                </label>
                                <div class="col-sm-3">
                                    <ng-select name="donvi" [items]="listBranch" bindLabel="branchCode" bindValue="id"
                                        [readonly]="true" [(ngModel)]="entity.branchId" required
                                        placeholder="Chọn chi nhánh">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Lái xe
                                    <span class="error">*</span>
                                </label>
                                <div class="col-sm-9">
                                    <ng-select name="employee" [items]="listEmployee" bindLabel="employeeFullName"
                                        bindValue="id" [readonly]="flagXem" [(ngModel)]="entity.employeeId" required
                                        placeholder="Chọn lái xe" (change)="changedEmployee($event)">
                                    </ng-select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Chi từ quỹ
                                    <span class="error">*</span>
                                </label>
                                <div class="col-sm-9">
                                    <ng-select name="accountlist" [items]="listAccountList" bindLabel="name"
                                        bindValue="id" [(ngModel)]="entity.accountListId" required
                                        placeholder="Chọn quỹ" (change)="changedFund($event)" [readonly]="flagXem">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Số tiền
                                    <span class="error">*</span>
                                </label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control so-tien" #sotien="ngModel" name="sotien"
                                        [(ngModel)]="entity.amount" placeholder="Số tiền" [mask]="maskNumber" required
                                        minLength="1" maxlength="18" [readonly]="true" [allowNegativeNumbers]="true" />
                                    <small [hidden]="
                      sotien.valid ||
                      (sotien.pristine && !addEditForm.submitted)
                    " class="text-danger">
                                        Nhập số tiền
                                    </small>
                                </div>
                                <label class="col-sm-3 control-label"> </label>
                                <div class="col-sm-3">
                                    <ng-select name="currency" [items]="listCurrencys" bindLabel="text" bindValue="id"
                                        [(ngModel)]="entity.currency" required placeholder="Loại tiền tệ"
                                        [readonly]="true">
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Nội dung
                                    <span class="error">*</span>
                                </label>
                                <div class="col-sm-9">
                                    <textarea class="form-control textrea-size" [(ngModel)]="entity.contents"
                                        name="contents" placeholder="Nhập nội dung" required [readonly]="flagXem"
                                        rows="4"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Ghi chú</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control textrea-size" [(ngModel)]="entity.notes" name="ghichu"
                                        rows="2" placeholder="Nhập ghi chú" [readonly]="flagXem"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div *ngIf="entity.id" class="form-group">
                                <label class="col-sm-5 control-label">Số phiếu</label>
                                <div class="col-sm-7">
                                    <input class="form-control refno-sm" [(ngModel)]="entity.refNo" type="text"
                                        name="refno" placeholder="Số phiếu" [readonly]="true" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Ngày lập</label>
                                <div class="col-sm-7 date">
                                    <input name="refdate" type="text" [(ngModel)]="_ngayLap" class="form-control"
                                        [disabled]="true" />
                                </div>
                            </div>
                            <div class="form-group" *ngIf="(_type || 0) > 0">
                                <label class="col-sm-5 control-label">Ngày chứng từ <span class="error">*</span></label>
                                <div class="col-sm-7 date">
                                    <input name="efectivedate" type="text" daterangepicker [options]="dateTimeOptions"
                                        [disabled]="flagXem" [(ngModel)]="_ngayChungtu" class="form-control"
                                        (selected)="selectedDate($event)" (hideDaterangepicker)="closedDate($event)"
                                        autocomplete="on" [required]="(_type || 0) > 0">
                                </div>
                            </div>
                            <div *ngIf="entity.id" class="form-group">
                                <label class="col-sm-5 control-label">Số chứng từ
                                    <span class="error">*</span>
                                </label>
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <input class="form-control" [(ngModel)]="entity.documentNo" type="text"
                                            name="documentno" placeholder="Số chứng từ" required [readonly]="flagXem" />
                                        <span *ngIf="entity.id" class="input-group-addon" (click)="showFiles()">
                                            <i class="fa fa-file-pdf-o" aria-hidden="true"
                                                title="Chứng từ đính kèm..."></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label">Thủ quỹ </label>
                                <div class="col-sm-7">
                                    <ng-select name="thuquy" [items]="listEmployee" bindLabel="employeeFullName"
                                        bindValue="id" [readonly]="flagXem" [(ngModel)]="entity.treasurerId"
                                        [clearable]="false" title="Chọn thủ quỹ...">
                                    </ng-select>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>

                    <div class="box-body">
                        <div class="form-group">
                            <h5 style="font-weight: bold; color: blue">Chi tiết lệnh vận chuyển</h5>
                        </div>
                        <div class="tableFixHead" style="height: 400px; overflow-y: auto;">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="table-checkbox" *ngIf="flagNew">
                                            <label class="custom-checkbox">
                                                <input type="checkbox" name="allOrder"
                                                    [checked]="isAllDispatchOrderChecked()"
                                                    (change)="checkAllDispatchOrder($event)" [disabled]="!flagNew" />
                                                <span class="helping-el"></span>
                                            </label>
                                        </th>
                                        <th class="column-sm">Số lệnh</th>
                                        <th class="column-sm">Mã phí - Tên phí</th>
                                        <th class="column-ten">Nội dung</th>
                                        <th class="column-gia-tri">Tiền trước VAT</th>
                                        <th class="column-gia-tri">VAT</th>
                                        <th class="column-gia-tri">Tiền sau VAT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listDispatchOrderFees; let i = index">
                                        <td class="table-checkbox" *ngIf="flagNew">
                                            <label class="custom-checkbox">
                                                <input type="checkbox" (ngModelChange)="calculatorDispatchOrder(item)"
                                                    [(ngModel)]="item.checked" name="chkItem{{i}}"
                                                    [disabled]="!flagNew" />
                                                <span class="helping-el"></span>
                                            </label>
                                        </td>
                                        <td>{{item.refNo}}</td>
                                        <td>{{item.feeCode}} - {{item.feeName}}</td>
                                        <td>{{item.contents}}</td>
                                        <td class="text-right">{{item.cost || 0 | VND}}</td>
                                        <td class="text-right">{{item.vat || 0 | VND}}</td>
                                        <td class="text-right">{{item.totalCost || 0 | VND}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="box-footer text-right">
                        <button *ngIf="!flagXem" type="submit" class="btn btn-primary btn-sm"
                            [disabled]="!addEditForm.form.valid || flagSave || (!selectedItem && flagNew)">
                            <i class="fa fa-save"></i> Lưu
                        </button>
                        <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
                            <i class="fa fa-close"></i> Hủy
                        </button>
                    </div>

                    <!-- /.box-body -->
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
</div>
<iframe id="printf" name="printf"></iframe>
<modal-attachfile *ngIf="viewAttachFiles" (SaveSuccess)="saveSuccessFile($event)" (CloseModal)="closeModalFile()">
</modal-attachfile>