<div class="box box-primary box-chieu-cao">
  <div class="row">
    <div class="box-header with-border">
      <div class="col-md-3">
        <h3 class="box-title" style="color: blue; font-weight: 600;">Khách hàng mục tiêu</h3>
      </div>
      <div class="col-md-2">
        <ng-select name="chinhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id"
          [(ngModel)]="_branchId" (change)="timKiem()" title="Chọn chi nhánh..." [clearable]="false" [readonly]="_auth>2">
        </ng-select>
      </div>
      <!-- <div class="col-md-2">
        <ng-select name="khachhang" [items]="listEmployees" bindLabel="employeeFullName" bindValue="id" [(ngModel)]="_employeeId" (change)="changedEmployee($event)"
        placeholder="Chọn nhân viên..." [readonly]="_auth>=3">
        </ng-select>
      </div> -->
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
            placeholder="Từ khóa" />
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-4 text-right">
       <!-- <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit" appPermission
        appFunction="SC" appAction="UPDATE">
        <i class="fa fa-edit"></i> Sửa
      </button> -->
        <!-- <button class="btn btn-info btn-sm" (click)="edit(true)" [disabled]="!flagEdit">
          <i class="fa fa-eye"></i> Xem
        </button> -->
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)" />
              <span class="helping-el"></span>
            </label>
          </th>
          <th>Nhân viên Sales</th>
          <th>Mã khách hàng</th>
          <th>Tên khách hàng</th>
          <th>Điện thoại</th>
          <th>Địa chỉ</th>
          <th>Người đại diện</th>
          <th>Chức vụ</th>
          <th>Điện thoại</th>
          <th>Ghi chú</th>
        </tr>
        <tr>
          <th></th>
          <th><input class="form-control" #input [(ngModel)]="nameSearch" (input)="filter()" type="text" name="nameSearch" /></th>
          <th><input class="form-control" #input1 [(ngModel)]="codeSearch" (input)="filter()" type="text" name="codeSearch" /></th>
          <th><input class="form-control" #input2 [(ngModel)]="cusSearch" (input)="filter()" type="text" name="cusSearch" /></th>
          <th><input class="form-control" #input3 [(ngModel)]="telSearch" (input)="filter()" type="text" name="telSearch" /></th>
          <th><input class="form-control" #input4 [(ngModel)]="addSearch" (input)="filter()" type="text" name="addSearch" /></th>
          <th><input class="form-control" #input5 [(ngModel)]="contactSearch" (input)="filter()" type="text" name="contactSearch" /></th>
          <th><input class="form-control" #input6 [(ngModel)]="contactPosiSearch" (input)="filter()" type="text" name="contactPosiSearch" /></th>
          <th><input class="form-control" #input7 [(ngModel)]="contactTelSearch" (input)="filter()" type="text" name="contactTelSearch" /></th>
          <th><input class="form-control" #input8 [(ngModel)]="noteSearch" (input)="filter()" type="text" name="noteSearch" /></th>
        </tr>

      </thead>
      <tbody>
        <tr *ngFor="let item of listFilter" (click)="clickRow(item)">
          <td class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" value="{{ item.customerId }}" [checked]="item.checked" disabled />
              <span class="helping-el"></span>
            </label>
          </td>
          <td>{{item.salesFullName}}</td>
          <td>
            <a [routerLink]="[]" (click)="showModal(item)">{{item.customerCode}}</a>
          </td>
          <td>{{item.customerName}}</td>
          <td>{{item.tel}}</td>
          <td>{{item.address}}</td>
          <td>{{item.contact}}</td>
          <td>{{item.contactPosition}}</td>
          <td>{{item.contactTel}}</td>
          <td>{{item.notes }}</td>
        </tr>
        <tr *ngIf="listCustomer?.length == 0">
          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer no-padding">
    <div *ngIf="listCustomer?.length > 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-5">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ listCustomer?.length }}</span>
          </div>
        </div>
        <div class="col-md-7 text-right">

        </div>
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>
<modal-sales-customer *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
</modal-sales-customer>
<!-- <modal-customer *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
</modal-customer> -->
<!-- <div [ngBusy]="busy"></div> -->
