<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div #myHandle class="modal-header">
                <h4 class="modal-title pull-left">Duyệt tài liệu</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" novalidate #addEditForm="ngForm" >
                    <div class="box-body">
                        <h4>Chấm điểm tài liệu</h4>
                        <div class="form-group">
                            <div style="padding-left:15px; padding-right:15px">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Tiêu chí</th>
                                            <!-- <th>Nội dung</th> -->
                                            <th>Trọng số</th>
                                            <th>Điểm số</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of listScore; let indexOfelement=index;">
                                            <td style="width: 20%;">
                                                <span>{{item.criteriaName}}</span>
                                            </td>
                                            <!-- <td style="width: 70%;">
                                                <span>{{item.criteriaNotes}}</span>
                                            </td> -->
                                            <td style="width: 5%; text-align: right">
                                                <span>{{item.weight + ' %'}} </span>
                                            </td>
                                            <td style="width: 5%; text-align: right">
                                                <span>
                                                    {{item.score | number:'1.2-2'}}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="text-align: right; font-weight: bold;">Điểm quy đổi</td>
                                            <td style="text-align: right; font-weight: bold;">
                                                <span>{{score | number:'1.2-2'}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ghi chú
                            </label>
                            <div class="col-sm-10">
                                <textarea class="form-control" [(ngModel)]="comments" rows="2" name="reason"
                                    placeholder="Nhập ghi chú"></textarea>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-right">
                        <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
                            <i class="fa fa-close"></i> Hủy</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
</div>