<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalDbsAddEdit="bs-modal"
  [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name"
  (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">DBS Shipmment <a style="font-size: 14px;">{{entity?.createdByName}}</a></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalDbsAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <div class="row">
              <div class="col-sm-8">
                <fieldset>
                  <legend>Thông tin Shipment Order</legend>
                  <div class="form-group">
                    <div class="col-sm-3 control-label">ediCustomerNumber</div>
                    <div class="col-sm-3">
                      <span class="form-control" style="text-align: right;">
                        {{entity.ediCustomerNumber}}
                      </span>
                    </div>
                    <div class="col-sm-3 control-label">ediCustomerDepartment</div>
                    <div class="col-sm-3"><span class="form-control" style="text-align: right;">
                      {{entity.ediCustomerDepartment}}
                    </span>
                  </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-3 control-label">primaryReference</div>
                    <div class="col-sm-9">
                      <span class="form-control" style="text-align: right;">
                        {{entity.primaryReference}}
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-3 control-label">ediReference</div>
                    <div class="col-sm-9">
                      <span class="form-control" style="text-align: right;">
                      {{entity.ediReference}}
                    </span>
                  </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-3 control-label">internalShipmentNumber</div>
                    <div class="col-sm-9">
                      <span class="form-control" style="text-align: right;">
                        {{entity.internalShipmentNumber}}
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-3 control-label">dateTimeZone</div>
                    <div class="col-sm-9">
                      <span class="form-control" style="text-align: right;">
                        {{entity.dateTimeZone | date:'dd/MM/yyyy HH:mm'}}
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-3 control-label">servicesName</div>
                    <div class="col-sm-9">
                      <span class="form-control" style="text-align: right;">
                        {{entity.servicesName}}
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-3 control-label">originPlaceCode</div>
                    <div class="col-sm-3">
                      <span class="form-control" style="text-align: right;">
                        {{entity.originPlaceCode}}
                      </span>
                    </div>
                    <div class="col-sm-3 control-label">destinationPlaceCode</div>
                    <div class="col-sm-3">
                      <span class="form-control" style="text-align: right;">
                        {{entity.destinationPlaceCode}}
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                      <div class="col-sm-3 control-label">Ghi chú</div>
                      <div class="col-sm-9">
                        <textarea class="form-control" [(ngModel)]="entity.notes" name="ghichu" rows="1"></textarea>
                      </div>
                  </div>
              </fieldset>
              </div>
              <div class="col-sm-4">
                <fieldset>
                  <legend>Thông tin lượng hàng</legend>
                  <div class="form-group">
                    <div class="col-sm-7 control-label">quantity</div>
                    <div class="col-sm-5">
                      <span class="form-control" style="text-align: right;">
                        {{entity.quantity}}
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-7 control-label">packageCode</div>
                    <div class="col-sm-5">
                      <span class="form-control" style="text-align: right;">
                        {{entity.packageCode}}
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-7 control-label">grossWeight</div>
                    <div class="col-sm-5">
                      <span class="form-control" style="text-align: right;">
                        {{entity.grossWeight |number:'1.2-2'}}
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-7 control-label">netWeight</div>
                    <div class="col-sm-5">
                      <span class="form-control" style="text-align: right;">
                        {{entity.netWeight | number:'1.2-2'}}
                      </span>
                    </div>
                  </div>

              </fieldset>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <fieldset>
                  <legend>Thông tin Nhận hàng</legend>
                  <div class="form-group">
                    <div class="col-sm-3 control-label">pickupNameLine1</div>
                    <div class="col-sm-9">
                      <span class="form-control" style="text-align: right;">
                        {{entity.pickupNameLine1}}
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-3 control-label">pickupAddressLine1</div>
                    <div class="col-sm-9">
                      <span class="form-control" style="text-align: right;">
                        {{entity.pickupAddressLine1}}
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-3 control-label">pickupAddressLine2</div>
                    <div class="col-sm-9">
                      <span class="form-control" style="text-align: right;">
                        {{entity.pickupAddressLine2}}
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-3 control-label">pickupCityName</div>
                    <div class="col-sm-9">
                      <span class="form-control" style="text-align: right;">
                        {{entity.pickupCityName}}
                      </span>
                    </div>
                  </div>
              </fieldset>
              </div>
              <div class="col-sm-6">
                <fieldset>
                  <legend>Thông tin Giao hàng</legend>
                  <div class="form-group">
                    <div class="col-sm-3 control-label">deliveryNameLine1</div>
                    <div class="col-sm-9">
                      <span class="form-control" style="text-align: right;">
                        {{entity.deliveryNameLine1}}
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-3 control-label">deliveryAddressLine1</div>
                    <div class="col-sm-9">
                      <span class="form-control" style="text-align: right;">
                        {{entity.deliveryAddressLine1}}
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-3 control-label">deliveryAddressLine2</div>
                    <div class="col-sm-9">
                      <span class="form-control" style="text-align: right;">
                        {{entity.deliveryAddressLine2}}
                      </span>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-3 control-label">deliveryCityName</div>
                    <div class="col-sm-9">
                      <span class="form-control" style="text-align: right;">
                        {{entity.deliveryCityName}}
                      </span>
                    </div>
                  </div>
              </fieldset>
              </div>
            </div>
            <!-- Đoạn hiển thị các thông tin chi tiết -->
            <div class="form-group" style="overflow: visible;">
              <tabset>
                <tab heading="Công việc">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Id Công việc</label>
                    <div class="col-sm-1">
                      <input type="text" [(ngModel)]="wfId" name="wfId" class="form-control">
                    </div>
                    <div class="col-sm-1">
                      <button type="button" class="btn btn-sm btn-primary"
                        (click)="newWorkflow()">Thêm</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="table-responsive" style="padding-left:15px; padding-right:15px; max-height: 150px;">
                      <table class="table table-bordered table-striped table-hover ">
                        <thead>
                          <tr>
                            <th>Id công việc</th>
                            <th>JobId</th>
                            <th>Ghi chú</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.shipmentListWorkflows">
                            <td>
                                <b>{{item.workflowId}}</b>
                            </td>
                            <td>{{item.jobId }}</td>
                            <td style="width:18%">
                              <button type="button" class="btn btn-warning btn-sm" (click)="deleteWorkflow(item)">
                                <i class="fa fa-trash"></i>
                              </button>
                            </td>
                          </tr>
                          <tr *ngIf="entity.shipmentListWorkflows?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
                <tab heading="ShippingUnit">
                  <div class="form-group">
                    <div class="table-responsive" style="padding-left:15px; padding-right:15px; max-height: 200px;">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th>ediReference</th>
                            <th>shippingUnitNumber</th>
                            <th>unitStatus</th>
                            <th>quantity</th>
                            <th>packageCode</th>
                            <th>grossWeight</th>
                            <th>netWeight</th>
                            <th>chargeableWeight</th>
                            <th>volume</th>
                            <th>volumeCode</th>
                            <th>cubicMeters</th>
                            <th>loadingMeters</th>
                            <th>goodsValue</th>
                            <th>loadIndex</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.shippingUnits">
                            <td>{{item.ediReference}}</td>
                            <td>{{item.shippingUnitNumber}}</td>
                            <td>{{item.unitStatus}}</td>
                            <td>{{item.quantity}}</td>
                            <td>{{item.packageCode}}</td>
                            <td>{{item.grossWeight}}</td>
                            <td>{{item.netWeight}}</td>
                            <td>{{item.chargeableWeight}}</td>
                            <td>{{item.volume}}</td>
                            <td>{{item.volumeCode}}</td>
                            <td>{{item.cubicMeters}}</td>
                            <td>{{item.loadingMeters}}</td>
                            <td>{{item.goodsValue}}</td>
                            <td>{{item.loadIndex}}</td>
                          </tr>
                          <tr *ngIf="entity.shippingUnits?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
                <tab heading="Extra Reference">
                  <div class="form-group">
                    <div class="table-responsive" style="padding-left:15px; padding-right:15px; max-height: 200px;">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th>ediReference</th>
                            <th>referenceCode</th>
                            <th>extraReference</th>
                            <th>referenceText</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.extraReferences; let indexOfelement=index;">
                            <td>{{item.ediReference}}</td>
                            <td>{{item.referenceCode}}</td>
                            <td>{{item.extraReference}}</td>
                            <td>{{item.referenceText}}</td>
                          </tr>
                          <tr *ngIf="entity.extraReferences?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
                <tab heading="Tiến trình">
                  <div class="form-group">
                    <div style="padding-left:15px; padding-right:15px">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Nhóm công việc</th>
                            <th>Tên tiến trình</th>
                            <th>Mã DBS</th>
                            <th>Thời gian</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.shipmentActions; let i=index;">
                            <td>{{item.jobName}}</td>
                            <td>{{item.procedureName}}</td>
                            <td>{{item.code}}</td>
                            <td>{{item.dateTimeZone}}</td>
                            <td style="width:40px">
                              <button type="button"
                                class="btn btn-warning btn-sm" (click)="reSendConfirm(item)">
                                <i class="fa fa-upload"></i>
                              </button>
                            </td>
                          </tr>
                          <tr *ngIf="entity.shipmentActions?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
                <tab heading="POD">
                  <div class="form-group">
                    <div class="col-sm-2">
                      <input style="display: none" type="file" class="custom-file-input" id="pod" #filePod
                        (change)="onFileChanged($event)" accept=".jpg,.png,.gif,.pdf">
                      <button type="button" class="btn btn-sm btn-primary" (click)="filePod.click()">
                        <i class="fa fa-upload" aria-hidden="true"></i> Tải POD
                      </button>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="table-responsive" style="padding-left:15px; padding-right:15px">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Tên File</th>
                            <th>Kích thước</th>
                            <th>Người Upload</th>
                            <th>Thời gian Upload</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.shipmentListAttachFiles; let i=index;">
                            <td><a (click)="clickLink(item)">{{item.fileName}}</a></td>
                            <td style="width:50%">
                              {{item.size | number}}
                            </td>
                            <td>{{item.createdByName}}</td>
                            <td>{{item.createdDate | date:'dd/MM/yyyy HH:mm'}}</td>
                          </tr>
                          <tr *ngIf="entity.shipmentListAttachFiles?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
                <tab heading="Dbs Document">
                  <div class="form-group">
                    <div class="table-responsive" style="padding-left:15px; padding-right:15px">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Tên File</th>
                            <th>Kích thước (B)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.documents; let i=index;">
                            <td><a (click)="clickLink(item)">{{item.fileName}}</a></td>
                            <td style="width:50%">{{item.size | number}}</td>
                          </tr>
                          <tr *ngIf="entity.documents?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="entity.status===1" type="button" class="btn btn-warning btn-sm" (click)="acceptDocument()">
              <i class="fa fa-file "></i> Xác nhận chứng từ</button>
              <button *ngIf="entity.status===0" type="button" class="btn btn-success btn-sm" (click)="acceptEDI()">
              <i class="fa fa-volume-control-phone "></i> Xác nhận EDI</button>
              <button *ngIf="entity.status<3" type="button" class="btn btn-success btn-sm" (click)="updateDone()">
                <i class="fa fa-check-circle "></i> Hoàn thành EDI</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="updateNotes()">
                <i class="fa fa-save"></i> Cập nhật Ghi chú</button>
            <button type="button" (click)="modalDbsAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>

