<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Phương tiện</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <tabset>
            <tab heading="Thông tin chung">
          <div class="box-body">
            <div class="form-group">
              <label class="col-sm-3 control-label">Biển kiểm soát
                <span class="error">*</span>
              </label>
              <div class="col-sm-9 ">
                <input type="text"  #bks="ngModel" [(ngModel)]="entity.licensePlates" required maxlength="12"
                name="tenncc" class="form-control text-uppercase" placeholder="Nhập Biển kiểm soát" focus [readonly]="flagXem" />
              <small [hidden]="bks.valid || (bks.pristine && !addEditForm.submitted)"
                class="text-danger">
                Biển kiểm soát không được để trống và không vượt quá 12 kí tự
              </small>
              </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Loại phương tiện
                  <span class="error">*</span>
                </label>
                <div class="col-sm-3">
                    <ng-select [items]="listVihicleType"  #dichvucc ="ngModel" name="loaiphuongtien" required
                    bindLabel="categoryName"
                    bindValue="id"
                    [disabled]="flagXem"
                    [(ngModel)]="entity.vihicleTypeId">
                    </ng-select>
                </div>
                <label class="col-sm-2 control-label">Loại BOT
                  <span class="error">*</span>
                </label>
                <div class="col-sm-4">
                    <ng-select [items]="listVihicleTypeBot"  name="loaiphuongtienbot" required
                    bindLabel="categoryName" 
                    bindValue="id" 
                    [disabled]="flagXem"
                    [(ngModel)]="entity.vihicleTypeBotId">
                    </ng-select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Loại phương tiện Xưởng
                  <span class="error">*</span>
                </label>
                <div class="col-sm-3">
                    <ng-select [items]="listVehicleType"  name="loaiphuongtienxuong" required
                    bindLabel="typeName" 
                    bindValue="id" 
                    [disabled]="flagXem" (change)="onChangeVehicleType($event)"
                    [(ngModel)]="entity.garageTypeId">
                    </ng-select>
                </div>
                <label class="col-sm-2 control-label">Sơ đồ lốp
                  <span class="error">*</span>
                </label>
                <div class="col-sm-4">
                    <ng-select [items]="listTireDiagramType"  name="loaisodolop" required
                    bindLabel="name" 
                    bindValue="id" 
                    [disabled]="flagXem"
                    [(ngModel)]="entity.tireDiagramId">
                    </ng-select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Chi nhánh sở hữu
                  <span class="error">*</span>
                </label>
                <div class="col-sm-9">
                  <ng-select name="branchId" [items]="listBranch" bindLabel="branchName" bindValue="id" [(ngModel)]="entity.branchId" required
                  placeholder="Chọn chi nhánh"  >
                  </ng-select>
                </div>
              </div>
              <div class="form-group">
              <label class="col-sm-3 control-label">Chi nhánh quản lý
                <span class="error">*</span>
              </label>
              <div class="col-sm-9">
                <ng-select name="managementBranchId" [items]="listBranch" bindLabel="branchName" bindValue="id" [(ngModel)]="entity.managementBranchId" required
                placeholder="Chọn chi nhánh"  >
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Lái xe</label>
              <div class="col-sm-4">
                <ng-select name="employee" [items]="listEmployee" bindLabel="employeeFullName" bindValue="id"
                  [(ngModel)]="entity.employeeId" placeholder="Chọn nhân viên" [readonly]="flagXem">
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Ngày bàn giao xe</label>
              <div class="col-sm-4 date">
                <input name="ngayjob" type="text" daterangepicker [options]="ngayJobOptions"
                  [(ngModel)]="_jobDate" class="form-control" (selected)="selectedNgayJob($event)"
                  (hideDaterangepicker)="closedNgayJob($event)" autocomplete="off" [readonly]="flagXem">
              </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Hãng SX</label>
                <div class="col-sm-5">
                  <input type="text" #tenNcc="ngModel" [(ngModel)]="entity.manufacturer"  maxlength="255"
                  name="manufacturer" class="form-control" placeholder="Nhập hãng SX" focus [readonly]="flagXem" />
                </div>
                <label class="col-sm-2 control-label">Năm sản xuất</label>
                <div class="col-sm-2">
                  <input type="number" #tenNcc="ngModel" [(ngModel)]="entity.yearMade"  maxlength="255"
                  name="yearMade" class="form-control" placeholder="Nhập kích thước phương tiện" focus [readonly]="flagXem" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Kích thước</label>
                <div class="col-sm-9">
                  <input type="text" #tenNcc="ngModel" [(ngModel)]="entity.size"  maxlength="255"
                  name="size" class="form-control" placeholder="Nhập kích thước phương tiện" focus [readonly]="flagXem" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Tải trọng thiết kế</label>
                <div class="col-sm-2">
                  <input type="number" #tenNcc="ngModel" [(ngModel)]="entity.designedPayload"  maxlength="255"
                  name="designedPayload" class="form-control" placeholder="Nhập kích thước phương tiện" focus [readonly]="flagXem" />
                </div>
                <label  class="col-sm-1 control-label" style="text-align: left;">(kgs)</label>
                <label class="col-sm-3 control-label">Tải trọng cho phép</label>
                <div class="col-sm-2">
                  <input type="number" #tenNcc="ngModel" [(ngModel)]="entity.permissiblePayload"  maxlength="255"
                  name="permissiblePayload" class="form-control" placeholder="Nhập kích thước phương tiện" focus [readonly]="flagXem" />
                </div>
                <label  class="col-sm-1 control-label" style="text-align: left;">(kgs)</label>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Số khung</label>
                <div class="col-sm-4">
                  <textarea class="form-control textrea-size" [(ngModel)]="entity.frameNumber" name="frameNumber" rows="1"
                    placeholder="Nhập số khung" [readonly]="flagXem"></textarea>
                </div>
                <label class="col-sm-1 control-label">Số máy</label>
                <div class="col-sm-4">
                  <input class="form-control" type="text" [(ngModel)]="entity.engineNumber" name="engineNumber" rows="1"
                    placeholder="Nhập số máy" [readonly]="flagXem" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Định mức dầu</label>
                <div class="col-sm-2">
                  <input class="form-control" type="text" style="text-align: right;" mask="separator" thousandSeparator="," [(ngModel)]="entity.oilQuota" name="oilQuota" rows="1"
                    placeholder="Nhập định mức" [readonly]="flagXem"/>
                </div>
                <label  class="col-sm-1 control-label" style="text-align: left;">(lít/100km)</label>
                <label class="col-sm-3 control-label">Định mức dầu không tải</label>
                <div class="col-sm-2">
                  <input class="form-control" type="text" style="text-align: right;" mask="separator" thousandSeparator="," [(ngModel)]="entity.noLoadingOilQuota" name="noLoadingOilQuota" rows="1"
                    placeholder="Nhập định mức" [readonly]="flagXem"/>
                </div>
                <label  class="col-sm-1 control-label" style="text-align: left;">(lít/100km)</label>
                
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Giá mua</label>
                <div class="col-sm-2">
                  <input class="form-control" type="text"  mask="separator" thousandSeparator="," style="text-align: right;" [(ngModel)]="entity.originalPrice" name="originalPrice" rows="1"
                     [readonly]="flagXem"/>
                </div>
                <label  class="col-sm-1 control-label" style="text-align: left;">VNĐ</label>
                <label class="col-sm-3 control-label">Thời hạn đăng kiểm</label>
                <div class="col-sm-3 date">
                    <input name="ngayHandangkiem" type="text" daterangepicker [options]="ngayHandangkiem"
                    [(ngModel)]="entity.vehicleInspectionDeadline" class="form-control" (selected)="selectedngayHandangkiem($event)"
                    (hideDaterangepicker)="closedngayHandangkiem($event)" autocomplete="off" [readonly]="flagXem">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Đơn vị BH TNDS</label>
                <div class="col-sm-9">
                  <textarea class="form-control textrea-size" [(ngModel)]="entity.civilLiabilityInsuranceProvider" name="civilLiabilityInsuranceProvider" rows="1"
                    placeholder="" [readonly]="flagXem"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Thời hạn BH TNDS</label>
                <div class="col-sm-4 date">
                    <input name="ngayBHTNDS" type="text" daterangepicker [options]="ngayBHTNDS"
                    [(ngModel)]="entity.civilLiabilityInsuranceExpirationDate" class="form-control" (selected)="selectedngayBHTNDS($event)"
                    (hideDaterangepicker)="closedngayBHTNDS($event)" autocomplete="off" [readonly]="flagXem">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Đơn vị BH vật chất</label>
                <div class="col-sm-9">
                  <textarea class="form-control textrea-size" [(ngModel)]="entity.vehicleDamageInsuranceProvider" name="vehicleDamageInsuranceProvider" rows="1"
                    placeholder="" [readonly]="flagXem"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Thời hạn BH vật chất</label>
                <div class="col-sm-4 date">
                    <input name="ngayBHVC" type="text" daterangepicker [options]="ngayBHVC"
                    [(ngModel)]="entity.vehicleDamageInsuranceExpirationDate" class="form-control" (selected)="selectedngayBHVC($event)"
                    (hideDaterangepicker)="closedngayBHVC($event)" autocomplete="off" [readonly]="flagXem">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Thế chấp ngân hàng</label>
                <div class="col-sm-4">
                  <label class="custom-checkbox">
                    <input type="checkbox" [(ngModel)]="entity.bankCollateral" name="bankCollateral" [disabled]="flagXem"/>
                    <span class="helping-el"></span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Thời hạn lưu hành ngân hàng</label>
                <div class="col-sm-4 date">
                    <input name="ngayLuuhanhNH" type="text" daterangepicker [options]="ngayLuuhanhNH"
                    [(ngModel)]="entity.vehicleLicenseCopyExpirationDate" class="form-control" (selected)="selectedngayLuuhanhNH($event)"
                    (hideDaterangepicker)="closedngayLuuhanhNH($event)" autocomplete="off" [readonly]="flagXem">
                </div>
              </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Ghi chú</label>
              <div class="col-sm-9">
                <textarea class="form-control textrea-size" [(ngModel)]="entity.note" name="note" rows="3"
                  placeholder="Nhập ghi chú" [readonly]="flagXem"></textarea>
              </div>
            </div>
          </div>
            </tab>
            <tab heading="Định mức dầu" *ngIf="entity.listOilQuota?.length > 0">
              <div class="form-group" style="padding-left:15px; padding-right:15px">
                <table class="table table-bordered table-striped table-hover">
                  <thead>
                    <tr>
                      <th>Loại hình</th>
                      <th>Định mức</th>
                      <th>Định mức tuyến ngắn</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of entity.listOilQuota;let indexOfelement=index;">
                      <td style="width: 50%">
                        {{item.oilQuotaName}}
                      </td>
                      <td style="width: 20%; text-align: right;">
                        <input type="text" class="form-control text-right" name="vat{{indexOfelement}}" [mask]="maskNumber" [(ngModel)]="item.value">
                      </td>
                      <td style="width: 30%; text-align: right;">
                        <input type="text" class="form-control text-right" name="vatShort{{indexOfelement}}" [mask]="maskNumber" [(ngModel)]="item.shortWayValue">
                      </td>
                    </tr>
                    <tr *ngIf="entity.listOilQuota?.length == 0">
                      <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </tab>
          </tabset>

          <!-- /.box-body -->
          <div class="box-footer">
            <div class="col-sm-4">
              <button *ngIf="entity.id" type="button" class="btn btn-info btn-sm" title="Chứng từ đính kèm" (click)="showFiles()">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Chứng từ ...
            </button>
            </div> 
            <div class="col-sm-4"></div>
            <div class="col-sm-4" style="text-align: right;">
              <button *ngIf="!flagXem" type="submit" class="btn btn-primary btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave">
              <i class="fa fa-save"></i> Lưu</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
            </div>
            
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
<modal-attachfile *ngIf="viewAttachFiles" (SaveSuccess)="saveSuccessFile($event)" (CloseModal)="closeModalFile()">
</modal-attachfile>
