@media (min-width: 850px) {
  .modal-lg {
     width: 65%;
  }
}

.column-ten-sm{
  width: 120px;
}
.column-ten-lg{
  width: 300px;
}
.column-ten-md{
  width: 180px;
}

.fixed-column {
  max-width: 200px;         /* hoặc width: 200px; tùy layout */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fixed-height{
  min-height: 600px;
  max-height: 600px;
  overflow-y: auto;
}
table   {
  border-collapse: collapse;
  border: 1px solid rgba(109, 107, 107, 0.445);
}
table  th {
  border: 1px solid rgba(99, 97, 97, 0.589);
  padding: 2px;
}
thead tr:nth-child(1) th{background: #dcefe5f6; position: sticky;top: 0px;z-index: 10;}

fieldset {
  background-color: #eeeeee;
}

legend {
  background-color: gray;
  color: white;
  padding: 5px 10px;
}

