@media (min-width: 850px) {
    .modal-lg {
       width: 70%;
    }
  }
  .column-ten-sm{
    width: 120px;
  }
  .column-ten-lg{
    width: 300px;
  }
  .column-ten-md{
    width: 180px;
  }


  .fixed-height{
    min-height: 520px;
    max-height: 520px;
    overflow-y: auto;
  }
  table   {
    border-collapse: collapse;
    border: 1px solid rgba(109, 107, 107, 0.445);
  }
  table  th {
    border: 1px solid rgba(99, 97, 97, 0.589);
    padding: 2px;
  }
  thead tr:nth-child(1) th{background: #dcefe5f6; position: sticky;top: 0px;z-index: 10;}

  fieldset {
    background-color: #eeeeee;
  }
  
  legend {
    background-color: rgb(128, 128, 128);
    color: white;
    padding: 5px 10px;
  }
  .legend2 {
    background-color: rgb(201, 152, 209);
    color: white;
    padding: 5px 10px;
  }

  .position-relative {
    position: relative;
  }
  
  .dropdown-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 5px;
  }
  