<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Danh mục Quận/Huyện</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="form-group">
            <label class="col-sm-3 control-label">Tỉnh/Thành phố
              <span class="error">*</span>
            </label>
            <div class="col-sm-9">
                <ng-select [items]="listProvince"  #provinceCode ="ngModel" name="provincecode"
                bindLabel="provinceName"
                bindValue="provinceCode"
                [(ngModel)]="entity.provinceCode">
                </ng-select>
              <small [hidden]="provinceCode.valid || (provinceCode.pristine && !addEditForm.submitted)"
                class="text-danger">
                Tỉnh/Thành phố không được để trống
              </small>
            </div>
          </div>
          <div class="box-body">
            <div class="form-group">
              <label class="col-sm-3 control-label">Mã Quận/Huyện
                <span class="error">*</span>
              </label>
              <div class="col-sm-9">
                <input type="text" #districtCode="ngModel" [(ngModel)]="entity.districtCode" required maxlength="255" name="districtCode"
                  class="form-control" placeholder="Nhập mã quận/huyện" focus [readonly]="flagXem || !flagNew" />
                <small [hidden]="districtCode.valid || (districtCode.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Mã quận/huyện không được để trống và không vượt quá 255 kí tự
                </small>
              </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Tên quận/huyện
                </label>
                <div class="col-sm-9">
                    <input type="text" #tentinh="ngModel" [(ngModel)]="entity.districtName" required maxlength="255" name="provincename"
                    class="form-control" placeholder="Nhập tên quận/huyện" focus [readonly]="flagXem" />
                  <small [hidden]="tentinh.valid || (tentinh.pristine && !addEditForm.submitted)"
                    class="text-danger">
                    Tên quận/huyện không được để trống và không vượt quá 255 kí tự
                  </small>
                </div>
              </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Ghi chú
              </label>
              <div class="col-sm-9">
                <textarea class="form-control textrea-size" [(ngModel)]="entity.description"  name="description"
                placeholder="Mô tả" [readonly]="flagXem" rows="3"></textarea>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="!flagXem" type="submit" class="btn btn-primary btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave">
              <i class="fa fa-save"></i> Lưu</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
