<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalShippingTaskAttachFile="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Chứng từ Lái xe upload</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalShippingTaskAttachFile.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm">
          <!-- <div class="form-group">
            <div class="col-sm-2">
              <button [disabled]="isLock" type="button" class="btn btn-sm btn-success" (click)="newAttachFile()" [disabled]="true">
                <i class="fa fa-plus" aria-hidden="true"></i> Thêm mới
              </button>
            </div>
          </div> -->
          <div class="form-group">
                    <div class="table-responsive" style="padding-left:15px; padding-right:15px">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Nội dung</th>
                            <th>Tên tập tin</th>
                            <th>Kích thước</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of listFiles; let i=index;">
                              <td style="width:20%">
                                <input class="form-control" [(ngModel)]="item.title" type="text" name="title{{i}}" [disabled]="item.id!=undefined" />
                              </td>
                            <td><a (click)="clickLink(item)">{{item.fileName}}</a></td>
                            <td style="width:40px">{{item.size}}</td>

                          </tr>
                          <tr *ngIf="listFiles?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button type="button" (click)="modalShippingTaskAttachFile.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Đóng</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
