<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Chi tiết Thanh Toán</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" *ngIf="item" novalidate #modalForm="ngForm" (ngSubmit)="saveChange(modalForm)">
          <div class="box-body">
            <!-- Fee -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Phí</label>
              <div class="col-sm-9">
                <ng-select name="feeid" [items]="listFee" bindLabel="feeName" bindValue="id" [(ngModel)]="item.feeId"
                  placeholder="Chọn phí..."  (change)="chagedFee(item, $event)"
                  [clearable]="false">
                </ng-select>
              </div>
            </div>

            <!-- Content -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Nội dung thanh toán</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="contents" [(ngModel)]="item.contents"
                  placeholder="Chi tiết nội dung thanh toán" />
              </div>
            </div>

            <!-- Amount -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Số tiền</label>
              <div class="col-sm-2">
                <input type="text" class="form-control text-right" name="amount" [(ngModel)]="item.amount"
                  (change)="onChangeTien(item)" [mask]="maskNumber"
                  [allowNegativeNumbers]="true" />
              </div>
              <label class="col-sm-1 control-label">VAT</label>
              <div class="col-sm-2">
                <input type="text" class="form-control text-right" name="vat" [(ngModel)]="item.vat" (change)="onChangeTien(item)"
                  [mask]="maskNumber" [allowNegativeNumbers]="true" />
              </div>
              <label class="col-sm-2 control-label">Tổng tiền</label>
              <div class="col-sm-2 ">
                <input type="text" class="form-control text-right" name="amountAfterVAT" [(ngModel)]="item.amountAfterVAT" (change)="onChangeTien(item)"
                  [mask]="maskNumber" [allowNegativeNumbers]="true" />
              </div>
            </div>
            <!-- Currency -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Tiền tệ</label>
              <div class="col-sm-2">
                <ng-select name="currency" [items]="_listCurrency" bindLabel="categoryCode" bindValue="categoryCode"
                  [(ngModel)]="item.currency" placeholder="Chọn tiền tệ..." 
                  (change)="changeCurrency(item, $event)" [clearable]="false">
                </ng-select>
              </div>
              <label class="col-sm-1 control-label">Tỷ giá</label>
              <div class="col-sm-2 ">
                <input type="text" class="form-control text-right" name="exchangeRate" [(ngModel)]="item.exchangeRate"
                  [mask]="maskNumber"/>
              </div>
              <label class="col-sm-2 control-label">Hóa đơn</label>
              <div class="col-sm-2 ">
                <ng-select name="hasInvoice" [items]="listInvoice" bindLabel="text" bindValue="id"
                [(ngModel)]="item.hasInvoice" [clearable]="false"></ng-select>
              </div>
            </div>
            <!-- Invoice Number -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Số hóa đơn</label>
              <div class="col-sm-3">
                <input type="text" class="form-control " name="invoiceNo" [(ngModel)]="item.invoiceNo"
                  (keypress)="validateNumberInput($event)" />
              </div>
              <label class="col-sm-3 control-label">Ngày hóa đơn</label>
              <div class="col-sm-3">
                <input name="invoiceDate" type="text" daterangepicker [options]="dateTimeOptions"
                  [(ngModel)]="item.invoiceDate" class="form-control" (selected)="selectedNgaybatdau(item, $event)"
                  (hideDaterangepicker)="closedNgaybatdau(item, $event)" autocomplete="off" >
              </div>
            </div>
            <!-- Invoice Date -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Mã số thuế</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="invoicemst{{item.tempId}}" [(ngModel)]="item.taxNumber"
               />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Đường dẫn Web</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="invoiceweb{{item.tempId}}" [(ngModel)]="item.web"
                />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Mã tra cứu</label>
              <div class="col-sm-3">
                <input  type="text" class="form-control" name="code{{item.tempId}}" [(ngModel)]="item.code"/>
              </div>
              <label class="col-sm-3 control-label">Mẫu hóa đơn</label>
              <div class="col-sm-3">
                <input  type="text" class="form-control" name="invoicepattern{{item.tempId}}" [(ngModel)]="item.invoicePattern"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Chi nhánh</label>
              <div class="col-sm-2">
                <ng-select name="cn{{item.tempId}}" [items]="listBranch" bindLabel="branchCode" bindValue="id" [clearable]="false"
                [(ngModel)]="item.branchId"   >
              </ng-select>
              </div>
              <label class="col-sm-2 control-label">Định khoản NỢ</label>
                <div class="col-sm-2">
                  <input  type="text" class="form-control" name="dinhkhoanno{{item.tempId}}" [(ngModel)]="item.debitAccount"
                  />
                </div>
                <label class="col-sm-1 control-label">CÓ</label>
                <div class="col-sm-2">
                  <input  type="text" class="form-control" name="dinhkhoanco{{item.tempId}}" [(ngModel)]="item.creditAccount"
                  />
                </div>
            </div>
            <!-- Notes -->
            <div class="form-group">
              <label class="col-sm-3 control-label">Ghi chú</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="notes" [(ngModel)]="item.notes" />
              </div>
            </div>

          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button type="submit" class="btn btn-primary btn-sm" [disabled]="!modalForm.form.valid">
              <i class="fa fa-save"></i> Lưu và Chuyển duyệt</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
