<div class="box box-primary box-chieu-cao">
    <div class="row">
      <div class="box-header with-border">
        <div class="col-md-4">
          <h3 class="box-title">Phân quyền giám sát Kiểm tra phương tiện</h3>
        </div>
        <div class="col-md-2">
          <ng-select name="khachhang" [items]="listEmployee" bindLabel="employeeFullName" bindValue="userId"
          [(ngModel)]="_userId" (change)="changedEmployee($event)" placeholder="Chọn nhân viên...">
        </ng-select>
        </div>
        <div class="col-md-2">
          
        </div>
        <div class="col-md-4 text-right">
          <button class="btn btn-success btn-sm" (click)="add()" appPermission appFunction="VIPER" appAction="CREATE">
            <i class="fa fa-plus"></i> Thêm
          </button>
        </div>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Tên nhân viên</th>
            <th>Biển kiểm soát</th>
            <th class="column-gia-tri"></th>
          </tr>
          <tr>
            <th><input class="form-control" #Input [(ngModel)]="tenSearch" (input)="filter()" type="text" name="tenSearch"/></th>
            <th><input class="form-control" #Input2 [(ngModel)]="bksSearch" (input)="filter()" type="text" name="bksSearch"/></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listFilter">
            <td>
              <span>
                {{item.userFullName}}
              </span>
            </td>
            <td>
              <span>
                {{item.licensePlates }}
              </span>
            </td>
            <td>
              <button type="button" class="btn btn-warning btn-sm" title="Xóa quyền kiểm tra phương tiện"
              (click)="confirmDelete(item)">
              <i class="fa fa-trash" aria-hidden="true"></i> Xóa
            </button>
            </td>
          </tr>
          <tr *ngIf="listData?.length == 0">
            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer no-padding">
      <div *ngIf="totalRows > 0" class="col-md-12 footer-phantrang">
        <div class="row">
          <div class="col-md-5">
            <div class="dataTables_info">
              <span>Tổng số bản ghi: {{ totalRows }}</span>
            </div>
          </div>
          <div class="col-md-7 text-right">
            <div class="page">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box -->
  </div>
  
  <modal-vehicle-inspection-permission *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
  </modal-vehicle-inspection-permission>
  