<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalGrade="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div #myHandle class="modal-header">
                <h4 class="modal-title pull-left">Đánh giá thực hiện công việc</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalGrade.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" novalidate #gradeForm="ngForm" *ngIf="entity">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Id</label>
                            <div class="col-sm-3 control-label-text-left">
                                <span style="font-weight: bold; color: blue;"> {{entity.id}}</span>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="!isCs">
                            <label class="col-sm-3 control-label" style="padding-top: 10px;">Đánh giá CS
                                <span class="error">*</span>
                            </label>
                            <div class="col-sm-9" style="margin-top: -10px;">
                                <bar-rating name="csGradeByOpMan" [(rate)]="entity.csGradeByOpMan"
                                    (rateChange)="checkValue()">
                                </bar-rating>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="!isCs">
                            <label class="col-sm-3 control-label">Nhận xét CS
                                <span class="error">*</span>
                            </label>
                            <div class="col-sm-9">
                                <textarea class="form-control textrea-size" [(ngModel)]="entity.csEvaluationByOpMan"
                                    name="csEvaluationByOpMan" rows="2"
                                    placeholder="Nhận xét về công việc mà CS đã tạo"></textarea>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="isCs">
                            <label class="col-sm-3 control-label" style="padding-top: 10px;">Đánh giá Điều vận
                                <span class="error">*</span>
                            </label>
                            <div class="col-sm-9" style="margin-top: -10px;">
                                <bar-rating name="opManGradeByCS" [(rate)]="entity.opManGradeByCS"
                                    (rateChange)="checkValue()">
                                </bar-rating>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="isCs">
                            <label class="col-sm-3 control-label">Nhận xét Điều vận
                                <span class="error">*</span>
                            </label>
                            <div class="col-sm-9">
                                <textarea class="form-control textrea-size" [(ngModel)]="entity.opManEvaluationByCS"
                                    name="opManEvaluationByCS" rows="2" placeholder="Nhận xét về opMan"></textarea>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="!isCs">
                            <label class="col-sm-3 control-label" style="padding-top: 10px;">Đánh giá Op/Tài xế
                                <span class="error">*</span>
                            </label>
                            <div class="col-sm-9" style="margin-top: -10px;">
                                <bar-rating name="opGradeByOpMan" [(rate)]="entity.opGradeByOpMan" (rateChange)="checkValue()">
                                </bar-rating>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="!isCs">
                            <label class="col-sm-3 control-label">Nhận xét Op
                                <span class="error">*</span>
                            </label>
                            <div class="col-sm-9">
                                <textarea class="form-control textrea-size" [(ngModel)]="entity.opEvaluationByOpMan"
                                    name="opEvaluationByOpMan" rows="2" placeholder="Nhận xét về opMan"></textarea>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="isCs">
                            <label class="col-sm-3 control-label" style="padding-top: 10px;">Đánh giá Op/Tài xế
                                <span class="error">*</span>
                            </label>
                            <div class="col-sm-9" style="margin-top: -10px;">
                                <bar-rating name="opGradeByCS" [(rate)]="entity.opGradeByCS" (rateChange)="checkValue()">
                                </bar-rating>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="isCs">
                            <label class="col-sm-3 control-label">Nhận xét Op/Tài xế
                                <span class="error">*</span>
                            </label>
                            <div class="col-sm-9">
                                <textarea class="form-control textrea-size" [(ngModel)]="entity.opEvaluationByCS"
                                    name="opEvaluationByCS" rows="2" placeholder="Nhận xét về Op/Tài xế"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-right">
                        <button type="button" class="btn btn-success btn-sm" (click)="setGrade()" [disabled]="!flagGrade">
                            <i class="fa fa-hand-paper-o "></i> Đánh giá</button>
                        <button type="button" (click)="modalGrade.hide()" class="btn btn-danger btn-sm">
                            <i class="fa fa-close"></i> Hủy</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
</div>