.column-ten{width: 100px;}
.clicks-disabled { pointer-events: none; }
@media (min-width: 850px) {
  .modal-lg {
     width: 70%;
  }
}
.so-luong{
  text-align: right;
}
.column-ten{
  min-width: 180px;
  max-width: 250px;
  width: 200px;
}
.column-gia-tri{
  min-width: 120px;
  max-width: 180px;
  width: 120px;
  text-align: right;
}
.column-ghi-chu{
  width: 120px;
}
#scrolltable {
  overflow-y: scroll;
  overflow-x: scroll;
}
.my-custom-scrollbar {
  position: relative;
  max-height: 180px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

div#style-scroll-1{
  overflow-y: scroll;
  height: 450px;
}
