<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Công nợ</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <div class="col-md-8">
              <div class="form-group">
                <label class="col-sm-2 control-label">Chi nhánh
                  <span class="error">*</span>
                </label>
                <div class="col-sm-3">
                  <ng-select name="donvi" [items]="listBranch" bindLabel="branchCode" bindValue="id" [readonly]="true"
                    [(ngModel)]="entity.branchId" required placeholder="Chọn chi nhánh">
                  </ng-select>
                </div>
                <label class="col-sm-4 control-label">C/N xuất hóa đơn
                  <span class="error">*</span>
                </label>
                <div class="col-sm-3">
                  <ng-select name="donvihoadon" [items]="listBranch" bindLabel="branchCode" bindValue="id"
                    [(ngModel)]="entity.debitBranchId" required placeholder="Chọn chi nhánh">
                  </ng-select>
                </div>
              </div>
              <div *ngIf="entity.refType=='C'" class="form-group">
                <label class="col-sm-2 control-label">Khách hàng
                  <span class="error">*</span>
                </label>
                <div class="col-sm-10">
                  <ng-select name="customer" [items]="listCustomers" bindLabel="customerName" bindValue="id"
                    [readonly]="flagXem" [(ngModel)]="entity.customerId" required placeholder="Chọn khách hàng...">
                  </ng-select>
                </div>
              </div>
              <div *ngIf="entity.refType=='S'" class="form-group">
                <label class="col-sm-2 control-label">Đơn vị
                  <span class="error">*</span>
                </label>
                <div class="col-sm-10">
                  <ng-select name="customer" [items]="listSupplier" bindLabel="supplierName" bindValue="id"
                    [readonly]="flagXem" [(ngModel)]="entity.supplierId" required placeholder="Chọn nhà cung cấp...">
                  </ng-select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Nội dung
                  <span class="error">*</span>
                </label>
                <div class="col-sm-10">
                  <textarea class="form-control textrea-size" [(ngModel)]="entity.refName" rows="2" name="cnnoidung"
                    placeholder="Nội dung..." required [readonly]="flagXem" ></textarea>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">Ghi chú</label>
                <div class="col-sm-10">
                  <textarea class="form-control textrea-size" [(ngModel)]="entity.notes" name="cnghichu" rows="6"
                    placeholder="Nhập ghi chú" [readonly]="flagXem"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-5 control-label">Người lập
                  <!-- <span class="error">*</span> -->
                </label>
                <div class="col-sm-7">
                  <ng-select name="nguoibanhang" [items]="listEmployee" bindLabel="employeeFullName" bindValue="id"
                    [readonly]="flagXem" [(ngModel)]="entity.employeeId" placeholder="Chọn nhân viên">
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="col-sm-5 control-label">Ngày
                  <span class="error">*</span>
                </label>
                <div class="col-sm-7 date">
                  <input name="refdate" type="text" daterangepicker [options]="dateTimeOptions"
                    [(ngModel)]="_invoiceDate" class="form-control" (selected)="selectedDate($event)"
                    (hideDaterangepicker)="closedDate($event)" autocomplete="off" [readonly]="flagXem" required
                   >
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-5 control-label">Loại chứng từ
                  <span class="error">*</span>
                </label>
                <div class="col-sm-7">
                  <input class="form-control" [(ngModel)]="entity.documentType" type="text" name="loaict"
                    placeholder="Loại chứng từ" required [readonly]="flagXem" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-5 control-label">Chứng từ số
                  <span class="error">*</span>
                </label>
                <div class="col-sm-7">
                  <input class="form-control" [(ngModel)]="entity.documentNo" type="text" name="documentno"
                    placeholder="Số chứng từ" required [readonly]="flagXem" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-5 control-label">JobId
                </label>
                <div class="col-sm-7">
                  <input class="form-control" [(ngModel)]="entity.jobId" type="text" name="jobId"
                    placeholder="JobId" [readonly]="flagXem" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-5 control-label">Số hóa đơn
                </label>
                <div class="col-sm-7">
                  <input class="form-control" [(ngModel)]="entity.invoiceNo" type="text" name="invoiceNo"
                    placeholder="Số hóa đơn" [readonly]="flagXem" />
                </div>
              </div>
              <div *ngIf="entity.type==0" class="form-group">
                <label class="col-sm-5 control-label">Phát sinh nợ
                  <span class="error">*</span>
                </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control so-tien" #sotien="ngModel" name="psn"
                    [(ngModel)]="entity.totalDebit" placeholder="Phát sinh nợ" [mask]="maskNumber" required minLength="6"
                    maxlength="12" [readonly]="flagXem" />
                  <small [hidden]="sotien.valid || (sotien.pristine && !addEditForm.submitted)" class="text-danger">
                    Nhập số tiền nợ phát sinh
                  </small>
                </div>
              </div>
              <div *ngIf="entity.type==1" class="form-group">
                <label class="col-sm-5 control-label">Phát sinh có
                  <span class="error">*</span>
                </label>
                <div class="col-sm-7">
                  <input type="text" class="form-control so-tien" #sotien="ngModel" name="psc"
                    [(ngModel)]="entity.totalCredit" placeholder="Phát sinh có" [mask]="maskNumber" required minLength="6"
                    maxlength="12" [readonly]="flagXem" />
                  <small [hidden]="sotien.valid || (sotien.pristine && !addEditForm.submitted)" class="text-danger">
                    Nhập số tiền có phát sinh
                  </small>
                </div>
              </div>
              <div *ngIf="entity.id!>0" class="form-group" style="text-align: right; padding-right: 15px;">
                  <button type="button" class="btn btn-sm btn-primary" (click)="attachFile()">
                    <i class="fa fa-upload" aria-hidden="true"></i> Đính kèm
                  </button>
              </div>
              <div class="form-group">
                <label class="col-sm-5 control-label"></label>
                <div class="col-sm-7">
                  <label class="custom-checkbox">
                    <input type="checkbox" [(ngModel)]="entity.isDauKy" name="dauky" />
                    <span class="helping-el"></span>
                    Là nợ đầu kỳ
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-5 control-label"></label>
                <div class="col-sm-7">
                  <label class="custom-checkbox">
                    <input type="checkbox" [(ngModel)]="entity.status" name="status" />
                    <span class="helping-el"></span>
                    Kích hoạt
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="box-body">
            <div class="form-group">
              <h5 style="font-weight: bold; color: red;">Chi tiết nợ</h5>
            </div>
            <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 300px;">
              <table class="table table-bordered" id="style-scroll-1">
                <thead>
                  <tr>
                    <th class="column-tt">TT</th>
                    <th class="column-ten">Nội dung</th>
                    <th class="column-dvt">Loại</th>
                    <th class="column-so-tien">Số tiền</th>
                    <th class="column-ghi-chu">Ghi chú</th>
                    <th class="column-chucnang"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listDetails; let i = index">
                    <td class="column-so-thu-tu">{{i+1}}</td>
                    <td class="column-ten">
                      <input type="text" class="form-control" name="noidung{{item.tempId}}" [(ngModel)]="item.content"
                        placeholder="Nội dung..." (blur)="inputTen()" />
                    </td>
                    <td class="column-tai-khoan">
                      <ng-select name="tkno{{item.tempId}}" [items]="listGType" bindLabel="categoryName" bindValue="categoryCode"
                        [(ngModel)]="item.gType" placeholder="Loại phí" [readonly]="flagXem" (blur)="inputTen()"
                        >
                      </ng-select>
                    </td>
                    <td class="column-so-tien">
                      <input type="text" class="form-control" name="thanhtian{{item.tempId}}" [(ngModel)]="item.amount"
                        (change)="thanhTien(item)" placeholder="Thành tiền..." [mask]="maskNumber" (blur)="inputTen()" />
                    </td>
                    <td class="column-ghi-chu">
                      <input type="text" class="form-control" name="ghichuno{{item.tempId}}" [(ngModel)]="item.notes"
                        placeholder="Diễn giải" />
                    </td>
                    <td class="column-chuc-nang">
                      <i class="fa fa-trash-o" *ngIf="item.tempId!= null && !flagXem" (click)="removeItem(i)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="closingPermission && (!flagNew) && (!entity.locked)" type="button" (click)="accept(1)" class="btn btn-warning btn-sm">
              <i class="fa fa-lock"></i> Khóa</button>
              <button *ngIf="acceptPermission && (!flagNew) && (!entity.isPaid)" type="button"  (click)="accept(0)" class="btn btn-success btn-sm">
              <i class="fa fa-cc-visa"></i> Xác nhận thanh toán</button>
            <button *ngIf="!flagXem && !entity.locked" type="submit" class="btn btn-primary btn-sm"
              [disabled]="entity.locked || !addEditForm.form.valid || flagSave || listDetails?.length==0">
              <i class="fa fa-save"></i> Lưu</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
<modal-attachfile *ngIf="viewAttachFiles" (CloseModal)="closeModalAttachFiles()">
</modal-attachfile>
