<div class="box box-primary box-chieu-cao">
    <ngx-spinner [fullScreen]="false" bdOpacity=0.9 bdColor="#f4f4f9" size="medium" color="#1010ee"
    type="ball-clip-rotate" size="medium">
    <p class="loading">Tải dữ liệu ...</p>
    </ngx-spinner>
    <div class="row">
        <div class="box-header with-border">
            <div class="col-md-2">
                <h3 class="box-title">Tổng kết thanh toán lệnh</h3>
            </div>
            <div class="col-md-2">
                <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
                    class="form-control">
            </div>
            <div class="col-md-1" *ngIf="adminPermission">
                <ng-select name="chinhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id"
                    [(ngModel)]="branchId" (change)="changedBranch($event)" placeholder="Chọn chi nhánh...">
                </ng-select>
            </div>
            <div class="col-md-2">
                <ng-select name="driver" [items]="listDriver" bindLabel="employeeFullName" bindValue="id"
                    [(ngModel)]="driverId" (change)="changedDriver($event)" placeholder="Chọn lái xe...">
                </ng-select>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()"
                        [(ngModel)]="keyword" placeholder="Từ khóa" />
                    <span class="input-group-btn">
                        <button style="height: 28px;" class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-3 text-right">
                <button class="btn btn-success btn-sm" (click)="export()" appPermission appFunction="DISPATCHORDERR01"
                    appAction="EXPORT">
                    <i class="fa fa-file-excel-o"></i> Export
                </button>
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="table-header-color">
                    <th class="column-ten-sm">RefNo</th>
                    <th class="column-ten-sm">Ngày lập lênh/Người lập lệnh</th>
                    <th class="column-ten-sm">Lái xe</th>
                    <th class="column-ten-sm">Sl dầu</th>
                    <th class="column-ten-sm">Km đầu</th>
                    <th class="column-ten-sm">Km cuối</th>
                    <th class="column-ten-sm">Chi phí dầu</th>
                    <th class="column-ten-sm">Chi phí khác</th>
                    <th class="column-ten-sm">CP Cầu đường</th>
                    <th class="column-ten-sm">CP Bến bãi</th>
                    <th class="column-ten-sm">Chi phí ETC</th>
                    <th class="column-ten-sm">Phụ phí</th>
                    <th>Tổng tiền</th>
                    <th class="column-ten-lg">Tóm tắt lênh/Ghi chú</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listReport">
                    <td style="font-weight: 800; color: blueviolet;">{{item.refNo}}</td>
                    <td>
                        <span>
                            {{item.createdDate | date:'dd/MM/yyyy'}}
                        </span>
                        <br>
                        <span><b>{{item.userName}}</b></span>
                    </td>
                    <td>
                        {{item.driverName}}
                    </td>
                    <td  class="column-gia-tri">
                        <span style="color: blue;">
                            {{item.totalFuel | number:'1.2-2'}}
                        </span>
                    </td>
                    <td  class="column-gia-tri">
                        {{item.startKm| number:'1.0-0'}}
                    </td>
                    <td  class="column-gia-tri">
                        {{item.finishKm| number:'1.0-0'}}
                    </td>
                    <td  class="column-gia-tri">
                      <span><b>{{item.totalFuelMoney | number:'1.0-0'}}</b></span>
                  </td>
                    <td  class="column-gia-tri">
                        {{item.totalFee | number:'1.0-0'}}
                    </td>
                    <td  class="column-gia-tri">{{item.totalTicket | number:'1.0-0'}}</td>
                    <td class="column-gia-tri">{{item.totalParking | number:'1.0-0'}}</td>
                    <td class="column-gia-tri">{{item.totalEtc | number:'1.0-0'}}</td>
                    <td class="column-gia-tri">{{item.totalSurcharge | number:'1.0-0'}}</td>
                    <td style="font-weight: bold; color: blue;" class="column-gia-tri">{{(item.totalSurcharge+item.totalFuelMoney+item.totalFee+item.totalTicket+item.totalParking+
                        item.totalEtc)| number:'1.0-0'}}</td>
                    <td>
                        <span *ngIf="item.dispatchSummarize?.length>0" style="color: blue;">
                            {{item.dispatchSummarize}}
                        </span>
                        <br *ngIf="item.dispatchSummarize?.length>0" >
                        <span *ngIf="item.note?.length>0">{{item.note}}</span>
                    </td>
                </tr>
                <tr *ngIf="listReport?.length == 0">
                    <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer no-padding">
        <div *ngIf="listReport?.length > 0" class="col-md-12 footer-phantrang">
            <div class="row">
                <div class="col-md-5">
                    <div class="dataTables_info">
                        <span>Tổng số bản ghi: {{ totalRows }}</span>
                    </div>
                </div>
                <div class="col-md-7 text-right">
                    <div class="page">
                        <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
                            (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;"
                            nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box -->
</div>
