<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Tài khoản</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <tabset>
              <tab heading="Thông tin" (select)="onSelect($event, 1)">
                <div class="form-group">
                  <label class="col-sm-2 control-label">Nhân viên
                    <span class="error">*</span>
                  </label>
                  <div class="col-sm-10">
                    <ng-select name="nhanvien" [items]="listEmployees" bindLabel="employeeFullName" bindValue="id"
                      [multiple]="false" [closeOnSelect]="true" [(ngModel)]="entity.employeeId" required
                      [disabled]="flagXem || entity.id">
                    </ng-select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Tài khoản
                    <span class="error">*</span>
                  </label>
                  <div class="col-sm-10">
                    <input type="text" #tentaikhoan="ngModel" [(ngModel)]="entity.userName" required maxlength="255"
                      name="tentaikhoan" class="form-control" placeholder="Nhập tên tài khoản"
                      [readonly]="flagXem || entity.id" />
                    <small [hidden]="tentaikhoan.valid || (tentaikhoan.pristine && !addEditForm.submitted)"
                      class="text-danger">
                      Tên không được để trống và không vượt quá 255 kí tự
                    </small>
                  </div>
                </div>
                <div class="form-group" *ngIf="entity.id == null">
                  <label class="col-sm-2 control-label">Mật khẩu <span class="error">*</span></label>
                  <div class="col-sm-10">
                    <input class="form-control" [(ngModel)]="entity.password" type="password" name="password"
                      placeholder="Nhập mật khẩu" [readonly]="flagXem" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label">Kích hoạt</label>
                  <div class="col-sm-2">
                    <label class="custom-checkbox" style="padding-top: 5px;"> 
                      <input type="checkbox" [(ngModel)]="entity.status" name="status" />
                      <span class="helping-el"></span>
                    </label>
                  </div>
                  <label class="col-sm-2 control-label">Kết nối ngoài</label>
                  <div class="col-sm-2">
                    <label class="custom-checkbox" style="padding-top: 5px;">
                      <input type="checkbox" [(ngModel)]="entity.isExternal" name="isExternal" />
                      <span class="helping-el"></span>
                    </label>
                  </div>
                </div>
                <table class="table table-bordered table-striped table-hover">
                  <thead>
                    <tr>
                      <th class="table-checkbox">
                        <label class="custom-checkbox">
                          <span class="helping-el"></span>
                        </label>
                      </th>
                      <th>Chi nhánh</th>
                      <th>Nhóm quyền</th>
                      <th>Cấp quyền</th>
                      <th>Duyệt tạm ứng</th>
                      <th>Duyệt thanh toán</th>
                      <th>Duyệt CP Vận tải</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listUserRoles ; let j = index">
                      <td class="table-checkbox">
                        <label class="custom-checkbox">
                          <input type="checkbox" value="{{item.id}}" [checked]="item.checked"
                            (click)="clickRow(item)" />
                          <span class="helping-el"></span>
                        </label>
                      </td>
                      <td style="min-width:150px">
                        <ng-select name="branch{{item.id}}" [items]="listBranchs" bindLabel="branchCode" bindValue="id"
                          [(ngModel)]="item.branchId" placeholder="Chọn chi nhánh" [readonly]="flagXem"
                          [disabled]="true">
                        </ng-select>
                      </td>
                      <td style="min-width:150px">
                        <ng-select name="role{{item.id}}" [items]="listRoles" bindLabel="name" bindValue="id"
                          [(ngModel)]="item.roleId" placeholder="Chọn nhóm quyền" [readonly]="flagXem"
                          [disabled]="false" [clearable]="false" (change)="changedRole()">
                        </ng-select>
                      </td>
                      <td><input type="number" [(ngModel)]="item.authorisationLevel" maxlength="255" min="0" max="5"
                          name="athlevel{{item.id}}" class="form-control" placeholder="Nhập mức quyền"
                          [readonly]="flagXem" />
                      </td>
                      <td><input type="number" [(ngModel)]="item.advanceConfirmLevel" maxlength="255" min="0" max="2"
                          name="adlevel{{item.id}}" class="form-control" placeholder="Quyền duyệt tạm ứng"
                          [readonly]="flagXem" />
                      </td>
                      <td><input type="number" [(ngModel)]="item.paymentConfirmLevel" maxlength="255" min="0" max="3"
                          name="pmlevel{{item.id}}" class="form-control" placeholder="Quyền duyệt thanh toán"
                          [readonly]="flagXem" />
                      </td>
                      <td><input type="number" [(ngModel)]="item.transportConfirmLevel" maxlength="255" min="0" max="2"
                        name="tslevel{{item.id}}" class="form-control" placeholder="Quyền duyệt CP vận tải"
                        [readonly]="flagXem" />
                    </td>
                    </tr>
                    <!-- <tr *ngIf="listUserRoles?.length == 0">
                  <td colspan="100%">
                    Không có bản ghi nào được tìm thấy!
                  </td>
                </tr> -->
                  </tbody>
                </table>
              </tab>
              <tab heading="Phân quyền handling" (select)="onSelect($event, 2)">
                <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 400px;">
                  <table class="table table-bordered" id="style-scroll-1">
                  <thead>
                    <tr>
                      <th class="table-checkbox">
                        <label class="custom-checkbox">
                          <span class="helping-el"></span>
                        </label>
                      </th>
                      <th>Tên nhóm công việc</th>
                      <th>Trưởng nhóm</th>
                      <th>Quản lý</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of listUserHandlingGroup ; let j = index">
                      <td class="table-checkbox">
                        <label class="custom-checkbox">
                          <input type="checkbox" value="{{item.id}}" [checked]="item.checked"
                            (click)="clickRow2(item)" />
                          <span class="helping-el"></span>
                        </label>
                      </td>
                      <td style="min-width:150px">
                        <ng-select name="handlingGroupId{{item.id}}" [items]="listHandlinggroup"
                          bindLabel="handlingGroupName" bindValue="id" [(ngModel)]="item.handlingGroupId"
                          placeholder="Chọn nhóm..." [readonly]="flagXem" [disabled]="true" focus>
                        </ng-select>
                      </td>
                      <td class="table-checkbox">
                        <label class="custom-checkbox">
                          <input type="checkbox" value="{{item.id}}" [checked]="item.isLeader"
                            (click)="clickRow3(item)" />
                          <span class="helping-el"></span>
                        </label>
                      </td>
                      <td class="table-checkbox">
                        <label class="custom-checkbox">
                          <input type="checkbox" value="{{item.id}}" [checked]="item.isManager"
                            (click)="clickRow4(item)" />
                          <span class="helping-el"></span>
                        </label>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              </tab>
            </tabset>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="!flagXem" type="submit" class="btn btn-primary btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave || !flagValid">
              <i class="fa fa-save"></i> Lưu</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Simple syntax -->
<div [ngBusy]="busy"></div>
