element.style {
  position: absolute;
  transform: translate3d(0px, 38px, 0px);
  top: 10px;
  left: 10px;
  will-change: transform;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: hsl(51, 33%, 96%);
  min-width: 160px;
  box-shadow: 0px 8px 8px 0px rgb(243, 236, 236);
  z-index: 20;
  top: 28px;
}

.dropdown-content li {
  float: none;
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

li:hover {
  cursor: pointer;
}

.dropdown-content li:hover {background-color: rgb(209, 235, 218);}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.action {
  font-size: 9px;
  width: 80px;
}
table   {
  border-collapse: collapse;
  border: 1px solid rgba(109, 107, 107, 0.445);
}
table  th {
  border: 1px solid rgba(99, 97, 97, 0.589);
  padding: 2px;
}

.box-chieu-cao>.box-body {
  height: calc(100vh - 180px);
}
@media (max-width: 650px) {
  .box-chieu-cao>.box-body {
    height: calc(100vh - 350px);
  }
  div#style-scroll-1{
    overflow-y: scroll;
    height: 250px;
  }
}
thead tr:nth-child(1) th{background: #dcefe5f6; position: sticky;top: 0px;z-index: 10;}
thead tr:nth-child(2) th{background: #dcefe5f6; position: sticky;top: 22px;z-index: 10;}
