<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Cung đường thành phần</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <div class="form-group">
                <label class="col-sm-3 control-label">Cung đường</label>
                <div class="col-sm-9">
                    <ng-select [items]="listRoute" #tinh="ngModel" name="routeName" bindLabel="routeCode" (change)="changeRoute($event)"
                      bindValue="id" [(ngModel)]="entity.routeId" required>
                    </ng-select>
               </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Tên cung đường</label>
              <div class="col-sm-9">
                <span class="form-control">{{entity.routeName}}</span>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-3 control-label">Khoảng cách</label>
              <div class="col-sm-2">
                <input type="number" [(ngModel)]="entity.distance" name="distance" class="form-control"
                 [readonly]="true"/>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="!flagXem" type="submit" class="btn btn-primary btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave">
              <i class="fa fa-save"></i> Lưu</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
