<div class="box box-primary box-chieu-cao">
  <div class="row">
    <div class="box-header with-border">
      <div class="col-md-2">
        <h3 class="box-title">Hạn mức tạm ứng</h3>
      </div>
      <div class="col-md-3">
        <ng-select name="khachhang" [items]="listBranch" bindLabel="branchName" bindValue="id"
          [(ngModel)]="_branchId" (change)="changedBranch($event)" placeholder="Chọn chi nhánh...">
        </ng-select>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
            placeholder="Từ khóa" />
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <!-- <button class="btn btn-success btn-sm" (click)="add()" appPermission appFunction="EMPLOYEELIMIT" appAction="CREATE">
          <i class="fa fa-plus"></i> Thêm
        </button>
        <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit" appPermission
          appFunction="EMPLOYEELIMIT" appAction="UPDATE">
          <i class="fa fa-edit"></i> Sửa
        </button> -->
        <button class="btn btn-danger btn-sm" (click)="deleteConfirm()" [disabled]="!flagDelete" appPermission
          appFunction="EMPLOYEELIMIT" appAction="DELETE">
          <i class="fa fa-trash"></i> Xóa
        </button>
        <!-- <button class="btn btn-info btn-sm" (click)="edit(true)" [disabled]="!flagEdit">
          <i class="fa fa-eye"></i> Xem
        </button> -->
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)" />
              <span class="helping-el"></span>
            </label>
          </th>
          <th>Nhân viên</th>
          <th>Điện thoại</th>
          <th>Tiền mặt</th>
          <th>Chuyển khoản</th>
          <th>Ghi chú</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listEmployeeLimit" (click)="clickRow(item)">
          <td class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
              <span class="helping-el"></span>
            </label>
          </td>
          <td>
            <a [routerLink]="[]" (click)="showModal(item)">{{item.employeeName}}</a>
          </td>
          <td>{{item.tel}}</td>
          <td class="so-tien">{{item.debitLimit|currency: 'VND'}}</td>
          <td class="so-tien">{{item.debitTransferLimit|currency: 'VND'}}</td>
          <td>{{item.notes }}</td>
          <td class="trang-thai">
            <span [ngClass]="
                item.status  ? 'label label-success' : 'label label-danger'
              ">{{ item.status | Status }}</span>
          </td>
        </tr>
        <tr *ngIf="listEmployeeLimit?.length == 0">
          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer no-padding">
    <div *ngIf="listEmployeeLimit?.length > 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-5">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ totalRows }}</span>
          </div>
        </div>
        <div class="col-md-7 text-right">
          <div class="page">
            <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
              (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>

<modal-employee-limit *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
</modal-employee-limit>
<!-- <div [ngBusy]="busy"></div> -->
