
<div class="box box-primary box-chieu-cao">
    <div class="row">
      <div class="box-header with-border">
        <div class="col-md-2">
          <h3 class="box-title">Chốt dầu cây dầu nhà</h3>
        </div>
        <div class="col-md-2">
            <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
              class="form-control">
          </div>
        <div class="col-md-2">
          <ng-select name="gassite" [items]="listSite" bindLabel="siteName" bindValue="id" [(ngModel)]="siteId"
          placeholder="Chọn trạm dầu..."  >
          </ng-select>
        </div>
        <div class="col-md-2">
          <div class="input-group">
            <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
              placeholder="Từ khóa" />
            <span class="input-group-btn">
              <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="col-md-4 text-right">
          <button class="btn btn-success btn-sm" (click)="add()" appPermission appFunction="SITEFUELCLOSING"
            appAction="CREATE">
            <i class="fa fa-plus"></i> Thêm
          </button>
          <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit" appPermission
          appFunction="SITEFUELCLOSING" appAction="UPDATE">
          <i class="fa fa-edit"></i> Sửa
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteConfirm()" [disabled]="!flagDelete" appPermission
        appFunction="SITEFUELCLOSING" appAction="DELETE">
        <i class="fa fa-trash"></i> Xóa
      </button>
          <button class="btn btn-info btn-sm" (click)="edit(true)" [disabled]="!flagEdit">
            <i class="fa fa-eye"></i> Xem
          </button>
        </div>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th></th>
            <th>Kho dầu</th>
            <th>Sô phiếu</th>
            <th>Người lập</th>
            <th>Ngày lập</th>
            <th>Nội dung</th>
            <th>Tồn đầu</th>
            <th>Nhập</th>
            <th>Xuất</th>
            <th>Tồn cuối</th>
            <th>Tồn thực tế</th>
            <th>Chênh lệch</th>
            <th>Ghi chú</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listSiteFuelClosing" (click)="clickRow(item)">
            <td class="table-checkbox">
              <label class="custom-checkbox">
                <input type="checkbox" value="{{ item.refNo }}" [checked]="item.checked" disabled /> 
                <span class="helping-el"></span>
              </label>
            </td>
            <td>{{item.siteName}}</td>
            <td>{{item.refNo}}</td>   
            <td>{{item.createdByName}}</td>   
            <td>{{item.createdDate | date:'dd/MM/yyyy'}}</td>       
            <td>{{item.contents}}</td>
            <td>{{item.oldInventory|number : '1.2-2'}}</td>
            <td>{{item.import|number : '1.2-2'}}</td>
            <td>{{item.export|number : '1.2-2'}}</td>
            <td>{{item.newInventory|number : '1.2-2'}}</td>
            <td>{{item.realInverntory|number : '1.2-2'}}</td>
            <td>{{item.differential|number : '1.2-2'}}</td>
            <td>{{item.note}}</td>
          </tr>
          <tr *ngIf="listSiteFuelClosing?.length == 0">
            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer no-padding">
      <div *ngIf="listSiteFuelClosing?.length > 0" class="col-md-12 footer-phantrang">
        <div class="row">
          <div class="col-md-5">
            <div class="dataTables_info">
              <span>Tổng số bản ghi: {{ listSiteFuelClosing?.length }}</span>
            </div>
          </div>
          <div class="col-md-7 text-right">
            <div class="page">
              <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
                (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
                firstText="&laquo;" lastText="&raquo;">
              </pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box -->
</div>
  
  <modal-fuel-closing *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
  </modal-fuel-closing>
  <!-- <div [ngBusy]="busy"></div> -->
  