<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAttachFiles="bs-modal"
    [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name"
    (onHidden)="OnHidden()">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div #myHandle class="modal-header">
                <h4 class="modal-title pull-left">Đính kèm</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalAttachFiles.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" novalidate #addEditForm="ngForm">
                    <div class="form-group" *ngIf="!isLock">
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-sm btn-success" (click)="newAttachFile()">
                                <i class="fa fa-plus" aria-hidden="true"></i> Thêm mới
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="table-responsive" style="padding-left:15px; padding-right:15px">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Nội dung</th>
                                        <th>Tên tập tin</th>
                                        <th *ngIf="!isLock"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of listFiles; let i=index;">
                                        <td style="width:20%">
                                            <input class="form-control" [(ngModel)]="item.title" type="text"
                                                name="title{{i}}" [disabled]="item.id!=undefined" />
                                        </td>
                                        <td><a (click)="clickLink(item)">{{item.fileName}}</a></td>
                                        <td style="width:100px" *ngIf="!isLock">
                                            <input style="display: none" type="file" class="custom-file-input"
                                                id="customFile" #fileUpload (change)="onFileChanged($event,item)"
                                                accept=".jpg,.png,.gif,.pdf,.xls,.xlsx,.doc,.docx,.ppt,.pptx">
                                            <button type="button" class="btn btn-sm btn-primary"
                                                (click)="fileUpload.click()"
                                                [disabled]="item.title?.length<1 || (item.title.length>0 && item.checked)">
                                                <i class="fa fa-upload" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="btn btn-sm btn-danger"
                                                (click)="deleteFile(item)">
                                                <i class="fa fa-eraser" aria-hidden="true"></i>
                                            </button>
                                    </tr>
                                    <tr *ngIf="listFiles?.length == 0">
                                        <td colspan="100%">Không có đính kèm nào được tìm thấy!</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-right">
                        <button type="button" (click)="modalAttachFiles.hide()" class="btn btn-danger btn-sm">
                            <i class="fa fa-close"></i> Đóng</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
</div>