<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Gia hạn hợp đồng khách hàng</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">Khách hàng
                  <span class="error">*</span>
                </label>
                <div class="col-sm-10">
                  <ng-select name="customer" [items]="listCustomers" bindLabel="customerName" bindValue="id"
                    [readonly]="flagXem  || entity.status>0" [(ngModel)]="_customerId" required placeholder="Chọn khách hàng..."
                    (change)="changedCustomer($event)">
                  </ng-select>
                </div>
              </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Số hợp đồng
                <span class="error">*</span>
              </label>
              <div class="col-sm-4">
                <ng-select name="contractId" [items]="listContracts" bindLabel="contractNo" bindValue="id" [readonly]="flagXem"
                  [(ngModel)]="entity.contractId" [readonly]="flagXem || entity.status>0">
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Gia hạn đến ngày</label>
              <div class="col-sm-4 date">
                <input name="refdate" type="text" daterangepicker [options]="dateTimeOptions" [(ngModel)]="_ngay"
                  class="form-control" (selected)="selectedDate($event)" (hideDaterangepicker)="closedDate($event)"
                  autocomplete="off" [readonly]="flagXem || entity.status>0" [disabled]="false">
              </div>
              <label class="col-sm-2 control-label">Người duyệt</label>
              <div class="col-sm-4 date">
                <ng-select name="nguoiduyet" [items]="listEmployees" bindLabel="employeeFullName" bindValue="id" [readonly]="flagXem"
                  [(ngModel)]="entity.managerId" [readonly]="true">
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Ghi chú
                <span class="error">*</span>
              </label>
              <div class="col-sm-10">
                <textarea class="form-control textrea-size" [(ngModel)]="entity.notes" name="content" rows="4"
                  placeholder="Nhập nội dung" required [readonly]="flagXem || entity.status>0"></textarea>
              </div>
            </div>
            <div class="form-group" *ngIf="entity.status<1">
              <label class="col-sm-2 control-label"></label>
              <div class="col-sm-4">
                <label class="custom-checkbox">
                  <input type="checkbox" [(ngModel)]="isChuyenduyet" name="status" [disabled]="flagXem || entity.status>0" />
                  <span class="helping-el"></span>
                  Chuyển duyệt
                </label>
              </div>
            </div>
          </div>
          

          <!-- /.box-body -->
          <div class="row box-footer">
            <div class="col-md-6 text-left">
              <button *ngIf="entity.id" type="button" class="btn btn-info btn-sm" title="Chứng từ đính kèm"
                (click)="showFiles()">
                <i class="fa fa-file-pdf-o" aria-hidden="true"></i> File đính kèm
              </button>
            </div>
            <div class="col-md-6 text-right">
              <button *ngIf="_accept && (entity.status ==1) " (click)="accept(true)" type="button" class="btn btn-success btn-sm">
              <i class="fa fa-check"></i>Duyệt</button>
              <button *ngIf="_accept && (entity.status ==1) " (click)="accept(false)" type="button" class="btn btn-warning btn-sm">
              <i class="fa fa-ban"></i> Từ chối</button>
              <button *ngIf="!flagXem && entity.status<1" type="submit" class="btn btn-primary btn-sm"
                [disabled]="!addEditForm.form.valid || flagSave">
                <i class="fa fa-save"></i> Lưu</button>
              <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
                <i class="fa fa-close"></i> Hủy</button>
            </div>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
<modal-attachfile *ngIf="viewAttachFiles" (SaveSuccess)="saveSuccessFile($event)" (CloseModal)="closeModalFile()">
</modal-attachfile>

