<div class="box box-primary box-chieu-cao">
    <div class="row">
      <div class="box-header with-border">
        <div class="col-md-3">
          <h3 class="box-title">Tồn quỹ chi tiết</h3>
        </div>
        <div class="col-md-3">
          <ng-select name="accountlist" [items]="listAccountList" bindLabel="name" bindValue="id"
            [(ngModel)]="_accountListId" (change)="changedQuy($event)" placeholder="Chọn quỹ..." [readonly]="true">
          </ng-select>
        </div>
        <div class="col-md-3">
          <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
            class="form-control">
        </div>
        <div class="col-md-3">
          <div class="input-group">
            <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
              placeholder="Từ khóa" />
            <span class="input-group-btn">
              <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
                <i class="fa fa-search"></i>
              </button>
              <button class="btn btn-success btn-sm" appPermission appFunction="FUNDRESERVE" appAction="EXPORT" (click)="exportExcel()" title="Xuất dữ liệu">
                <i class="fa fa-file-excel-o"></i>
              </button>
            </span>
          </div>
        </div>
        <!-- <div class="col-md-2 text-right">
          <button class="btn btn-success btn-sm" appPermission appFunction="FUNDRESERVE" appAction="EXPORT">
            <i class="fa fa-file-excel-o"></i> Xuất dữ liệu
          </button>
        </div> -->
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
       <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Số phiếu</th>
            <th>Ngày lập</th>
            <th>Ngày chứng từ</th>
            <th>Số chứng từ</th>
            <th>Nội dung</th>
            <th>Thu</th>
            <th>Chi</th>
            <th>Số dư</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listFundReserve" class="{{item.id==0? 'ton-quy':''}}">
            <td>
              <a [routerLink]="[]" (click)="showModal(item)">{{item.refNo}}</a>
            </td>
            <td>{{item.refDate| date: 'dd/MM/yyyy'}}</td>
            <td>{{item.effectiveDate| date: 'dd/MM/yyyy'}}</td>
            <td>{{item.documentNo}}</td>
            <td>{{item.contents}}</td>
            <td class="so-tien">{{item.thu|VND}}</td>
            <td class="so-tien">{{item.chi|VND}}</td>
            <td class="so-tien">{{item.soDu|VND}}</td>
          </tr>
          <tr *ngIf="listFundReserve?.length == 0">
            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer no-padding">
      <div *ngIf="listFundReserve?.length > 0" class="col-md-12 footer-phantrang">
        <div class="row">
          <div class="col-md-5">
            <div class="dataTables_info">
              <span>Tổng số bản ghi: {{ totalRows }}</span>
            </div>
          </div>
          <!-- <div class="col-md-7 text-right">
            <div class="page">
              <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
                (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
                firstText="&laquo;" lastText="&raquo;">
              </pagination>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- /.box -->
  </div>
  <modal-phieu-thu *ngIf="viewModal" (CloseModal)="closeModal()">
  </modal-phieu-thu>
  <modal-phieu-chi *ngIf="viewModal" (CloseModal)="closeModal()">
  </modal-phieu-chi>
  <!-- <div [ngBusy]="busy"></div> -->
