.modal-lg{
    width: 95%;
    height: calc(100vh - 50px);
}

.column-ten{
  min-width: 220px;
  max-width: auto;
}
.column-tien {
  min-width: 120px;
  max-width: auto;
}
.column-md{
  min-width: 150px;
  max-width: auto;
}
.column-sm{
  min-width: 100px;
  max-width: auto;
}
.column-gia-tri{
  min-width: 85px;
  max-width: auto;
}
.column-min{
  min-width: 50px;
  max-width: auto;
}
.bang-chu{
  color: red;
  text-align: right;
  font-style: italic;
  font-size: medium;
}
  .table_wrapper{
    /* display: block; */
    overflow-x: auto;
    white-space: nowrap;
    overflow-y: scroll;
  }
  .modal-header{
    height: 40px;
    padding-top: 10px;
  }
  table   {
    border-collapse: collapse;
    border: 1px solid rgba(109, 107, 107, 0.445);
  }
  table  th {
    border: 1px solid rgba(99, 97, 97, 0.589);
    padding: 2px;
  }
  .box-chieu-cao>.box-body {
    height: calc(100vh - 350px);
  }
  #scrolltable {
    overflow-y: scroll;
    overflow-x: scroll;
  }
  .my-custom-scrollbar {
    position: relative;
    max-height: 900px;
    overflow: auto;
  }
  .table-wrapper-scroll-y {
    display: block;
  }
  div#style-scroll-2{
    overflow-y: scroll;
    overflow-x: scroll;
    height: 300px;
  }
  div#style-scroll-1{
    overflow-y: scroll;
    min-height: 250px;
    max-height: 480px;
  }
  thead tr:nth-child(1) th{background: #dcefe5f6; position: sticky;top: 0px;z-index: 10;}
  thead tr:nth-child(2) th{background: #dcefe5f6; position: sticky;top: 22px;z-index: 10;}
  