body{
    font-family: Arial, Helvetica, sans-serif; 
      height: auto;
      font-size: 12px;
      padding: 1cm;
      margin: 0cm auto;
      border: 1px #D3D3D3 solid;
      background: white;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
@media print {
    body{
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

table{
    border-collapse: collapse;
}

.padding-top {
    padding-top: 1cm;
}
.table-print tr td, .table-print tr th {
    border: 1px solid gray;
    padding: 3px;
}
.text-center {
    text-align: center;
}
.column-don-gia {
    text-align: right;
    width: 100px;
}