<div class="box box-primary box-chieu-cao">
    <div class="row">
      <div class="box-header with-border">
        <div class="col-md-2">
          <h3 class="box-title">CHẤM CÔNG</h3>
        </div>
        <div class="col-md-2">
          <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
            class="form-control">
        </div>
        <div class="col-md-2">
          <ng-select name="supplier" [items]="listBranch" bindLabel="branchName" bindValue="id" [(ngModel)]="branchId"
            placeholder="Chọn chi nhánh..." [disabled]="!adminPermission" change="changedBranch($event)">
          </ng-select>
        </div>
        <div class="col-md-2">
          <div class="input-group">
            <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
              placeholder="Từ khóa" />
            <span class="input-group-btn">
              <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="col-md-4 text-right">
          <button class="btn btn-success btn-sm" (click)="comming()">
            <i class="fa fa-plus"></i> CHẤM ĐẾN
          </button>
          <button class="btn btn-primary btn-sm" (click)="outgoing()">
            <i class="fa fa-edit"></i> CHẤM VỀ
          </button>
          <button class="btn btn-success btn-sm" (click)="export()" appPermission appFunction="TIMEKEEPING"
          appAction="EXPORT">
          <i class="fa fa-file-excel-o"></i> Export
          </button>
        </div>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Nhân viên</th>
            <th>Ngày</th>
            <th>Giờ đến</th>
            <th>Ghi chú đến</th>
            <th>Giờ về</th>
            <th>Ghi chú về</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listItem">
            <td>
              <span  style="color: blue;">
               <b>{{item.employeeFullName}}</b>
              </span>
            </td>
            <td>
              <span>
                {{item.timeKeepingDate | date:'dd/MM/yyyy'}}
              </span>
            </td><td>
              <span>
               {{item.commingTime | date:'dd/MM/yyy HH:mm'}}
              </span>
            </td>
            <td>
                {{item.commingNote}}
            </td>
            <td>
              <span>
                {{(item.outgoingTime!=null)? (item.outgoingTime | date:'dd/MM/yyyy HH:mm'):""}}
              </span>
            </td>
            <td>
              {{item.outgoingNote}}
            </td>
          </tr>
          <tr *ngIf="listItem?.length == 0">
            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer no-padding">
      <div *ngIf="totalRows > 0" class="col-md-12 footer-phantrang">
        <div class="row">
          <div class="col-md-5">
            <div class="dataTables_info">
              <span>Tổng số bản ghi: {{ totalRows }}</span>
            </div>
          </div>
          <div class="col-md-7 text-right">
            <div class="page">
              <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
                (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
                firstText="&laquo;" lastText="&raquo;">
              </pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box -->
  </div>

  <modal-time-keeping *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
  </modal-time-keeping>
