<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalListDispatchOrder="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalListDispatchOrder.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" >
          <div class="form-group">
                    <div class="table-responsive" style="padding-left:15px; padding-right:15px">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th>STT</th>
                            <th>RefNo</th>
                            <th>Người tạo</th>
                            <th>Người thực hiện</th>
                            <th>Cung đường</th>
                            <th>Chi tiết lệnh</th>
                            <th>Tình trạng</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of listDispatchorder; let i=index;">
                            <td>{{i+1}}</td>
                            <td><a style="color: blue;" [routerLink]="[]" (click)="viewDispatchOrder(item.refNo)">
                                <b>{{item.refNo}}</b></a></td>
                            <td>{{item.createdByName}}</td>
                            <td >{{item.driverName}}</td>
                            <td>{{item.fullRoute}}</td>
                            <td>{{item.dispatchSummarize}}</td>
                            <td>
                              <span [ngClass]="item.status == 6? ' label label-info': item.status==1 ?
              'label label-success': item.status==2? 'label label-primary': item.status==3?
              'label label-default':  (item.status===4 && item.finished==false)?'label label-warning':((item.status==4 && item.finished==true)||item.status>=5)?
              'label label-danger': 'label label-khoitao'">
              {{item.rStatus}}
            </span>
                            </td>
                          </tr>
                          <tr *ngIf="listDispatchorder?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button type="button" (click)="modalListDispatchOrder.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Đóng</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
<modal-dispatchorder *ngIf="viewModal" (CloseModal)="closeModal()">
</modal-dispatchorder>
<modal-dispatch-order-fcl *ngIf="viewFcl" (CloseModal)="closeModalFcl()">
</modal-dispatch-order-fcl>
