<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal"
  [config]="{ backdrop: 'static' }" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name"
  (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Chốt công nợ {{ isTransfer ? 'chuyển khoản' : 'tiền mặt' }}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <div class="col-md-8">
              <div class="form-group">
                <label class="col-sm-3 control-label">Nhân viên
                  <span class="error">*</span>
                </label>
                <div class="col-sm-9">
                  <ng-select name="employee" [items]="listEmployee" bindLabel="employeeFullName" bindValue="id"
                    [readonly]="flagXem || !hasPermissionApproved " [(ngModel)]="_employeeId" required
                    (change)="changedEmployee($event)">
                  </ng-select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Dư nợ đầu kỳ
                </label>
                <div class="col-sm-3">
                  <input type="text" style="color: blue; font-weight: bold;" class="form-control so-tien"
                    name="previousDebit" [(ngModel)]="entity.previousDebit" placeholder="Số tiền" [mask]="maskNumber"
                    required minLength="1" maxlength="18" [readonly]="true" [allowNegativeNumbers]="true" />
                </div>
                <label class="col-sm-3 control-label">Dư nợ cuối kỳ
                </label>
                <div class="col-sm-3">
                  <input type="text" style="color: red; font-weight: bold;" class="form-control so-tien"
                    name="debitBalance" [(ngModel)]="entity.debitBalance" placeholder="Số tiền" [mask]="maskNumber"
                    required minLength="1" maxlength="18" [readonly]="true" [allowNegativeNumbers]="true" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Phát sinh Nợ</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control so-tien" #sotien="ngModel" name="debit"
                    [(ngModel)]="entity.debit" placeholder="Phát sinh Nợ" [mask]="maskNumber" required minLength="1"
                    maxlength="18" [readonly]="true" [allowNegativeNumbers]="true" />
                </div>
                <label class="col-sm-3 control-label">Phát sinh có</label>
                <div class="col-sm-3">
                  <input type="text" class="form-control so-tien" #sotien="ngModel" name="credit"
                    [(ngModel)]="entity.credit" placeholder="Phát sinh Nợ" [mask]="maskNumber" required minLength="1"
                    maxlength="18" [readonly]="true" [allowNegativeNumbers]="true" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Nội dung
                  <span class="error">*</span>
                </label>
                <div class="col-sm-9">
                  <textarea class="form-control textrea-size" [(ngModel)]="entity.contents" name="contents"
                    placeholder="Nhập nội dung" required [readonly]="flagXem" rows="2"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Ghi chú</label>
                <div class="col-sm-9">
                  <textarea class="form-control textrea-size" [(ngModel)]="entity.note" name="ghichu" rows="1"
                    placeholder="Nhập ghi chú" [readonly]="flagXem && !hasPermissionApproved"></textarea>
                </div>
              </div>
              <div class="form-group" *ngIf="entity.status<1">
                <label class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                  <label class="custom-checkbox">
                    <input type="checkbox" [(ngModel)]="isChecked" name="status" [disabled]="flagXem" />
                    <span class="helping-el" style="color: blue;"></span>
                    Chuyển duyệt
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group" *ngIf="!flagNew">
                <label class="col-sm-5 control-label">Số phiếu</label>
                <div class="col-sm-7">
                  <span class="form-control">{{entity.refNo}}</span>
                </div>
              </div>
              <div class="form-group" *ngIf="!flagNew">
                <label class="col-sm-5 control-label">Ngày lập</label>
                <div class="col-sm-7">
                  <span class="form-control">{{entity.createdDate|date:'dd/MM/yyyy'}}</span>
                </div>
              </div>
              <br />
            </div>
          </div>
          <div class="box-body" style="height: 480px; position: relative;">
            <div class="tableFixHead">
              <div class="row">
                <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>
              </div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th rowspan="2" class="column-min">Id</th>
                    <th rowspan="2" class="column-md">Số chứng từ</th>
                    <th rowspan="2" class="column-sm">Ngày lâp</th>
                    <th colspan="2">Phát sinh trong kỳ</th>
                    <th rowspan="2" class="column-ten">Nội dung</th>
                    <th rowspan="2" class="column-ten">Ghi chú</th>
                  </tr>
                  <tr>
                    <th>Nợ</th>
                    <th>Có</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listDebitCredit">
                    <td>{{item.id}}</td>
                    <td>
                      {{item.refNo}}
                    </td>
                    <td>
                      {{item.createdDate | date: 'dd/MM/yyyy'}}
                    </td>
                    <td class="column-gia-tri">
                      {{item.debit|VND}}
                    </td>
                    <td class="column-gia-tri">
                      {{item.credit |VND}}
                    </td>
                    <td>
                      {{item.contents}}
                    </td>
                    <td>
                      {{item.note}}
                    </td>
                  </tr>
                  <tr *ngIf="listDebitCredit?.length == 0">
                    <td colspan="100%">Không phát sinh dư nợ nhân viên!</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="box-footer text-right">
            <button type="button" (click)="exportExcel()" class="btn btn-primary btn-sm">
              <i class="fa fa-file-excel-o"></i> Export Excel</button>
            <button *ngIf="hasPermissionApproved && entity.status ==1" type="button" (click)="approved(2)"
              class="btn btn-success btn-sm">
              <i class="fa fa-check"></i> Duyệt</button>
            <button *ngIf="hasPermissionApproved  && entity.status==1" type="button" (click)="approved(-1)"
              class="btn btn-warning btn-sm" [disabled]="entity.note?.trim().length<1">
              <i class="fa fa-exclamation-triangle"></i> Từ chối</button>
            <button *ngIf="!flagXem && entity.status<1" type="submit" class="btn btn-primary btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave">
              <i class="fa fa-save"></i> Lưu
            </button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy
            </button>
          </div>

          <!-- /.box-body -->
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>