<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Lệnh vận chuyển CBT <a style="font-size: 14px;">{{entity?.createdByName}}</a>
        </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <div class="form-group" style="overflow: visible;">
              <tabset>
                <tab heading="Thông tin chung">
                  <div class="form-group" *ngIf="!flagNew">
                    <label class="col-sm-2 control-label">RefNo</label>
                    <div class="col-sm-3 control-label-text-left">
                      <span style="font-weight: bold; color: blue;"> {{entity.refNo}}</span>
                    </div>
                    <label class="col-sm-2 control-label">Ngày</label>
                    <div class="col-sm-3 control-label-text-left">
                      <span style="font-weight: bold; color: blue;"> {{entity.createdDate | date:'dd/MM/yyyy'}}</span>
                    </div>
                    <div class="col-sm-2" *ngIf="!flagNew">
                      <button type="button" class="btn btn-sm btn-primary" (click)="attachFile()">
                        <i class="fa fa-upload" aria-hidden="true"></i> Đính kèm
                      </button>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Khách hàng
                      <span class="error">*</span>
                    </label>
                    <div class="col-sm-2">
                      <input class="form-control" type="text" name="makh" [(ngModel)]="customerCode" required
                        [readonly]="flagXem" (keydown.enter)="searchCustomer()">
                    </div>
                    <div class="col-sm-8">
                      <ng-select [items]="listCustomer" name="customercode" required bindLabel="customerName"
                        bindValue="id" [disabled]="flagXem" (change)="changedCustomer($event)"
                        [(ngModel)]="entity.customerId">
                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">JobId
                      <span class="error">*</span>
                    </label>
                    <div class="col-sm-4">
                      <span class="form-control" style="color: red;"><b>{{entity.jobId}}</b></span>
                    </div>
                    <div class="col-sm-1">
                      <button *ngIf=" entity.status<1" type="button" class="btn btn-primary btn-sm"
                        (click)="getJobId()">
                        <i class="fa fa-edit"></i>...</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Loại xe
                      <span class="error">*</span>
                    </label>
                    <div class="col-sm-4">
                      <ng-select name="vihicleType" [items]="listVihicleType" bindLabel="categoryName" bindValue="id"
                        (change)="vihicleTypeChanged($event)" [(ngModel)]="entity.vihicleType" required
                        [disabled]="flagXem">
                      </ng-select>
                    </div>
                    <label class="col-sm-2 control-label">Loại xe tính phí</label>
                    <div class="col-sm-4">
                      <ng-select name="vihicleTypeCharge" [items]="listVihicleType" bindLabel="categoryName"
                        bindValue="id" [(ngModel)]="entity.vehicleTypeCharge"
                        (change)="vihicleTypeChargeChanged($event)" [disabled]="flagXem">
                      </ng-select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Xe/Mooc
                      <span class="error">*</span>
                    </label>
                    <div class="col-sm-2">
                      <ng-select name="vihicleId" [items]="listVihicle" bindLabel="licensePlates" bindValue="id"
                        (change)="changeVihicle($event)" placeholder="Xe" [(ngModel)]="entity.vihicleId"
                        [disabled]="flagXem" [required]="true">
                      </ng-select>
                    </div>
                    <div class="col-sm-2">
                      <ng-select name="moocId" [items]="listMooc" bindLabel="licensePlates" bindValue="id"
                        [(ngModel)]="entity.moocId" placeholder="Mooc" [disabled]="flagXem">
                      </ng-select>
                    </div>
                    <label class="col-sm-2 control-label">Giá dầu</label>
                    <div class="col-sm-2">
                      <input type="number" [(ngModel)]="entity.oilPrice" name="oilPrice" class="form-control" focus
                        [disabled]="flagXem" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Lái xe 1 <span class="error">*</span>
                    </label>
                    <div class="col-sm-5">
                      <ng-select name="driverId" [items]="listEmployee" bindLabel="employeeFullName" bindValue="id"
                        [disabled]="entity.status>0 || flagXem" [(ngModel)]="entity.driverId" [required]="true"
                        (change)="driver1Change($event)">
                      </ng-select>
                    </div>
                    <label class="col-sm-1 control-label">SĐT</label>
                    <div class="col-sm-4">
                      <input class="form-control" [(ngModel)]="entity.driverTel" type="text" name="driverTel"
                        [readonly]="flagXem" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Lái xe 2
                    </label>
                    <div class="col-sm-5">
                      <ng-select name="secondDriverId" [items]="listEmployee" bindLabel="employeeFullName"
                        [disabled]="flagXem" bindValue="id" (change)="driver2Change($event)"
                        [(ngModel)]="entity.secondDriverId">
                      </ng-select>
                    </div>
                    <label class="col-sm-1 control-label">SĐT</label>
                    <div class="col-sm-4">
                      <input class="form-control" [(ngModel)]="entity.secondDriverTel" type="text"
                        name="secondDriverTel" [readonly]="flagXem" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Cung đường toàn tuyến <span class="error">*</span></label>
                    <div class="col-sm-10">
                      <textarea class="form-control" [(ngModel)]="entity.fullRoute" name="fullRoute" rows="1" required
                        [readonly]="flagXem"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Tóm tắt lệnh</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" [(ngModel)]="entity.dispatchSummarize" name="dispatchSummarize"
                        rows="2" [readonly]="flagXem"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Mã tham chiếu <span class="error">*</span></label>
                    <div class="col-sm-4">
                      <input name="referCode" type="text" [(ngModel)]="entity.referCode" class="form-control" required
                        [disabled]="flagXem">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Km định mức</label>
                    <div class="col-sm-1">
                      <input class="form-control text-right" [(ngModel)]="entity.kmQuota" type="text"
                        name="kmQuotaRoute" [mask]="maskNumber" [readonly]="true" />
                    </div>
                    <label class="col-sm-2 control-label">Bù dầu</label>
                    <div class="col-sm-1">
                      <input class="form-control text-right" [(ngModel)]="entity.oilCompensation" type="text"
                        name="oilCompensation" [mask]="mask3Number" [readonly]="flagXem" />
                    </div>
                    <!-- <label class="col-sm-2 control-label">Km thực tế</label>
                        <div class="col-sm-1">
                          <input class="form-control text-right" [(ngModel)]="entity.kmQuota" type="number" name="kmQuota" required
                            [readonly]="flagXem" [mask]="maskNumber" (change)="calulateOil()"/>
                        </div> -->
                  </div>
                  <!-- <div class="form-group">
                      <label class="col-sm-2 control-label">Lý do điều chỉnh</label>
                      <div class="col-sm-10">
                        <textarea class="form-control" [(ngModel)]="entity.reasons" name="reasons" rows="2"
                          [readonly]="flagXem"></textarea>
                      </div>
                    </div> -->
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Ghi chú</label>
                    <div class="col-sm-10">
                      <textarea class="form-control" [(ngModel)]="entity.note" name="ghichu" rows="3"
                        [readonly]="flagXem"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Số giờ chạy máy phát</label>
                    <div class="col-sm-2">
                      <input class="form-control text-right" [(ngModel)]="entity.generatorHours" type="text"
                        name="generatorHours" (change)="changeGenerator()" [readonly]="flagXem" [mask]="maskNumber"
                        (change)="calulateGenreatorOil()" />
                    </div>
                    <label class="col-sm-2 control-label">Định mức máy phát</label>
                    <div class="col-sm-2">
                      <input class="form-control text-right" [(ngModel)]="entity.generatorOilQuota" type="text"
                        name="generatorOilQuota" [mask]="maskNumber" [readonly]="flagXem"
                        (change)="calulateGenreatorOil()" />
                    </div>
                    <label class="col-sm-2 control-label">Dầu máy phát</label>
                    <div class="col-sm-2">
                      <input class="form-control text-right" [(ngModel)]="generatorOil" type="text" name="generatorOil"
                        [mask]="maskNumber" [readonly]="true" />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Tổng dầu định mức</label>
                    <div class="col-sm-2">
                      <span class="form-control text-right">{{entity.oilQuota | number}}</span>
                    </div>
                    <label class="col-sm-2 control-label">Tổng dầu cấp phiếu/mua ngoài</label>
                    <div class="col-sm-2">
                      <span
                        class="form-control text-right">{{entity.totalDriverFuelApproval+entity.totalExternalOilPurchased
                        | number}}</span>
                    </div>
                    <label class="col-sm-2 control-label">Tổng hợp dầu</label>
                    <div class="col-sm-2">
                      <span
                        class="form-control text-right">{{entity.totalDriverFuelApproval+entity.totalExternalOilPurchased
                        - (generatorOil) - entity.oilQuota - entity.oilCompensation| number}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Tổng tạm ứng</label>
                    <div class="col-sm-2">
                      <span class="form-control text-right">{{entity.totalAdvance| number}}</span>
                    </div>
                    <label class="col-sm-2 control-label">Tổng thanh toán</label>
                    <div class="col-sm-2">
                      <span class="form-control text-right">{{entity.totalPayment| number}}</span>
                    </div>
                    <label class="col-sm-2 control-label">Tổng hợp tiền</label>
                    <div class="col-sm-2">
                      <span class="form-control text-right">{{totalMoney | number}}</span>
                    </div>
                  </div>
                </tab>
                <tab heading="Thông tin khác">
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Giờ bắt đầu cắm điện</label>
                    <div class="col-sm-3">
                      <input name="startPluggingInTime" type="text" daterangepicker [options]="ngaybatdauOption"
                        [(ngModel)]="entity.startPluggingInTime" class="form-control"
                        (selected)="selectedstartPluggingInTime($event)"
                        (hideDaterangepicker)="closedstartPluggingInTime($event)" autocomplete="off"
                        [disabled]="flagXem">
                    </div>
                    <label class="col-sm-2 control-label">Giờ rút điện</label>
                    <div class="col-sm-3">
                      <input name="unpluggingTime" type="text" daterangepicker [options]="ngaybatdauOption"
                        [(ngModel)]="entity.unpluggingTime" class="form-control"
                        (selected)="selectedunpluggingTime($event)" (hideDaterangepicker)="closedunpluggingTime($event)"
                        autocomplete="off" [disabled]="flagXem">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">T/g xe xuất phát</label>
                    <div class="col-sm-3">
                      <input name="departureTime" type="text" daterangepicker [options]="ngaybatdauOption"
                        [(ngModel)]="entity.departureTime" class="form-control"
                        (selected)="selecteddepartureTime($event)" (hideDaterangepicker)="closeddepartureTime($event)"
                        autocomplete="off" [disabled]="flagXem">
                    </div>
                    <label class="col-sm-2 control-label">T/g xe đến điểm đóng hàng</label>
                    <div class="col-sm-3">
                      <input name="timeTruckArrivesAtLoadingPoint" type="text" daterangepicker
                        [options]="ngaybatdauOption" [(ngModel)]="entity.timeTruckArrivesAtLoadingPoint"
                        class="form-control" (selected)="selectedtimeTruckArrivesAtLoadingPoint($event)"
                        (hideDaterangepicker)="closedtimeTruckArrivesAtLoadingPoint($event)" autocomplete="off"
                        [disabled]="flagXem">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">T/g xe xuất phát từ điểm đóng hàng</label>
                    <div class="col-sm-3">
                      <input name="timeTruckDepartsFromLoadingPoint" type="text" daterangepicker
                        [options]="ngaybatdauOption" [(ngModel)]="entity.timeTruckDepartsFromLoadingPoint"
                        class="form-control" (selected)="selectedtimeTruckDepartsFromLoadingPoint($event)"
                        (hideDaterangepicker)="closedtimeTruckDepartsFromLoadingPoint($event)" autocomplete="off"
                        [disabled]="flagXem">
                    </div>
                    <label class="col-sm-2 control-label">T/g xe qua cửa khẩu</label>
                    <div class="col-sm-3">
                      <input name="timeTruckPassesThroughBorderGate" type="text" daterangepicker
                        [options]="ngaybatdauOption" [(ngModel)]="entity.timeTruckPassesThroughBorderGate"
                        class="form-control" (selected)="selectedtimeTruckPassesThroughBorderGate($event)"
                        (hideDaterangepicker)="closedtimeTruckPassesThroughBorderGate($event)" autocomplete="off"
                        [disabled]="flagXem">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">T/g xe đến điểm trả hàng</label>
                    <div class="col-sm-3">
                      <input name="timeTruckArrivesAtDeliveryPoint" type="text" daterangepicker
                        [options]="ngaybatdauOption" [(ngModel)]="entity.timeTruckArrivesAtDeliveryPoint"
                        class="form-control" (selected)="selectedtimeTruckArrivesAtDeliveryPoint($event)"
                        (hideDaterangepicker)="closedtimeTruckArrivesAtDeliveryPoint($event)" autocomplete="off"
                        [disabled]="flagXem">
                    </div>
                    <label class="col-sm-2 control-label">T/g xe trả xong hàng</label>
                    <div class="col-sm-3">
                      <input name="timeTruckCompleteDelivery" type="text" daterangepicker [options]="ngaybatdauOption"
                        [(ngModel)]="entity.timeTruckCompleteDelivery" class="form-control"
                        (selected)="selectedtimeTruckCompleteDelivery($event)"
                        (hideDaterangepicker)="closedtimeTruckCompleteDelivery($event)" autocomplete="off"
                        [disabled]="flagXem">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">T/g xe về Việt nam</label>
                    <div class="col-sm-3">
                      <input name="timeTruckReturnToVietnam" type="text" daterangepicker [options]="ngaybatdauOption"
                        [(ngModel)]="entity.timeTruckReturnToVietnam" class="form-control"
                        (selected)="selectedtimeTruckReturnToVietnam($event)"
                        (hideDaterangepicker)="closedtimeTruckReturnToVietnam($event)" autocomplete="off"
                        [disabled]="flagXem">
                    </div>
                    <label class="col-sm-2 control-label">Số hiệu Cont/Seal</label>
                    <div class="col-sm-4">
                      <input class="form-control" [(ngModel)]="entity.documentNumber" type="text" name="documentNumber"
                        [readonly]="flagXem" />
                    </div>
                  </div>
                  <div class="form-group" *ngIf="entity.finished">
                    <label class="col-sm-2 control-label">Tài xế ghi chú</label>
                    <div class="col-sm-10">
                      <span class="form-control">
                        {{entity.noteFinished}}
                      </span>
                    </div>
                  </div>
                </tab>
                <tab heading="Cung đường">
                  <div class="form-group">
                    <div class="col-sm-2">
                      <button type="button" [disabled]="entity.status>0|| flagXem " class="btn btn-sm btn-primary"
                        (click)="newRoute()">Thêm</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="table-responsive fixed-height" style="padding-left:15px; padding-right:15px">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Mã/Tên cung đường</th>
                            <th>Km</th>
                            <th>Định mức dầu</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.listRoutes; let indexOfelement=index; ">
                            <td>
                              <ng-select name="listRoutes{{indexOfelement}}" [items]="listRoute"
                                bindLabel="routeFullName" bindValue="id" [clearable]="false"
                                (change)="routeChanged(item,$event)" [(ngModel)]="item.routeId" required>
                              </ng-select>
                            </td>
                            <td style="text-align: right; width: 100px;">{{item.distance | number}}</td>
                            <td style="width: 100px;">
                              <input type="text" class="form-control" name="oilQuota{{indexOfelement}}"
                                [(ngModel)]="item.oilQuota" placeholder="Định mức dầu" style="text-align: right;"
                                (change)="calculateOil()" [readonly]="flagXem" [mask]="maskNumber" required />
                            </td>
                            <td style="width:10%">
                              <button *ngIf="entity.status<1 && !flagXem " type="button" class="btn btn-warning btn-sm"
                                (click)="deleteRoute(item)">
                                <i class="fa fa-trash"></i>
                              </button>
                            </td>
                          </tr>
                          <tr *ngIf="entity.listRoutes?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>

                <tab heading="ETC">
                  <div class="form-group">
                    <div class="col-sm-2">
                      <button [disabled]="entity.status>0|| flagXem " type="button" class="btn btn-sm btn-primary"
                        (click)="newEtc()">Thêm</button>
                      <input style="display: none" type="file" class="custom-file-input" id="customFile" #fileUpload
                        (change)="onChange($event)" accept=".xlsx">
                      <button type="button" class="btn btn-sm btn-success" (click)="fileUpload.click()"
                        [disabled]="entity.status>0 || flagXem ">
                        <i class="fa fa-upload" aria-hidden="true"></i> Import Excel
                      </button>
                    </div>
                    <div class="col-sm-5">

                    </div>
                    <div class="col-sm-1" style="text-align: right;">
                      <span>Số lượng:</span>
                    </div>
                    <div class="col-sm-1" style="text-align: left;">
                      {{entity.listEtcs?.length}}
                    </div>
                    <div class="col-sm-1" style="text-align: right;">
                      <span>Tổng tiền:</span>
                    </div>
                    <div class="col-sm-2" style="text-align: left; font-weight: 800;">
                      {{totalEtc | number}}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="fixed-height" style="padding-left:15px; padding-right:15px">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Mã phí</th>
                            <th>Tên trạm</th>
                            <th>Số tiềm</th>
                            <th>Vat</th>
                            <th>Tổng tiền</th>
                            <th>Ghi chú</th>
                            <th *ngIf="entity.status<1"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.listEtcs;let indexOfelement=index;">
                            <td style="width: 150px;">
                              <ng-select name="listFeeDispatchOrderEtc{{indexOfelement}}" [items]="listFee"
                                bindLabel="feeCode" bindValue="id" (change)="feeCodeEtcChanged(item,$event)"
                                [(ngModel)]="item.feeId" required>
                              </ng-select>
                            </td>
                            <td>
                              <ng-select name="listDispatchOrderEtc{{indexOfelement}}" [items]="listTollStation"
                                bindLabel="tollStationName" bindValue="id" [(ngModel)]="item.tollStationId" required>
                              </ng-select>
                            </td>
                            <td style="width: 100px;">
                              <input type="text" class="form-control" name="sotienEtc{{indexOfelement}}"
                                style="text-align: right;" [(ngModel)]="item.cost" placeholder="Số tiền"
                                (change)="changeCost(item)" [readonly]="flagXem" [mask]="mask0"
                                [allowNegativeNumbers]="false" required />
                            </td>
                            <td style="width: 100px;">
                              <input type="text" class="form-control" name="vatEtc{{indexOfelement}}"
                                style="text-align: right;" [(ngModel)]="item.vat" placeholder="Vat" [readonly]="flagXem"
                                (change)="changeCost(item)" [mask]="mask0" [allowNegativeNumbers]="false" required />
                            </td>
                            <td style="width: 100px;">
                              <input type="text" class="form-control" name="total{{indexOfelement}}"
                                style="text-align: right;" [(ngModel)]="item.totalCost" placeholder="Tổng tiền"
                                [readonly]="true" [mask]="mask0" />
                            </td>
                            <td style="width:20%">
                              <input class="form-control" [(ngModel)]="item.note" type="text"
                                name="noteEtc{{indexOfelement}}" [readonly]="flagXem" />
                              <!-- {{item.note}} -->
                            </td>
                            <td style="width:20px">
                              <button *ngIf="entity.status<2" [disabled]=" flagXem" type="button"
                                class="btn btn-warning btn-sm" (click)="deleteEtc(indexOfelement)">
                                <i class="fa fa-trash"></i>
                              </button>
                            </td>
                          </tr>
                          <tr *ngIf="entity.listEtcs?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
                <tab *ngIf="!flagNew" heading="Dầu cấp phiếu">
                  <div class="form-group">
                    <div class="table-responsive fixed-height" style="padding-left:15px; padding-right:15px">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Số phiếu</th>
                            <th>Ngày cấp</th>
                            <th>Số lượng</th>
                            <th>Sô lượng đổ</th>
                            <th>Ngày đổ</th>
                            <th>Tình trạng</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.listFuelApprovals">
                            <td>
                              <a (click)="showModalDriveFuel(item)">{{item.refNo}}</a>
                            </td>
                            <td>{{item.createdDate}}</td>
                            <td style="text-align: right;">{{item.quantity | number}}</td>
                            <td style="text-align: right;">{{item.quantityIgas | number}}</td>
                            <td>{{item.refuelingTimeIgas}}</td>
                            <td>
                              <span
                                [ngClass]="
                               item.status==-0  ? 'label label-primary' : item.status==1? 'label label-warning': 'label label-success'">
                                {{item.rStatus}}
                              </span>
                            </td>
                          </tr>
                          <tr *ngIf="entity.listFuelApprovals?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
                <tab *ngIf="!flagNew" heading="Dầu mua ngoài tiền mặt">
                  <div class="form-group">
                    <div class="table-responsive fixed-height" style="padding-left:15px; padding-right:15px">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Số phiếu</th>
                            <th>Ngày tạo</th>
                            <th>Số lượng</th>
                            <th>Tổng tiền</th>
                            <th>Số hóa đơn</th>
                            <th>Ghi chú</th>
                            <th>Tình trạng</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.listExternalOilPurchased">
                            <td><a (click)="showModalExternal(item)">{{item.refNo}}</a> </td>
                            <td>{{item.createdDate | date:'dd/MM/yyyy'}}</td>
                            <td style="text-align: right;">{{item.quantity | VND}}</td>
                            <td style="text-align: right;">{{item.amountAfterVat | VND}}</td>
                            <td>{{item.invoiceNo}}</td>
                            <td>{{item.notes}}</td>
                            <td>
                              <span
                                [ngClass]="
                                (item.status==-1 || item.status==-2) ? 'label label-danger' : item.status==1? 'label label-primary': item.status==2? 'label label-info':'label label-success'">
                                {{item.rStatus}}
                              </span>
                            </td>
                          </tr>
                          <tr *ngIf="entity.listExternalOilPurchased?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
                <tab *ngIf="!flagNew" heading="Tạm ứng">
                  <div class="form-group">
                    <div class="fixed-height" style="padding-left:15px; padding-right:15px">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Số phiếu</th>
                            <th>Ngày tạo</th>
                            <th>Số tiền</th>
                            <th>Lý do</th>
                            <th>Ghi chú</th>
                            <th>Tình trạng</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.listAdvances; let indexOfelement=index;">
                            <td style="width: 150px;">
                              <a (click)="showModalAdvance(item)">{{item.refNo}}</a>
                            </td>
                            <td style="width: 100px;">
                              <span>{{item.createdDate|date:'dd/MM/yyyy'}}</span>
                            </td>
                            <td style="width: 100px;">
                              <span>{{item.amount | VND}}</span>
                            </td>
                            <td style="width: 200px;">
                              <span>{{item.reason}}</span>
                            </td>
                            <td style="width:25%">
                              <span>{{item.notes}}</span>
                              <!-- {{item.note}} -->
                            </td>
                            <td style="width:50px">
                              <span [ngClass]="
                              !item.status  ? 'label label-primary' : item.acceptStep ==0? 'label label-warning' : item.acceptStep<0? 'label label-danger': item.acceptStep==1? 'label label-success':'label label-duyet'
                            ">{{ item.acceptStep<0?'Từ chỗi': !item.status ? 'Khởi tạo' : item.acceptStep==0?'Chuyển
                                  duyệt':item.acceptStep==1?'duyệt':'Chi tiền'}}</span>
                            </td>
                          </tr>
                          <tr *ngIf="entity.listAdvances?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
                <tab *ngIf="!flagNew" heading="Thanh toán">
                  <div class="form-group">
                    <div class="fixed-height" style="padding-left:15px; padding-right:15px">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Số phiếu</th>
                            <th>Ngày tạo</th>
                            <th>Nội dung</th>
                            <th>Số tiền</th>
                            <th>Ghi chú</th>
                            <th>Tình trạng</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.listPayments; let indexOfelement=index;">
                            <td style="width: 150px;">
                              <a (click)="showModalPayemnt(item)">{{item.refNo}}</a>
                            </td>
                            <td style="width: 100px;">
                              <span>{{item.createdDate|date:'dd/MM/yyyy'}}</span>
                            </td>
                            <td style="width: 100px;">
                              <span>{{item.totalAmount | VND}}</span>
                            </td>
                            <td style="width: 200px;">
                              <span>{{item.contents}}</span>
                            </td>
                            <td style="width:25%">
                              <span>{{item.notes}}</span>
                              <!-- {{item.note}} -->
                            </td>
                            <td style="width:50px">
                              <span [ngClass]="
                              !item.status  ? 'label label-primary' : item.step ==0? 'label label-warning' : item.step<0? 'label label-danger': item.step==1? 'label label-success':'label label-duyet'
                            ">{{ item.step<0?'Từ chỗi': !item.status ? 'Khởi tạo' : item.step==0?'Chuyển
                                  duyệt':item.step==1?'Duyệt B1':'Đã duyệt'}}</span>
                            </td>
                          </tr>
                          <tr *ngIf="entity.listPayments?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="!flagXem && !flagNew && entity.status<1 " type="button" class="btn btn-warning btn-sm"
              (click)="finishDispatchOrder()">
              <i class="fa fa-share-square-o"></i> Hoàn thành lệnh</button>
            <button *ngIf="isDriver && entity.status==1 " type="button" class="btn btn-success btn-sm"
              (click)="accept(true)">
              <i class="fa fa-share-square-o"></i> Đồng ý</button>
            <button *ngIf="isDriver && entity.status==1" type="button" class="btn btn-danger btn-sm"
              (click)="accept(false)">
              <i class="fa fa-share-square-o"></i> Từ chối</button>
            <button *ngIf="closing_permission && entity.status==2" type="button" class="btn btn-duyet btn-sm"
              (click)="duyetchotlenh()">
              <i class="fa backward"></i>Chốt lệnh</button>
            <button *ngIf="!flagXem &&  entity.status<1" type="submit" class="btn btn-primary btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave">
              <i class="fa fa-save"></i> Lưu</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>


<modal-attachfile *ngIf="viewAttachFiles" (CloseModal)="closeModalAttachFiles()">
</modal-attachfile>
<modal-shipment-view-search *ngIf="viewSearchJobId" (SaveSuccess)="saveSuccessJobId($event)">
</modal-shipment-view-search>
<modal-shipment *ngIf="viewJobModal" (CloseModal)="closeModalJob()">
</modal-shipment>
<modal-advance-cbt *ngIf="viewAdvanceModal" (CloseModal)="closeAdvanceModal()">
</modal-advance-cbt>
<modal-payment-cbt *ngIf="viewPaymentModal" (CloseModal)="closePaymentModal()">
</modal-payment-cbt>
<modal-driver-fuel-approval *ngIf="viewDriverFuel" (CloseModal)="closeDriverFuel()">
</modal-driver-fuel-approval>
<modal-external-oil-purchased *ngIf="viewExternal" (CloseModal)="closeExternall()">
</modal-external-oil-purchased>