<div class="box box-primary box-chieu-cao">
  <div class="box-header with-border">
    <div class="row">
      <div class="col-md-3">
        <h3 class="box-title">Tỷ giá ngoại tệ</h3>
      </div>
      <div class="col-md-3">
        <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
          class="form-control">
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
            placeholder="" />
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-3 text-right">

      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding table-wrapper-scroll-y" id="div#style-scroll-1">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Mã ngoại tệ</th>
          <th>Tên ngoại tệ</th>
          <th>Giá bán</th>
          <th>Giá mua</th>
          <th>Ngày</th>
          <!-- <th>Trạng thái</th> -->
        </tr>
        <tr>
          <th><input class="form-control" #refNoSearchInput [(ngModel)]="maSearch" (input)="filter()" type="text" name="maSearch"/></th>
          <th><input class="form-control" #ngaySearchInput [(ngModel)]="tenSearch" (input)="filter()" type="text" name="ngaySearch"/></th>
          <th><input class="form-control" #doenviSearchInput [(ngModel)]="buySearch" (input)="filter()" type="text" name="donviSearch"/></th>
          <th><input class="form-control" #soctSearchInput [(ngModel)]="sellSearch" (input)="filter()" type="text" name="soctSearch"/></th>
          <th><input class="form-control" #ngaySearchInput [(ngModel)]="ngaySearch" (input)="filter()" type="text" name="ngaySearch"/></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listFilter">
          <td>{{item.currencyCode}}</td>
          <td>{{item.currencyName}}</td>
          <td>{{item.buy}}</td>
          <td>{{item.sell}}</td>
          <td>{{item.createdDate|date: "dd/MM/yyyy"}}</td>
        </tr>
        <tr *ngIf="listFilter?.length == 0">
          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer no-padding">
    <div *ngIf="listFilter?.length > 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-4">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ totalRows }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>

<!-- <div [ngBusy]="busy"></div> -->
