<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAdvances="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Lựa chọn tạm ứng</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAdvances.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
              <div class="col-md-2" style="padding-left: 20px;">Chọn thời gian</div>
                <div class="col-md-3">
                    <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
                      class="form-control">
                  </div>
            </div>
            <div class="form-group">
                <div style="padding-left:15px; padding-right:15px" class="table-wrapper-scroll-y my-custom-scrollbar">
                  <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th class="table-checkbox"></th>
                        <th>Số tham chiếu</th>
                        <th>Ngày tạm ứng</th>
                        <th>Lý do</th>
                        <th>Số tiền</th>
                      </tr>
                      <tr>
                        <th></th>
                        <th><input class="form-control" #soSearchInput [(ngModel)]="soSearch" (input)="filter()" type="text" name="soSearch"/></th>
                        <th><input class="form-control" #ngaySearchInput [(ngModel)]="ngaySearch" (input)="filter()" type="text" name="ngaySearch"/></th>
                        <th><input class="form-control" #rydoSearchInput [(ngModel)]="lydoSearch" (input)="filter()" type="text" name="lydoSearch"/></th>
                        <th><input class="form-control" #chungtuSearchInput [(ngModel)]="tienSearch" (input)="filter()" type="text" name="tienSearch"/></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of listFilter" (click)="clickRow(item)">
                        <td class="table-checkbox">
                          <label class="custom-checkbox">
                            <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
                            <span class="helping-el"></span>
                          </label>
                        </td>
                        <td style="color: blue; font-weight: bold;">{{item.refNo}}                        </td>
                        <td>{{item.refDate|date: "dd/MM/yyyy"}}</td>
                        <td>{{item.reason }}</td>
                        <td class="so-tien">{{item.amount|VND}}</td>
                      </tr>
                      <tr *ngIf="listFilter?.length == 0">
                        <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
          <!-- /.box-footer -->
        </form>
      </div>
      <div class="modal-footer">
        <div class="box-footer text-right">
          <button type="button" class="btn btn-primary btn-sm" [disabled]="!isSelected" (click)="saveChange()">
            <i class="fa fa-edit"></i> Chọn</button>
          <button type="button" (click)="modalAdvances.hide()" class="btn btn-danger btn-sm">
            <i class="fa fa-close"></i> Hủy</button>
        </div>
      </div>
    </div>
  </div>
</div>


