<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div #myHandle class="modal-header">
                <h4 class="modal-title pull-left">Đăng ký phép cá nhân</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
                    *ngIf="entity">
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Số Id</label>
                            <div class="col-sm-1">
                                <input class="form-control" [(ngModel)]="entity.id" type="number"
                                    name="numberOfLeaveDay" readonly />
                            </div>
                            
                            <label class="col-sm-2 control-label" *ngIf="!flagNew">Ngày lập</label>
                            <div class="col-sm-2 control-label-text-left" *ngIf="!flagNew">
                                <span style="font-weight: bold; color: blue;"> {{entity.createdDate |
                                    date:'dd/MM/yyyy'}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Nhóm đối tượng
                                <span class="error">*</span>
                            </label>
                            <div class="col-sm-9">
                                <ng-select name="departmentId" [items]="listDepartment" bindLabel="categoryName"
                                    bindValue="id" [(ngModel)]="entity.departmentId" required
                                    placeholder="Chọn nhóm đối tượng" [disabled]="flagXem || entity.status>0">
                                </ng-select>
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Lý do
                                <span class="error">*</span>
                            </label>
                            <div class="col-sm-9">
                                <ng-select name="reasonId" [items]="listReason" bindLabel="categoryName"
                                    bindValue="id" [(ngModel)]="entity.reasonId" required
                                    placeholder="Chọn loại lý do" [disabled]="flagXem || entity.status>0">
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Thời gian (phút)
                                <span class="error">*</span> </label>
                            <div class="col-sm-2">
                                <input class="form-control" [(ngModel)]="entity.timesOff" type="number" required
                                    name="timesOff" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Ghi chú </label>
                            <div class="col-sm-9">
                                <textarea name="notes" [(ngModel)]="entity.notes" class="form-control" rows="5"></textarea>
                            </div>
                        </div>
                        <!-- <div class="form-group" *ngIf="entity.status <1">
                            <label class="col-sm-3 control-label"></label>
                            <div class="col-sm-4">
                                <label class="custom-checkbox" style="color: rgb(17, 46, 239);">
                                    <input type="checkbox" [(ngModel)]="entity.isChuyenduyet" name="isChuyenduyet" />
                                    <span class="helping-el"></span>
                                    Chuyển duyệt
                                </label>
                            </div>
                        </div> -->
                        <div class="form-group" *ngIf="!flagNew">
                            <label class="col-sm-3 control-label">Nhận xét</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" [(ngModel)]="entity.approvedNotes" name="approvedNotes"
                                    rows="3" placeholder="Nhập nhận xét"
                                    [readonly]="(entity.status!=1) || !hasPermissionApproved "></textarea>
                            </div>
                        </div>
                        
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-right">
                        <button *ngIf="entity.status <=0 && entity.createdBy==userLoged.id" type="button" (click)="approved(1)"
                        class="btn btn-success btn-sm">
                        <i class="fa fa-random"></i> Chuyển duyệt</button>
                        <button *ngIf="hasPermissionApproved && entity.status ==1" type="button" (click)="approved(2)"
                            class="btn btn-success btn-sm">
                            <i class="fa fa-check"></i> Duyệt</button>
                        <button *ngIf="hasPermissionApproved  && entity.status==1" type="button" (click)="approved(-1)"
                            class="btn btn-warning btn-sm" [disabled]="entity.approvedNotes?.trim().length<1">
                            <i class="fa fa-exclamation-triangle"></i> Từ chối</button>
                        <button *ngIf="!flagXem && entity.status<1" type="submit" class="btn btn-primary btn-sm"
                            [disabled]="!addEditForm.form.valid || flagSave  ">
                            <i class="fa fa-edit"></i> Lưu</button>
                        <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
                            <i class="fa fa-close"></i> Hủy</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
</div>