<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalListWorkflow="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Lựa chọn Id Công việc</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalListWorkflow.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-md-2">Chọn ngày</div>
                <div class="col-md-3">
                    <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
                      [(ngModel)]="selecteDate" name="selecteDate" class="form-control">
                    <!-- <label class="input-group-text" style="padding-right: 20px;">Tháng: </label> -->
                  </div>
            </div>
            <div class="form-group">
                <div style="padding-left:15px; padding-right:15px" class="table-wrapper-scroll-y my-custom-scrollbar">
                  <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th></th>
                        <th >Id <i class="fa fa-sort" style="padding-left: 10px;" (click)="sortData('id')"></i></th>
                        <th>JobId <i class="fa fa-sort" style="padding-left: 10px;" (click)="sortData('jobId')"></i></th>
                        <th style="min-width: 180px;">Khách hàng<i class="fa fa-sort" style="padding-left: 10px;" (click)="sortData('customerName')"></i></th>
                        <th style="min-width: 120px;">Nơi giao hàng <i class="fa fa-sort" style="padding-left: 10px;" (click)="sortData('deliveryLocation')"></i></th>
                        <th style="min-width: 120px;">Nơi nhận hàng <i class="fa fa-sort" style="padding-left: 10px;" (click)="sortData('pickupLocation')"></i></th>
                        <th>Thời gian giao hàng</th>
                        <th>Thời gian nhận hàng</th>
                        <th style="min-width: 120px;">Số Cont <i class="fa fa-sort" style="padding-left: 10px;" (click)="sortData('containerNumber')"></i></th>
                      </tr>
                      <tr>
                        <th></th>
                        <th>
                          <input type="text" class="form-control" [(ngModel)]="filterColumns.id" (input)="filterData()" name="id" >
                        </th>
                        <th>
                          <input type="text" class="form-control" [(ngModel)]="filterColumns.jobId" (input)="filterData()" name="jobId" >
                        </th>
                        <th>
                          <input type="text" class="form-control" [(ngModel)]="filterColumns.customerName" (input)="filterData()" name="customerName" >
                        </th>
                        <th>
                          <input type="text" class="form-control" [(ngModel)]="filterColumns.deliveryLocation"  (input)="filterData()" name="deliveryLocation" >
                        </th>
                        <th>
                          <input type="text" class="form-control" [(ngModel)]="filterColumns.pickupLocation"  (input)="filterData()" name="pickupLocation" >
                        </th>
                        <th>
                         
                        </th>
                        <th>
                          
                        </th>
                        <th>
                          <input type="text" class="form-control" [(ngModel)]="filterColumns.containerNumber"  (input)="filterData()" name="containerNumber" >
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of filteredWorkflows" [ngClass]="{'bgColorSkyblue': item.checked}" (click)="clickRow(item)">
                        <td class="table-checkbox">
                            <label class="custom-checkbox">
                              <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
                              <span class="helping-el"></span>
                            </label>
                          </td>
                        <td>{{item.id}}</td>
                        <td>{{item.jobId}}</td>
                        <td>{{item.customerName}}</td>
                        <td>{{item.deliveryLocation}}</td>
                        <td >{{item.pickupLocation}}</td>
                        <td>{{item.deliveryTime | date:'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{item.pickupTime | date:'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{item.containerNumber}}</td>
                      </tr>
                      <tr *ngIf="filteredWorkflows?.length == 0">
                        <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
          <!-- /.box-footer -->
        </form>
      </div>
      <div class="modal-footer">
        <div class="box-footer text-right">
          <button type="button" class="btn btn-primary btn-sm" [disabled]="!isSelected" (click)="saveChange()">
            <i class="fa fa-edit"></i> Chọn</button>
          <button type="button" (click)="modalListWorkflow.hide()" class="btn btn-danger btn-sm">
            <i class="fa fa-close"></i> Hủy</button>
        </div>
      </div>
    </div>
  </div>
</div>


