<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Chốt số liệu dầu téc</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <div class="form-group" *ngIf="!flagNew">
              <label class="col-sm-3 control-label">Số phiếu</label>
              <div class="col-sm-3 form-control-plaintext">
                <span class="form-control" style="font-weight: bold; color: blue;"> {{entity.refNo}}</span>
              </div>
              <label class="col-sm-2 control-label">Ngày</label>
              <div class="col-sm-4 form-control-plaintext">
                <span class="form-control" style="font-weight: bold; color: blue;"> {{entity.createdDate |
                  date:'dd/MM/yyyy'}}</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Kho dầu
                <span class="error">*</span>
              </label>
              <div class="col-sm-9">
                <ng-select name="gasSite" [items]="listGasSite" bindLabel="siteName" bindValue="id"
                  [(ngModel)]="entity.gasSiteId" (change)="changedSite($event)" required placeholder="Chọn kho dầu"
                  [disabled]="flagXem || entity.status>0">
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Nội dung <span class="error">*</span></label>
              <div class="col-sm-9">
                <textarea class="form-control" [(ngModel)]="entity.contents" name="contents" rows="1" required
                  [readonly]="flagXem || entity.status>0"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Tồn đầu kỳ <span class="error">*</span></label>
              <div class="col-sm-3">
                <input class="form-control" [(ngModel)]="entity.oldInventory" type="number" name="oldInventory" readonly
                  required />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Tổng nhập <span class="error">*</span></label>
              <div class="col-sm-3">
                <input class="form-control" [(ngModel)]="entity.import" type="number" name="import" readonly required />
              </div>
              <label class="col-sm-3 control-label">Tổng xuất <span class="error">*</span></label>
              <div class="col-sm-3">
                <input class="form-control" [(ngModel)]="entity.export" type="number" name="export" readonly required />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Tồn cuối kỳ <span class="error">*</span></label>
              <div class="col-sm-3">
                <input class="form-control" [(ngModel)]="entity.newInventory" type="number" name="newInventory" readonly
                  required />
              </div>
              <label class="col-sm-3 control-label">Tồn thực tế <span class="error">*</span></label>
              <div class="col-sm-3">
                <input class="form-control" [(ngModel)]="entity.realInverntory" (change)="chagedValue()" type="number"
                  name="realInverntory" [readonly]="flagXem || entity.status>0" required />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Chênh lệch <span class="error">*</span></label>
              <div class="col-sm-3">
                <input class="form-control" [(ngModel)]="entity.differential" type="number" name="differential" readonly
                  required />
              </div>
              <label class="col-sm-3 control-label">Giá dầu<span class="error">*</span></label>
              <div class="col-sm-3">
                <input class="form-control" [(ngModel)]="entity.price" type="number" name="oilPrice"
                  [readonly]="flagXem || entity.status>0" required />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Ghi chú</label>
              <div class="col-sm-9">
                <textarea class="form-control" [(ngModel)]="entity.note" name="note" rows="1"
                  [readonly]="flagXem"></textarea>
              </div>
            </div>
            <div class="form-group" *ngIf="entity.status<1">
              <label class="col-sm-3 control-label"></label>
              <div class="col-sm-9">
                <label class="custom-checkbox">
                  <input type="checkbox" [(ngModel)]="isChecked" name="status" [disabled]="flagXem" />
                  <span class="helping-el" style="color: blue;"></span>
                  Chuyển duyệt
                </label>
              </div>
            </div>
            <fieldset>
              <legend style="font-size: 14px; color: blue; font-weight: bold;">Chi tiết</legend>
              <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-bordered table-striped table-hover" id="style-scroll-1">
                  <thead>
                    <tr>
                      <th rowspan="2">Id</th>
                      <th rowspan="2">Số phiếu</th>
                      <th rowspan="2">Ngày lập</th>
                      <th colspan="2">Phát sinh trong kỳ</th>
                      <th rowspan="2">Lái xe</th>
                      <th rowspan="2">Biển số xe</th>
                      <th rowspan="2">Ghi chú</th>
                    </tr>
                    <tr>
                      <th>Nhập</th>
                      <th>Xuất</th>
                    </tr>
                    <tr>
                      <th>
                        <input type="text" class="form-control" [(ngModel)]="filterColumns.id" (input)="filterData()"
                          name="id">
                      </th>
                      <th>
                        <input type="text" class="form-control" [(ngModel)]="filterColumns.refNo" (input)="filterData()"
                          name="refNo">
                      </th>
                      <th>
                        <input type="text" class="form-control" [(ngModel)]="filterColumns.createdDate"
                          (input)="filterData()" name="createdDate">
                      </th>
                      <th>
                        <input type="text" class="form-control" [(ngModel)]="filterColumns.import"
                          (input)="filterData()" name="detailimport">
                      </th>
                      <th>
                        <input type="text" class="form-control" [(ngModel)]="filterColumns.export"
                          (input)="filterData()" name="detailexport">
                      </th>
                      <th>
                        <input type="text" class="form-control" [(ngModel)]="filterColumns.driverName"
                          (input)="filterData()" name="driverName">
                      </th>

                      <th><input type="text" class="form-control" [(ngModel)]="filterColumns.licensePlates"
                          (input)="filterData()" name="licensePlates"></th>
                      <th><input type="text" class="form-control" [(ngModel)]="filterColumns.note"
                          (input)="filterData()" name="note"></th>
                    </tr>
                  </thead>
                  <tbody style="position: relative;">
                    <div class="row">
                      <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>
                    </div>
                    <tr *ngFor="let item of filteredData ">
                      <td>{{item.id}}</td>
                      <td>{{item.refNo}}</td>
                      <td>{{item.createdDate | date:'dd/MM/yyyy'}}</td>
                      <td style="text-align: right;">{{item.import | number}}</td>
                      <td style="text-align: right;">{{item.export | number}}</td>
                      <td>{{item.driverName }}</td>
                      <td>{{item.licensePlates }}</td>
                      <td>{{item.note }}</td>
                    </tr>
                    <tr *ngIf="filteredData?.length == 0">
                      <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </fieldset>

          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <div class="col-sm-4">
              <button type="button" class="btn btn-primary btn-sm" (click)="showFiles()">
                <i class="fa fa-upload"></i> Chứng từ đính kèm...</button>
            </div>
            <div class="col-sm-8 text-right">
              <button type="button" class="btn btn-primary btn-sm" (click)="exportExcel()">
                <i class="fa fa-file-excel-o"></i> Export Excel</button>
              <button *ngIf="this.entity.status==1 && _approvedPermission" type="button" class="btn btn-success btn-sm"
                (click)="approved(true)">
                <i class="fa fa-check"></i> Duyệt</button>
              <button *ngIf="this.entity.status==1 && _approvedPermission" type="button"
                [disabled]="entity.note?.length<1" class="btn btn-warning btn-sm" (click)="approved(false)">
                <i class="fa fa-check"></i> Từ chối</button>
              <button *ngIf="!flagXem && this.entity.status<1" [disabled]="!addEditForm.form.valid || flagSave"
                type="submit" class="btn btn-primary btn-sm">
                <i class="fa fa-check"></i> Lưu</button>
              <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
                <i class="fa fa-close"></i> Hủy</button>
            </div>

          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
<modal-attachfile *ngIf="viewAttachFiles" (SaveSuccess)="saveSuccessFile($event)" (CloseModal)="closeModalFile()">
</modal-attachfile>