<div class="box box-primary box-chieu-cao">
  <div class="box-header with-border">
    <div class="row">
      <div class="col-md-3">
        <h3 class="box-title">Phiếu chi</h3>
      </div>
      <div class="col-md-3">
        <ng-select name="chinhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id" [(ngModel)]="_branchId"
          (change)="changedBranch()" placeholder="Chọn chi nhánh..." [clearable]="false" [readonly]="_auth>0">
        </ng-select>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
            placeholder="Số phiếu/Chứng từ/Hóa đơn..." />
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
              <i class="fa fa-search"></i>
            </button>
            <button class="btn btn-success btn-sm" appPermission appFunction="THU" appAction="EXPORT" (click)="export()"
              title="Xuất dữ liệu">
              <i class="fa fa-file-excel-o"></i>
            </button>
            <button class="btn btn-warning btn-sm" (click)="print()" appFunction="THU" appAction="EXPORT"
              title="In phiếu">
              <i class="fa fa-print"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-3 text-right">
        <button class="btn btn-success btn-sm" (click)="add()" appPermission appFunction="CHI" appAction="CREATE">
          <i class="fa fa-plus"></i> Thêm
        </button>
        <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit" appPermission
          appFunction="CHI" appAction="UPDATE">
          <i class="fa fa-edit"></i> Sửa
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteConfirm()" [disabled]="!flagDelete" appPermission
          appFunction="CHI" appAction="DELETE">
          <i class="fa fa-trash"></i> Xóa
        </button>
        <!-- <button class="btn btn-info btn-sm" (click)="edit(true)" [disabled]="!flagEdit">
          <i class="fa fa-eye"></i> Xem
        </button> -->
      </div>
    </div>
    <div class="row" style="margin-top: 3px;">
      <div class="col-md-3">
        <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
          class="form-control">
      </div>
      <div class="col-md-3">
        <ng-select name="khachhang" [items]="listEmployee" bindLabel="employeeFullName" bindValue="id"
          [(ngModel)]="_employeeId" (change)="changedEmployee($event)" placeholder="Chọn nhân viên...">
        </ng-select>
      </div>
      <div class="col-md-3">
        <ng-select name="quy" [items]="listAccountList" bindLabel="name" bindValue="id" [(ngModel)]="_accountListId"
          (change)="changedQuy($event)" placeholder="Chọn quỹ...">
        </ng-select>
      </div>
      <div class="col-md-3">
        <ng-select name="loai" [items]="listTransfer" bindLabel="text" bindValue="id" [(ngModel)]="_transfer"
          (change)="changedType($event)" placeholder="Chọn hình thức..." [clearable]="false">
        </ng-select>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding table-wrapper-scroll-y" id="div#style-scroll-1">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)" />
              <span class="helping-el"></span>
            </label>
          </th>
          <th>Số phiếu</th>
          <th>Ngày lập</th>
          <th>Người lập</th>
          <th style="min-width: 120px;">Ngày chứng từ</th>
          <th>Đơn vị</th>
          <th>Số chứng từ</th>
          <th>Số tiền</th>
          <th>Tiền tệ</th>
          <th>Chi từ quỹ</th>
          <th>Thủ quỹ</th>
          <th>Nội dung</th>
          <th>Ghi chú</th>
          <!-- <th>Trạng thái</th> -->
        </tr>
        <tr>
          <th></th>
          <th><input class="form-control" #refNoSearchInput [(ngModel)]="refNoSearch" (input)="filter()" type="text"
              name="refNoSearch" /></th>
          <th><input class="form-control" #ngaylapSearchInput [(ngModel)]="ngaylapSearch" (input)="filter()" type="text"
              name="ngaylapSearch" /></th>
          <th><input class="form-control" #nguoilapInput [(ngModel)]="nguoilapSearch" (input)="filter()" type="text"
              name="nguoilapSearch" /></th>
          <th><input class="form-control" #ngaySearchInput [(ngModel)]="ngaySearch" (input)="filter()" type="text"
              name="ngaySearch" /></th>
          <th><input class="form-control" #doenviSearchInput [(ngModel)]="donviSearch" (input)="filter()" type="text"
              name="donviSearch" /></th>
          <th><input class="form-control" #soctSearchInput [(ngModel)]="soctSearch" (input)="filter()" type="text"
              name="soctSearch" /></th>
          <th><input class="form-control" #sotienSearchInput [(ngModel)]="sotienSearch" (input)="filter()" type="text"
              name="sotienSearch" /></th>
          <th><input class="form-control" #tienteSearchInput [(ngModel)]="tienteSearch" (input)="filter()" type="text"
              name="tienteSearch" /></th>
          <th><input class="form-control" #quySearchInput [(ngModel)]="quySearch" (input)="filter()" type="text"
              name="quySearch" /></th>
          <th><input class="form-control" #nguoilapInput1 [(ngModel)]="thuquySearch" (input)="filter()" type="text"
              name="thuquySearch" /></th>
          <th><input class="form-control" #noidungSearchInput [(ngModel)]="noidungSearch" (input)="filter()" type="text"
              name="noidungSearch" /></th>
          <th><input class="form-control" #ghichuSearchInput [(ngModel)]="ghichuSearch" (input)="filter()" type="text"
              name="ghichuSearch" /></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listFilter" (click)="clickRow(item)">
          <td class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
              <span class="helping-el"></span>
            </label>
          </td>
          <td>
            <a [routerLink]="[]" (click)="showModal(item)">{{item.refNo}}</a>
          </td>
          <td>{{item.refDate|date: "dd/MM/yyyy"}}</td>
          <td class="colum-name">{{ item.createdByName }}</td>
          <td>{{item.effectiveDate|date: "dd/MM/yyyy"}}</td>
          <td>{{item.employeeName}}</td>
          <td>{{item.documentNo}}</td>
          <!-- <td class="so-tien">{{item.amount|currency: item.currency:'symbol-narrow'}}</td> -->
          <td class="so-tien">{{item.amount|VND}}</td>
          <td>{{item.currency}}</td>
          <td>{{item.accountListName}}</td>
          <td>{{ item.tenThuQuy }}</td>
          <td>{{item.contents }}</td>
          <td>{{item.notes }}</td>
          <!-- <td class="trang-thai">
            <span [ngClass]="
                item.status  ? 'label label-success' : 'label label-danger'
              ">{{ item.status | Status }}</span>
          </td> -->
        </tr>
        <tr *ngIf="listAccounts?.length == 0">
          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer no-padding">
    <div *ngIf="listFilter?.length > 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-4">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ totalRows }}</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="dataTables_info">
            <span style="font-weight: bold; color: rgba(255, 77, 0, 0.926);">Tổng tiền: {{ totalAmount|VND }}</span>
          </div>
        </div>
        <!-- <div class="col-md-4 text-right">
          <div class="page">
            <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
              (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>

<modal-phieu-chi *ngIf="viewModalChi" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModalChi()">
</modal-phieu-chi>
<modal-phieu-chi-multi *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
</modal-phieu-chi-multi>
<!-- <div [ngBusy]="busy"></div> -->
<iframe id="printf" name="printf" style="display:none;"></iframe>