<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Tồn quỹ đầu kỳ</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <div class="form-group">
              <label class="col-sm-3 control-label">Chi nhánh
                <span class="error">*</span>
              </label>
              <div class="col-sm-9">
                <ng-select name="donvi" [items]="listBranch" bindLabel="branchName" bindValue="id" [(ngModel)]="entity.branchId" required [readonly]='true'
                  >
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Quỹ
                <span class="error">*</span>
              </label>
              <div class="col-sm-9">
                <ng-select name="accountlist" [items]="listAccountList" bindLabel="name" bindValue="id" [(ngModel)]="entity.accountListId" required
                  >
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Ngày kết chuyển</label>
              <div class="col-sm-3 date">
                <input name="refdate" type="text" daterangepicker [options]="dateTimeOptions"
                  [(ngModel)]="entity.refDate" class="form-control" (selected)="selectedDate($event)"
                  (hideDaterangepicker)="closedDate($event)" autocomplete="off" [readonly]="flagXem">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Số tiền
                <span class="error">*</span>
              </label>
                <div class="col-sm-3">
                  <input type="text" class="form-control so-tien"  #sotien="ngModel" name="tonquy" [(ngModel)]="entity.amount"
                    placeholder="Số tiền" [mask]="maskNumber" required minLength="6" maxlength="15"  [readonly]="flagXem"/>
                    <small [hidden]="sotien.valid || (sotien.pristine && !addEditForm.submitted)"
                    class="text-danger">
                    Nhập số tiền
                  </small>
                </div>
              <label class="col-sm-3 control-label">Số chứng từ</label>
              <div class="col-sm-3">
                <input class="form-control" [(ngModel)]="entity.documentNo" type="text" name="documentno"
                placeholder="Số chứng từ" [readonly]="flagXem" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Ghi chú</label>
              <div class="col-sm-9">
                <textarea class="form-control textrea-size" [(ngModel)]="entity.notes" name="ghichu" rows="3"
                  placeholder="Nhập ghi chú" [readonly]="flagXem"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label"></label>
              <div class="col-sm-4">
                <label class="custom-checkbox">
                  <input type="checkbox" [(ngModel)]="entity.status" name="status" />
                  <span class="helping-el"></span>
                  Trạng thái
                </label>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="!flagXem" type="submit" class="btn btn-primary btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave">
              <i class="fa fa-save"></i> Lưu</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
