<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalRpeAddEdit="bs-modal"
  [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name"
  (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Phiếu hoàn vé ETC <a style="font-size: 14px;">{{entity?.createdByName}}</a></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRpeAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <div class="form-group" *ngIf="!flagNew">
              <label class="col-sm-3 control-label">Số phiếu</label>
              <div class="col-sm-3 control-label-text-left">
                <span style="font-weight: bold; color: blue;"> {{entity.refNo}}</span>
              </div>
              <label class="col-sm-2 control-label">Ngày tạo</label>
              <div class="col-sm-3 control-label-text-left">
                <span style="font-weight: bold; color: blue;"> {{entity.createdDate | date:'dd/MM/yyyy'}}</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Xe
                <span class="error">*</span>
              </label>
              <div class="col-sm-4">
                <ng-select name="vihicleId" [items]="listVihicle" bindLabel="licensePlates" bindValue="id"
                   placeholder="Xe" [(ngModel)]="entity.vehicleId" [disabled]="flagXem || entity.id!>0"
                  required>
                </ng-select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Nội dung
                <span class="error">*</span>
              </label>
              <div class="col-sm-9">
                <textarea class="form-control" [(ngModel)]="entity.notes" name="note" rows="3"
                  [readonly]="flagXem" required></textarea>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-3 control-label">Tổng tiền ETC</label>
              <div class="col-sm-5">
                <input type="number" class="form-control" [(ngModel)]="entity.totalCost" name="totalCost"
                  placeholder="Tổng tiền" readonly />
              </div>
            </div>
            <div class="form-group" *ngIf="entity.status<2">
              <label class="col-sm-3 control-label"></label>
              <div class="col-sm-4">
                <label class="custom-checkbox">
                  <input type="checkbox" [(ngModel)]="_status" name="status" [disabled]="entity.status>1"/>
                  <span class="helping-el"></span>
                  Chuyển duyệt
                </label>
              </div>
            </div>
            <!-- Đoạn hiển thị các thông tin chi tiết -->
            <div class="form-group " style="overflow: visible;">
              <tabset>
                <tab heading="Lệnh vận chuyển">
                  <div class="form-group">
                    <div class="col-sm-2">
                      <button type="button" class="btn btn-sm btn-primary" [disabled]="entity.status>0 || flagXem"
                        (click)="newItem()">Thêm</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="my-custom-scrollbar table-wrapper-scroll-y" style="padding-left:15px; padding-right:15px">
                      <table class="table table-bordered table-striped table-hover " id="div#style-scroll-1">
                        <thead>
                          <tr>
                            <th>RefNo</th>
                            <th>Số tiền </th>
                            <th>Vat</th>
                            <th>Tổng tiền</th>
                            <th>Ghi chú</th>
                            <th *ngIf="entity.status<1"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.detaileds ; let i = index">
                            <td>
                              <a style="color: blue;" (click)="viewLenh(item.dispatchOrderRefNo)">
                                <b>{{item.dispatchOrderRefNo}}</b></a>
                            </td>
                            <td>{{item.cost }}</td>
                            <td>{{item.vat }}</td>
                            <td>{{item.totalCost}}</td>
                            <td>
                              <input type="text" class="form-control" [(ngModel)]="item.notes" name="note{{i}}"
                                    placeholder="Ghi chú" [disabled]="flagXem" />
                            </td>
                            <td style="width:18%" *ngIf=" !flagXem && entity.status<1">
                              <button type="button" class="btn btn-warning btn-sm" (click)="deleteItem(item)">
                                <i class="fa fa-trash"></i>
                              </button>
                            </td>
                          </tr>
                          <tr *ngIf="entity.detaileds?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="accept_permission && entity.status==1 " type="button"
              class="btn btn-duyet btn-sm" (click)="duyet()">
              <i class="fa backward"></i>Duyệt</button>
            <button *ngIf="accept_permission && entity.status==1" type="button"
              class="btn btn-success btn-sm" (click)="tuchoi()">
              <i class="fa backward"></i>Từ chối</button>
            <button *ngIf="!flagXem &&  entity.status<1" type="submit" class="btn btn-primary btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave || entity.detaileds.length<1">
              <i class="fa fa-save"></i> Lưu</button>
            <button type="button" (click)="modalRpeAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
<modal-list-dispatchorder-etc *ngIf="viewDispatchOrder" (SaveSuccess)="saveSuccess($event)"  (CloseModal)="closeModal()" >
</modal-list-dispatchorder-etc>
<modal-dispatchorder *ngIf="viewModal" (CloseModal)="closeDispatchOrderModal()">
</modal-dispatchorder>



