<div class="box box-primary box-chieu-cao">
  <div class="box-header with-border">
  <div class="row">
      <div class="col-md-2">
        <h3 class="box-title">Hoàn cược</h3>
      </div>
      <div class="col-md-6"></div>
      <div class="col-md-4 text-right">
        <div class="dropdown btn-group">
          <button class="btn btn-success btn-sm dropbtn" type="button" appPermission appFunction="REBETS"
            appAction="CREATE">
            <i class="fa fa-plus"></i> Thêm
            <span class="caret"></span></button>
          <div class="dropdown-content">
            <li (click)="add(0)">Tiền mặt</li>
            <li (click)="add(1)">Chuyển khoản</li>
          </div>
        </div>
        <!-- <button class="btn btn-success btn-sm" (click)="add()" appPermission appFunction="REBETS" appAction="CREATE">
          <i class="fa fa-plus"></i> Thêm
        </button> -->
        <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit" appPermission
          appFunction="REBETS" appAction="UPDATE">
          <i class="fa fa-edit"></i> Sửa
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteConfirm()" [disabled]="!flagDelete" appPermission
          appFunction="REBETS" appAction="DELETE">
          <i class="fa fa-trash"></i> Xóa
        </button>
        <button class="btn btn-success btn-sm" (click)="exportExcel()">
          <i class="fa fa-file-excel-o"></i> Export
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
          class="form-control">
      </div>
      <div class="col-md-2">
        <ng-select name="chinhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id"
          [(ngModel)]="_branchId" (change)="changedChiNhanh()" title="Chọn chi nhánh..." [clearable]="false" [readonly]="_auth>0">
        </ng-select>
      </div>
      <div class="col-md-3">
        <ng-select name="nhanvien" [items]="listEmployee" bindLabel="employeeFullName" bindValue="id"
          [(ngModel)]="_employeeId" [readonly]="_auth>_viewAll" (change)="changedEmployee($event)"
          placeholder="Chọn nhân viên...">
        </ng-select>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
            placeholder="Từ khóa" />
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)" />
              <span class="helping-el"></span>
            </label>
          </th>
          <th>Người tạn ứng</th>
          <th>Số tham chiếu</th>
          <th>Số phiếu cược</th>
          <th>Ngày</th>
          <th>Số tiền</th>
          <th>Lý do</th>
          <th>Hình thức</th>
          <!-- <th>Đã trả</th> -->
          <th>Trạng thái</th>
          <th style="width: 80px;">Tác vụ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listRebets" (click)="clickRow(item)">
          <td class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
              <span class="helping-el"></span>
            </label>
          </td>
          <td>{{item.employeeName}}</td>
          <td>
            <a [routerLink]="[]" (click)="showModal(item)">{{item.refNo}}</a>
          </td>
          <td style="font-style: italic; color: blue;">{{item.contBetsRefno}}</td>
          <td>{{item.refDate|date: "dd/MM/yyyy"}}</td>
          <td class="so-tien">{{item.amount|currency:'VND':''}}</td>
          <td>{{item.reason }}</td>
          <td>{{item.type==0?'Tiền mặt':'Chuyển khoản'}}</td>
          <!-- <td class="trang-thai">
            <span [ngClass]="
                item.status  ? 'label label-success' : 'label label-danger'
              ">{{ item.status | Status }}</span>
          </td> -->
          <td class="trang-thai">
            <span class="{{item.styleStep | List: listLables}}">
              {{item.styleStep| List: listStatus}}</span>
          </td>
          <td>
            <button *ngIf="item.status && (_accept || _acc) && !item.isComplete" type="button" class="btn btn-warning btn-sm action"
              title="Xác nhận" (click)="showAccounts(item)">
              <i class="fa fa-usd" aria-hidden="true"></i> Xác nhận
            </button>
          </td>
        </tr>
        <tr *ngIf="listRebets?.length == 0">
          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer no-padding">
    <div *ngIf="listRebets?.length > 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-4">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ totalRows }}</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="dataTables_info">
            <span style="font-weight: bold; color: rgba(255, 77, 0, 0.926);">Tổng tiền cược: {{ totalAmount|VND }}</span>
          </div>
        </div>
        <div class="col-md-4 text-right">
          <div class="page">
            <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
              (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>

<modal-rebets *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
</modal-rebets>
<modal-phieu-thu *ngIf="viewAccounts" (SaveSuccess)="saveSuccessAccounts($event)" (CloseModal)="closeAccounts()">
</modal-phieu-thu>
<!-- <div [ngBusy]="busy"></div> -->
