<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Công việc Giao nhận vận chuyển</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <div class="form-group">
              <label class="col-sm-2 control-label">Khách hàng
                <span class="error">*</span>
              </label>
              <div class="col-sm-2">
                <input class="form-control" type="text" name="makh" [(ngModel)]="customerCode" required
                  [readonly]="flagXem" (keydown.enter)="searchCustomer()">
              </div>
              <div class="col-sm-6">
                <ng-select [items]="listCustomer" name="customercode" required bindLabel="customerName" bindValue="id"
                  [disabled]="flagXem" (change)="changedCustomer($event)" [(ngModel)]="entity.customerId">
                </ng-select>
              </div>
              <div class="col-sm-2" style="justify-content: flex-end; display: flex;">
                <button *ngIf="entity.id!=undefined" type="button" class="btn btn-primary btn-sm" (click)="attack()">
                  <i class="fa fa-file"></i> Đính kèm</button>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">JobId
                <span class="error">*</span>
              </label>
              <div class="col-sm-4">
                <div class="input-group">
                  <span class="form-control" style="color: red;"><b>{{entity.jobId}}</b></span>
                  <span class="input-group-btn">
                   <button *ngIf=" entity.status<1" type="button" class="btn btn-primary btn-sm " (click)="getJobId()">
                    <i class="fa fa-edit"></i>...</button>
                </span>                  
                </div>
              </div>
              <label class="col-sm-2 control-label"> Loại hình</label>
              <div class="col-sm-4">
                <ng-select name="shipmentType" [items]="listShipmentType" bindLabel="categoryName" bindValue="id"
                  [(ngModel)]="entity.shipmentType" placeholder="Loại hình" disabled>
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Nhóm thực hiện công việc
                <span class="error">*</span>
              </label>
              <div class="col-sm-4">
                <ng-select [items]="listHandlingGroup" name="hadlinggroupid" required bindLabel="handlingGroupName"
                  bindValue="id" [disabled]="flagXem " [(ngModel)]="entity.handlingGroupId">
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Nơi nhận hàng<span class="error">*</span></label>
              <div class="col-sm-10" *ngIf="isEport">
                    <ng-select name="pickupLocationExportId" [items]="listLocations" bindLabel="address" bindValue="id" 
                      [(ngModel)]="entity.pickupLocationId" (change)="changepickupLocationExport($event)" [required]="isEport">
                    </ng-select>
              </div>
              <div class="col-sm-10" *ngIf="!isEport">
                    <ng-select name="pickupLocationImportId" [items]="listPorts" bindLabel="name" bindValue="id" 
                      [(ngModel)]="entity.pickupLocationId"  (change)="changepickupLocationImport($event)" [required]="!isEport">
                    </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Nơi giao hàng<span class="error">*</span></label>
              <div class="col-sm-10" *ngIf="isEport">
                  <ng-select name="deliveryLocationExportId" [items]="listPorts" bindLabel="name" bindValue="id" 
                    [(ngModel)]="entity.deliveryLocationId"  (change)="changedeliveryLocationExport($event)" [required]="isEport">
                  </ng-select>
              </div>
              <div class="col-sm-10" *ngIf="!isEport">
                  <ng-select name="deliveryLocationImportId" [items]="listLocations" bindLabel="address" bindValue="id" 
                    [(ngModel)]="entity.deliveryLocationId"  (change)="changedeliveryLocationImport($event)" [required]="!isEport">
                  </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">T/g KH yêu cầu 
                <span class="error">*</span>
              </label>
              <div class="col-sm-4">
                <input name="pickupTime" type="text" daterangepicker [options]="ngaybatdauOption"
                  [(ngModel)]="entity.pickupTime" class="form-control" (selected)="selectedpickupTime($event)"
                  (hideDaterangepicker)="closedpickupTime($event)" autocomplete="off" [disabled]="flagXem">
              </div>
              <label class="col-sm-2 control-label" *ngIf="!isEport"> T/g trả cont rỗng <span class="error">*</span></label>
              <div class="col-sm-4"  *ngIf="!isEport">
                <input name="detentionTime" type="text" daterangepicker [options]="ngaybatdauOption" [required]="!isEport"
                  [(ngModel)]="entity.detentionTime" class="form-control"
                  (selected)="selecteddetentionTime($event)"
                  (hideDaterangepicker)="closeddetentionTime($event)" autocomplete="off" [disabled]="flagXem">
              </div>
              <label class="col-sm-2 control-label" *ngIf="isEport">T/g Cut-off <span class="error">*</span></label>
              <div class="col-sm-4" *ngIf="isEport">
                <input name="cutOffTime" type="text" daterangepicker [options]="ngayhoanthanhOption" [required]="isEport"
                  [(ngModel)]="entity.cutOffTime" class="form-control" (selected)="selectedcutOffTime($event)"
                  (hideDaterangepicker)="closedcutOffTime($event)" autocomplete="off" [disabled]="flagXem">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">T/g pick-up cont tại Cảng <span class="error">*</span></label>
              <div class="col-sm-4">
                <input name="demurageTime" type="text" daterangepicker [options]="ngayhoanthanhOption"
                  [(ngModel)]="entity.demurageTime" class="form-control" (selected)="selectedcontainerStoragePeriod($event)"
                  (hideDaterangepicker)="closedcontainerStoragePeriod($event)" autocomplete="off" [disabled]="flagXem">
              </div>
              
              <label class="col-sm-2 control-label">Mã tham chiếu <span class="error">*</span> </label>
              <div class="col-sm-4">
                <input name="referCode" type="text" 
                  [(ngModel)]="entity.referCode" class="form-control" required
                  [disabled]="flagXem">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Booking</label>
              <div class="col-sm-4">
                <input name="billBooking" type="text" [(ngModel)]="entity.billBooking" class="form-control"
                  [disabled]="flagXem">
              </div>
              <label class="col-sm-2 control-label"> Lượng hàng
              </label>
              <div class="col-sm-4 text-right">
                <input class="form-control so-luong" [(ngModel)]="entity.weight"  name="weight" [readonly]="flagXem"
                [mask]="maskNumber"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Ops làm lệnh</label>
              <div class="col-sm-4">
                <ng-select name="nhanvien" [items]="listEmployee" bindLabel="employeeFullName" bindValue="id" [(ngModel)]="entity.operatorId">
                </ng-select>
              </div>
              <label class="col-sm-2 control-label">Size kiện hàng</label>
              <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="entity.dimension" type="text" 
                  name="dimension" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Số Cont</label>
              <div class="col-sm-4">
                <div class="input-group" style="width: 100%;">
                  <input name="containerNumberAccordingToPlan" type="text" [(ngModel)]="entity.containerNumber" class="form-control"
                  [disabled]="flagXem" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-sm " (click)="viewShipmentContSeal()" [disabled]="entity.status>1">
                     <i class="fa fa-search"></i></button>
                 </span>  
                </div>
              </div>
              <label class="col-sm-2 control-label">Số chì</label>
              <div class="col-sm-4">
                <input name="sealNumberAccordingToPlan" type="text" [(ngModel)]="entity.sealNumber" class="form-control"
                  [disabled]="flagXem" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label" *ngIf="entity.taskType==0 || entity.taskType==null">Loại Container</label>
              <div class="col-sm-2">
                <ng-select [items]="listContTypes" name="listContTypes" bindLabel="categoryName" bindValue="categoryCode"
                  [disabled]="flagXem" [(ngModel)]="entity.contType">
                </ng-select>
              </div>
              <label class="col-sm-2 control-label">Loại lệnh nâng</label>
              <div class="col-sm-2">
                <ng-select [items]="listTypeOfLiffingOrder" name="typeOfLiffingOrder"  bindLabel="value" bindValue="id"
                  [disabled]="flagXem" [(ngModel)]="entity.typeOfLiffingOrder">
                </ng-select>
              </div>
              <label class="col-sm-2 control-label">Loại lệnh hạ</label>
              <div class="col-sm-2">
                <ng-select [items]="listTypeOfLiffingOrder" name="typeOfLiftOffOrder"  bindLabel="value" bindValue="id"
                  [disabled]="flagXem" [(ngModel)]="entity.typeOfLiftOffOrder">
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Hãng tàu</label>
              <div class="col-sm-4">
                <ng-select [items]="listShipBrand" name="shipBrand"  bindLabel="categoryName" bindValue="id"
                  [disabled]="flagXem" [(ngModel)]="entity.shipBrand">
                </ng-select>
              </div>
              <label class="col-sm-2 control-label">Kho CFS</label>
              <div class="col-sm-4">
                <ng-select [items]="listPorts" name="cFSWarehouse"  bindLabel="name" bindValue="id"
                  [disabled]="flagXem" [(ngModel)]="entity.cfsWarehouse">
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Cảng/bãi nâng</label>
              <div class="col-sm-4">
                <ng-select [items]="listPorts" name="portOfLiffting"  bindLabel="name" bindValue="id"
                  [disabled]="flagXem" [(ngModel)]="entity.portOfLiffting">
                </ng-select>
              </div>
              <label class="col-sm-2 control-label">Cảng/bãi hạ</label>
              <div class="col-sm-4">
                <ng-select [items]="listPorts" name="portOfLiffoff" bindLabel="name" bindValue="id"
                  [disabled]="flagXem" [(ngModel)]="entity.portOfLiftOff">
                </ng-select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">Người giao hàng/SĐT</label>
              <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="entity.deliveryInformaiton" type="text" 
                  name="deliveryReturnLocation" />
              </div>
              <label class="col-sm-2 control-label">Người nhận hàng/SĐT</label>
              <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="entity.receiverInformation" type="text" 
                  name="receiverInformation" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">T/t xuất HĐ nâng hạ Cont</label>
              <div class="col-sm-10">
                <input class="form-control" [(ngModel)]="entity.informationOnContainerLiffInvoice" type="text" 
                  name="informationOnContainerLiffInvoice" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">T/t xuất HĐ ngoài</label>
              <div class="col-sm-10">
                <input class="form-control" [(ngModel)]="entity.externalInformationOnContainerLiffInvoice" type="text" 
                  name="externalInformationOnContainerLiffInvoice" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">T/t xuất HĐ phụ phí khác</label>
              <div class="col-sm-10">
                <input class="form-control" [(ngModel)]="entity.informationOfSurchargeInvoice" type="text" 
                  name="informationOfSurchargeInvoice" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Ghi chú</label>
              <div class="col-sm-10">
                <textarea class="form-control" [(ngModel)]="entity.note" rows="1" 
                  name="note"></textarea>
              </div>
            </div>
            <div class="form-group" *ngIf="entity.status<1">
              <div class="col-sm-2"></div>
              <div class="col-sm-10">
                <label class="custom-checkbox" style="color: blue;">
                  <input type="checkbox" [(ngModel)]="checked" name="status" [disabled]="flagXem" />
                  <span class="helping-el"></span>
                  Chuyển việc cho Điều vận
                </label>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="!flagXem " type="button" class="btn btn-primary btn-sm" (click)="saveAndNew(addEditForm)"
              [disabled]="!addEditForm.form.valid || flagSave ">
              <i class="fa fa-save"></i> Lưu & Nhập tiếp</button>
            <button *ngIf="!flagXem" type="submit" class="btn btn-primary btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave">
              <i class="fa fa-save"></i> Lưu</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
<modal-attachfile *ngIf="viewAttackFiles" (CloseModal)="closeAttackModal()">
</modal-attachfile>
<modal-shipment-view-search *ngIf="viewSearchJobId" (SaveSuccess)="saveSuccessJobId($event)">
</modal-shipment-view-search>
<modal-list-cont-seal *ngIf="viewContSeals" (SaveSuccess)="saveSuccessContSeal($event)" (CloseModal)="closeShipmentContSealsModal()">
</modal-list-cont-seal>