<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalOpUpdate="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Điều chỉnh thông tin công việc</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalOpUpdate.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #modalOpUpdate="ngForm"  *ngIf="entity">
          <div class="box-body">
            <div class="form-group">
              <label class="col-sm-6 control-label">JobId
              </label>
              <div class="col-sm-6">
                <span class=" form-control"><b>{{entity.jobId}}</b></span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-6 control-label">Thời gian dự kiến - CS
              </label>
              <div class="col-sm-6">
                <input name="ngaybd" type="text" daterangepicker [options]="ngaybatdauOption"
                  [(ngModel)]="entity.estimatedStartTime" class="form-control"  autocomplete="off" disabled>
                <!-- <input class="form-control" type="datetime-local" name="starttime" [(ngModel)]="startTime" required [readonly]="flagXem"> -->
              </div>
            </div>
            <div class="form-group">     
              <label class="col-sm-6 control-label">Hoàn thành trước - CS
              </label>
              <div class="col-sm-6">
                <input name="ngayht" type="text" daterangepicker [options]="ngayhoanthanhOption"
                  [(ngModel)]="entity.estimatedFinishTime" class="form-control" autocomplete="off" disabled>
                <!-- <input class="form-control" type="datetime-local" name="endtime" [(ngModel)]="endTime" required [readonly]="flagXem"> -->
              </div>
            </div>
            <div class="form-group">
                <label class="col-sm-6 control-label">T/g dự kiến -  OpMan điều chỉnh
                    <span class="error">*</span>
                </label>
                <div class="col-sm-6">
                  <input name="ngaybdopman" type="text" daterangepicker [options]="opManchangeNgaybatdauOption"
                    [(ngModel)]="entity.opManChangedEstimatedStartTime" class="form-control" (selected)="selectedNgaybatdauOpMan($event)"
                    (hideDaterangepicker)="closedNgaybatdauOpMan($event)" autocomplete="off">
                  <!-- <input class="form-control" type="datetime-local" name="starttime" [(ngModel)]="startTime" required [readonly]="flagXem"> -->
                </div>
              </div>
              <div class="form-group">     
                <label class="col-sm-6 control-label">Hoàn thành trước - OpMan điều chỉnh
                  <span class="error">*</span>
                </label>
                <div class="col-sm-6">
                  <input name="ngayhtopman" type="text" daterangepicker [options]="opManchangeNgayhoanthanhOption"
                    [(ngModel)]="entity.opManChangedEstimatedFinishTime" class="form-control" (selected)="selectedNgayhoanthanhOpMan($event)"
                    (hideDaterangepicker)="closedNgayhoanthanhOpMan($event)" autocomplete="off" >
                  <!-- <input class="form-control" type="datetime-local" name="endtime" [(ngModel)]="endTime" required [readonly]="flagXem"> -->
                </div>
              </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Ghi chú</label>
              <div class="col-sm-10">
                <textarea class="form-control textrea-size" [(ngModel)]="entity.jobDescription" name="jobdescription" rows="8"
                  placeholder="Nhập ghi chú để Op thực hiện"></textarea>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button type="submit" class="btn btn-primary btn-sm"  (click)="changeOpMan()">
                <i class="fa fa-edit"></i> Kết thúc</button>
              <button type="button" (click)="hide()" class="btn btn-danger btn-sm">
                <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
