<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalListShipmentContSeals="bs-modal"
  [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name"
  (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Danh sách thông tin Cont-Seal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalListShipmentContSeals.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">Số Cont chọn</label>
            <div class="col-sm-4" style="font-weight: bold; color: blue;">
              <input type="text" [(ngModel)]="selectedContSeal.contNo" readonly name="selectedcont"
                class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
              <!-- <p>Thông tin chi tiết container/seal</p> -->
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="column-ten">Loại</th>
                    <th class="column-ten">Số cont</th>
                    <th class="column-ten">Số seal</th>
                    <th class="column-so-tien">GW</th>
                  </tr>
                  <tr>
                    <th><input class="form-control" [(ngModel)]="filterColumns.contType" (input)="filterData()" type="text" name="contType" /></th>
                    <th><input class="form-control" [(ngModel)]="filterColumns.contNo" (input)="filterData()" type="text" name="contNo" /></th>
                    <th><input class="form-control" [(ngModel)]="filterColumns.sealNo" (input)="filterData()" type="text" name="sealNo" /></th>
                    <th><input class="form-control" [(ngModel)]="filterColumns.gw" (input)="filterData()" type="text" name="gw" /></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listFilter; let i = index" (click)="clickRow(item)">
                    <td class="column-ten">
                      <ng-select [appendTo]="'body'" name="tkno{{item.tempId}}" [items]="listContTypes"
                        bindLabel="categoryName" bindValue="categoryCode" [(ngModel)]="item.contType" disabled>
                      </ng-select>
                    </td>
                    <td class="column-ten">{{item.contNo}}
                    </td>
                    <td class="column-ten">{{item.sealNo}}
                    </td>
                    <td class="column-so-tien">{{item.gw}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button type="button" class="btn btn-primary btn-sm" [disabled]="!isSelected" (click)="saveChange()">
              <i class="fa fa-edit"></i> Chọn</button>
            <button type="button" (click)="modalListShipmentContSeals.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Đóng</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>