<div class="box box-primary box-chieu-cao">
  <ngx-spinner [fullScreen]="false" bdOpacity=0.9 bdColor="#f4f4f9" size="medium" color="#1010ee"
    type="ball-clip-rotate" size="medium">
    <p class="loading">Tải dữ liệu ...</p>
  </ngx-spinner>
  <div class="box-header with-border">
    <div class="row" style="padding-bottom: 5px;">
      <div class="col-md-2">
        <h3 class="box-title">Chi tiết Debit-note CANON</h3>
      </div>
      <div class="col-md-1">
        <ng-select name="chinhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id" [(ngModel)]="_branchId"
          (change)="changedBranch()" placeholder="Chọn chi nhánh..." [clearable]="false" [readonly]="_quyen>0">
        </ng-select>
      </div>
      <div class="col-md-2">
        <ng-select name="hinhthuc" [items]="listTypes1" bindLabel="text" bindValue="id" [(ngModel)]="_type"
          (change)="changedType()" placeholder="Chọn hính thức...">
        </ng-select>
      </div>
      <div class="col-md-2">
        <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
          class="form-control" />
      </div>
      
      <div class="col-md-5">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
            placeholder="" />
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()" title="">
              <i class="fa fa-search"></i>
            </button>
            <button class="btn btn-success btn-sm" appPermission appFunction="STATEMENT" appAction="EXPORT"
              (click)="exportExcel()" title="Xuất dữ liệu">
              <i class="fa fa-file-excel-o"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
      </div>
      <div class="col-md-3">
        <ng-select name="khachhang" [items]="listCustomer" bindLabel="customerName" bindValue="id"
          [(ngModel)]="_customerId" (change)="changedCustomer()" placeholder="Chọn đơn vị...">
        </ng-select>
      </div>
      <div class="col-md-2">
        <ng-select name="ngaybaocao" [items]="listTypes" bindLabel="text" bindValue="id" [(ngModel)]="_dateType" [clearable]="false"
          (change)="changedDateType()" placeholder="Chọn ngày báo cáo">
        </ng-select>
      </div>
      <div class="col-md-5 text-right">
        <button class="btn btn-success btn-sm" (click)="exporttoMisa(0)">
          <i class="fa fa-upload"></i> Xuất Misa Chi tiết
        </button>
        <button class="btn btn-primary btn-sm" (click)="exporttoMisa(1)">
          <i class="fa fa-upload"></i> Xuất Misa Tổng hợp
        </button>
      </div>
    </div>
  </div>

  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding table-wrapper-scroll-y table_wrapper" id="div#style-scroll-1">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Trạng thái</th>
          <th>Mã khách hàng</th>
          <th>Lô hàng</th>
          <th>Tờ khai</th>
          <th>Ngày tờ khai</th>
          <th>Vận đơn</th>
          <th>MBL</th>
          <th>Số Booking</th>
          <th>Số Invoice</th>
          <th>Số Debit</th>
          <th>Ngày doanh thu</th>
          <th>Ngày vận hành</th>
          <th>Mã tham chiếu</th>
          <th>Loại hình</th>
          <th>Mã phí</th>
          <th>Nhóm DT</th>
          <th>Nhóm TT</th>
          <th>Tên phí</th>
          <th>Mô tả</th>
          <th>Lượng hàng</th>
          <th>ĐVT</th>
          <th>Số lượng</th>
          <th>Đơn giá</th>
          <th>Số tiền</th>
          <th>VAT</th>
          <th>Số tiền <br>(+VAT)</th>
          <th>Tiền tệ</th>
          <th>Tỷ giá</th>
          <th>Hóa đơn Delta</th>
          <th>Số hóa đơn</th>
          <th>Ngày hóa đơn</th>
          <th>Ghi chú</th>
          <th>Tk ghi nợ</th>
          <th>Tk ghi có</th>
          <th>Nội dung</th>
          <th>Người lập</th>
          <th>Tên khách hàng</th>
        </tr>
        <tr>
          <th style="text-align: left; font-weight: 300;">
            <ng-select name="filterType" (change)="filter()" [(ngModel)]="selectedType" [clearable]="false"
              [items]="array" bindLabel="text" bindValue="value"></ng-select>
          </th>
          <th><input class="form-control" #makhSearchInput [(ngModel)]="makhSearch" (input)="filter()" type="text"
              name="makhSearch" /></th>
          <th><input class="form-control" #lohangSearchInput [(ngModel)]="lohangSearch" (input)="filter()" type="text"
              name="lohangSearch" /></th>
          <th><input class="form-control" #tokhaiSearchInput [(ngModel)]="tokhaiSearch" (input)="filter()" type="text"
              name="tokhaiSearch" /></th>
          <th><input class="form-control" #ngaytokhaiSearchInput [(ngModel)]="ngaytokhaiSearch" (input)="filter()"
              type="text" name="ngaytokhaiSearch" /></th>
          <th><input class="form-control" #vandonSearchInput [(ngModel)]="vandonSearch" (input)="filter()" type="text"
              name="vandonSearch" /></th>
          <th><input class="form-control" #mblSearchInput [(ngModel)]="mblSearch" (input)="filter()" type="text"
              name="vandonSearch" /></th>
          <th><input class="form-control" #sobookingearchInput [(ngModel)]="sobookingearch" (input)="filter()"
              type="text" name="sobookingearch" /></th>
          <th><input class="form-control" #soinvoiceSearchInput [(ngModel)]="soinvoiceSearch" (input)="filter()"
              type="text" name="soinvoiceSearch" /></th>
          <th><input class="form-control" #sodebitSearchInput [(ngModel)]="sodebitSearch" (input)="filter()" type="text"
              name="sodebitSearch" /></th>
          <th><input class="form-control" #ngaySearchInput [(ngModel)]="ngaySearch" (input)="filter()" type="text"
              name="ngaySearch" /></th>
          <th><input class="form-control" #ngayHachtoanSearchInput [(ngModel)]="ngayHachtoanSearch" (input)="filter()" type="text"
              name="ngayHachtoanSearchInput" /></th>
          <th><input class="form-control" #referCodeSearchInput [(ngModel)]="referCodeSearch" (input)="filter()" type="text"
              name="referCodeSearchInput" /></th>
          <th><input class="form-control" #loaihinhSearchInput [(ngModel)]="loaihinhSearch" (input)="filter()"
              type="text" name="loaihinhSearch" /></th>
          <th><input class="form-control" #maphiSearchInput [(ngModel)]="maphiSearch" (input)="filter()" type="text"
              name="maphiSearch" /></th>
          <th><input class="form-control" #nhomdtSearchInput [(ngModel)]="nhomdtSearch" (input)="filter()" type="text"
              name="nhomdtSearch" /></th>
          <th><input class="form-control" #nhomttSearchInput [(ngModel)]="nhomttSearch" (input)="filter()" type="text"
              name="nhomttSearch" /></th>
          <th><input class="form-control" #tenphiSearchInput [(ngModel)]="tenphiSearch" (input)="filter()" type="text"
              name="tenphiSearch" /></th>
          <th><input class="form-control" #motaSearchInput [(ngModel)]="motaSearch" (input)="filter()" type="text"
              name="motaSearch" /></th>
          <th><input class="form-control" #luonghangSearchInput [(ngModel)]="luonghangSearch" (input)="filter()"
              type="text" name="luonghangSearch" /></th>
          <th></th>
          <th></th>
          <th></th>
          <th><input class="form-control" #sotienSearchInput [(ngModel)]="sotienSearch" (input)="filter()" type="text"
              name="sotienSearch" /></th>
          <th><input class="form-control" #vattSearchInput [(ngModel)]="vatSearch" (input)="filter()" type="text"
              name="vatSearch" /></th>
          <th><input class="form-control" #tongtienSearchInput [(ngModel)]="sotienvatSearch" (input)="filter()"
              type="text" name="sotienvatSearch" /></th>
          <th><input class="form-control" #tienteSearchInput [(ngModel)]="tienteSearch" (input)="filter()" type="text"
              name="sotienvatSearch" /></th>
          <!-- <th>Tiền tệ</th> -->
          <th></th>
          <th><input class="form-control" #tnkhSearchInput1 [(ngModel)]="hoadonDelta" (input)="filter()" type="text"
            name="hoadonDelta" /></th>
          <th><input class="form-control" #sohoadonSearchInput [(ngModel)]="sohoadonSearch" (input)="filter()"
              type="text" name="sohoadonSearch" /></th>
          <th><input class="form-control" #ngayhoadonSearchInput [(ngModel)]="ngayhoadonSearch" (input)="filter()"
              type="text" name="ngayhoadonSearch" /></th>
          <th><input class="form-control" #ghichuSearchInput [(ngModel)]="ghichuSearch" (input)="filter()" type="text"
              name="ghichuSearch" /></th>
          <th><input class="form-control" #tknoSearchInput [(ngModel)]="tknoSearch" (input)="filter()" type="text"
              name="tknoSearch" /></th>
          <th><input class="form-control" #tkcoSearchInput [(ngModel)]="tkcoSearch" (input)="filter()" type="text"
              name="tkcoSearch" /></th>
          <th><input class="form-control" #noidungSearchInput [(ngModel)]="noidungSearch" (input)="filter()" type="text"
              name="noidungSearch" /></th>
          <th><input class="form-control" #nguoilapSearchInput [(ngModel)]="nguoilapSearch" (input)="filter()"
              type="text" name="nguoilapSearch" /></th>
          <th><input class="form-control" #tnkhSearchInput [(ngModel)]="tnkhSearch" (input)="filter()" type="text"
              name="tnkhSearch" /></th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of visibleData">
          <!-- <td>
            <a [routerLink]="" (click)="showDebt(item)">{{item.customerName}}</a>
          </td> -->
          <td class="trang-thai">
            <span [ngClass]="
              item.duyet? 'label label-success' : 'label label-danger'
              ">{{ item.duyet ? 'Đã duyệt' : 'Chưa duyệt' }}</span>

          </td>
          <td>{{item.customerCode}}</td>
          <td>
            <a [routerLink]="[]" (click)="showJob(item)">{{item.jobId}}</a>
          </td>
          <td>{{item.cdsNumber}}</td>
          <td>{{item.cdsDate|date:'dd/MM/yyyy'}}</td>
          <td>{{item.hawB_HBL}}</td>
          <td>{{item.mawB_MBL}}</td>
          <td>{{item.bookingNo}}</td>
          <td>{{item.invoiceNo}}</td>
          <td>
            <a [routerLink]="[]" (click)="showDebit(item)">{{item.debitNo}}</a>
          </td>
          <td>{{item.ngay|date:'dd/MM/yyyy'}}</td>
          <td>{{item.accountingDate|date:'dd/MM/yyyy' }}</td>
          <td>{{item.referCode}}</td>
          <td>{{item.loaiHinh}}</td>
          <td>{{item.maPhi}}</td>
          <td>{{item.revenueGroupCode}}</td>
          <td>{{item.paymentGroupCode}}</td>
          <td>{{item.tenPhi}}</td>
          <td>{{item.noiDung}}</td>
          <td>{{item.luongHang}}</td>

          <td>{{item.unit}}</td>
          <td>{{item.quantity}}</td>
          <td class="so-tien">{{item.price|VND}}</td>

          <td class="so-tien" [style.backgroundColor]="item.tienTe!='VND'? '#B0DAFF':'white'">{{item.tienTe=='VND'?
            (item.soTien|VND) : (item.soTien | number:'1.2-2')}}</td>
          <td class="so-tien" [style.backgroundColor]="item.tienTe!='VND'? '#B0DAFF':'white'">{{item.tienTe=='VND'?
            (item.vat|VND) : (item.vat | number:'1.2-2')}}</td>
          <td class="so-tien" [style.backgroundColor]="item.tienTe!='VND'? '#B0DAFF':'white'">{{item.tienTe=='VND'?
            (item.tongTien|VND) : (item.tongTien | number:'1.2-2')}}</td>
          <td>{{item.tienTe}}</td>
          <td class="so-tien">{{item.exchangeRate|VND}}</td>
          <td>{{item.soHoaDonDelta}}</td>
          <td>{{item.soHoaDon}}</td>
          <td>{{item.invoiceDate}}</td>
          <td>{{item.note}}</td>
          <td>{{item.debitAccount}}</td>
          <td>{{item.creditAccount}}</td>
          <td>{{item.ghiChu}}</td>
          <td>{{item.employeeName}}</td>
          <td class="column-name">{{item.customerName}}</td>
        </tr>
        <tr *ngIf="listFilter?.length == 0">
          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer no-padding">
    <div *ngIf="listFilter?.length > 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-2">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ totalRows }}</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="dataTables_info">
            <span style="color: rgba(0, 68, 255, 0.926);">Tổng tiền: {{ soTien|VND }}</span>
            <span style="color: rgb(7, 156, 47);"> - VAT: {{ tienVat|VND }}</span>
            <span style="color: rgba(255, 77, 0, 0.926);"> - Tổng tiền(+VAT): {{ tongTien|VND }}</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="dataTables_info">
            <span style="color: rgba(0, 68, 255, 0.926);" title="Tổng tiền">Tổng tiền USD: {{ soTienUsd |number :
              '1.2-2' }}</span>
            <span style="color: rgb(7, 156, 47);"> - VAT: {{ tienVatUsd |number : '1.2-2' }}</span>
            <span style="color: rgba(255, 77, 0, 0.926);" title="Tổng tiền bao gồm VAT"> - Tổng tiền USD(+VAT): {{
              tongTienUsd |number : '1.2-2' }}</span>
          </div>
        </div>
        <div class="col-md-2 text-right">
          <div class="page">
            <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
              (pageChanged)="pageChanged($event)" [itemsPerPage]="sizeOfPage" previousText="&lsaquo;"
              nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>
<modal-shipment *ngIf="viewModalJob" (CloseModal)="closeModalJob()">
</modal-shipment>
<modal-debit-note-canon *ngIf="viewDebitnote" (CloseModal)="closeDebitnote()">
</modal-debit-note-canon>
<!-- <div [ngBusy]="busy"></div> -->