<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Địa điểm giao nhận vận chuyển</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">

            <div class="form-group">
              <label class="col-sm-3 control-label">Địa điểm giao nhận
                <span class="error">*</span>
              </label>
              <div class="col-sm-9">
                <textarea #tenvitri="ngModel" [(ngModel)]="entity.address" required  name="address"
                  class="form-control" rows="2"  focus [readonly]="flagXem"></textarea>
                <small [hidden]="tenvitri.valid || (tenvitri.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Địa điểm giao nhận không được để trống và không vượt quá 255 kí tự
                </small>
              </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Người liên hệ
                </label>
                <div class="col-sm-9">
                  <textarea  [(ngModel)]="entity.contactName"  rows="1" name="contactName"
                    class="form-control" placeholder="Nhập người liên hệ" focus [readonly]="flagXem" ></textarea>
                </div>
              </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">SĐT liên hệ
                </label>
                <div class="col-sm-9">
                  <textarea  [(ngModel)]="entity.contactTel"  rows="1" name="contactTel"
                    class="form-control" placeholder="Nhập sđt liên hệ" focus [readonly]="flagXem" ></textarea>
                </div>
              </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Vị trí
                </label>
                <div class="col-sm-9">
                  <textarea  [(ngModel)]="entity.googleLocations"  rows="1" name="location"
                    class="form-control" placeholder="Nhập vị trí" focus [readonly]="flagXem" ></textarea>
                </div>
              </div>
            <div class="form-group" *ngIf="!flagXem">
                <label class="col-sm-3 control-label">Google Maps URL</label>
                <div class="col-sm-9">
                  <div class="input-group input-group-sm">
                    <input type="text" [(ngModel)]="googleMapUrl" name="googleMapUrl" class="form-control"
                      placeholder="https://maps.app.goo.gl/..." />
                    <span class="input-group-btn">
                      <button class="btn btn-warning btn-flat" type="button" (click)="convertUrlToCoordinates()"
                        [disabled]="flagExtracting">
                        <i [ngClass]="{'fa-refresh fa-spin': flagExtracting, 'fa-exchange': !flagExtracting}"></i> Quy đổi
                      </button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Vĩ độ</label>
                <div class="col-sm-9">
                  <input type="text" [(ngModel)]="entity.latitude" name="latitude"
                    class="form-control" placeholder="Ví dụ: 21.038255"
                    [readonly]="flagXem" />
                </div>
            </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Kinh độ</label>
                <div class="col-sm-9">
                  <input type="text" [(ngModel)]="entity.longtitude" name="longtitude"
                    class="form-control" placeholder="Ví dụ: 105.832454"
                    [readonly]="flagXem" />
                </div>
            </div>
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">K/c đến WB</label>
                <div class="col-sm-9">
                  <div class="input-group">
                    <input type="text" [(ngModel)]="entity.distanceToWB" [mask]="mask0"
                      name="distanceToWB" class="form-control" placeholder="Nhập khoảng cách"
                      [readonly]="flagXem" />
                    <span class="input-group-btn" style="display:flex;">
                      <button type="button" class="btn btn-info btn-flat btn-sm" (click)="viewRouteGoogle()"
                        title="Xem đường đi trên Google Maps" style="margin-right:2px;">
                        <i class="fa fa-map-marker"></i> Google
                      </button>
                      <button type="button" class="btn btn-success btn-flat btn-sm" (click)="viewRouteVietmap()"
                        title="Xem đường đi trên Vietmap">
                        <i class="fa fa-map"></i> Vietmap
                      </button>
                    </span>
                  </div>
                </div>
            </div>
             <div class="form-group">
              <label class="col-sm-3 control-label"></label>
              <div class="col-sm-4">
                <label class="custom-checkbox">
                  <input type="checkbox" [(ngModel)]="entity.checked" name="status" />
                  <span class="helping-el"></span>
                  Chuyển duyệt
                </label>
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="!flagXem && entity.status<1 || _accept " type="submit" class="btn btn-primary btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave">
              <i class="fa fa-save"></i> Lưu</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>

<modal-map-routes #modalRoutes (RouteSelected)="selectRoute($event)"></modal-map-routes>
<modal-vietmap-routes #modalVietmapRoutes (RouteSelected)="selectRoute($event)"></modal-vietmap-routes>
