<div class="box box-primary box-chieu-cao">
  <div class="box-header with-border">
    <div class="row" style="padding-bottom: 3px;">
      <div class="col-md-2">
        <h3 class="box-title">STATEMENT</h3>
      </div>
      <div class="col-md-6">
        <ng-select name="khachhang" [items]="listCustomer" bindLabel="customerName" bindValue="id"
          [(ngModel)]="_customerId" (change)="timKiem()" placeholder="Chọn khách hàng..." title="Chọn khách hàng">
        </ng-select>
      </div>
    </div>
    <div class="row" style="padding-bottom: 3px;">
      <div class="col-md-2">
        <ng-select name="chinhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id" [(ngModel)]="_branchId"
          (change)="timKiem()" title="Chọn chi nhánh..."  [clearable]="false" [readonly]="_quyen>0">
        </ng-select>
      </div>

      <div class="col-md-3">
        <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
          class="form-control" title="Chọn theo ngày ghi nhận doanh thu" />
      </div>
      <div class="col-md-3">
        <ng-select name="loaihinh" [items]="listTypes" bindLabel="categoryName" bindValue="categoryCode"
          [(ngModel)]="_type" placeholder="Chọn loại hình..." title="Chọn loại hình..." (change)="timKiem()" [clearable]="true">
        </ng-select>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
            placeholder="Keyword: JobId, InvoiceNo..." title="Nhập số JobId,DebitNo, Vận đơn, Số hóa đơn..." />
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()" title="">
              <i class="fa fa-search"></i>
            </button>
            <button class="btn btn-success btn-sm" appPermission appFunction="STATEMENT" appAction="EXPORT"
              (click)="exportExcel()" title="Xuất dữ liệu">
              <i class="fa fa-file-excel-o"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding table-wrapper-scroll-y table_wrapper" id="div#style-scroll-1">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <!-- <th rowspan="2">Mã khách hàng</th> -->
          <th rowspan="2">Tên khách hàng</th>
          <th rowspan="2">Số Debit</th>
          <th>Loại hình</th>
          <th rowspan="2">Ngày doanh thu</th>
          <th rowspan="2">Lô hàng</th>
          <th rowspan="2">Tờ khai</th>
          <th rowspan="2">Ngày tờ khai</th>
          <th rowspan="2">H-Bill No.</th>
          <th rowspan="2">M-Bill No.</th>
          <th rowspan="2">Invoice No.</th>
          <th rowspan="2">Booking No.</th>

          <th>Lượng hàng</th>
          <th>Ghi chú</th>
          <th>Số tiền</th>
          <th>VAT</th>
          <th>Số tiền <br>(+VAT)</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listData">
          <!-- <td>
            <a [routerLink]="" (click)="showDebt(item)">{{item.customerName}}</a>
          </td> -->
          <!-- <td>{{item.customerCode}}</td> -->
          <td class="column-name">{{item.customerName}}</td>
          <td>
            <a [routerLink]="[]" (click)="showDebit(item)">{{item.debitNo}}</a>
          </td>
          <td>{{item.loaiHinh}}</td>
          <td>{{item.ngayDoanhThu|date:'dd-MMM-yy'}}</td>
          <td>{{item.jobId}}</td>
          <td>{{item.cdsNumber}}</td>
          <td>{{item.ngayToKhai|date:'dd-MMM-yy'}}</td>
          <td>{{item.hawB_HBL}}</td>
          <td>{{item.mawB_MBL}}</td>
          <td>{{item.invoiceNo}}</td>
          <td>{{item.bookingNo}}</td>
          <td>{{item.luongHang}}</td>
          <td>{{item.note}}</td>
          <td class="so-tien">{{item.soTien|VND}}</td>
          <td class="so-tien">{{item.vat|VND}}</td>
          <td class="so-tien">{{item.tongTien|VND}}</td>
          <td class="trang-thai">
            <span [ngClass]="
              item.trangThai? 'label label-success' : 'label label-danger'
              ">{{ item.trangThai ? 'Đã duyệt' : 'Chưa duyệt' }}</span>

          </td>
        </tr>
        <tr *ngIf="listData?.length == 0">
          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer no-padding">
    <div *ngIf="listData?.length > 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-3">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ totalRows }}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="dataTables_info">
            <span style="color: rgba(0, 68, 255, 0.926);" title="Tổng tiền">Tổng tiền: {{ soTien|VND }}</span>
            <span style="color: rgb(7, 156, 47);"> - VAT: {{ tienVat|VND }}</span>
            <span style="color: rgba(255, 77, 0, 0.926);" title="Tổng tiền bao gồm VAT"> - Tổng tiền(+VAT): {{
              tongTien|VND }}</span>
          </div>
        </div>
        <div class="col-md-3 text-right">
          <div class="page">
            <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
              (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>
<!-- <div [ngBusy]="busy"></div> -->
