<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalViewWorkflows="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Công việc</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalViewWorkflows.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm"
          *ngIf="entity">
          <div class="box-body">
            <div class="form-group">
                <label class="col-sm-3 control-label">Khách hàng
                  <span class="error">*</span>
                </label>
                <div class="col-sm-2">
                  <input class="form-control" type="text" name="makh" [(ngModel)]="customerCode" readonly>
                </div>
                <div class="col-sm-7">
                    <ng-select [items]="listCustomer"  name="customercode"
                    bindLabel="customerName" 
                    bindValue="id" 
                    disabled
                    [(ngModel)]="entity.customerId">
                    </ng-select>
                </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">JobId
                <span class="error">*</span>
              </label>
              <div class="col-sm-6">
                  <label class="form-control"><b style="color: blue;">{{entity.jobId}}</b></label>
              </div>
              <div class="col-sm-3" style="justify-content: flex-end; display: flex;">
                <button type="button" class="btn btn-primary btn-sm" (click)="attack()">
                  <i class="fa fa-file"></i> Đính kèm</button>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Nhóm thực hiên công việc
                <span class="error">*</span>
              </label>
              <div class="col-sm-6">
                  <ng-select [items]="listHandlingGroup"  #handlinggroupId ="ngModel" name="hadlinggroupid" required
                  bindLabel="handlingGroupName" 
                  bindValue="id" 
                  disabled
                  [(ngModel)]="entity.handlingGroupId">
                  </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Mức độ phức tạp
                <span class="error">*</span>
              </label>
              <div class="col-sm-6">
                  <ng-select [items]="listToughness"  #tougnessId ="ngModel" name="tougnessId" required
                  bindLabel="categoryName" 
                  bindValue="id" 
                  disabled
                  [(ngModel)]="entity.jobToughness">
                  </ng-select>
              </div>
            <div></div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Thời gian dự kiến
                <span class="error">*</span>
              </label>
              <div class="col-sm-4">
                <label class="form-control">{{entity.estimatedStartTime | date:'dd/MM/yyyy HH:mm'}}</label>
              </div>
            </div>
            <div class="form-group">     
              <label class="col-sm-3 control-label">Hoàn thành trước
                <span class="error">*</span>
              </label>
              <div class="col-sm-4">
                <label class="form-control">{{entity.estimatedFinishTime | date:'dd/MM/yyyy HH:mm'}}</label>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Nhóm công việc
                <span class="error">*</span>
              </label>
              <div class="col-sm-6">
                  <ng-select [items]="listJobGroup"  #nhomcongviec ="ngModel" name="nhomcongviec" required
                  bindLabel="jobGroupName" 
                  bindValue="id" 
                  disabled
                  [(ngModel)]="entity.jobGroupId">
                  </ng-select>
              </div>
            <div></div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Tên công việc
                <span class="error">*</span>
              </label>
              <div class="col-sm-9">
                <div *ngFor="let item of listJobGroupOption">
                    <label class="custom-checkbox">
                      <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
                      <span class="helping-el"></span>
                       {{item.optionName}}
                    </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Nội dung công việc</label>
              <div class="col-sm-9">
                <textarea class="form-control textrea-size" [(ngModel)]="entity.jobDescription" name="jobdescription" rows="3"
                  placeholder="Nhập nội dung công việc" readonly></textarea>
              </div>
            </div>
              <div class="form-group">
              <label class="col-sm-9 control-label">Mã tham chiếu</label>
              <div class="col-sm-9">
                <input class="form-control" [(ngModel)]="entity.referCode" type="text" name="refCode"
                />
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Thời gian nhận hàng</label>
              <div class="col-sm-4">
                <span class="form-control" >{{entity.pickupTime | date:'dd/MM/yyyy HH:mm'}} </span>
              </div>
              <label class="col-sm-2 control-label">Thời gian giao hàng</label>
              <div class="col-sm-4">
                <span class="form-control" >{{entity.deliveryTime | date:'dd/MM/yyyy HH:mm'}} </span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Địa điểm nhận hàng</label>
              <div class="col-sm-10">
                <textarea class="form-control" [(ngModel)]="entity.pickupLocation" type="text" name="pickupLocation"
                [disabled]="true"  rows="1"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Địa điểm giao hàng</label>

              <div class="col-sm-10">
                <textarea class="form-control" [(ngModel)]="entity.deliveryLocation" type="text" name="deliveryLocation"
                [disabled]="true" rows="1"></textarea>
              </div>
            </div>

            <div class="form-group" style="margin-top: 10px" *ngIf="entity.item!=null">
              <tabset>
                <tab heading="Chi tiết">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">HAWB_HBL</label>
                    <div class="col-sm-4">
                      <input class="form-control" [(ngModel)]="entity.item.hawB_HBL" type="text" name="hawB_HBL"
                        placeholder="HAWB_HBL" readonly />
                    </div>
                    <label class="col-sm-2 control-label">MAWB_MBL</label>
                    <div class="col-sm-4">
                      <input class="form-control" [(ngModel)]="entity.item.mawB_MBL" type="text" name="mawB_MBL"
                        placeholder="MAWB_MBL" readonly />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Số tờ khai</label>
                    <div class="col-sm-10">
                      <input class="form-control" [(ngModel)]="entity.item.cdsNumber" type="text" name="cdsnumber"
                        placeholder="Số tờ khai" readonly />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Ngày tờ khai</label>
                    <div class="col-sm-4 date">
                      <span class="form-control">{{entity.item.cdsDate | date:'dd/MM/yyyy'}}</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Số Invoice</label>
                    <div class="col-sm-4">
                      <input class="form-control" [(ngModel)]="entity.item.invoiceNo" type="text" name="invoiceno"
                        placeholder="Số hóa đơn" readonly/>
                    </div>
                    <label class="col-sm-2 control-label">Số Booking</label>
                    <div class="col-sm-4">
                      <input class="form-control" [(ngModel)]="entity.item.bookingNo" type="text" name="bookingNo"
                        placeholder="Số Booking" readonly/>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 control-label"> Hàng xuất/nhập
                    </label>
                    <div class="col-sm-4">
                      <ng-select name="exim" [items]="listImportExports" bindLabel="categoryName" bindValue="id"
                        [(ngModel)]="entity.item.importExport" placeholder="Hàng xuất/nhập" disabled>
                      </ng-select>
                    </div>
                    <label class="col-sm-2 control-label"> Loại hình
                    </label>
                    <div class="col-sm-4">
                      <ng-select name="currency" [items]="listShipmentType" bindLabel="categoryName" bindValue="id"
                        [(ngModel)]="entity.item.shipmentType" placeholder="Loại hình" disabled>
                      </ng-select>
                    </div>
                  </div>
                </tab>
                <tab heading="Thông tin hàng hóa">
                <fieldset>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Số kiện</label>
                    <div class="col-sm-3">
                      <input type="number" class="form-control" [(ngModel)]="entity.numberOfPackage"
                        name="numberOfPackage" readonly />
                    </div>
                    <label class="col-sm-3 control-label">Số pallet</label>
                    <div class="col-sm-3">
                      <input type="number" class="form-control" [(ngModel)]="entity.numberOfPallet"
                        name="numberOfPallet" readonly />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Trọng lượng (kg)</label>
                    <div class="col-sm-3">
                      <input type="number" class="form-control" [(ngModel)]="entity.weight"
                        name="weight" readonly />
                    </div>
                    <label class="col-sm-3 control-label">Số khối (cbm)</label>
                    <div class="col-sm-3">
                      <input type="number" class="form-control" [(ngModel)]="entity.volume"
                        name="volume" readonly />
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Số cont</label>
                    <div class="col-sm-3">
                      <input type="number" class="form-control" [(ngModel)]="entity.numberOfCont"
                        name="numberOfCont" readonly />
                    </div>
                  </div>
                  <button type="button" class="btn btn-link" (click)="showContSealDetail()">Chi tiết Cont/Seal/Pakage</button>
                  <div *ngIf="_flagContSeal" class="form-group">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <!-- <p>Thông tin chi tiết container/seal</p> -->
                        <table class="table table-bordered">
                          <thead>
                            <tr>
                              <th class="column-ten">Loại</th>
                              <th class="column-ten">Số cont</th>
                              <th class="column-ten">Số seal</th>
                              <th class="column-so-tien">GW</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of entity.workflowContSeals; let i = index">
                              <td class="column-ten">
                                <ng-select name="tkno{{item.id}}" [items]="listContTypes" bindLabel="categoryName" bindValue="categoryCode"
                                  [(ngModel)]="item.contType" placeholder="Loại cont" disabled                                    >
                                </ng-select>
                              </td>
                              <td class="column-ten">
                                {{item.contNo}}
                              </td>
                              <td class="column-ten">
                                {{item.sealNo}}
                              </td>
                              <td class="column-so-tien">
                                {{item.gW}}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                  </div>
                  <!-- etc -->
                </fieldset>
                </tab>
                <tab heading="Thông tin giao nhận" >
                  <fieldset>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Nơi Nhận hàng
                      </label>
                      <div class="col-sm-9">
                        <textarea  class="form-control textrea-size" [(ngModel)]="entity.item.pickupPlace"
                        name="placeOfLoading" readonly rows="2"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Nơi Giao hàng
                      </label>
                      <div class="col-sm-9">
                        <textarea  class="form-control textrea-size" [(ngModel)]="entity.item.deliveryPlace"
                        name="placeOfDelivery" readonly rows="2"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-3 control-label">Thời gian cut off/ hạn lệnh
                      </label>
                      <div class="col-sm-6">
                        <label>{{entity.item.cutoffTime | date:'dd/MM/yyyy HH:mm'}}</label>
                      </div>
                    </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Thời gian giao hàng
                    </label>
                    <div class="col-sm-6">
                      <label>{{entity.item.deliveryTime | date:'dd/MM/yyyy HH:mm'}}</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-3 control-label">Thời gian lấy hàng
                    </label>
                    <div class="col-sm-6">
                      <label>{{entity.item.pickupTime | date:'dd/MM/yyyy HH:mm'}}</label>
                    </div>
                  </div>
                  <!-- etc -->
                </fieldset>
                </tab>
              </tabset>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button type="button" (click)="modalViewWorkflows.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
<modal-attachfile *ngIf="viewAttackFiles" (CloseModal)="closeAttackModal()">
</modal-attachfile>
<!-- <modal-workflow-attack-files *ngIf="viewAttackFiles" (CloseModal)="closeAttackModal()">
</modal-workflow-attack-files> -->
