<div>
    <tabset>
        <tab heading="Công việc">
            <div class="box box-primary box-chieu-cao">
                <div class="row">
                    <div class="box-header with-border">
                        <div class="col-md-2">
                            <h3 class="box-title" style="color: blue;">Công việc</h3>
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()"
                                    [(ngModel)]="keyword" placeholder="Từ khóa" />
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-4 text-right">

                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding" id="style-scroll-1">
                    <table class="table table-bordered  table-hover">
                        <thead>
                            <tr>
                                <th>Id/Khách hàng/Tên CV</th>
                                <th>Chi tiết Công việc</th>
                                <th>Thông tin Job</th>
                                <th>Mã tham chiếu</th>
                                <th>Người tạo việc/SĐT</th>
                                <th>T/g CS</th>
                                <th>Người giao việc/SĐT</th>
                                <th *ngIf="adminPermission">Người thực hiện</th>
                                <th>T/g điều chỉnh</th>
                                <th>OpMan ghi chú</th>
                                <th>Tác vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listCongviec">
                                <td>
                                    <span style="color: red;"><b>Id: {{ item.id }}</b></span>
                                    <br>
                                    <span>C: {{item.customerName}}</span>
                                    <br>
                                    <a style="color: blue;" [routerLink]="[]" (click)="viewNhanviec(item.id)">
                                        <b>J: {{item.jobName}}</b></a>
                                </td>
                                <td>{{item.jobDescription}}</td>
                                <td style="width:200px">
                                    <span style="color: rgb(8, 71, 165);">STK: {{item.item?.cdsNumber}}</span>
                                    <br>
                                    <span style="color: rgb(6, 6, 180);">VĐ: {{item.item?.hawB_HBL}}</span>
                                    <br>
                                    <span style="color: rgb(43, 5, 124);">Inv: {{item.item?.invoiceNo}}</span>
                                    <br>
                                    <span style="color: rgb(5, 4, 83);">Bk: {{item.item?.bookingNo}}</span>
                                </td>
                                <td>{{item.createdByFullName}}</td>
                                <td>{{item.referCode}}</td>
                                <td>
                                    <span style="color: rgb(8, 71, 165);">B: {{item.estimatedStartTime}}</span>
                                    <br>
                                    <span style="color: darkblue;">S: {{item.estimatedFinishTime}}</span>
                                </td>
                                <td>{{item.jobAssigningUserFullName}}</td>
                                <td *ngIf="adminPermission">{{item.jobAssignedUserFullName}}</td>
                                <td>
                                    <span style="color: darkmagenta;">B: {{item.opManChangedEstimatedStartTime}}</span>
                                    <br>
                                    <span style="color: darkred;">E: {{item.opManChangedEstimatedFinishTime}}</span>
                                </td>
                                <td>{{item.opManUpdateNotes }}</td>

                                <td>
                                    <button type="button" class="btn btn-success btn-sm" (click)="procedure(item)">
                                        <i class="fa fa-caret-square-o-right"></i> Tiến trình
                                    </button>
                                    <button type="button" style="background-color:chocolate; color: white;"
                                        class="btn btn-sm" title="Chứng từ đính kèm" (click)="showFiles(item)">
                                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Chứng từ...
                                    </button>
                                    <!-- <button class="btn btn-primary btn-sm" (click)="comment(item.id)">
                                        <i class="fa fa-comments-o"></i> Comment
                                    </button> -->
                                    <button type="button" *ngIf="isPayment && !item.jobLocked"
                                        class="btn btn-info btn-sm" (click)="showPayment(item.id,0)">
                                        <i class="fa fa-money" aria-hidden="true"></i> Thanh toán tiền mặt
                                    </button>
                                    <button type="button" *ngIf="isPayment && !item.jobLocked"
                                        class="btn btn-warning btn-sm" (click)="showPayment(item.id,1)">
                                        <i class="fa fa-money" aria-hidden="true"></i> Thanh toán trả sau
                                    </button>
                                </td>
                            </tr>
                            <tr *ngIf="listCongviec?.length == 0">
                                <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer no-padding">
                    <div *ngIf="listCongviec?.length > 0" class="col-md-12 footer-phantrang">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="dataTables_info">
                                    <span>Tổng số bản ghi: {{ totalRows }}</span>
                                </div>
                            </div>
                            <div class="col-md-7 text-right">
                                <div class="page">
                                    <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
                                        (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize"
                                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                                        lastText="&raquo;">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </tab>
        <tab heading="Công việc hoàn thành">
            <div class="box box-primary box-chieu-cao">
                <div class="row">
                    <div class="box-header with-border">
                        <div class="col-md-2">
                            <h3 class="box-title" style="color: blue;">Công việc hoàn thành</h3>
                        </div>
                        <div class="col-md-3">
                            <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
                                class="form-control">
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                <input type="text" class="form-control" name="filterHT"
                                    (keyup.enter)="timKiemHoanthanh()" [(ngModel)]="keywordHT" placeholder="Từ khóa" />
                                <span class="input-group-btn">
                                    <button class="btn btn-info btn-flat btn-sm" type="button"
                                        (click)="timKiemHoanthanh()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Id/Khách hàng/Tên CV</th>
                                <th>JobId/Chi tiết CV</th>
                                <th>Thông tin Job</th>
                                <th>Mã tham chiếu</th>
                                <th>Người tạo việc/SĐT</th>
                                <th>Người giao việc/SĐT</th>
                                <th *ngIf="adminPermission">Người thực hiện</th>
                                <th>OpMan ghi chú</th>
                                <th>Đánh giá/Nhận xét CS</th>
                                <th>Đánh giá/Nhận xét OpMan</th>
                                <th>Tác vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of listHoanthanh">
                                <td>
                                    <span style="color: red;"><b>Id: {{ item.id }}</b></span>
                                    <br>
                                    <span>C: {{item.customerName}}</span>
                                    <br>
                                    <a style="color: blue;" [routerLink]="[]" (click)="viewNhanviec(item.id)">
                                        <b>J: {{item.jobName}}</b></a>
                                </td>
                                <td>
                                    <span>{{item.jobDescription}}</span>
                                    <br>
                                </td>
                                <td style="width:200px">
                                    <span style="color: rgb(8, 71, 165);">STK: {{item.item?.cdsNumber}}</span>
                                    <br>
                                    <span style="color: rgb(6, 6, 180);">VĐ: {{item.item?.hawB_HBL}}</span>
                                    <br>
                                    <span style="color: rgb(43, 5, 124);">Inv: {{item.item?.invoiceNo}}</span>
                                    <br>
                                    <span style="color: rgb(5, 4, 83);">Bk: {{item.item?.bookingNo}}</span>
                                </td>
                                <td>{{item.referCode}}</td>
                                <td>{{item.createdByFullName}}</td>
                                <td>{{item.jobAssigningUserFullName}}</td>
                                <td *ngIf="adminPermission">{{item.jobAssignedUserFullName}}</td>
                                <td>{{item.opManUpdateNotes }}</td>
                                <td>{{item.opManGradeByOp}}</td>
                                <td>{{item.csGradeByOp}}</td>
                                <td>
                                    <button class="btn btn-primary btn-sm" (click)="procedure(item)">
                                        <i class="fa fa-upload"></i> Ảnh/POD
                                    </button>
                                    <button *ngIf="isPayment && !item.jobLocked" class="btn btn-info btn-sm"
                                        (click)="showPayment(item.id,0)">
                                        <i class="fa fa-money" aria-hidden="true"></i> Thanh toán tiền mặt
                                    </button>
                                    <button *ngIf="isPayment && !item.jobLocked" class="btn btn-warning btn-sm"
                                        (click)="showPayment(item.id,1)">
                                        <i class="fa fa-money" aria-hidden="true"></i> Thanh toán trả sau
                                    </button>
                                </td>
                            </tr>
                            <tr *ngIf="listHoanthanh?.length == 0">
                                <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer no-padding">
                    <div *ngIf="listHoanthanh?.length > 0" class="col-md-12 footer-phantrang">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="dataTables_info">
                                    <span>Tổng số bản ghi: {{ totalRowsHT }}</span>
                                </div>
                            </div>
                            <div class="col-md-7 text-right">
                                <div class="page">
                                    <pagination [totalItems]="totalRowsHT" [(ngModel)]="pageIndex" [maxSize]="5"
                                        (pageChanged)="pageHoanthanhChanged($event)" [itemsPerPage]="pageSize"
                                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                                        lastText="&raquo;">
                                    </pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </tab>
    </tabset>
    <modal-view-workflows *ngIf="viewModalWorkflows">
    </modal-view-workflows>
    <modal-op-workflow *ngIf="viewOpAction" (CloseModal)="closeModal()">
    </modal-op-workflow>
    <modal-workflow-attack-files *ngIf="viewAttackFiles" (CloseModal)="closeAttackModal()">
    </modal-workflow-attack-files>
</div>