<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalDispatchOrderAddEdit="bs-modal"
  [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="dialog-static-name"
  (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Lệnh vận chuyển  <a style="font-size: 14px;">{{entity?.createdByName}}</a></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalDispatchOrderAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <div class="form-group">
              <label class="col-sm-2 control-label">RefNo</label>
              <div class="col-sm-3 control-label-text-left">
                <span style="font-weight: bold; color: blue;"> {{entity.refNo}}</span>
              </div>
              <label class="col-sm-2 control-label">Ngày</label>
              <div class="col-sm-3 control-label-text-left">
                <span style="font-weight: bold; color: blue;"> {{entity.createdDate | date:'dd/MM/yyyy'}}</span>
              </div>
              <div class="col-sm-2">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label"></label>
              <div class="col-sm-10">
                <label class="custom-checkbox">
                  <input type="checkbox" [(ngModel)]="entity.isSubcontractors" name="isSubcontractors" disabled/>
                  <span class="helping-el"></span>
                  Xe thuê ngoài
                </label>
              </div>
            </div>
            <div class="form-group" *ngIf="entity.isSubcontractors">
              <label class="col-sm-2 control-label">Nhà cung cấp
                <span class="error">*</span>
              </label>
              <div class="col-sm-10">
                <ng-select name="shippingUnitId" [items]="listSupplier" bindLabel="supplierName" bindValue="id"
                disabled [(ngModel)]="entity.shippingUnitId" >
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Loại xe
                <span class="error">*</span>
              </label>
              <div class="col-sm-4">
                <ng-select name="vihicleType" [items]="listVihicleType" bindLabel="categoryName" bindValue="id"
                  [(ngModel)]="entity.vihicleType" disabled>
                </ng-select>
              </div>
            </div>
            <div class="form-group" *ngIf="!entity.isSubcontractors">
              <label class="col-sm-2 control-label">Xe/Mooc
                <span class="error">*</span>
              </label>
              <div class="col-sm-2">
                <ng-select name="vihicleId" [items]="listVihicle" bindLabel="licensePlates" bindValue="id"
                 [(ngModel)]="entity.vihicleId" disabled>
                </ng-select>
              </div>
              <div class="col-sm-2">
                <ng-select name="moocId" [items]="listMooc" bindLabel="licensePlates" bindValue="id"
                  [(ngModel)]="entity.moocId" placeholder="Mooc" disabled>
                </ng-select>
              </div>
              <label class="col-sm-2 control-label">Định mức</label>
              <div class="col-sm-1">
                <input type="number" #tenNcc="ngModel" [(ngModel)]="entity.oilQuota" name="oilQuota"
                  class="form-control" focus readonly />
              </div>
              <label class="col-sm-1 control-label">Giá dầu</label>
              <div class="col-sm-2">
                <input type="number" [(ngModel)]="entity.oilPrice" name="oilPrice" class="form-control" focus disabled/>
              </div>
            </div>
            <div class="form-group" *ngIf="entity.isSubcontractors">
              <label class="col-sm-2 control-label">Biến số xe</label>
              <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="entity.vihiclelLicensePlates" type="text"
                  name="vihiclelLicensePlates" disabled/>
              </div>
              <label class="col-sm-2 control-label">Biến Mooc</label>
              <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="entity.moocLicensePlates" type="text" name="moocLicensePlates"
                disabled/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Lái xe 1 <span class="error">*</span>
              </label>
              <div class="col-sm-5" *ngIf="!entity.isSubcontractors">
                <ng-select name="driverId" [items]="listEmployee" bindLabel="employeeFullName" bindValue="id"
                disabled [(ngModel)]="entity.driverId">
                </ng-select>
              </div>
              <div class="col-sm-5" *ngIf="entity.isSubcontractors">
                <input class="form-control" [(ngModel)]="entity.driverName" type="text" name="driverName"
                disabled>
              </div>
              <label class="col-sm-1 control-label">SĐT</label>
              <div class="col-sm-4">
                <input class="form-control" [(ngModel)]="entity.driverTel" type="text" name="driverTel"
                disabled/>
              </div>
            </div>
            <div class="form-group" *ngIf="!entity.isSubcontractors">
              <label class="col-sm-2 control-label">Lái xe ghi nhận dầu <span class="error">*</span>
              </label>
              <div class="col-sm-5">
                <ng-select name="fueldriverId" [items]="listEmployee" bindLabel="employeeFullName" bindValue="id"
                disabled [(ngModel)]="entity.fuelDriverId">
                </ng-select>
              </div>
            </div>
            <div class="form-group" *ngIf="!entity.isSubcontractors">
              <label class="col-sm-2 control-label">Điều chỉnh định mức
              </label>
              <div class="col-sm-2">
                <ng-select name="quotaAdjusted" bindLabel="id" bindValue="id" [items]="listDieuchinh"
                  [(ngModel)]="entity.quotaAdjusted" disabled>
                </ng-select>
              </div>
              <label class="col-sm-2 control-label">Lý do điều chỉnh</label>
              <div class="col-sm-6">
                <textarea class="form-control" [(ngModel)]="entity.moocLicensePlates" name="moocLicensePlates" rows="1"
                disabled></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Cung đường toàn tuyến <span class="error">*</span></label>
              <div class="col-sm-10">
                <textarea class="form-control" [(ngModel)]="entity.fullRoute" name="fullRoute" rows="1" required
                disabled></textarea>
              </div>
            </div>
            <div class="form-group" *ngIf="entity.isSubcontractors">
              <label class="col-sm-2 control-label">Mã cung đường tính phí</label>
              <div class="col-sm-4">
                <ng-select name="listTollRoute" [items]="listTollRoute" bindLabel="tollRouteName"
                  bindValue="tollRouteCode" disabled
                  [(ngModel)]="entity.subcontractorsQuoteRouteCode" >
                </ng-select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Tóm tắt Lệnh</label>
              <div class="col-sm-10">
                <textarea class="form-control" [(ngModel)]="entity.dispatchSummarize" name="note" rows="4"
                disabled></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Ghi chú</label>
              <div class="col-sm-10">
                <textarea class="form-control" [(ngModel)]="entity.note" name="ghichu" rows="1"
                disabled></textarea>
              </div>
            </div>
            <div class="form-group" *ngIf="!entity.isSubcontractors">
              <label class="col-sm-2 control-label">Km định mức</label>
              <div class="col-sm-1">
                <input type="text" class="form-control" name="kmQuota"
                                style="text-align: right;" [(ngModel)]="entity.kmQuota" (change)="changedKmQuota()"
                                 [mask]="maskNumber" [required]="!entity.isSubcontractors"/>
              </div>
            </div>
            <!-- Đoạn hiển thị các thông tin chi tiết -->
            <div class="form-group" style="overflow: visible;">
              <tabset>
                <tab heading="PCCV">
                  <div class="form-group">
                    <div class="table-responsive" style="padding-left:15px; padding-right:15px">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Id công việc</th>
                            <th>JobId</th>
                            <th>Mã khách hàng</th>
                            <th>Số ContSeal</th>
                            <th>Trạng thái JOB</th>
                            <th>Ghi chú</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.listDispatchOrderDetailed">
                            <td>
                              <a style="color: blue;">
                                <b>{{item.workflowId}}</b></a>
                            </td>
                            <td>{{item.jobId }}</td>
                            <td>{{item.customerCode }}</td>
                            <td>{{item.contSeal}}</td>
                            <td>{{item.jobLockedName}}</td>
                            <td>{{item.note }}</td>
                          </tr>
                          <tr *ngIf="entity.listDispatchOrderDetailed?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
                <tab heading="Cung đường" *ngIf="!entity.isSubcontractors">
                  <div class="form-group">
                    <div class="table-responsive" style="padding-left:15px; padding-right:15px">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Mã</th>
                            <th>Tên cung đường</th>
                            <th>km</th>
                            <th>Số trạm thu phí</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.listDispatchOrderRoutes">
                            <td>{{item.routeCode}}</td>
                            <td>{{item.routeName}}</td>
                            <td style="text-align: right;">{{item.distance | number}}</td>
                            <td style="text-align: right;">{{item.ticketStattions | number}}</td>
                          </tr>
                          <tr *ngIf="entity.listDispatchOrderRoutes?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
                <tab *ngIf="entity.status>1" heading="Vé giấy">
                  <div class="form-group">
                    <div class="col-sm-2">
                      <button [disabled]=" job_locked  || entity.locked" type="button"
                        class="btn btn-sm btn-primary" (click)="newTicket()">Thêm</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="table-responsive" style="padding-left:15px; padding-right:15px">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Mã phí</th>
                            <th hidden>Tên phí</th>
                            <th>Tên trạm</th>
                            <th>Số hóa đơn</th>
                            <th>Số tiềm</th>
                            <th>Vat</th>
                            <th>Ghi chú</th>
                            <th *ngIf="entity.status<4"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.listDispatchOrderTicket; let indexOfelement=index;">
                            <td style="width: 100px;">
                              <ng-select name="listFeeTicket{{indexOfelement}}" [items]="listFee" bindLabel="feeCode"
                                bindValue="id" [clearable]="false" (change)="feeCodeTicketChanged(item,$event)"
                                [(ngModel)]="item.feeId" required>
                              </ng-select>
                              <!-- {{item.feeCode}} -->
                            </td>
                            <td style="width: 150px;" hidden>
                              <ng-select name="listFeeTicketName{{indexOfelement}}" [items]="listFee"
                                bindLabel="feeName" bindValue="id" [clearable]="false"
                                (change)="feeCodeTicketChanged(item,$event)" [(ngModel)]="item.feeId" required>
                              </ng-select>
                            </td>
                            <td>{{item.tollStationName}}</td>
                            <td>{{item.number}}</td>
                            <td style="text-align: right;">{{item.cost | number}}</td>
                            <td style="text-align: right;">{{item.vat | number}}</td>
                            <td style="width:20%">{{item.note}}</td>
                            <td style="width:150px">
                              <button  [disabled]="job_locked || entity.locked"  type="button"
                                class="btn btn-success btn-sm" (click)="updateTicket(item,indexOfelement)">
                                <i class="fa fa-trash"></i>
                              </button>
                              <button  [disabled]=" job_locked || entity.locked"  type="button"
                                class="btn btn-warning btn-sm" (click)="deleteTicket(indexOfelement)">
                                <i class="fa fa-trash"></i>
                              </button>
                            </td>
                          </tr>
                          <tr *ngIf="entity.listDispatchOrderTicket?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
                <tab *ngIf="!entity.isSubcontractors" heading="ETC">
                  <div class="form-group">
                    <div class="col-sm-2">
                      <button [disabled]=" job_locked || entity.locked" type="button"
                        class="btn btn-sm btn-primary" (click)="newEtc()">Thêm</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <div style="padding-left:15px; padding-right:15px">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Mã phí</th>
                            <th hidden>Tên phí</th>
                            <th>Tên trạm</th>
                            <th>Số tiềm</th>
                            <th>Vat</th>
                            <th>Ghi chú</th>
                            <th *ngIf="entity.status<5"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.listDispatchOrderEtc;let indexOfelement=index;">
                            <td style="width: 150px;">
                              <ng-select name="listFeeDispatchOrderEtc{{indexOfelement}}" [items]="listFee"
                                bindLabel="feeCode" bindValue="id" (change)="feeCodeEtcChanged(item,$event)"
                                [(ngModel)]="item.feeId" required>
                              </ng-select>
                              <!-- {{item.feeCode}} -->
                            </td>
                            <td style="width: 250px;" hidden>
                              <ng-select name="listFeeNameDispatchOrderEtc{{indexOfelement}}" [items]="listFee"
                                bindLabel="feeName" bindValue="id" (change)="feeCodeEtcChanged(item,$event)"
                                [(ngModel)]="item.feeId" required>
                              </ng-select>
                            </td>
                            <td>
                              <ng-select name="listDispatchOrderEtc{{indexOfelement}}" [items]="listTollStation"
                                bindLabel="tollStationName" bindValue="id" [(ngModel)]="item.tollStationId" required>
                              </ng-select>
                            </td>
                            <td style="width: 100px;">
                              <input type="text" class="form-control" name="sotienEtc{{indexOfelement}}"
                                style="text-align: right;" [(ngModel)]="item.cost" placeholder="Số tiền"
                                [readonly]="flagXem" [mask]="maskNumber" required />
                            </td>
                            <td style="width: 100px;">
                              <input type="text" class="form-control" name="vatEtc{{indexOfelement}}"
                                style="text-align: right;" [(ngModel)]="item.vat" placeholder="Vat" [readonly]="flagXem"
                                [mask]="maskNumber" required />
                            </td>
                            <td style="width:20%">
                              <input class="form-control" [(ngModel)]="item.note" type="text"
                                name="note{{indexOfelement}}" [readonly]="flagXem" />
                              <!-- {{item.note}} -->
                            </td>
                            <td style="width:10%">
                              <button [disabled]=" job_locked || entity.locked"  type="button"
                                class="btn btn-warning btn-sm" (click)="deleteEtc(indexOfelement)">
                                <i class="fa fa-trash"></i>
                              </button>
                            </td>
                          </tr>
                          <tr *ngIf="entity.listDispatchOrderEtc?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
                <tab heading="Bến bãi">
                  <div class="form-group">
                    <div class="col-sm-2">
                      <button [disabled]="job_locked || entity.locked" type="button"
                        class="btn btn-sm btn-primary" (click)="newParking()">Thêm</button>
                    </div>
                  </div>
                  <div class="form-group girlLookAtThatBody">
                    <div class="table-bordered" style="padding-left:15px; padding-right:15px">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th class="column-ten-sm">Mã phí</th>
                            <th class="column-ten-md">Tên phí</th>
                            <th>Tên Bãi đỗ xe</th>
                            <th>Địa chỉ</th>
                            <th>Số tiềm</th>
                            <th>Vat</th>
                            <th>Ghi chú</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.listDispatchOrderParkingTicket;let indexOfelement=index;">
                            <td style="width: 150px;">
                              <ng-select name="listFeeParking{{indexOfelement}}" [items]="listFee" bindLabel="feeCode"
                                bindValue="id" (change)="feeCodeParkingChanged(item,$event)" [(ngModel)]="item.feeId"
                                required>
                              </ng-select>
                              <!-- {{item.feeCode}} -->
                            </td>
                            <td style="width: 250px;">
                              <ng-select name="listFeeParkingName{{indexOfelement}}" [items]="listFee"
                                bindLabel="feeName" bindValue="id" (change)="feeCodeParkingChanged(item,$event)"
                                [(ngModel)]="item.feeId" required>
                              </ng-select>
                            </td>
                            <td style="width: 300px;">
                              <input type="text" class="form-control" name="ten{{indexOfelement}}"
                                style="text-align: left;" [(ngModel)]="item.parkingName" placeholder="Tên bãi đỗ xe"
                                [readonly]="flagXem" required />
                            </td>
                            <td tyle="width: 150px;">
                              <input type="text" class="form-control" name="diachi{{indexOfelement}}"
                                style="text-align: left;" [(ngModel)]="item.parkingAddress" placeholder="Địa chỉ"
                                [readonly]="flagXem" />
                            </td>
                            <td style="width: 100px;">
                              <input type="text" class="form-control" name="sotien{{indexOfelement}}"
                                style="text-align: right;" [(ngModel)]="item.cost" placeholder="Số tiền"
                                [readonly]="flagXem" [mask]="maskNumber" required />
                            </td>
                            <td style="width: 100px;">
                              <input type="text" class="form-control" name="vat{{indexOfelement}}"
                                style="text-align: right;" [(ngModel)]="item.vat" placeholder="Vat" [readonly]="flagXem"
                                [mask]="maskNumber" required />
                            </td>
                            <td style="width:20%">
                              <input class="form-control" [(ngModel)]="item.note" type="text"
                                name="note{{indexOfelement}}" [readonly]="flagXem" />
                              <!-- {{item.note}} -->
                            </td>
                            <td style="width:10%">
                              <button [disabled]=" job_locked || entity.locked" type="button" class="btn btn-warning btn-sm"
                                (click)="deleteParkingTicket(indexOfelement)">
                                <i class="fa fa-trash"></i> Xóa
                              </button>
                            </td>
                          </tr>
                          <tr *ngIf="entity.listDispatchOrderEtc?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
                <tab heading="Phí thuê ngoài" *ngIf="entity.isSubcontractors">
                  <div class="form-group">
                    <div style="padding-left:15px; padding-right:15px">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Mã phí</th>
                            <th>Tên phí</th>
                            <th class="column-ten-lg">Nội dung</th>
                            <th>Số tiềm</th>
                            <th>Vat</th>
                            <th>Ghi chú</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.listDispatchOrderPurchasePrice;let indexOfelement=index;">
                            <td>
                              <ng-select name="listFee{{indexOfelement}}" [items]="listFee" bindLabel="feeCode"
                                bindValue="id" (change)="feeCodeChanged(item,$event)" [(ngModel)]="item.feeId" required>
                              </ng-select>
                              <!-- {{item.feeCode}} -->
                            </td>
                            <td><ng-select name="listFeeName{{indexOfelement}}" [items]="listFee" bindLabel="feeName" [ngStyle]="{'max-width': '180px'}"
                                bindValue="id" (change)="feeCodeChanged(item,$event)" [(ngModel)]="item.feeId" required>
                              </ng-select></td>
                            <td>
                              <input class="form-control" [(ngModel)]="item.contents" type="text"
                                name="contents{{indexOfelement}}" [readonly]="flagXem" />
                              <!-- {{item.contents}} -->
                            </td>
                            <td>
                              <input type="text" class="form-control" name="sotien{{indexOfelement}}"
                                style="text-align: right;" [(ngModel)]="item.cost" placeholder="Số tiền"
                                [readonly]="flagXem" [mask]="maskNumber" [required]="entity.isSubcontractors" />
                            </td>
                            <td>
                              <input type="text" class="form-control" name="sotien{{indexOfelement}}"
                                style="text-align: right;" [(ngModel)]="item.vat" placeholder="Vat"
                                [readonly]="flagXem" [mask]="maskNumber" [required]="entity.isSubcontractors" />
                            </td>
                            <td style="width:20%">
                              <input class="form-control" [(ngModel)]="item.note" type="text"
                                name="note{{indexOfelement}}" [readonly]="flagXem" />
                              <!-- {{item.note}} -->
                            </td>
                          </tr>
                          <tr *ngIf="entity.listDispatchOrderPurchasePrice?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
                <tab heading="Chi phí">
                  <div class="form-group">
                    <div class="col-sm-2">
                      <button [disabled]="entity.status>=4 || job_locked || flagXem || entity.locked"  type="button"
                        class="btn btn-sm btn-primary" (click)="newFee()">Thêm</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <div style="padding-left:15px; padding-right:15px">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th class="column-ten-sm">Mã phí</th>
                            <th class="column-ten-md">Tên phí</th>
                            <th>Số lượng</th>
                            <th>Chi phí</th>
                            <th>Vat</th>
                            <th>Tổng tiền</th>
                            <th>Ghi chú</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.listDispatchOrderFee; let i=index;">
                            <td style="width: 150px;">
                              <ng-select name="listFeeDispatchOrderFee{{i}}" [items]="listFee" bindLabel="feeCode"
                                bindValue="id" (change)="feeCode2Changed(item,$event)" [(ngModel)]="item.feeId"
                                required>
                              </ng-select>
                              <!-- {{item.feeCode}} -->
                            </td>
                            <td style="width: 250px;">
                              <ng-select name="listFeeDispatchOrderName{{i}}" [items]="listFee" bindLabel="feeName"
                                bindValue="id" (change)="feeCode2Changed(item,$event)" [(ngModel)]="item.feeId"
                                required>
                              </ng-select>
                            </td>
                            <td style="width: 100px;">
                              <input type="text" class="form-control" name="quantityFee{{i}}" style="text-align: right;"
                                [(ngModel)]="item.quantity" placeholder="Số lượng"
                                 [mask]="maskNumber" required />
                            </td>
                            <td style="width: 150px;">
                              <input type="text" class="form-control" name="sotienFee{{i}}" style="text-align: right;"
                                [(ngModel)]="item.cost" (change)="changeCost(item)" placeholder="Chi phí"
                                 [mask]="maskNumber" required />
                            </td>
                            <td style="width: 100px;">
                              <input type="text" class="form-control" name="vatFee{{i}}" style="text-align: right;"
                                [(ngModel)]="item.vat" (change)="changeCost(item)" placeholder="Vat"
                                [mask]="maskNumber" required />
                            </td>
                            <td style="width: 100px;">
                              <input type="text" class="form-control" name="totlaFeeCost{{i}}"
                                style="text-align: right;" [(ngModel)]="item.totalCost" placeholder="Tổng tiền"
                                 readonly [mask]="maskNumber" required />
                            </td>
                            <td>
                              <input class="form-control" [(ngModel)]="item.note" type="text" name="note{{i}}"
                                [readonly]="flagXem" />
                              <!-- {{item.note}} -->
                            </td>
                            <td style="width:40px">
                              <button *ngIf="entity.status<4"  [disabled]=" job_locked || flagXem  || entity.locked"
                                type="button" class="btn btn-warning btn-sm" (click)="deleteFee(item)">
                                <i class="fa fa-trash"></i>
                              </button>
                            </td>
                          </tr>
                          <tr *ngIf="entity.listDispatchOrderFee?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
                <tab *ngIf="entity.status>1   && !entity.isSubcontractors" heading="Phụ phí">
                  <div class="form-group">
                    <div class="col-sm-2">
                      <button [disabled]="entity.status>=4 || job_locked || flagXem || entity.locked" type="button"
                        class="btn btn-sm btn-primary" (click)="newSurcharge()">Thêm</button>
                    </div>
                  </div>
                  <div class="form-group">
                    <div style="padding-left:15px; padding-right:15px">
                      <table class="table table-bordered table-striped table-hover">
                        <thead>
                          <tr>
                            <th>Phụ phí</th>
                            <th>Số tiền</th>
                            <th>Ghi chú</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of entity.listDispatchOrderSurcharge; let i=index;">
                            <td style="width: 250px;">
                              <ng-select name="listDispatchOrderSurcharge{{i}}" [items]="listSurcharge"
                                bindLabel="categoryName" bindValue="id" [(ngModel)]="item.surchargeId"
                                (change)="changedSurcharge(item,$event)" required>
                              </ng-select>
                              <!-- {{item.feeCode}} -->
                            </td>
                            <td style="width: 150px;">
                              <input type="text" class="form-control" name="sotienSurcharge{{i}}"
                                style="text-align: right;" [(ngModel)]="item.cost" placeholder="Số tiền"
                                [readonly]="flagXem" [mask]="maskNumber" required />
                            </td>
                            <td>
                              <input class="form-control" [(ngModel)]="item.note" type="text" name="note{{i}}"
                                [readonly]="flagXem" />
                              <!-- {{item.note}} -->
                            </td>
                            <td style="width:40px">
                              <button *ngIf="entity.status<4"  [disabled]=" job_locked || flagXem  || entity.locked" type="button"
                                class="btn btn-warning btn-sm" (click)="deleteSurcharge(i)">
                                <i class="fa fa-trash"></i>
                              </button>
                            </td>
                          </tr>
                          <tr *ngIf="entity.listDispatchOrderSurcharge?.length == 0">
                            <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </tab>
              </tabset>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="mainItem.status==0" type="button" class="btn btn-mau1 btn-sm" (click)="updateState(-1)">
              <i class="fa backward"></i>Hủy dừng  lệnh</button>
            <button *ngIf="mainItem.status==0 && !job_locked" type="button"
              class="btn btn-danger btn-sm" (click)="chotlenh()">
              <i class="fa backward"></i> Chốt dừng lệnh</button>
            <button *ngIf="closing_permission && mainItem.status==1 " type="button" class="btn btn-duyet btn-sm"
              (click)="duyetchotlenh()">
              <i class="fa backward"></i>Duyệt</button>
            <button *ngIf="closing_permission && mainItem.status==1" type="button" class="btn btn-success btn-sm"
              (click)="huychotlenh()">
              <i class="fa backward"></i>Từ chối</button>
            <button *ngIf="mainItem.status==0" type="submit" class="btn btn-primary btn-sm"
              [disabled]="!flagOk|| !addEditForm.form.valid || flagSave || job_locked">
              <i class="fa fa-save"></i> Lưu</button>
            <button type="button" (click)="modalDispatchOrderAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
            </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>

