<div class="box box-primary box-chieu-cao">
  <div class="row">
    <div class="box-header with-border">
      <div class="col-md-2">
        <h3 class="box-title">DBS Shipment List</h3>
      </div>
      <div class="col-md-2">
        <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
          class="form-control">
      </div>
      <div class="col-md-2">
        <ng-select name="driver" [items]="listBranch" bindLabel="branchCode" bindValue="id" [(ngModel)]="branchId"
          placeholder="Chọn chi nhánh..." [disabled]="!adminPerrmission" (change)="changedBranch($event)">
        </ng-select>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
            placeholder="Từ khóa" />
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>

      <div class="col-md-4 text-right">
        <button class="btn btn-warning btn-sm" (click)="getDocument()">
          <i class="fa fa-edit"></i> GetDocument
        </button>
        <button class="btn btn-success btn-sm" (click)="getEdi()">
          <i class="fa fa-edit"></i> GetEDI
        </button>
        <button class="btn btn-primary btn-sm" (click)="edit()">
          <i class="fa fa-edit"></i> Sửa
        </button>
      </div>
    </div>
  </div>
  <div>
    <tabset>
      <tab heading="EDI chưa hoàn thành">
        <div class="box-body table-responsive no-padding">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th></th>
                <th>ediReference</th>
                <th>internalShipmentNumber</th>
                <th>primaryReference</th>
                <th>servicesName</th>
                <th>quantity</th>
                <th>grossWeight</th>
                <th>pickupNameLine1</th>
                <th>pickupAddressLine1</th>
                <th>deliveryNameLine1</th>
                <th>deliveryAddressLine1</th>
                <th>Ngày tạo</th>
                <th>Tình trạng</th>
              </tr>
              <tr>
                <th></th>
                <th><input class="form-control" #input1 [(ngModel)]="ediReferenceSeach" (input)="filter()" type="text"
                    name="ediReferenceSeach" /></th>
                <th><input class="form-control" #input2 [(ngModel)]="internalShipmentNumberSeach" (input)="filter()"
                    type="text" name="internalShipmentNumberSeach" /></th>
                <th><input class="form-control" #input3 [(ngModel)]="primaryReferenceSeach" (input)="filter()"
                    type="text" name="primaryReferenceSeach" /></th>
                <th><input class="form-control" #input4 [(ngModel)]="servicesNameSeach" (input)="filter()" type="text"
                    name="servicesNameSeach" /></th>
                <th><input class="form-control" #input5 [(ngModel)]="quantitySeach" (input)="filter()" type="text"
                    name="quantitySeach" /></th>
                <th><input class="form-control" #input6 [(ngModel)]="grossWeightSeach" (input)="filter()" type="text"
                    name="grossWeightSeach" /></th>
                <th><input class="form-control" #input7 [(ngModel)]="pickupNameLine1Seach" (input)="filter()"
                    type="text" name="pickupNameLine1Seach" /></th>
                <th><input class="form-control" #input8 [(ngModel)]="pickupAddressLine1Seach" (input)="filter()"
                    type="text" name="pickupAddressLine1Seach" /></th>
                <th><input class="form-control" #input9 [(ngModel)]="deliveryNameLine1Seach" (input)="filter()"
                    type="text" name="deliveryNameLine1Seach" /></th>
                <th><input class="form-control" #input10 [(ngModel)]="deliveryAddressLine1each" (input)="filter()"
                    type="text" name="deliveryAddressLine1each" /></th>
                <th colspan="2"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listFilter" (click)="clickRow(item)">
                <td class="table-checkbox">
                  <label class="custom-checkbox">
                    <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
                    <span class="helping-el"></span>
                  </label>
                </td>
                <td>
                  <span><b>{{item.ediReference}}</b></span>
                </td>
                <td>{{item.internalShipmentNumber}}</td>
                <td>{{item.primaryReference}}</td>
                <td>{{item.servicesName}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.grossWeight}}</td>
                <td>{{item.pickupNameLine1}}</td>
                <td>{{item.pickupAddressLine1}}</td>
                <td>{{item.deliveryNameLine1}}</td>
                <td>{{item.deliveryAddressLine1}}</td>
                <td>
                  <span>
                    {{item.createdDate | date:'dd/MM/yyyy'}}
                  </span>
                </td>
                <td>
                  <span [ngClass]="{'label label-info': item.status===0,
              'label label-success': item.status===1,'label label-warning': item.status===2}">{{item.rStatus}}</span>
                </td>
              </tr>
              <tr *ngIf="listData?.length == 0">
                <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
      <tab heading="EDI Hoàn thành">
        <div class="box-body table-responsive no-padding">
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th></th>
                <th>ediReference</th>
                <th>internalShipmentNumber</th>
                <th>primaryReference</th>
                <th>servicesName</th>
                <th>quantity</th>
                <th>grossWeight</th>
                <th>Ngày tạo</th>
              </tr>
              <tr>
                <th></th>
                <th><input class="form-control" #input1 [(ngModel)]="ediReferenceSeach1" (input)="filter1()" type="text"
                    name="ediReferenceSeach1" /></th>
                <th><input class="form-control" #input2 [(ngModel)]="internalShipmentNumberSeach1" (input)="filter1()"
                    type="text" name="internalShipmentNumberSeach1" /></th>
                <th><input class="form-control" #input3 [(ngModel)]="primaryReferenceSeach1" (input)="filter1()"
                    type="text" name="primaryReferenceSeach1" /></th>
                <th><input class="form-control" #input4 [(ngModel)]="servicesNameSeach1" (input)="filter1()" type="text"
                    name="servicesNameSeach1" /></th>
                <th><input class="form-control" #input5 [(ngModel)]="quantitySeach1" (input)="filter1()" type="text"
                    name="quantitySeach1" /></th>
                <th><input class="form-control" #input6 [(ngModel)]="grossWeightSeach1" (input)="filter1()" type="text"
                    name="grossWeightSeach1" /></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listFilter1" (click)="clickRow(item)">
                <td class="table-checkbox">
                  <label class="custom-checkbox">
                    <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
                    <span class="helping-el"></span>
                  </label>
                </td>
                <td>
                  <span><b>{{item.ediReference}}</b></span>
                </td>
                <td>{{item.internalShipmentNumber}}</td>
                <td>{{item.primaryReference}}</td>
                <td>{{item.servicesName}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.grossWeight}}</td>
                <td>
                  <span>
                    {{item.createdDate | date:'dd/MM/yyyy'}}
                  </span>
                </td>
              </tr>
              <tr *ngIf="listDone?.length == 0">
                <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
              </tr>
            </tbody>
          </table>
        </div>
      </tab>
    </tabset>
  </div>
  <!-- /.box-header -->

  <!-- /.box-body -->
  <div class="box-footer no-padding">
    <div *ngIf="totalRows> 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-5">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ totalRows }}</span>
          </div>
        </div>
        <div class="col-md-7 text-right">
          <!-- <div class="page">
            <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
              (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>

<modal-dbs-shipment *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
</modal-dbs-shipment>
<!-- <div [ngBusy]="busy"></div> -->
