<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Import Data từ Excel</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ngx-spinner name="sp6" [fullScreen]="false" type="timer" size="medium"></ngx-spinner>
        <form class="form-horizontal"  #addEditForm="ngForm">
          <div class="box-body">
            <div class="form-group" >
              <label class="col-sm-2 control-label">Tên File Excel:</label>
              <div class="col-sm-9">
                <input type="file" class="file-upload form-control" accept=".xlsx"
                  (change)="onFileChange($event)">
              </div>
            </div>
            <fieldset>
                <legend>Thông số:</legend>
                <div class="form-group">
                    
                  <div class="col-sm-2 control-label">
                    <label>Tên Sheet:</label>
                  </div>
                  <div class="col-sm-4">
                    <ng-select name="nhanvien" [items]="sheets" bindLabel="value" bindValue="value"
                    [multiple]="false" [closeOnSelect]="true" [(ngModel)]="_sheetSelected" required >
                  </ng-select>
                  </div>
                  <div class="col-sm-4 control-label">
                    <label>Hàng đầu tiên trên file Excel:</label>
                  </div>
                  <div class="col-sm-2">
                    <input class="form-control" [(ngModel)]="_startRow" type="text" name="oilPrice" [mask]="mask0" 
                    required />
                  </div>
                </div>
                <div class="form-group">
                    <div class="box-body" style="height: 480px; position: relative;">
                        <div class="tableFixHead">
                          <div class="row">
                            <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>
                          </div>
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th  class="column-min">STT</th>
                                <th  class="column-md">Tên cột dữ liệu</th>
                                <th  class="column-sm">Tên cột dữ liệu trên Excel</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let item of templateDebit">
                                <td>{{item.id}}</td>
                                <td>
                                  {{item.name}}
                                </td>
                                <td>
                                    <input  type="text" class="form-control" name="value{{item.id}}" [(ngModel)]="item.value"/>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                </div>
            </fieldset>

          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="!flagXem" type="button" class="btn btn-primary btn-sm" (click)="default()">
              <i class="fa fa-trash"></i> Set Default</button>
            <button *ngIf="!flagXem" type="button" class="btn btn-primary btn-sm" (click)="import()"
              [disabled]="!addEditForm.form.valid || flagSave ">
              <i class="fa fa-upload"></i> Import</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Cancel</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
