
  table   {
      border-collapse: collapse;
      border: 1px solid rgba(109, 107, 107, 0.445);
    }
    table  th {
      border: 1px solid rgba(99, 97, 97, 0.589);
      padding: 2px;
    }
    .column-ten-sm{
      width: 120px;
    }
    .column-ten-lg{
      width: 300px;
    }
    .column-gia-tri{
      width: 120px;
    }
    .odd-row{
        background-color: aquamarine;
    }

    .my-custom-scrollbar {
      position: relative;
      min-height: 500px;
      max-height: 500px;
      overflow: auto;
    }
  thead tr:nth-child(1) th{background: #dcefe5f6; position: sticky;top: 0px;z-index: 10;}