<div class="box box-primary box-chieu-cao">
  <div class="box-header with-border">
    <div class="row">
      <div class="col-md-3">
        <h3 class="box-title">Chức năng</h3>
      </div>
      <div class="col-md-5">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
            placeholder="Từ khóa">
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-success btn-sm" (click)="add()" appPermission appFunction="CHUCNANG" appAction="CREATE">
          <i class="fa fa-plus"></i> Thêm
        </button>
        <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit" appPermission
          appFunction="CHUCNANG" appAction="UPDATE">
          <i class="fa fa-edit"></i> Sửa
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteConfirm()" [disabled]="!flagDelete" appPermission
          appFunction="CHUCNANG" appAction="DELETE">
          <i class="fa fa-trash"></i> Xóa
        </button>
        <button class="btn btn-info btn-sm" (click)="edit(true)" [disabled]="!flagEdit">
          <i class="fa fa-eye"></i> Xem
        </button>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)" />
              <span class="helping-el"></span>
            </label>
          </th>
          <th>Tên chức năng</th>
          <th>Thứ tự</th>
          <th>Css class</th>
          <th class="col-trangthai">Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listChucNangs" [ngClass]="item.expanded?'': 'table-row-an'" (click)="clickRow(item)">
          <td class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" value="{{item.id}}" [checked]="item.checked" disabled />
              <span class="helping-el"></span>
            </label>
          </td>
          <td>
            <div [ngStyle]="{'margin-left':(item?.level + (item.isChildren?0:22)) + 'px'}">
              <i *ngIf="item.isChildren" [ngClass]="item.parentExpanded?'fa fa-caret-down':'fa fa-caret-right'"
                (click)="expanded($event, item)" style="cursor:pointer"></i> {{item.name}}
            </div>
          </td>
          <td>{{item.sortOrder}}</td>
          <td>{{item.cssClass}}</td>
          <td class="text-center"><span class="label {{item.status?'label-success':'label-danger'}}">
              {{item.status?'Kích hoạt': 'Khóa'}}</span></td>
        </tr>
        <tr *ngIf="listChucNangs?.length == 0">
          <td colspan="100%">
            Không có bản ghi nào được tìm thấy!
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-modal-chuc-nang *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
  </app-modal-chuc-nang>

  <!-- Simple syntax -->
  <div [ngBusy]="busy"></div>
