<div class="container-fluid">
    <div class="row" style="text-align:center ;">
        <div class="col" style="align-self: center;">
          <img 
          src="..//..//../assets/images/logo-delta.png">
        </div>
      </div>
    <div class="row" style="text-align:right ; padding-top: 2em;">
        <div class="col-3">
            <p style="font-style: italic;font-weight: bold;">Date: {{datenow | date:'dd/mm/yyyy'}}</p>
        </div>
    </div>
    <div class="row" style="text-align: center; padding-top: 2em;">
      <div class="col">
        <h1> DELIVERY NOTE </h1>
      </div>
    </div>
  
    <div class="row no-gutters">
        <label class="col-sm-3 label-header">Đéo hiểu luôn
        </label>
        <div class="col-sm-6">
          <label>{{item.estimatedStartTime | date:'dd/MM/yyyy HH:mm'}}</label>
        </div>
      </div>

  </div>