<div class="box box-primary box-chieu-cao">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-md-2">
                <h3 class="box-title">Tổng kết chi phí mua ngoài</h3>
            </div>
            <div class="col-md-1">
                <ng-select name="chinhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id"
                    [(ngModel)]="_branchId" (change)="changedBranch()" placeholder="Chọn chi nhánh..."
                    [clearable]="false" [readonly]="_auth>0">
                </ng-select>
            </div>
            <div class="col-md-2">
                <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
                    class="form-control">
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()"
                        [(ngModel)]="keyword" placeholder="Chứng từ/Hóa đơn..." />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-4 text-right">
                <button class="btn btn-success btn-sm" tappPermission appFunction="F018" (click)="add()"
                    appAction="CREATE">
                    <i class="fa fa-plus"></i> Thêm </button>
                <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit" appPermission
                    appFunction="F018" appAction="UPDATE">
                    <i class="fa fa-edit"></i> Sửa
                </button>
                <button class="btn btn-danger btn-sm" (click)="deleteConfirm()" [disabled]="!flagDelete" appPermission
                    appFunction="F018" appAction="DELETE">
                    <i class="fa fa-trash"></i> Xóa
                </button>
                <!-- <button class="btn btn-success btn-sm" (click)="export()">
            <i class="fa fa-file-excel-o"></i>
          </button> -->
                <!-- <button class="btn btn-info btn-sm" (click)="edit(true)" [disabled]="!flagEdit">
            <i class="fa fa-eye"></i> Xem
          </button> -->
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding table_wrapper">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>Trạng thái</th>
                    <th style="min-width: 150px;">Nhà cung câp</th>
                    <th>Số chứng từ</th>
                    <th>Loại tổng kết</th>
                    <th style="min-width: 100px;">Số tiền</th>
                    <th style="min-width: 100px;">Người lập</th>
                    <th>Ngày</th>
                    <th>Nội dung</th>
                    <th>Ghi chú</th>
                    <th>Tác vụ</th>
                </tr>
                <tr>
                    <th></th>
                    <th style="text-align: left; font-weight: 300;">
                        <ng-select name="filterType" (change)="filterData()" [(ngModel)]="selectedtinhtrang"
                            [clearable]="false" [items]="listTinhtrang" bindLabel="text" bindValue="id">
                        </ng-select>
                    </th>
                    <th>
                        <input type="text" class="form-control" [(ngModel)]="filterColumns.supplierName"
                            (input)="filterData()" name="supplierName">
                    </th>
                    <th>
                        <input type="text" class="form-control" [(ngModel)]="filterColumns.refNo" (input)="filterData()"
                            name="refNo">
                    </th>
                    <th>
                        <input type="text" class="form-control" [(ngModel)]="filterColumns.typeName"
                            (input)="filterData()" name="typeName">
                    </th>
                    <th>
                        <input type="text" class="form-control" [(ngModel)]="filterColumns.amountAfterVAT"
                            (input)="filterData()" name="amountAfterVAT">
                    </th>
                    <th>
                        <input type="text" class="form-control" [(ngModel)]="filterColumns.createdByName"
                            (input)="filterData()" name="createdByName">
                    </th>
                    <th>
                        <input type="text" class="form-control" [(ngModel)]="filterColumns.createdDate"
                            (input)="filterData()" name="createdDate">
                    </th>
                    <th>
                        <input type="text" class="form-control" [(ngModel)]="filterColumns.contents"
                            (input)="filterData()" name="contents">
                    </th>
                    <th>
                        <input type="text" class="form-control" [(ngModel)]="filterColumns.notes" (input)="filterData()"
                            name="notes">
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listFilter" (click)="clickRow(item)">
                    <td class="table-checkbox">
                        <label class="custom-checkbox">
                            <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
                            <span class="helping-el"></span>
                        </label>
                    </td>
                    <td class="trang-thai">
                        <span [ngClass]="
                                item.status<0  ? 'label label-danger' : item.status ==0? 'label label-khoitao': item.status ==1? 'label label-warning':'label label-primary'
                                ">{{ item.rStatus}}</span>
                    </td>
                    <td>{{item.supplierName}}</td>
                    <td>
                        <a [routerLink]="[]" (click)="showModal(item)">{{item.refNo}}</a>
                    </td>
                    <td>{{item.typeName}}</td>
                    <td>{{item.amountAfterVAT | VND}}</td>
                    <td>{{item.createdByName}}</td>
                    <td>{{item.refDate|date: "dd/MM/yyyy"}}</td>
                    <td>{{item.contents }}</td>
                    <td>{{item.notes }}</td>
                    <td>            
                        <!-- Phiếu chi -->
                        <button *ngIf="_acc && item.status==1" type="button"
                            class="btn btn-warning btn-sm action" title="Chi tiền" (click)="showPhieuChi(item)">
                            <i class="fa fa-usd" aria-hidden="true"></i> Chi tiền
                        </button>
                    </td>
                </tr>
                <tr *ngIf="listFilter?.length == 0">
                    <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer no-padding">
        <div class="col-md-12 footer-phantrang">
            <div class="row">
                <div class="col-md-5">
                    <div class="dataTables_info">
                        <span>Tổng số bản ghi: {{ totalRows }}</span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dataTables_info">
                        <span style="font-weight: bold; color: rgba(255, 77, 0, 0.926);">Tổng tiền: {{
                            totalAmount|VND }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box -->
</div>
<modal-summary-supplier-cost *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
</modal-summary-supplier-cost>
<modal-phieu-chi *ngIf="viewAccounts" (SaveSuccess)="saveSuccessAccounts($event)" (CloseModal)="closeAccounts()">
</modal-phieu-chi>
<!-- <div [ngBusy]="busy"></div> -->