<div>
  <tabset>
    <tab heading="Báo cáo Chi tiết">
      <div class="box box-primary box-chieu-cao">
        <div class="row">
          <div class="box-header with-border">
            <div class="col-md-2">
              <h3 class="box-title">Báo cáo chi tiết</h3>
            </div>
          <div class="col-md-2">
            <input type="text" daterangepicker [options]="dateOptions2" (selected)="selectedDate($event)"
              class="form-control">
          </div>
            <div class="col-md-2">
                <ng-select name="supplier" [items]="listEmployee" bindLabel="employeeFullName" bindValue="id" [(ngModel)]="userIdSelected"
                placeholder="Chọn nhân viên..." (change)="changedEmployee($event)" [clearable]="false" >
                </ng-select>
            </div>
            <div class="col-md-6 text-right">
              <button class="btn btn-default btn-sm" (click)="loadData2()" [disabled]="loading">
                <i class="fa fa-refresh" [ngClass]="{'fa-spin': loading}"></i> Tải lại
              </button>
              <button class="btn btn-success btn-sm" (click)="exportExcelReport02()" [disabled]="loading">
                <i class="fa fa-file-excel-o"></i> Export Excel
              </button>
            </div>
          </div>
        </div>

        <div class="box-body table-responsive no-padding">
          <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th style="width:60px">#</th>
                <th>Mã tài liệu</th>
                <th>Khách hàng</th>
                <th>Loại</th>
                <th>Cấp</th>
                <th>Ngày tạo</th>
                <th>Người duyệt B1</th>
                <th>Người duyệt B2</th>
                <th>Tổng điểm</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of visibleData2; let i = index; trackBy: trackByCode">
                <td>{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
                <td>
                  <b style="color: blueviolet">{{ item.documentCode }}</b>
                </td>
                <td>
                  <div>{{ item.customerCode + ' - ' + item.customerName }}</div>
                </td>
                <td>{{ item.type }}</td>
                <td>{{ item.level }}</td>
                <td>{{ item.createdDate | date: 'dd/MM/yyyy' }}</td>
                <td>{{ item.assignee1Name }}</td>
                <td>{{ item.assignee2Name }}</td>
                <td>{{ item.totalScore | number:'1.2-2' }}</td>
              </tr>
              <tr *ngIf="!loading2 && totalRows === 0">
                <td colspan="9" class="text-center">Không có dữ liệu</td>
              </tr>
              <tr *ngIf="loading2">
                <td colspan="9">
                  <i class="fa fa-spinner fa-spin"></i> Đang tải dữ liệu...
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="box-footer no-padding" *ngIf="totalRows > 0">
          <div class="col-md-12 footer-phantrang">
            <div class="row">
              <div class="col-md-5">
                <div class="dataTables_info">
                  <span>Tổng số bản ghi: {{ totalRows }}</span>
                </div>
              </div>
              <div class="col-md-7 text-right">
                <div class="page">
                  <pagination
                    [totalItems]="totalRows"
                    [(ngModel)]="pageIndex"
                    [maxSize]="9"
                    (pageChanged)="pageChanged($event)"
                    [itemsPerPage]="pageSize"
                    previousText="&lsaquo;"
                    nextText="&rsaquo;"
                    firstText="&laquo;"
                    lastText="&raquo;">
                  </pagination>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </tab>

    <tab heading="Báo cáo Tổng hợp">
      <div class="box box-primary box-chieu-cao">
      <div class="row">
        <div class="box-header with-border">
          <div class="col-md-2">
            <h3 class="box-title">Báo cáo Tổng hợp</h3>
          </div>
          <div class="col-md-2">
            <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate2($event)"
              class="form-control">
          </div>
          <div class="col-md-2">
                    <ng-select name="chinhanh[tab]"
                    [items]="listBranch" bindLabel="branchCode" bindValue="id"
                    [(ngModel)]="branchIdSelected"
                    (change)="changedChiNhanh()"
                    title="Chọn chi nhánh..." [clearable]="true">
                    </ng-select>
          </div>
          <div class="col-md-6 text-right">
            <button class="btn btn-default btn-sm" (click)="loadData()" [disabled]="loading">
              <i class="fa fa-refresh" [ngClass]="{'fa-spin': loading}"></i> Tải lại
            </button>
             <button class="btn btn-success btn-sm" (click)="exportExcelReport01()" [disabled]="loading">
                <i class="fa fa-file-excel-o"></i> Export Excel
              </button>
          </div>
        </div>
      </div>

      <div class="box-body table-responsive no-padding">
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th style="width:60px">#</th>
              <th>Mã nhân viên</th>
              <th>Tên nhân viên</th>
              <th>Chi nhánh</th>
              <th>Xếp hạng</th>
              <th>Tổng điểm</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of visibleData; let i = index; trackBy: trackByEmp">
              <td>{{ (pageIndex2 - 1) * pageSize2 + i + 1 }}</td>
              <td><b style="color: blueviolet">{{ item.employeeCode }}</b></td>
              <td>{{ item.employeeName }}</td>
              <td>
                <div>{{ item.branchId }}</div>
                <div>{{ item.branchName }}</div>
              </td>
              <td>{{ item.ranking }}</td>
              <td>{{ item.totalScore | number:'1.2-2' }}</td>
            </tr>

            <tr *ngIf="!loading && totalRows2 === 0">
              <td colspan="7" class="text-center">Không có dữ liệu</td>
            </tr>
            <tr *ngIf="loading">
              <td colspan="7">
                <i class="fa fa-spinner fa-spin"></i> Đang tải dữ liệu...
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="box-footer no-padding" *ngIf="totalRows2 > 0">
        <div class="col-md-12 footer-phantrang">
          <div class="row">
            <div class="col-md-5">
              <div class="dataTables_info">
                <span>Tổng số bản ghi: {{ totalRows2 }}</span>
              </div>
            </div>
            <div class="col-md-7 text-right">
              <div class="page">
                <pagination
                  [totalItems]="totalRows2"
                  [(ngModel)]="pageIndex2"
                  [maxSize]="9"
                  (pageChanged)="pageChanged2($event)"
                  [itemsPerPage]="pageSize2"
                  previousText="&lsaquo;"
                  nextText="&rsaquo;"
                  firstText="&laquo;"
                  lastText="&raquo;">
                </pagination>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    </tab>
  </tabset>
</div>
