<div class="box box-primary box-chieu-cao">
    <div class="row">
        <div class="box-header with-border">
            <div class="col-md-2">
                <h3 class="box-title">Tổng hợp mua dầu ngoài</h3>
            </div>
            <div class="col-md-2">
                <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
                    class="form-control">
            </div>
            <div class="col-md-1" *ngIf="adminPermission">
                <ng-select name="chinhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id"
                    [(ngModel)]="branchId" (change)="changedBranch($event)" placeholder="Chọn chi nhánh...">
                </ng-select>
            </div>
            <div class="col-md-2">
                <ng-select name="supplier" [items]="listSupplier" bindLabel="supplierName" bindValue="id"
                    (change)="changedSupplier($event)" [(ngModel)]="supplierId" placeholder="Chọn nhà cung cấp...">
                </ng-select>
            </div>
            <div class="col-md-2">
                <div class="input-group">
                    <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()"
                        [(ngModel)]="keyword" placeholder="Từ khóa" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-md-3 text-right">
                <button class="btn btn-success btn-sm" (click)="export()" appPermission appFunction="DISPATCHORDERR02"
                    appAction="EXPORT">
                    <i class="fa fa-file-excel-o"></i> Export
                </button>
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Mã</th>
                    <th>Tên Nhà cung cấp</th>
                    <th>Sô phiếu</th>
                    <th>Ngày tạo/Người tạo</th>
                    <th>Lái xe/Biển số xe</th>
                    <th>Thời gian đổ/Số lượng đổ</th>
                    <th>Ghi chú</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listDriverFuelApproval">
                    <td>
                        <span> <b>
                                {{item.supplierCode}}
                            </b></span>
                    </td>
                    <td>
                      <span style="color: brown;"><b>{{item.supplierName}}</b></span>
                  </td>
                    <td style="font-weight:600; padding-left: 1yem;">
                        <a [routerLink]="[]" (click)="view(item)">{{item.refNo}}</a>
                    </td>
                    <td>
                        <span>
                            Ngày tạo: {{item.createdDate | date:'dd/MM/yyyy'}}
                        </span>
                        <br>
                        <span><b>Người tạo: {{item.createdByName}}</b></span>
                    </td>
                    <td>
                        <span><b>
                                Tên lái xe: {{item.driverName}}</b>
                        </span>
                        <br>
                        <span>BKS: {{item.licensePlate}}</span>
                    </td>
                    <td>
                        <span style="color: blue;"><b>
                                T/g: {{item.refuelingTimeIgas | date:'dd/MM/yyyy HH:mm'}}</b>
                        </span>
                        <br>
                        <span style="color: rebeccapurple;"><b>SL: {{item.quantityIgas | number: '1.2-2'}}</b></span>
                    </td>
                    <td>{{item.note}}</td>
                </tr>
                <tr *ngIf="totalRows == 0">
                    <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer no-padding">
        <div *ngIf="listDriverFuelApproval?.length > 0" class="col-md-12 footer-phantrang">
            <div class="row">
                <div class="col-md-5">
                    <div class="dataTables_info">
                        <span>Tổng số bản ghi: {{ listDriverFuelApproval?.length }}</span>
                    </div>
                </div>
                <div class="col-md-7 text-right">
                    <div class="page">
                        <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
                            (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;"
                            nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box -->
</div>

<modal-driver-fuel-approval *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
</modal-driver-fuel-approval>
<!-- <div [ngBusy]="busy"></div> -->
