<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalParkingTicket="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Chi phí Bến bãi</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalParkingTicket.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addDetailedForm="ngForm"
          *ngIf="entity">
          <div class="form-group">
            <label class="col-sm-3 control-label">Mã phí <span class="error">*</span></label>
            <div class="col-sm-3">
                <ng-select name="feeList" (change)="changedFee($event)" [items]="listFee" bindLabel="feeCode" bindValue="id"
                [(ngModel)]="entity.feeId" [clearable]="false" required >
              </ng-select>
            </div>
            <div class="col-sm-6">
              <span class="form-control">{{entity.feeName}}</span>
          </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Tên bến bãi <span class="error">*</span></label>
            <div class="col-sm-9">
              <input class="form-control" [(ngModel)]="entity.parkingName" type="text" name="patternNumber" required
              [readonly]="flagXem" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Địa chỉ</label>
            <div class="col-sm-9">
              <textarea class="form-control" [(ngModel)]="entity.parkingAddress" type="text" name="symbol" rows="3"
              [readonly]="flagXem"></textarea>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Tiền <span class="error">*</span></label>
            <div class="col-sm-9">
                <input type="number"  [(ngModel)]="entity.cost" name="cost"
                class="form-control" focus [readonly]="flagXem" required />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Vat <span class="error">*</span></label>
            <div class="col-sm-9">
                <input type="number"[(ngModel)]="entity.vat" name="vat"
                class="form-control" focus [readonly]="flagXem" required/>
            </div>
          </div>
        <div class="form-group">
          <label class="col-sm-3 control-label" >Ghi chú</label>
          <div class="col-sm-9">
            <textarea class="form-control" [(ngModel)]="entity.note" name="note" rows="3"
            placeholder="Nhập ghi chú" [readonly]="flagXem" ></textarea>
          </div>
        </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="!flagXem" [disabled]="!addDetailedForm.form.valid " type="button" class="btn btn-primary btn-sm"
             (click)="saveChange(addDetailedForm)">
              <i class="fa fa-save"></i> Lưu</button>
            <button type="button" (click)="modalParkingTicket.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>



