<div class="box box-primary box-chieu-cao">
  <ngx-spinner [fullScreen]="false" bdOpacity=0.9 bdColor="#f4f4f9" size="medium" color="#1010ee"
    type="ball-clip-rotate" size="medium">
    <p class="loading">Tải dữ liệu ...</p>
  </ngx-spinner>
  <div class="row">
    <div class="box-header with-border">
      <div class="col-md-1">
        <h3 class="box-title">Lệnh vận chuyển</h3>
      </div>
      <div class="col-md-2">
        <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
          class="form-control">
      </div>
      <div class="col-md-1">
        <ng-select name="chi nhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id" [(ngModel)]="branchId"
          (change)="changedBranch($event)" placeholder="Chọn chi nhánh..." [disabled]="!adminPermission">
        </ng-select>
      </div>
      <div class="col-md-2">
        <ng-select name="supplier" [items]="listDriver" bindLabel="employeeFullName" bindValue="id"
          [(ngModel)]="driverId" (change)="changeDriver()" placeholder="Chọn lái xe...">
        </ng-select>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
            placeholder="Từ khóa" />
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <div class="dropdown btn-group">
          <button class="btn btn-success btn-sm" type="button" appPermission appFunction="DISPATCHORDER"
            appAction="EXPORT">
            <i class="fa fa-file-excel-o"></i> Export <span class="caret"></span></button>
          <div class="dropdown-content">
            <li (click)="export(0)">Tổng hợp</li>
            <div class="dropdown-divider"></div>
            <li (click)="export(1)">Chi tiết</li>
          </div>
        </div>
        <button class="btn btn-success btn-sm" (click)="add()" appPermission appFunction="DISPATCHORDER"
          appAction="CREATE">
          <i class="fa fa-plus"></i> Thêm
        </button>
        <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit" appPermission
          appFunction="DISPATCHORDER" appAction="UPDATE">
          <i class="fa fa-edit"></i> Sửa
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteConfirm()" [disabled]="!flagDelete" appPermission
          appFunction="DISPATCHORDER" appAction="DELETE">
          <i class="fa fa-trash"></i> Xóa
        </button>
        <button class="btn btn-warning btn-sm" (click)="payment()">
          <i class="fa fa-money"></i> Thanh toán
        </button>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding table-wrapper-scroll-y" id="div#style-scroll-1">
    <table class="table table-bordered table-hover ">
      <thead>
        <tr>
          <th></th>
          <th>Tình trạng</th>
          <th class="column-ten-sm">RefNo</th>
          <th class="column-ten-sm">MÃ tham chiếu</th>
          <th class="column-ten-sm">Ngày</th>
          <th class="column-ten-sm">Người lập</th>
          <th class="column-ten-lg">Tên đơn vị vận chuyển</th>
          <th class="column-ten-sm">Biển số xe</th>
          <th class="column-ten-sm">Tên lái xe</th>
          <th class="column-ten-lg">Cung toàn tuyến</th>
          <th class="column-ten-sm">Km đầu</th>
          <th class="column-ten-sm">Km cuối</th>
          <th class="column-ten-sm">Tổng Km</th>
          <th class="column-ten-lg">Tóm tắt lệnh</th>
          <th class="column-ten-sm">Loại Cont</th>
          <th class="column-ten-sm">Số Cont-Seal</th>
          <th class="column-ten-sm">Ghi chú</th>
          <th style="min-width: 80px;">Tác vụ</th>
        </tr>
        <tr>
          <th></th>
          <th>
            <ng-select name="filterType" (change)="filter()" [(ngModel)]="tinhtrang" [clearable]="false" [items]="array"
              bindLabel="text" bindValue="value"></ng-select>
          </th>
          <th><input class="form-control" #refNoSearchInput [(ngModel)]="refNoSearch" (input)="filter()" type="text"
              name="refNoSearch" /></th>
          <th><input class="form-control" #referCodeSearchInput [(ngModel)]="referCodeSearch" (input)="filter()"
              type="text" name="referCodeSearch" /></th>
          <th><input class="form-control" #ngaySearchInput [(ngModel)]="ngaySearch" (input)="filter()" type="text"
              name="ngaySearch" /></th>
          <th><input class="form-control" #nguoilapSearchInput [(ngModel)]="nguoilapSearch" (input)="filter()"
              type="text" name="nguoilapSearch" /></th>
          <th><input class="form-control" #nccSearchInput [(ngModel)]="nccSearch" (input)="filter()" type="text"
              name="nccSearch" /></th>
          <th><input class="form-control" #bksSearchInput [(ngModel)]="bksSearch" (input)="filter()" type="text"
              name="bksSearch" /></th>
          <th><input class="form-control" #laixeSearchInput [(ngModel)]="laixeSearch" (input)="filter()" type="text"
              name="laixeSearch" /></th>
          <th><input class="form-control" #toantuyenSearchInput [(ngModel)]="toantuyenSearch" (input)="filter()"
              type="text" name="toantuyenSearch" /></th>
          <th><input class="form-control" kmdauSearchInput [(ngModel)]="kmdauSearch" (input)="filter()" type="text"
              name="kmdauSearch" /></th>
          <th><input class="form-control" kmcuoiSearchInput [(ngModel)]="kmcuoiSearch" (input)="filter()" type="text"
              name="kmcuoiSearch" /></th>
          <th><input class="form-control" kmSearchInput [(ngModel)]="kmSearch" (input)="filter()" type="text"
              name="kmSearch" /></th>
          <th><input class="form-control" #msumSearchInput [(ngModel)]="sumSearch" (input)="filter()" type="text"
              name="sumSearch" /></th>
          <th><input class="form-control" #msumSearchInput1 [(ngModel)]="contTypeSearch" (input)="filter()" type="text"
              name="contTypeSearch" /></th>
          <th><input class="form-control" #contsealSearchInput [(ngModel)]="contsealSearch" (input)="filter()"
              type="text" name="contsealSearch" /></th>
          <th><input class="form-control" ghichuSearchInput [(ngModel)]="ghichuSearch" (input)="filter()" type="text"
              name="ghichuSearch" /></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of visibleData" [style.background-color]="item.isSubcontractors ? '#DFF6FF' : 'white'"
          (click)="clickRow(item)" [ngClass]="{'bgColorSkyblue': item.checked}" style="cursor: pointer;">
          <td class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" value="{{ item.id }}" [checked]="item.checked"
                (click)="clickRow(item); $event.stopPropagation()" />
              <span class="helping-el"></span>
            </label>
          </td>
          <td>
            <span [ngClass]="item.status == 6? ' label label-info': item.status==1 ?
              'label label-success': item.status==2? 'label label-primary': item.status==3?
              'label label-default':  (item.status===4 && item.finished==false)?'label label-warning':((item.status==4 && item.finished==true)||item.status>=5)?
              'label label-danger': 'label label-khoitao'">
              {{item.rStatus}}
            </span>
          </td>
          <td><a (click)="edit(true, item.refNo); $event.stopPropagation()"
              style="cursor: pointer;"><b>{{item.refNo}}</b></a></td>
          <td><b>{{item.referCode}}</b></td>
          <td>
            <span>
              {{item.createdDate | date:'dd/MM/yyyy'}}
            </span>
          </td>
          <td class="column-ten-sm">
            <span>{{item.createdByName}}</span>
          </td>
          <td>
            <span><b>{{item.shippingUnitName}}</b></span>
          </td>
          <td class="column-ten-sm">
            <span>
              {{item.vihiclelLicensePlates}}
            </span>
          </td>
          <td class="column-ten-sm">
            <br>
            <span>{{item.driverName}}</span>
          </td>
          <td>{{item.fullRoute}}</td>
          <td>{{item.startVehicleOdor}}</td>
          <td>{{item.finishVehicleOdor}}</td>
          <td>{{item.kmQuota}}</td>
          <td>{{item.dispatchSummarize }}</td>
          <td>{{item.contType }}</td>
          <td>{{item.documentNumber}}</td>
          <td>{{item.note}}</td>
          <td>
            <button *ngIf="(item.createdBy==userLoged.id ||_accept) && item.status==2 && !item.isSubcontractors"
              class="btn btn-warning btn-sm" (click)="changedDriver(item)">Đổi lái xe
            </button>
            <button *ngIf="(item.status>5) && _accept" class="btn btn-danger btn-sm" (click)="newAdditionalFee(item)">Bổ
              sung CP
            </button>
          </td>
        </tr>
        <tr *ngIf="listDispatchorder?.length == 0">
          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer no-padding">
    <div *ngIf="listFilter?.length > 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-5">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ listFilter?.length }}</span>
          </div>
        </div>
        <div class="col-md-7 text-right">
          <div class="page">
            <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="9"
              (pageChanged)="pageChanged($event)" [itemsPerPage]="50" previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>

<modal-dispatchorder *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
</modal-dispatchorder>
<modal-changed-driver *ngIf="viewModalChangedDriver" (SaveSuccess)="saveChangeSuccess()"
  (CloseModal)="closeChangeModal()">
</modal-changed-driver>
<modal-dispatch-order-additional-fee *ngIf="viewAddFee" (CloseModal)="closeAddFeeModal()"
  (SaveSuccess)="saveFeeSuccess()">
</modal-dispatch-order-additional-fee>
<modal-phieu-chi-lenh *ngIf="viewModalPayment" (CloseModal)="closePayment()" (SaveSuccess)="savePaymentSuccess()">
</modal-phieu-chi-lenh>
<!-- <div [ngBusy]="busy"></div> -->