<div class="box box-primary box-chieu-cao">
    <div class="box-header with-border">
        <div class="row">
            <div class="col-md-2">
                <h3 class="box-title">Công việc hàng Canon</h3>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-4 text-right">
                <button class="btn btn-success btn-sm" (click)="add()" appPermission appFunction="JOBCANON"
                    appAction="CREATE">
                    <i class="fa fa-plus"></i> Thêm
                </button>
                <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit" appPermission
                    appFunction="JOBCANON" appAction="UPDATE">
                    <i class="fa fa-edit"></i> Sửa
                </button>
                <button class="btn btn-danger btn-sm" (click)="deleteConfirm()" [disabled]="!flagDelete" appPermission
                    appFunction="JOBCANON" appAction="DELETE">
                    <i class="fa fa-trash"></i> Xóa
                </button>

            </div>
        </div>
        <div class="row" style="padding-top: 5px;">
            <div class="col-md-2">
                <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
                    class="form-control">
            </div>
            <div class="col-md-5">
                <ng-select name="khachhang" [items]="listCustomer" bindLabel="customerName" bindValue="id"
                    [(ngModel)]="customerId" (change)="changedCustomer($event)" placeholder="Chọn khách hàng...">
                </ng-select>
            </div>

            <div class="col-md-1">
                <ng-select name="chinhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id"
                    [(ngModel)]="_branchId" (change)="changedChiNhanh()" title="Chọn chi nhánh..." [clearable]="false"
                    [readonly]="_auth>0">
                </ng-select>
            </div>

            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()"
                        [(ngModel)]="keyword" placeholder="Từ khóa" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding table-wrapper-scroll-y table_wrapper" id="div#style-scroll-1">
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th class="table-checkbox">
                    </th>
                    <th>Khách hàng</th>
                    <th>JobId</th>
                    <th>Xe vận chuyển</th>
                    <th>Ngày</th>
                    <th>LOT</th>
                    <th>Cung đường</th>
                    <th>#Pallets</th>
                    <th>Ghi chú</th>
                    <th>Trạng thái</th>
                    <th style="width: 80px;">Tác vụ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listData" (click)="clickRow(item)">
                    <td class="table-checkbox">
                        <label class="custom-checkbox">
                            <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
                            <span class="helping-el"></span>
                        </label>
                        <br>
                        <a [routerLink]="[]" (click)="showModal(item)">{{item.id}}</a>
                    </td>
                    <td>{{item.customerName}}</td>
                    <td>
                        <a [routerLink]="[]" (click)="showJobModal(item.shipmentId)">{{item.jobId}}</a>
                    </td>
                    <td>{{item.jobDescription}}</td>
                    <td>{{item.pickupTime|date :'dd-MMM-yy'}}</td>
                    <td>{{item.opManEvaluationByCS}}</td>
                    <td>{{item.jobName}}</td>
                    <td>{{item.numberOfPallet}}</td>
                    <td>{{item.noteDone }}</td>
                    <td>

                        <button type="button" style="background-color:chocolate; color: white;" class="btn btn-sm"
                            title="Chứng từ đính kèm" (click)="showFiles(item)">
                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i> Chứng từ...
                        </button>
                        <!-- <button class="btn btn-primary btn-sm" (click)="comment(item.id)">
                                        <i class="fa fa-comments-o"></i> Comment
                                    </button> -->
                        <button type="button" *ngIf=" !item.jobLocked" class="btn btn-info btn-sm"
                            (click)="showPayment(item.id,0)">
                            <i class="fa fa-money" aria-hidden="true"></i> TT Cá nhân
                        </button>
                        <button type="button" *ngIf="!item.jobLocked" class="btn btn-warning btn-sm"
                            (click)="showPayment(item.id,1)">
                            <i class="fa fa-money" aria-hidden="true"></i> TT Nhà CC
                        </button>
                    </td>

                </tr>
                <tr *ngIf="listData?.length == 0">
                    <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer no-padding">
        <div *ngIf="listData?.length > 0" class="col-md-12 footer-phantrang">
            <div class="row">
                <div class="col-md-5">
                    <div class="dataTables_info">
                        <span>Tổng số bản ghi: {{ totalRows }}</span>
                    </div>
                </div>
                <div class="col-md-7 text-right">
                    <div class="page">
                        <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
                            (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;"
                            nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box -->
</div>
<modal-workflow-canon *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
</modal-workflow-canon>
<modal-job-canon *ngIf="viewShipmentModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
</modal-job-canon>
<modal-workflow-attack-files *ngIf="viewAttackFiles" (SaveSuccess)="saveSuccessFile($event)"
    (CloseModal)="closeModalFile()">
</modal-workflow-attack-files>
<!-- <div [ngBusy]="busy"></div> -->