
 
  .column {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .resizer {
    width: 5px;
    height: 100%;
    background: #000;
    cursor: col-resize;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
  }


  table   {
    border-collapse: collapse;
    border: 1px solid rgba(109, 107, 107, 0.445);
  }
  table  th {
    border: 1px solid rgba(99, 97, 97, 0.589);
    padding: 2px;
  }
  th, td {
    position: relative;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  thead tr:nth-child(1) th{background: #dcefe5f6; position: sticky;top: 0px;z-index: 10;}