<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Thông tin xe thầu phụ</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
              <div class="form-group">
                <label class="col-sm-2 control-label">Biển kiểm soát
                  <span class="error">*</span>
                </label>
                <div class="col-sm-4">
                  <input type="text" #tennhomquyen="ngModel" [(ngModel)]="entity.licensePlates" required
                    maxlength="255" name="licensePlates" class="form-control" placeholder="Nhập họ tên" focus
                    [readonly]="flagXem" />
                  <small [hidden]="tennhomquyen.valid || (tennhomquyen.pristine && !addEditForm.submitted)"
                    class="text-danger">
                    Biển kiểm soát không được để trống và không vượt quá 255 kí tự
                  </small>
                </div>
                <label class="col-sm-2 control-label">Loại xe
                    <span class="error">*</span>
                  </label>
                  <div class="col-sm-4">
                    <ng-select name="vihicleType" [items]="listVihicleType" bindLabel="categoryName" bindValue="id"
                       [(ngModel)]="entity.vehicleTypeId" required [disabled]="flagXem">
                    </ng-select>
                  </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">Hãng sản xuất</label>
                <div class="col-sm-4">
                    <textarea class="form-control textrea-size" [(ngModel)]="entity.manufacturer" name="manufacturer" rows="1"
                    placeholder="Nhập địa chỉ" [readonly]="flagXem"></textarea>
                </div>
                <label class="col-sm-2 control-label">Năm sản xuất</label>
                <div class="col-sm-4">
                    <textarea class="form-control textrea-size" [(ngModel)]="entity.yearMade" name="yearMade" rows="1"
                    placeholder="Nhập địa chỉ" [readonly]="flagXem"></textarea>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-2 control-label">Ghi chú</label>
                <div class="col-sm-10">
                  <textarea class="form-control textrea-size" [(ngModel)]="entity.note" name="ghichu" rows="5"
                    placeholder="Nhập ghi chú" [readonly]="flagXem"></textarea>
                </div>
              </div>
              <div class="form-group" *ngIf="entity.status<1">
                <label class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                  <label class="custom-checkbox">
                    <input type="checkbox" [(ngModel)]="entity.checked" name="checked" />
                    <span class="helping-el"></span>
                    Chuyển duyệt
                  </label>
                </div>
              </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <div class="col-md-8">
            </div>
            <div class="col-md-4" style="text-align: right;">
              <button *ngIf="!flagXem" type="submit" class="btn btn-primary btn-sm"
                [disabled]="!addEditForm.form.valid || flagSave">
                <i class="fa fa-save"></i> Lưu</button>
              <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
                <i class="fa fa-close"></i> Hủy</button>              
            </div>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
