<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Nhà cung cấp</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <tabset>
              <tab heading="Thông tin chung">
                <div class="form-group">
                  <label class="col-sm-3 control-label">Mã NCC</label>
                  <div class="col-sm-9" style="font-weight: bold;">
                    <span>{{entity.supplierCode}}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Chi nhánh
                    <span class="error">*</span>
                  </label>
                  <div class="col-sm-6">
                    <ng-select [items]="listBranch" name="macn" required bindLabel="branchName" bindValue="id"
                      [disabled]="flagXem" [(ngModel)]="entity.branchId">
                    </ng-select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Tên NCC
                    <span class="error">*</span>
                  </label>
                  <div class="col-sm-9">
                    <input type="text" #tenNcc="ngModel" [(ngModel)]="entity.supplierName" required maxlength="255"
                      name="tenncc" class="form-control" placeholder="Nhập tên NCC" focus [readonly]="flagXem" />
                    <small [hidden]="tenNcc.valid || (tenNcc.pristine && !addEditForm.submitted)" class="text-danger">
                      Tên không được để trống và không vượt quá 255 kí tự
                    </small>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Tên tiếng Anh</label>
                  <div class="col-sm-9">
                    <input type="text" #tenNcc="ngModel" [(ngModel)]="entity.englishName" maxlength="255"
                      name="tentienganh" class="form-control" placeholder="Nhập tên NCC" focus [readonly]="flagXem" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Tên Viết tắt</label>
                  <div class="col-sm-9">
                    <input type="text" #tenNcc="ngModel" [(ngModel)]="entity.abbreviationName" maxlength="255"
                      name="tenviettat" class="form-control" placeholder="Nhập tên NCC" focus [readonly]="flagXem" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Địa chỉ</label>
                  <div class="col-sm-9">
                    <textarea class="form-control textrea-size" [(ngModel)]="entity.address" name="address" rows="2"
                      placeholder="Nhập ghi chú" [readonly]="flagXem"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Mã số thuế</label>
                  <div class="col-sm-9">
                    <textarea class="form-control textrea-size" [(ngModel)]="entity.tel" name="tel" rows="1"
                      placeholder="Nhập số điện thoại" [readonly]="flagXem"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Dịch vụ cung cấp
                    <span class="error">*</span>
                  </label>
                  <div class="col-sm-6">
                    <ng-select [items]="listSupplierService" #dichvucc="ngModel" name="dichvucc" required
                      bindLabel="categoryName" bindValue="id" [disabled]="flagXem"
                      [(ngModel)]="entity.supplierServiceId">
                    </ng-select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Người liên hệ</label>
                  <div class="col-sm-9">
                    <textarea class="form-control textrea-size" [(ngModel)]="entity.contact" name="contact" rows="1"
                      placeholder="Nhập người liên hệ" [readonly]="flagXem"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">SĐT người liên hệ </label>
                  <div class="col-sm-9">
                    <textarea class="form-control textrea-size" [(ngModel)]="entity.contactTel" name="contactTel"
                      rows="1" placeholder="Nhập số điện thoại" [readonly]="flagXem"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Chức vụ</label>
                  <div class="col-sm-9">
                    <textarea class="form-control textrea-size" [(ngModel)]="entity.contactPosition"
                      name="contactPosition" rows="1" placeholder="Nhập chức vụ" [readonly]="flagXem"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Email </label>
                  <div class="col-sm-9">
                    <textarea class="form-control textrea-size" [(ngModel)]="entity.email" name="email" rows="1"
                      placeholder="Nhập email" [readonly]="flagXem"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Website</label>
                  <div class="col-sm-9">
                    <textarea class="form-control textrea-size" [(ngModel)]="entity.website" name="website" rows="1"
                      placeholder="Nhập website" [readonly]="flagXem"></textarea>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Tỉnh/thành phố
                    <span class="error">*</span>
                  </label>
                  <div class="col-sm-6">
                    <ng-select [items]="listProvince" #nhomcongviec="ngModel" name="tinh" required
                      bindLabel="provinceName" bindValue="provinceCode" [disabled]="flagXem"
                      (change)="onProvinceChanged($event)" [(ngModel)]="entity.provinceCode">
                    </ng-select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Quận/huyện
                    <span class="error">*</span>
                  </label>
                  <div class="col-sm-6">
                    <ng-select [items]="listDistrict" #quanhuyen="ngModel" name="quan" required bindLabel="districtName"
                      bindValue="districtCode" [disabled]="flagXem" [(ngModel)]="entity.districtCode">
                    </ng-select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Khu công nghiệp</label>
                  <div class="col-sm-9">
                    <ng-select [items]="listIndustrialZone" #khucongnghiep="ngModel" name="khucn"
                      bindLabel="categoryName" bindValue="id" [disabled]="flagXem"
                      [(ngModel)]="entity.industrialZoneId">
                    </ng-select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Ngân hàng</label>
                  <div class="col-sm-9">
                    <ng-select [items]="listBank" name="bankId" bindLabel="fullName" bindValue="bankId"
                      [disabled]="flagXem" [(ngModel)]="entity.bankId" placeholder="-- Chọn ngân hàng --">
                    </ng-select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Số tài khoản</label>
                  <div class="col-sm-9">
                    <input type="text" [(ngModel)]="entity.accountNumber" name="accountNumber" class="form-control"
                      placeholder="Nhập số tài khoản" maxlength="50" [readonly]="flagXem" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">Ghi chú</label>
                  <div class="col-sm-9">
                    <textarea class="form-control textrea-size" [(ngModel)]="entity.note" name="note" rows="3"
                      placeholder="Nhập ghi chú" [readonly]="flagXem"></textarea>
                  </div>
                </div>
              </tab>
              <tab heading="Thông tin phương tiện" *ngIf="entity?.id>0">
                <div class="form-group">
                  <div class="col-sm-12">
                    <button [disabled]="flagXem" type="button" class="btn btn-sm btn-primary"
                      (click)="newVehilce(entity.id)">Thêm</button>
                  </div>
                </div>
                <div class="form-group">
                  <div class="table-responsive  fixed-height" style="padding-left:15px; padding-right:15px">
                    <table class="table table-bordered table-striped table-hover">
                      <thead>
                        <tr>
                          <th>Biển kiểm soát</th>
                          <th>Loại xe</th>
                          <th>Hãng SX</th>
                          <th>Năm SX</th>
                          <th>Ghi chú</th>
                          <th>Trạng thái</th>
                          <th>Tác vụ</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of entity.listSupplierVehicles">
                          <td style="width: 100px;">
                            {{item.licensePlates}}
                          </td>
                          <td>{{item.vehicleTypeName}}</td>
                          <td>{{item.manufacturer}}</td>
                          <td>{{item.yearMade}}</td>
                          <td>{{item.note}}</td>
                          <td class="trang-thai">
                            <span [ngClass]="
                               item.locked? 'label label-danger': item.status ==0 ? 'label label-primary' : item.status==2? 'label label-success' : item.status==1? 'label label-warning': 'label label-danger'
                              ">{{item.locked? 'Khóa': item.status ==0 ? 'Khởi tạo' : item.status==2? 'Duyệt' :
                              item.status==1? 'Chuyển duyệt': 'Từ chối' }}
                            </span>
                          </td>
                          <td>
                            <button *ngIf="item.status<1" [disabled]="flagXem" type="button"
                              class="btn btn-success btn-sm" (click)="updateVehicle(item.id)">
                              <i class="fa fa-trash"></i> Sửa
                            </button>
                            <button *ngIf="item.status<1" [disabled]=" flagXem " type="button"
                              class="btn btn-warning btn-sm" (click)="deleteConfirmVehicle(item.id)">
                              <i class="fa fa-trash"></i> Xóa
                            </button>
                            <button *ngIf="item.status==1" [disabled]="flagXem" type="button"
                              class="btn btn-success btn-sm" (click)="acceptVehicle(item.id,true)">
                              <i class="fa fa-trash"></i> Duyệt
                            </button>
                            <button *ngIf="item.status==1" [disabled]=" flagXem " type="button"
                              class="btn btn-danger btn-sm" (click)="acceptVehicle(item.id,false)">
                              <i class="fa fa-trash"></i> Từ chối
                            </button>
                          </td>
                        </tr>
                        <tr *ngIf="entity.listSupplierVehicles?.length == 0">
                          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </tab>
              <tab heading="Thông tin lái xe" *ngIf="entity?.id>0">
                <div class="form-group">
                  <div class="col-sm-12">
                    <button [disabled]="flagXem" type="button" class="btn btn-sm btn-primary"
                      (click)="newDriver(entity.id)">Thêm</button>
                  </div>
                </div>
                <div class="form-group">
                  <div class="table-responsive  fixed-height" style="padding-left:15px; padding-right:15px">
                    <table class="table table-bordered table-striped table-hover">
                      <thead>
                        <tr>
                          <th>Họ và tên</th>
                          <th>Ngày sinh</th>
                          <th>Số điện thoại</th>
                          <th>Địa chỉ</th>
                          <th>Ghi chú</th>
                          <th>Trạng thái</th>
                          <th>Tác vụ</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of entity.listSupplierDrivers">
                          <td style="width: 180px;">
                            {{item.driverName}}
                          </td>
                          <td>{{item.dateOfBirth | date:'dd/MM/yyyy'}}</td>
                          <td>{{item.telephone}}</td>
                          <td>{{item.address}}</td>
                          <td>{{item.note}}</td>
                          <td class="trang-thai">
                            <span [ngClass]="
                               item.locked? 'label label-danger': item.status ==0 ? 'label label-primary' : item.status==2? 'label label-success' : item.status==1? 'label label-warning': 'label label-danger'
                              ">{{item.locked? 'Khóa': item.status ==0 ? 'Khởi tạo' : item.status==2? 'Duyệt' :
                              item.status==1? 'Chuyển duyệt': 'Từ chối' }}
                            </span>
                          </td>
                          <td>
                            <button *ngIf="item.status<1" [disabled]="flagXem" type="button"
                              class="btn btn-success btn-sm" (click)="update(item.id)">
                              <i class="fa fa-trash"></i> Sửa
                            </button>
                            <button *ngIf="item.status<1" [disabled]=" flagXem " type="button"
                              class="btn btn-warning btn-sm" (click)="deleteConfirm(item.id)">
                              <i class="fa fa-trash"></i> Xóa
                            </button>
                            <button *ngIf="item.status==1" [disabled]="flagXem" type="button"
                              class="btn btn-success btn-sm" (click)="accept(item.id,true)">
                              <i class="fa fa-trash"></i> Duyệt
                            </button>
                            <button *ngIf="item.status==1" [disabled]=" flagXem " type="button"
                              class="btn btn-danger btn-sm" (click)="accept(item.id,false)">
                              <i class="fa fa-trash"></i> Từ chối
                            </button>
                          </td>
                        </tr>
                        <tr *ngIf="entity.listSupplierDrivers?.length == 0">
                          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </tab>
            </tabset>

          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="!flagXem" type="submit" class="btn btn-primary btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave">
              <i class="fa fa-save"></i> Lưu</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>

<modal-supplier-driver *ngIf="viewDrivers" (SaveSuccess)="saveSuccessDriver()" (CloseModal)="closeModalDriver()">
</modal-supplier-driver>

<modal-supplier-vehicle *ngIf="viewVehicles" (SaveSuccess)="saveSuccessVehicle()" (CloseModal)="closeModalVehicle()">
</modal-supplier-vehicle>