<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">Cung đường tính phí</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="entity">
          <div class="box-body">
            <div class="form-group">
                <label class="col-sm-3 control-label">Chi nhánh
                  <span class="error">*</span>
                </label>
                <div class="col-sm-9">
                    <ng-select [items]="listBranch"   name="branchId"
                    bindLabel="branchName"
                    bindValue="id"
                    [(ngModel)]="entity.branchId">
                    </ng-select>
                </div>
            </div>
            <div class="form-group" *ngIf="!flagNew">
                <label class="col-sm-3 control-label">Mã cung đường
                  <span class="error">*</span>
                </label>
                <div class="col-sm-9">
                  <span style="color: blue;"><b>{{entity.tollRouteCode}}</b></span>
                </div>
              </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Tên cung đường
                <span class="error">*</span>
              </label>
              <div class="col-sm-9">
                <textarea #tenvitri="ngModel" [(ngModel)]="entity.tollRouteName" required  name="tenvitri"
                  class="form-control" rows="3" placeholder="Nhập tên vị trí" focus [readonly]="flagXem"></textarea>
                <small [hidden]="tenvitri.valid || (tenvitri.pristine && !addEditForm.submitted)"
                  class="text-danger">
                  Tên cung đường không được để trống và không vượt quá 255 kí tự
                </small>
              </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Mô tả
                </label>
                <div class="col-sm-9">
                  <textarea  [(ngModel)]="entity.note"  rows="3" name="diachi"
                    class="form-control" placeholder="Nhập địa chỉ" focus [readonly]="flagXem" ></textarea>
                </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer text-right">
            <button *ngIf="!flagXem" type="submit" class="btn btn-primary btn-sm"
              [disabled]="!addEditForm.form.valid || flagSave">
              <i class="fa fa-save"></i> Lưu</button>
            <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
              <i class="fa fa-close"></i> Hủy</button>
          </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
