.error {
    color: red;
}

.control-label-text-left {
    text-align: left !important;
    padding-top: 7px;
    margin-bottom: 0;
}

.custom-checkbox {
    margin-top: 7px;
}

.btn-duyet {
    background-color: #f39c12;
    border-color: #e08e0b;
    color: #fff;
}

.btn-duyet:hover {
    background-color: #e08e0b;
    color: #fff;
}

.modal-lg {
    width: 60%;
}

.modal-md {
    width: 50%;
}