<div class="box box-primary box-chieu-cao">
  <div class="box-header with-border">
    <div class="row" style="padding-bottom: 3px;">
      <div class="col-md-2">
        <h3 class="box-title">Chi tiết Debit-note</h3>
      </div>
    </div>
    <div class="row" style="padding-bottom: 3px;">
      <div class="col-md-2">
        <ng-select name="chinhanh" [items]="listBranch" bindLabel="branchCode" bindValue="id"
        [(ngModel)]="_branchId" (change)="timKiem()" placeholder="Chọn chi nhánh..." [clearable]="false"
        [readonly]="_quyen>0">
      </ng-select>
      </div>
      <div class="col-md-2">
        <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
        class="form-control" />
      </div>
      <div class="col-md-4">
        <ng-select name="khachhang" [items]="listCustomer" bindLabel="customerName" bindValue="id"
          [(ngModel)]="_customerId" (change)="timKiem()" placeholder="Chọn khách hàng..." title="Chọn khách hàng...">
        </ng-select>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
          placeholder="Keyword: JobId, InvoiceNo..." title="Nhập số JobId,DebitNo, Vận đơn, Số hóa đơn..." />
        <span class="input-group-btn">
          <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()" title="">
            <i class="fa fa-search"></i>
          </button>
          <button class="btn btn-success btn-sm" appPermission appFunction="STATEMENT" appAction="EXPORT" (click)="exportExcel()" title="Xuất dữ liệu">
            <i class="fa fa-file-excel-o"></i>
          </button>
        </span>
        </div>
      </div>
    </div>
  </div>

  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding table-wrapper-scroll-y table_wrapper" id="div#style-scroll-1">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th rowspan="2">Mã khách hàng</th>
          <th rowspan="2">Lô hàng</th>
          <th rowspan="2">Tờ khai</th>
          <th rowspan="2">Ngày tờ khai</th>
          <th rowspan="2">Vận đơn</th>
          <th rowspan="2">MBL</th>
          <th rowspan="2">Số Booking</th>
          <th>Số Invoice</th>

          <th>Số Debit</th>
          <th>Ngày</th>
          <th>Loại hình</th>
          <th>Mã phí</th>
          <th>Nhóm DT</th>
          <th>Nhóm TT</th>
          <th>Tên phí</th>
          <th>Diễn giải</th>
          <th>Lượng hàng</th>

          <th>ĐVT</th>
          <th>Số lượng</th>
          <th>Đơn giá</th>

          <th>Số tiền</th>
          <th>VAT</th>
          <th>Số tiền <br>(+VAT)</th>
          <th>Tiền tệ</th>
          <th>Tỷ giá</th>
          <th>Số hóa đơn</th>
          <th>Ghi chú</th>

          <th>Tk ghi nợ</th>
          <th>Tk ghi có</th>
          <th>Nội dung</th>

          <th>Người lập</th>
          <th>Tên khách hàng</th>
          <th>Trạng thái</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listData">
          <!-- <td>
            <a [routerLink]="" (click)="showDebt(item)">{{item.customerName}}</a>
          </td> -->
          <td >{{item.customerCode}}</td>
          <td >
            <a [routerLink]="[]" (click)="showJob(item)">{{item.jobId}}</a>
             </td>
          <td >{{item.cdsNumber}}</td>
          <td >{{item.cdsDate|date:'dd/MM/yyyy'}}</td>
          <td >{{item.hawB_HBL}}</td>
          <td >{{item.mawB_MBL}}</td>
          <td >{{item.bookingNo}}</td>
          <td >{{item.invoiceNo}}</td>
          <td >
            <a [routerLink]="[]" (click)="showDebit(item)">{{item.debitNo}}</a>
          </td>
          <td >{{item.ngay|date:'dd/MM/yyyy'}}</td>
          <td >{{item.loaiHinh}}</td>
          <td >{{item.maPhi}}</td>
          <td >{{item.revenueGroupCode}}</td>
          <td >{{item.paymentGroupCode}}</td>
          <td >{{item.tenPhi}}</td>
          <td >{{item.noiDung}}</td>
          <td >{{item.luongHang}}</td>

          <td >{{item.unit}}</td>
          <td >{{item.quantity}}</td>
          <td class="so-tien">{{item.price|VND}}</td>

          <td class="so-tien">{{item.soTien|VND}}</td>
          <td class="so-tien">{{item.vat|VND}}</td>
          <td class="so-tien">{{item.tongTien|VND}}</td>
          <td >{{item.tienTe}}</td>
          <td class="so-tien">{{item.exchangeRate|VND}}</td>

          <td >{{item.soHoaDon}}</td>
          <td >{{item.note}}</td>

          <td >{{item.debitAccount}}</td>
          <td >{{item.creditAccount}}</td>
          <td >{{item.ghiChu}}</td>

          <td >{{item.employeeName}}</td>
          <td class="column-name">{{item.customerName}}</td>

          <td class="trang-thai">
            <span [ngClass]="
              item.duyet? 'label label-success' : 'label label-danger'
              ">{{ item.duyet ? 'Đã duyệt' : 'Chưa duyệt' }}</span>

          </td>
        </tr>
        <tr *ngIf="listData?.length == 0">
          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer no-padding">
    <div *ngIf="listData?.length > 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-3">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ totalRows }}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="dataTables_info">
            <span style="color: rgba(0, 68, 255, 0.926);">Tổng tiền: {{ soTien|VND }}</span>
            <span style="color: rgb(7, 156, 47);"> - VAT: {{ tienVat|VND }}</span>
            <span style="color: rgba(255, 77, 0, 0.926);"> - Tổng tiền(+VAT): {{ tongTien|VND }}</span>
          </div>
        </div>
        <div class="col-md-3 text-right">
          <div class="page">
            <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="5"
              (pageChanged)="pageChanged($event)" [itemsPerPage]="pageSize" previousText="&lsaquo;" nextText="&rsaquo;"
              firstText="&laquo;" lastText="&raquo;">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>
<modal-shipment *ngIf="viewModalJob" (CloseModal)="closeModalJob()">
</modal-shipment>
<!-- <div [ngBusy]="busy"></div> -->
