<div class="box box-primary box-chieu-cao">
  <div class="row">
    <div class="box-header with-border">
      <div class="col-md-2">
        <h3 class="box-title">Đăng ký đi muộn, về sớm</h3>
      </div>
      <div class="col-md-2">
          <input type="text" daterangepicker [options]="dateOptions" (selected)="selectedDate($event)"
            class="form-control">
        </div>
      <div class="col-md-2">
        <ng-select name="supplier" [items]="listBranch" bindLabel="branchName" bindValue="id" [(ngModel)]="branchId"
        placeholder="Chọn chi nhánh..." [disabled]="!adminPermission" change="changedBranch($event)" >
        </ng-select>
      </div>
      <div class="col-md-2">
        <div class="input-group">
          <input type="text" class="form-control" name="filter" (keyup.enter)="timKiem()" [(ngModel)]="keyword"
            placeholder="Từ khóa" />
          <span class="input-group-btn">
            <button class="btn btn-info btn-flat btn-sm" type="button" (click)="timKiem()">
              <i class="fa fa-search"></i>
            </button>
          </span>
          <span class="input-group-btn">
            <button class="btn btn-success btn-flat btn-sm" appPermission appFunction="F022"
              appAction="EXPORT" (click)="exportExcel()" title="Xuất dữ liệu">
              <i class="fa fa-file-excel-o"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <button class="btn btn-success btn-sm" (click)="add()" appPermission appFunction="F022" appAction="CREATE">
          <i class="fa fa-plus"></i> Thêm
        </button>
        <button class="btn btn-primary btn-sm" (click)="edit(false)" [disabled]="!flagEdit" appPermission
          appFunction="F022" appAction="UPDATE">
          <i class="fa fa-edit"></i> Sửa
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteConfirm()" [disabled]="!flagDelete" appPermission
          appFunction="F022" appAction="DELETE">
          <i class="fa fa-trash"></i> Xóa
        </button>
        <button class="btn btn-info btn-sm" (click)="edit(true)" [disabled]="!flagEdit">
          <i class="fa fa-eye"></i> Xem
        </button>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body table-responsive no-padding">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="table-checkbox">
            <label class="custom-checkbox"> ID</label>
          </th>
          <th>Người lập phiếu/Nhóm</th>
          <th>Lý do</th>
          <th>Thời gian</th>
          <th>Người duyệt</th>
          <th>Ghi chú/Nhận xét</th>
          <th>Tình trạng</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of visibleData">
          <td class="table-checkbox">
            <label class="custom-checkbox">
              <input type="checkbox" value="{{ item.id }}" (click)="clickRow(item)" [checked]="item.checked"/> 
              <span class="helping-el"></span>
            </label>
          </td>
          <td>
            <span>
              <a style="color:blueviolet;" [routerLink]="[]" (click)="showModal(item)"><b>{{item.createdByName}}</b></a>
            </span>
            <br>
            <span>
              Nhóm đối tượng: {{item.departmentName}}
            </span>
          </td>
          <td>
            <span>
             {{item.reasonName}}
            </span>
          </td>   
          <td>
              {{item.timesOff}}
          </td>       
          <td>
              {{item.approvedByName}}
          </td>
          <td>
              <span>
                Ghi chú: {{item.notes}}
              </span>
              <br>
              <span><b>Nhận xét:  {{item.approvedNotes}}</b></span>
          </td>
          <td><span [ngClass]="
            item.status==-1 ? 'label label-danger' : item.status==1? 'label label-primary': item.status==2? 'label label-success' : 'label label-info'">
            {{item.rStatus}}
          </span>
            </td>
        </tr>
        <tr *ngIf="listGolateBackearly?.length == 0">
          <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /.box-body -->
  <div class="box-footer no-padding">
    <div *ngIf="totalRows > 0" class="col-md-12 footer-phantrang">
      <div class="row">
        <div class="col-md-5">
          <div class="dataTables_info">
            <span>Tổng số bản ghi: {{ totalRows }}</span>
          </div>
        </div>
        <div class="col-md-7 text-right">
          <div class="page">
            <pagination [totalItems]="totalRows" [(ngModel)]="pageIndex" [maxSize]="9"
                (pageChanged)="pageChanged($event)" [itemsPerPage]="50" previousText="&lsaquo;" nextText="&rsaquo;"
                firstText="&laquo;" lastText="&raquo;">
              </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box -->
</div>

<modal-go-late-back-early *ngIf="viewModal" (SaveSuccess)="saveSuccess()" (CloseModal)="closeModal()">
</modal-go-late-back-early>
