table   {
  border-collapse: collapse;
  border: 1px solid rgba(109, 107, 107, 0.445);
}
table  th {
  border: 1px solid rgba(99, 97, 97, 0.589);
  padding: 2px;
}
.column-tai-khoan{
  width: 100px;
}
.column-ten{
  width: 220px;
}
.column-gia-tri{
  width: 120px;
}
.column-ghi-chu{
  width: 120px;
}
#scrolltable {
  overflow-y: scroll;
  overflow-x: scroll;
}
.my-custom-scrollbar {
  position: relative;
  max-height: 180px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

@media (min-width: 850px) {
  .modal-lg {
     width: 65%;
  }
}
div#style-scroll-1{
  overflow-y: scroll;
  height: 450px;
}
