<div ngDraggable [handle]="myHandle" class="modal fade" bsModal #modalAddEdit="bs-modal" [config]="{backdrop: 'static'}"
  tabindex="-1" role="dialog" aria-labelledby="dialog-static-name" (onHidden)="OnHidden()">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div #myHandle class="modal-header">
        <h4 class="modal-title pull-left">CHỌN TẠM ỨNG/THANH TOÁN</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalAddEdit.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" novalidate #addEditForm="ngForm" (ngSubmit)="saveChange(addEditForm)"
          *ngIf="listData">
          <div class="box-body">
            <div class="table-wrapper-scroll-y my-custom-scrollbar" id="style-scroll-1">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th class="table-checkbox">
                      <label class="custom-checkbox">
                        <input type="checkbox" name="all" [checked]="isAllChecked()" (change)="checkAll($event)" />
                        <span class="helping-el"></span>
                      </label>
                    </th>
                    <th>Nhân viên</th>
                    <th>Số phiếu</th>
                    <th>Ngày</th>
                    <th>Số tiền</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of listData" (click)="clickRow(item)">
                    <td class="table-checkbox">
                      <label class="custom-checkbox">
                        <input type="checkbox" value="{{ item.id }}" [checked]="item.checked" disabled />
                        <span class="helping-el"></span>
                      </label>
                    </td>
                    <td>{{item.employeeName}}</td>
                    <td>{{item.refNo}}</td>
                    <td>{{item.updatedDate|date: "dd/MM/yyyy"}}</td>
                    <td class="so-tien">{{loai==0? (item.debit |currency:'VND':''):item.credit|currency:'VND':''}}</td>
                  </tr>
                  <tr *ngIf="listData?.length == 0">
                    <td colspan="100%">Không có bản ghi nào được tìm thấy!</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
             <!-- /.box-body -->
             <div class="row box-footer">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-sm"
                  [disabled]="!addEditForm.form.valid || flagSave || !flagOk ||flagReadOnly">
                  <i class="fa fa-check"></i> Xác nhận</button>
                <button type="button" (click)="modalAddEdit.hide()" class="btn btn-danger btn-sm">
                  <i class="fa fa-close"></i> Hủy</button>
              </div>
             </div>
          <!-- /.box-footer -->
        </form>
      </div>
    </div>
  </div>
</div>
