div#style-scroll-1{
  overflow-y: scroll;
  height: 560px;
}

@media (min-width: 1080px) {
  .modal-lg {
     width: 65%;
  }
}
thead tr:nth-child(1) th{background:  rgb(204, 236, 239); position: sticky;top: 0px;z-index: 10;}
